.iu-center-box {
  width:960px;
}
.header {
  -webkit-box-shadow:0px 2px 0px 0px #DBDBDB;
  background-color:#FFFFFF;
  box-shadow:0px 2px 0px 0px #DBDBDB;
  color:#333333;
  float:none;
  height:60px;
  left:0px;
  min-width:960px;
  overflow:visible;
  position:fixed;
  top:0px;
  width:100%;
  z-index:10;
}
.page-content {
  background-color:#FFFFFF;
  padding-top:62px;
}
.section {
  padding-bottom:80px;
  padding-top:60px;
}
.pg-form {
  float:none;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:100%;
}
.text-180 {
  color:#FA690A;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:34px;
  font-weight:700;
  letter-spacing:-0.2px;
  line-height:1;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:100%;
}
.box {
  float:none;
  margin-left:auto;
  margin-right:auto;
  margin-top:80px;
  overflow:visible;
  position:relative;
  width:930px;
}
.pg-select-390 {
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:36px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:12%;
}
.pg-select-391 {
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:36px;
  margin-left:0.96%;
  margin-top:0px;
  position:relative;
  width:12%;
}
.pg-select-394 {
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:36px;
  margin-left:0.95%;
  margin-top:0px;
  position:relative;
  width:12%;
}
.pg-select-392 {
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:36px;
  margin-left:1%;
  margin-top:0px;
  position:relative;
  width:12%;
}
.pg-text-field-397 {
  border-color:#E6E6E6;
  border-radius:2px;
  border-width:1px;
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:34px;
  margin-left:2%;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:10.00%;
  width:calc(10% - 2px);
  width:-moz-calc(10% - 2px);
  width:-webkit-calc(10% - 2px);
}
.pg-text-field-395 {
  border-color:#E6E6E6;
  border-radius:2px;
  border-width:1px;
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:34px;
  margin-left:1%;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:10.00%;
  width:calc(10% - 2px);
  width:-moz-calc(10% - 2px);
  width:-webkit-calc(10% - 2px);
}
.pg-text-field-396 {
  border-color:#E6E6E6;
  border-radius:2px;
  border-width:1px;
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:34px;
  margin-left:2%;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:4.00%;
  width:calc(4% - 2px);
  width:-moz-calc(4% - 2px);
  width:-webkit-calc(4% - 2px);
}
.text-391 {
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:400;
  margin-left:0%;
  margin-top:5px;
  position:relative;
  text-align:center;
  width:2%;
}
.pg-text-field-398 {
  border-color:#E6E6E6;
  border-radius:2px;
  border-width:1px;
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:34px;
  margin-left:0%;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:4.00%;
  width:calc(4% - 2px);
  width:-moz-calc(4% - 2px);
  width:-webkit-calc(4% - 2px);
}
.pg-button-393.iux-hover, .pg-button-393.iux-active {
  background-color:rgba(250,105,10,0.80);
}
.pg-button-393 {
  -webkit-transition:background-color 0.4s;
  background-color:#FA690A;
  color:#FFFFFF;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:700;
  height:36px;
  margin-left:2%;
  margin-top:0px;
  position:relative;
  transition:background-color 0.4s;
  width:12%;
}
.pg-select {
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:36px;
  margin-left:26.02%;
  margin-top:9px;
  position:relative;
  width:12%;
}
.pg-select-457 {
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:36px;
  margin-left:-12.70%;
  margin-top:56px;
  position:relative;
  width:12%;
}
.pg-select-510 {
  height:32px;
  left:256px;
  top:74px;
  width:56px;
}
.section-388 {
  border-color:#FA690A;
  border-style:dashed;
  border-top-width:1px;
  padding-bottom:80px;
  padding-top:60px;
}
.pg-form-377 {
  float:none;
  position:relative;
  width:100%;
}
.text-377 {
  color:#FA690A;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:34px;
  font-weight:700;
  letter-spacing:-0.2px;
  line-height:1;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:100%;
}
.box-392 {
  float:none;
  margin-left:auto;
  margin-right:auto;
  margin-top:40px;
  position:relative;
  width:930px;
}
.pg-select-378 {
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:32px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:12%;
}
.pg-select-379 {
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:32px;
  margin-left:0.95%;
  margin-top:0px;
  position:relative;
  width:12%;
}
.pg-select-380 {
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:32px;
  margin-left:1%;
  position:relative;
  width:12%;
}
.pg-text-view {
  border-color:#E6E6E6;
  border-radius:2px;
  border-width:1px;
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:100px;
  line-height:1.30;
  margin-left:2%;
  margin-top:0px;
  padding:9px;
  position:relative;
  text-align:left;
  width:calc(46% - 20px);
  width:-moz-calc(46% - 20px);
  width:-webkit-calc(46% - 20px);
}
.pg-button-382.iux-hover, .pg-button-382.iux-active {
  background-color:rgba(250,105,10,0.80);
}
.pg-button-382 {
  -webkit-transition:background-color 0.4s;
  background-color:#FA690A;
  color:#FFFFFF;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:700;
  height:32px;
  margin-left:2%;
  margin-top:0px;
  position:relative;
  transition:background-color 0.4s;
  width:12%;
}
.section-494 {
  border-color:#FA690A;
  border-style:dashed;
  border-top-width:1px;
  padding-bottom:80px;
  padding-top:60px;
}
.text-497 {
  color:#FA690A;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:34px;
  font-weight:700;
  letter-spacing:-0.2px;
  line-height:1;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:100%;
}
.box-498 {
  float:none;
  margin-left:auto;
  margin-right:auto;
  margin-top:40px;
  position:relative;
  width:930px;
}
.cell {
  -webkit-transition:background-color 0.4s;
  background-color:#FA690A;
  border-radius:4px;
  color:#FFFFFF;
  float:right;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:700;
  height:32px;
  line-height:32px;
  position:relative;
  right:0px;
  text-align:center;
  transition:background-color 0.4s;
  width:120px;
}
.cell.iux-hover, .cell.iux-active {
  background-color:rgba(250,105,10,0.80);
}
.pg-select-500 {
  color:#323232;
  float:right;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:32px;
  margin-right:2%;
  margin-top:0px;
  position:relative;
  right:0px;
  width:15%;
}
.collection {
  border-bottom-width:1px;
  border-color:#E6E6E6;
  border-top-width:1px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:400;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  position:relative;
  width:930px;
}
.footer {
  background-color:#282828;
  height:300px;
  left:0px;
  position:relative;
  top:0px;
  width:100%;
}
.popup-login {
  background-color:#FFFFFF;
  border-radius:2px;
  height:422px;
  position:fixed;
  width:400px;
  z-index:100;
}
.popup-login-dimcolor {
  background-color:rgba(0,0,0,0.60);
  z-index:99;
}
.popup-login > .iux-popup-close-button {
  background-image:url('/static/project/btn_close.png');
  display:inherit;
  height:30px;
  position:absolute;
  right:12px;
  top:15px;
  width:30px;
}
.import {
  left:0px;
  top:0px;
  width:400px;
}
.popup-findpw {
  background-color:#FFFFFF;
  border-radius:2px;
  height:522px;
  position:fixed;
  width:400px;
  z-index:100;
}
.popup-findpw > .iux-popup-close-button {
  background-image:url('/static/project/btn_close.png');
  display:inherit;
  height:30px;
  position:absolute;
  right:12px;
  top:15px;
  width:30px;
}
.popup-findpw-dimcolor {
  background-color:rgba(0,0,0,0.60);
  z-index:99;
}
.import-361 {
  width:400px;
}
@media screen and (max-width:959px) {
  .iu-center-box {
    width:320px;
  }
  .header {
    min-width:320px;
  }
  .section {
    padding-bottom:52px;
    padding-top:40px;
  }
  .text-180 {
    font-size:28px;
    margin-left:auto;
    margin-right:auto;
    margin-top:0px;
  }
  .box {
    margin-left:auto;
    margin-right:auto;
  }
  .section-388 {
    padding-bottom:52px;
    padding-top:40px;
  }
  .text-377 {
    font-size:28px;
    margin-left:auto;
    margin-right:auto;
  }
  .box-392 {
    margin-left:auto;
    margin-right:auto;
    margin-top:40px;
  }
  .section-494 {
    padding-bottom:52px;
    padding-top:40px;
  }
  .text-497 {
    font-size:28px;
    margin-left:auto;
    margin-right:auto;
  }
  .box-498 {
    margin-left:auto;
    margin-right:auto;
    margin-top:40px;
  }
  .cell {
    right:0px;
  }
  .pg-select-500 {
    right:0px;
  }
  .collection {
    margin-left:auto;
    margin-right:auto;
  }
  .footer {
    height:400px;
  }
  .popup-login {
    width:300px;
  }
  .import {
    width:300px;
  }
  .popup-findpw {
    width:300px;
  }
  .import-361 {
    width:300px;
  }

}