.iu-center-box {
  width:960px;
}
.header {
  -webkit-box-shadow:0px 2px 0px 0px #DBDBDB;
  background-color:#FFFFFF;
  box-shadow:0px 2px 0px 0px #DBDBDB;
  color:#333333;
  float:none;
  height:60px;
  left:0px;
  min-width:960px;
  overflow:visible;
  position:fixed;
  top:0px;
  width:100%;
  z-index:10;
}
.page-content {
  background-color:#FFFFFF;
  padding-top:62px;
}
.section {
  padding-bottom:80px;
  padding-top:60px;
}
.box {
  background-size:cover;
  float:none;
  margin-left:auto;
  margin-right:auto;
  padding-left:15px;
  padding-right:15px;
  position:relative;
  width:calc(100% - 30px);
  width:-moz-calc(100% - 30px);
  width:-webkit-calc(100% - 30px);
}
.notice_title {
  color:#FA690A;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:34px;
  font-weight:700;
  letter-spacing:-0.2px;
  line-height:1;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  position:relative;
  width:100%;
}
.text-198 {
  color:#6D6D6D;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:300;
  margin-left:0px;
  margin-top:10px;
  position:relative;
  text-align:left;
  width:100%;
}
.box-201 {
  border-bottom-width:1px;
  border-color:#E6E6E6;
  border-top-width:1px;
  float:none;
  margin-left:0px;
  margin-top:0px;
  padding-bottom:30px;
  padding-top:30px;
  position:relative;
  width:100%;
}
.image {
  float:none;
  margin-left:0px;
  margin-top:0px;
  padding-bottom:10px;
  padding-top:10px;
  position:relative;
  width:100%;
}
.text-199 {
  color:#6D6D6D;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  margin-left:0px;
  margin-top:0px;
  padding-bottom:20px;
  padding-top:20px;
  position:relative;
  text-align:left;
  width:100%;
}
.box-286 {
  float:none;
  margin-left:0px;
  margin-top:0px;
  padding-bottom:10px;
  padding-top:10px;
  position:relative;
  width:100%;
}
.cell-280 {
  background-color:#E6E6E6;
  border-bottom-left-radius:2px;
  border-top-left-radius:2px;
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:300;
  height:32px;
  line-height:32px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:12%;
}
.cell-282 {
  background-color:#FFFFFF;
  border-bottom-right-radius:2px;
  border-color:#E6E6E6;
  border-top-right-radius:2px;
  border-width:1px;
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  height:30px;
  line-height:30px;
  margin-left:0px;
  margin-top:0px;
  padding-left:8px;
  padding-right:8px;
  position:relative;
  text-align:left;
  width:100.00px;
  width:calc(88% - 18px);
  width:-moz-calc(88% - 18px);
  width:-webkit-calc(88% - 18px);
}
.cell {
  -webkit-transition:background-color 0.4s;
  background-color:#6D6D6D;
  border-radius:4px;
  color:#FFFFFF;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:700;
  height:36px;
  margin-left:15px;
  margin-top:40px;
  position:relative;
  text-align:center;
  transition:background-color 0.4s;
  width:120px;
}
.cell.iux-hover, .cell.iux-active {
  background-color:rgba(109,109,109,0.80);
}
.cell > a {
  line-height:36px;
}
.cell-445 {
  -webkit-transition:background-color 0.4s;
  background-color:#6D6D6D;
  border-radius:4px;
  color:#FFFFFF;
  float:right;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:700;
  height:36px;
  line-height:36px;
  margin-right:15px;
  margin-top:40px;
  position:relative;
  right:0px;
  text-align:center;
  transition:background-color 0.4s;
  width:120px;
}
.cell-445.iux-hover, .cell-445.iux-active {
  background-color:rgba(109,109,109,0.80);
}
.cell-212 {
  -webkit-transition:background-color 0.4s;
  background-color:#6D6D6D;
  border-radius:4px;
  color:#FFFFFF;
  float:right;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:700;
  height:36px;
  line-height:36px;
  margin-right:15px;
  margin-top:40px;
  position:relative;
  right:0px;
  text-align:center;
  transition:background-color 0.4s;
  width:120px;
}
.cell-212.iux-hover, .cell-212.iux-active {
  background-color:rgba(109,109,109,0.80);
}
.footer {
  background-color:#282828;
  height:300px;
  left:0px;
  position:relative;
  top:0px;
  width:100%;
}
.popup-login {
  background-color:#FFFFFF;
  border-radius:2px;
  height:422px;
  position:fixed;
  width:400px;
  z-index:100;
}
.popup-login-dimcolor {
  background-color:rgba(0,0,0,0.60);
  z-index:99;
}
.popup-login > .iux-popup-close-button {
  background-image:url('/static/project/btn_close.png');
  display:inherit;
  height:30px;
  position:absolute;
  right:12px;
  top:15px;
  width:30px;
}
.import-423 {
  left:0px;
  top:0px;
  width:400px;
}
.popup-findpw {
  background-color:#FFFFFF;
  border-radius:2px;
  height:522px;
  position:fixed;
  width:400px;
  z-index:100;
}
.popup-findpw > .iux-popup-close-button {
  background-image:url('/static/project/btn_close.png');
  display:inherit;
  height:30px;
  position:absolute;
  right:12px;
  top:15px;
  width:30px;
}
.popup-findpw-dimcolor {
  background-color:rgba(0,0,0,0.60);
  z-index:99;
}
.import-361 {
  width:400px;
}
@media screen and (max-width:959px) {
  .iu-center-box {
    width:320px;
  }
  .header {
    min-width:320px;
  }
  .section {
    padding-bottom:52px;
    padding-top:40px;
  }
  .box {
    margin-left:auto;
    margin-right:auto;
    padding-left:10px;
    padding-right:10px;
    width:calc(100% - 20px);
    width:-moz-calc(100% - 20px);
    width:-webkit-calc(100% - 20px);
  }
  .notice_title {
    font-size:20px;
    margin-left:auto;
    margin-right:auto;
    margin-top:0px;
  }
  .box-201 {
    margin-left:0px;
    margin-top:0px;
    padding-bottom:20px;
    padding-top:20px;
  }
  .cell-280 {
    margin-left:0px;
    margin-top:0px;
    width:15%;
  }
  .cell-282 {
    margin-left:0px;
    margin-top:0px;
    width:100.00px;
    width:calc(85% - 18px);
    width:-moz-calc(85% - 18px);
    width:-webkit-calc(85% - 18px);
  }
  .cell {
    margin-left:10px;
    margin-top:20px;
    width:140px;
  }
  .cell-445 {
    margin-right:10px;
    margin-top:20px;
    right:0px;
    width:65px;
  }
  .cell-212 {
    margin-right:10px;
    margin-top:20px;
    right:0px;
    width:65px;
  }
  .footer {
    height:400px;
  }
  .popup-login {
    width:300px;
  }
  .import-423 {
    width:300px;
  }
  .popup-findpw {
    width:300px;
  }
  .import-361 {
    width:300px;
  }

}