.iu-center-box {
  width:960px;
}
.header {
  -webkit-box-shadow:0px 2px 0px 0px #DBDBDB;
  background-color:#FFFFFF;
  box-shadow:0px 2px 0px 0px #DBDBDB;
  color:#333333;
  float:none;
  height:60px;
  left:0px;
  min-width:960px;
  overflow:visible;
  position:fixed;
  top:0px;
  width:100%;
  z-index:10;
}
.page-content {
  background-color:#FFFFFF;
  padding-top:62px;
}
.section {
  background-color:#F5F5F5;
  padding-bottom:80px;
  padding-top:60px;
}
.text-157 {
  color:#FA690A;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:34px;
  font-weight:700;
  letter-spacing:-0.2px;
  line-height:1;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:930px;
}
.cell {
  -webkit-transition:background-color 0.4s;
  background-color:#6D6D6D;
  border-radius:4px;
  color:#FFFFFF;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:700;
  height:36px;
  right:15px;
  text-align:center;
  top:0px;
  transition:background-color 0.4s;
  width:120px;
}
.cell.iux-hover, .cell.iux-active {
  background-color:#FA690A;
}
.cell > a {
  line-height:36px;
}
.box {
  border-radius:4px;
  float:none;
  margin-left:auto;
  margin-right:auto;
  margin-top:40px;
  position:relative;
  width:930px;
}
.cell-446 {
  background-color:#6D6D6D;
  color:#FFFFFF;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  height:44px;
  line-height:44px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:25%;
}
.cell-447 {
  background-color:#E6E6E6;
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  height:44px;
  line-height:44px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:25%;
}
.cell-448 {
  background-color:#E6E6E6;
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  height:44px;
  line-height:44px;
  position:relative;
  text-align:center;
  width:25%;
}
.cell-449 {
  background-color:#E6E6E6;
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  height:44px;
  line-height:44px;
  position:relative;
  text-align:center;
  width:25%;
}
.collection-205 {
  float:none;
  margin-left:0px;
  margin-top:30px;
  position:relative;
}
.import {
  font-family:'Noto Sans KR', sans-serif;
  left:0px;
  padding-bottom:10px;
  padding-left:15px;
  padding-right:15px;
  padding-top:10px;
  position:relative;
  top:0px;
}
.import-214 {
  font-family:'Noto Sans KR', sans-serif;
  left:0px;
  padding-bottom:10px;
  padding-left:15px;
  padding-right:15px;
  padding-top:10px;
  position:relative;
  top:0px;
}
.import-215 {
  font-family:'Noto Sans KR', sans-serif;
  left:0px;
  padding-bottom:10px;
  padding-left:15px;
  padding-right:15px;
  padding-top:10px;
  position:relative;
  top:0px;
}
.import-216 {
  font-family:'Noto Sans KR', sans-serif;
  left:0px;
  padding-bottom:10px;
  padding-left:15px;
  padding-right:15px;
  padding-top:10px;
  position:relative;
  top:0px;
}
.import-217 {
  font-family:'Noto Sans KR', sans-serif;
  left:0px;
  padding-bottom:10px;
  padding-left:15px;
  padding-right:15px;
  padding-top:10px;
  position:relative;
  top:0px;
}
.pagination {
  border-radius:0px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  height:30px;
  margin-left:0px;
  margin-top:40px;
  position:relative;
}
.pagination selected > div > ul > a > li, .pagination > div > ul > a > li:hover {
  background-color:transparent;
}
.pagination > div > ul {
  display:inline-block;
}
.pagination > div {
  margin:auto;
  text-align:center;
}
.pagination > div > ul > a > li {
  background-color:#FA690A;
  display:block;
  height:30px;
  line-height:30px;
  margin-left:4px;
  margin-right:4px;
  width:30px;
}
.cell-460 {
  -webkit-transition:background-color 0.4s;
  background-color:#6D6D6D;
  border-radius:4px;
  color:#FFFFFF;
  display:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:700;
  height:36px;
  right:15px;
  text-align:center;
  top:0px;
  transition:background-color 0.4s;
  width:120px;
}
.cell-460 > a {
  line-height:36px;
}
.cell-460.iux-hover, .cell-460.iux-active {
  background-color:#FA690A;
}
.section-460 {
  background-color:#FA690A;
  padding-bottom:80px;
  padding-top:60px;
}
.text-462 {
  color:#FFFFFF;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:34px;
  font-weight:700;
  letter-spacing:-0.2px;
  line-height:1;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:100%;
}
.text-463 {
  color:#FFFFFF;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:22px;
  letter-spacing:-0.2px;
  line-height:1;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:100%;
}
.text-464 {
  color:#FFFFFF;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  margin-left:0px;
  margin-top:40px;
  padding-left:15px;
  padding-right:15px;
  position:relative;
  width:465.00px;
  width:calc(50% - 30px);
  width:-moz-calc(50% - 30px);
  width:-webkit-calc(50% - 30px);
}
.box-524 {
  float:right;
  height:40px;
  margin-right:15px;
  margin-top:44px;
  position:relative;
  right:0px;
  width:210px;
}
.svg-465 {
  border-radius:40px;
  float:left;
  height:40px;
  position:relative;
  width:40px;
}
.cell-467 {
  -webkit-transition:background-color 0.4s, color 0.4s;
  border-color:#FFFFFF;
  border-radius:4px;
  border-width:1px;
  color:#FFFFFF;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:700;
  height:34px;
  margin-left:10px;
  margin-top:2px;
  position:relative;
  text-align:center;
  transition:background-color 0.4s, color 0.4s;
  width:158px;
}
.cell-467.iux-hover, .cell-467.iux-active {
  background-color:rgba(255,255,255,0.90);
  color:#FA690A;
}
.cell-467 > a {
  line-height:34px;
}
.box-523 {
  float:right;
  height:40px;
  margin-right:15px;
  margin-top:44px;
  position:relative;
  right:0px;
  width:210px;
}
.svg-466 {
  border-radius:40px;
  float:left;
  height:40px;
  position:relative;
  width:40px;
}
.cell-468 {
  -webkit-transition:background-color 0.4s, color 0.4s;
  border-color:#FFFFFF;
  border-radius:4px;
  border-width:1px;
  color:#FFFFFF;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:700;
  height:34px;
  margin-left:10px;
  margin-top:2px;
  position:relative;
  text-align:center;
  transition:background-color 0.4s, color 0.4s;
  width:158px;
}
.cell-468.iux-hover, .cell-468.iux-active {
  background-color:rgba(255,255,255,0.90);
  color:#FA690A;
}
.cell-468 > a {
  line-height:34px;
}
.footer {
  background-color:#282828;
  height:300px;
  left:0px;
  position:relative;
  top:0px;
  width:100%;
}
.popup-login {
  background-color:#FFFFFF;
  border-radius:2px;
  height:422px;
  position:fixed;
  width:400px;
  z-index:100;
}
.popup-login-dimcolor {
  background-color:rgba(0,0,0,0.60);
  z-index:99;
}
.popup-login > .iux-popup-close-button {
  background-image:url('/static/project/btn_close.png');
  display:inherit;
  height:30px;
  position:absolute;
  right:12px;
  top:15px;
  width:30px;
}
.import-423 {
  left:0px;
  top:0px;
  width:400px;
}
.popup-findpw {
  background-color:#FFFFFF;
  border-radius:2px;
  height:522px;
  position:fixed;
  width:400px;
  z-index:100;
}
.popup-findpw > .iux-popup-close-button {
  background-image:url('/static/project/btn_close.png');
  display:inherit;
  height:30px;
  position:absolute;
  right:12px;
  top:15px;
  width:30px;
}
.popup-findpw-dimcolor {
  background-color:rgba(0,0,0,0.60);
  z-index:99;
}
.import-361 {
  width:400px;
}
@media screen and (max-width:959px) {
  .iu-center-box {
    width:320px;
  }
  .header {
    min-width:320px;
  }
  .section {
    padding-bottom:52px;
    padding-top:40px;
  }
  .text-157 {
    display:none;
    margin-left:auto;
    margin-right:auto;
    margin-top:0px;
  }
  .cell {
    display:none;
    right:10px;
    top:0px;
  }
  .box {
    margin-left:auto;
    margin-right:auto;
    margin-top:0px;
    width:100.00%;
    width:calc(100% - 20px);
    width:-moz-calc(100% - 20px);
    width:-webkit-calc(100% - 20px);
  }
  .cell-446 {
    height:36px;
    line-height:36px;
    margin-left:0px;
    margin-top:0px;
  }
  .cell-447 {
    height:36px;
    line-height:36px;
    margin-left:0px;
    margin-top:0px;
  }
  .cell-448 {
    height:36px;
    line-height:36px;
  }
  .cell-449 {
    height:36px;
    line-height:36px;
  }
  .collection-205 {
    margin-top:18px;
  }
  .import {
    padding-left:9px;
    padding-right:9px;
  }
  .import-214 {
    padding-left:9px;
    padding-right:9px;
  }
  .import-215 {
    padding-left:9px;
    padding-right:9px;
  }
  .import-216 {
    padding-left:9px;
    padding-right:9px;
  }
  .import-217 {
    padding-left:9px;
    padding-right:9px;
  }
  .pagination {
    margin-left:0px;
    margin-top:28px;
  }
  .pagination > div > ul > a > li {
    display:block;
  }
  .cell-460 {
    display:inherit;
    float:right;
    margin-right:10px;
    margin-top:40px;
    position:relative;
    right:initial;
    right:auto;
    top:initial;
    top:auto;
    width:140px;
  }
  .section-460 {
    padding-bottom:52px;
    padding-top:40px;
  }
  .text-462 {
    font-size:28px;
    margin-left:auto;
    margin-right:auto;
    margin-top:0px;
  }
  .text-463 {
    font-size:18px;
    margin-left:auto;
    margin-right:auto;
  }
  .text-464 {
    float:none;
    margin-left:0px;
    margin-top:28px;
    padding-left:10px;
    padding-right:10px;
    text-align:center;
    width:465.00px;
    width:calc(100% - 20px);
    width:-moz-calc(100% - 20px);
    width:-webkit-calc(100% - 20px);
  }
  .box-524 {
    float:none;
    margin-left:auto;
    margin-right:initial;
    margin-right:auto;
    margin-top:28px;
  }
  .box-523 {
    float:none;
    margin-left:auto;
    margin-right:initial;
    margin-right:auto;
    margin-top:20px;
  }
  .footer {
    height:400px;
  }
  .popup-login {
    width:300px;
  }
  .import-423 {
    width:300px;
  }
  .popup-findpw {
    width:300px;
  }
  .import-361 {
    width:300px;
  }

}