.iu-center-box {
  width:960px;
}
.header {
  -webkit-box-shadow:0px 2px 0px 0px #DBDBDB;
  background-color:#FFFFFF;
  box-shadow:0px 2px 0px 0px #DBDBDB;
  color:#333333;
  float:none;
  height:60px;
  left:0px;
  overflow:visible;
  position:fixed;
  top:0px;
  width:100%;
  z-index:11;
}
.page-content {
  background-color:#FFFFFF;
  padding-top:62px;
}
.section {
  background-color:#F5F5F5;
  padding-bottom:80px;
  padding-top:60px;
}
.text-157 {
  color:#FA690A;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:34px;
  font-weight:700;
  letter-spacing:-0.2px;
  line-height:1;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:930px;
}
.cell {
  -webkit-transition:background-color 0.4s;
  background-color:#6D6D6D;
  border-radius:4px;
  color:#FFFFFF;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:700;
  height:36px;
  right:15px;
  text-align:center;
  top:0px;
  transition:background-color 0.4s;
  width:120px;
}
.cell.iux-hover, .cell.iux-active {
  background-color:#FA690A;
}
.cell > a {
  line-height:36px;
}
.box {
  border-radius:4px;
  float:none;
  margin-left:auto;
  margin-right:auto;
  margin-top:40px;
  position:relative;
  width:930px;
}
.cell-446 {
  background-color:#6D6D6D;
  color:#FFFFFF;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  height:44px;
  line-height:44px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:25%;
}
.cell-447 {
  background-color:#E6E6E6;
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  height:44px;
  line-height:44px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:25%;
}
.cell-448 {
  background-color:#E6E6E6;
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  height:44px;
  line-height:44px;
  position:relative;
  text-align:center;
  width:25%;
}
.cell-449 {
  background-color:#E6E6E6;
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  height:44px;
  line-height:44px;
  position:relative;
  text-align:center;
  width:25%;
}
.collection-205 {
  float:none;
  margin-left:0px;
  margin-top:30px;
  position:relative;
}
.import {
  font-family:'Noto Sans KR', sans-serif;
  left:0px;
  padding-bottom:10px;
  padding-left:15px;
  padding-right:15px;
  padding-top:10px;
  position:relative;
  top:0px;
}
.import-214 {
  font-family:'Noto Sans KR', sans-serif;
  left:0px;
  padding-bottom:10px;
  padding-left:15px;
  padding-right:15px;
  padding-top:10px;
  position:relative;
  top:0px;
}
.import-215 {
  font-family:'Noto Sans KR', sans-serif;
  left:0px;
  padding-bottom:10px;
  padding-left:15px;
  padding-right:15px;
  padding-top:10px;
  position:relative;
  top:0px;
}
.import-216 {
  font-family:'Noto Sans KR', sans-serif;
  left:0px;
  padding-bottom:10px;
  padding-left:15px;
  padding-right:15px;
  padding-top:10px;
  position:relative;
  top:0px;
}
.import-217 {
  font-family:'Noto Sans KR', sans-serif;
  left:0px;
  padding-bottom:10px;
  padding-left:15px;
  padding-right:15px;
  padding-top:10px;
  position:relative;
  top:0px;
}
.pagination {
  border-radius:0px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  height:30px;
  margin-left:0px;
  margin-top:40px;
  position:relative;
}
.pagination selected > div > ul > a > li, .pagination > div > ul > a > li:hover {
  background-color:transparent;
}
.pagination > div > ul {
  display:inline-block;
}
.pagination > div {
  margin:auto;
  text-align:center;
}
.pagination > div > ul > a > li {
  background-color:#FA690A;
  display:block;
  height:30px;
  line-height:30px;
  margin-left:4px;
  margin-right:4px;
  width:30px;
}
.section-35 {
  background-color:#FA690A;
}
.pg-form {
  float:none;
  margin-left:0px;
  margin-top:0px;
  padding-bottom:80px;
  padding-top:60px;
  position:relative;
  width:100%;
}
.text-88 {
  color:#FFFFFF;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:34px;
  font-weight:700;
  letter-spacing:-0.2px;
  line-height:1;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:100%;
}
.text-89 {
  color:#FFFFFF;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:22px;
  letter-spacing:-0.2px;
  line-height:1;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:100%;
}
.text-42 {
  color:#FFFFFF;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  margin-left:15px;
  margin-top:40px;
  position:relative;
  width:465px;
}
.cell-43 {
  -webkit-transition:background-color 0.4s, color 0.4s;
  border-color:#FFFFFF;
  border-radius:4px;
  border-width:1px;
  color:#FFFFFF;
  float:right;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:700;
  height:30px;
  margin-right:15px;
  margin-top:48px;
  position:relative;
  right:0px;
  text-align:center;
  transition:background-color 0.4s, color 0.4s;
  width:148px;
}
.cell-43.iux-hover, .cell-43.iux-active {
  background-color:rgba(255,255,255,0.90);
  color:#FA690A;
}
.cell-43 > a {
  line-height:30px;
}
.svg-45 {
  border-radius:40px;
  float:right;
  height:40px;
  margin-right:12px;
  margin-top:44px;
  position:relative;
  right:0px;
  width:40px;
}
.cell-42 > a {
  line-height:30px;
}
.cell-42 {
  -webkit-transition:background-color 0.4s, color 0.4s;
  border-color:#FFFFFF;
  border-radius:4px;
  border-width:1px;
  color:#FFFFFF;
  float:right;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:700;
  height:30px;
  margin-right:30px;
  margin-top:48px;
  position:relative;
  right:0px;
  text-align:center;
  transition:background-color 0.4s, color 0.4s;
  width:148px;
}
.cell-42.iux-hover, .cell-42.iux-active {
  background-color:rgba(255,255,255,0.90);
  color:#FA690A;
}
.svg {
  border-radius:40px;
  float:right;
  height:40px;
  margin-right:12px;
  margin-top:44px;
  position:relative;
  right:0px;
  width:40px;
}
.footer {
  background-color:#282828;
  height:300px;
  left:0px;
  position:relative;
  top:0px;
  width:100%;
}
.popup-login {
  background-color:#FFFFFF;
  border-radius:2px;
  height:422px;
  position:fixed;
  width:400px;
  z-index:100;
}
.popup-login-dimcolor {
  background-color:rgba(0,0,0,0.60);
  z-index:99;
}
.popup-login > .iux-popup-close-button {
  background-image:url('/static/project/btn_close.png');
  display:inherit;
  height:30px;
  position:absolute;
  right:12px;
  top:15px;
  width:30px;
}
.import-423 {
  left:0px;
  top:0px;
  width:400px;
}
.popup-findpw {
  background-color:#FFFFFF;
  border-radius:2px;
  height:522px;
  position:fixed;
  width:400px;
  z-index:100;
}
.popup-findpw > .iux-popup-close-button {
  background-image:url('/static/project/btn_close.png');
  display:inherit;
  height:30px;
  position:absolute;
  right:12px;
  top:15px;
  width:30px;
}
.popup-findpw-dimcolor {
  background-color:rgba(0,0,0,0.60);
  z-index:99;
}
.import-361 {
  width:400px;
}