.iu-center-box {
  width:960px;
}
.header {
  -webkit-box-shadow:0px 2px 0px 0px #DBDBDB;
  background-color:#FFFFFF;
  box-shadow:0px 2px 0px 0px #DBDBDB;
  color:#333333;
  float:none;
  height:60px;
  left:0px;
  min-width:960px;
  overflow:visible;
  position:fixed;
  top:0px;
  width:100%;
  z-index:10;
}
.page-content {
  background-color:#FFFFFF;
}
.up {
  background-color:#F076B4;
  border-radius:50%;
  bottom:15px;
  display:none;
  height:50px;
  position:fixed;
  right:15px;
  width:50px;
  z-index:11;
}
.svg {
  -webkit-transform:rotate(-90deg);
  bottom:0px;
  float:none;
  height:30px;
  left:0px;
  margin:auto;
  right:0px;
  top:0px;
  transform:rotate(-90deg);
  width:30px;
}
.apply_bar_1 {
  background-color:#F076B4;
  display:none;
  float:none;
  height:60px;
  left:0px;
  position:fixed;
  top:62px;
  width:100%;
  z-index:11;
}
.pg-form {
  height:100%;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:0px;
  width:720px;
}
.text-226 {
  bottom:0px;
  color:#FFFFFF;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:700;
  height:22px;
  left:0px;
  margin-bottom:auto;
  margin-top:auto;
  top:0px;
  width:40px;
}
.pg-select-105 {
  background-color:#FFFFFF;
  border-radius:2px;
  bottom:0px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:36px;
  left:40px;
  margin-bottom:auto;
  margin-top:auto;
  top:0px;
  width:140px;
}
.text-227 {
  bottom:0px;
  color:#FFFFFF;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:700;
  height:22px;
  left:200px;
  margin-bottom:auto;
  margin-top:auto;
  top:0px;
  width:90px;
}
.pg-select-106 {
  background-color:#FFFFFF;
  border-radius:2px;
  bottom:0px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:36px;
  left:290px;
  margin-bottom:auto;
  margin-top:auto;
  top:0px;
  width:220px;
}
.pg-button-461 {
  background-color:transparent;
  border-color:#FFFFFF;
  border-radius:4px;
  border-width:1px;
  bottom:0px;
  color:#6D6D6D;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:700;
  height:36px;
  left:540px;
  margin-bottom:auto;
  margin-top:auto;
  top:0px;
  width:180px;
}
.Carousel_48 > .iux-carousel-prev,.Carousel_48 > .iux-carousel-next {
  display:inherit;
}
.Carousel_48 > .iux-carousel-pager {
  visibility:hidden;
}
.Carousel_48 {
  float:none;
  height:480px;
  margin-left:auto;
  margin-right:auto;
  margin-top:62px;
  overflow:visible;
  position:relative;
  width:960px;
}
.Carousel_48 > .iux-carousel-prev {
  background-image:url('/static/project/ar2.png');
  height:26px;
  left:-60px;
  top:220px;
  width:26px;
}
.Carousel_48 > .iux-carousel-next {
  background-image:url('/static/project/ar1.png');
  height:26px;
  right:-60px;
  top:220px;
  width:26px;
}
.CarouselItem_48 {
  height:100%;
  position:relative;
}
.box-154 {
  background-image:url('/static/project/main_1.jpg');
  background-size:cover;
  float:none;
  height:100%;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  width:960px;
}
.Box_52 {
  background-color:rgba(0,0,0,0.15);
  background-size:cover;
  float:none;
  height:100%;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:0px;
  width:960px;
}
.CarouselItem_49 {
  height:100%;
  position:relative;
}
.box-151 {
  background-image:url('/static/project/main_2.jpg');
  background-size:cover;
  float:none;
  height:100%;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  width:960px;
}
.Box_54 {
  background-color:rgba(0,0,0,0.15);
  background-size:cover;
  float:none;
  height:100%;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  width:960px;
}
.CarouselItem_50 {
  height:100%;
  position:relative;
}
.box-150 {
  background-image:url('/static/project/main_3.jpg');
  background-size:cover;
  float:none;
  height:100%;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  width:960px;
}
.Box_59 {
  background-color:rgba(0,0,0,0.15);
  background-size:cover;
  float:none;
  height:100%;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  width:960px;
}
.text-392 {
  background-color:rgba(240,118,180,0.80);
  border-radius:2px;
  color:#FFFFFF;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:400;
  height:26px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:220px;
  width:80px;
}
.class_title {
  color:#FFFFFF;
  font-family:'Noto Sans KR', sans-serif;
  font-size:48px;
  font-weight:700;
  height:58px;
  left:0px;
  line-height:1;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:260px;
  width:930px;
}
.class_summary {
  color:#FFFFFF;
  font-family:'Noto Sans KR', sans-serif;
  font-size:18px;
  font-weight:700;
  height:26px;
  left:0px;
  line-height:1;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:360px;
  width:930px;
}
.apply_bar_2 {
  background-color:#F076B4;
  float:none;
  height:60px;
  position:relative;
  width:100%;
}
.pg-form-228 {
  height:100%;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:0px;
  width:720px;
}
.text-229 {
  bottom:0px;
  color:#FFFFFF;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:700;
  height:22px;
  left:0px;
  margin-bottom:auto;
  margin-top:auto;
  top:0px;
  width:40px;
}
.pg-select {
  background-color:#FFFFFF;
  border-radius:2px;
  bottom:0px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:36px;
  left:40px;
  margin-bottom:auto;
  margin-top:auto;
  top:0px;
  width:140px;
}
.text-230 {
  bottom:0px;
  color:#FFFFFF;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:700;
  height:22px;
  left:200px;
  margin-bottom:auto;
  margin-top:auto;
  top:0px;
  width:90px;
}
.pg-select-232 {
  background-color:#FFFFFF;
  border-radius:2px;
  bottom:0px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:36px;
  left:290px;
  margin-bottom:auto;
  margin-top:auto;
  top:0px;
  width:220px;
}
.pg-button {
  background-color:transparent;
  border-color:#FFFFFF;
  border-radius:4px;
  border-width:1px;
  bottom:0px;
  color:#6D6D6D;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:700;
  height:36px;
  left:540px;
  margin-bottom:auto;
  margin-top:auto;
  top:0px;
  width:180px;
}
.section-262 {
  padding-bottom:60px;
  padding-top:60px;
}
.center-box-263 {
  overflow:visible;
}
.overview_title {
  color:#F076B4;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:34px;
  font-weight:700;
  letter-spacing:-0.2px;
  line-height:1;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:680px;
}
.overview_content {
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  margin-left:auto;
  margin-right:auto;
  margin-top:40px;
  position:relative;
  text-align:center;
  width:680px;
}
.svg-bracket1 {
  bottom:0px;
  float:none;
  height:180px;
  left:80px;
  margin-bottom:auto;
  margin-top:auto;
  top:0px;
  width:60px;
}
.svg-bracket2 {
  bottom:0px;
  height:180px;
  margin-bottom:auto;
  margin-top:auto;
  right:80px;
  top:0px;
  width:60px;
}
.section-205 {
  background-color:#F5F5F5;
  padding-bottom:60px;
  padding-top:60px;
}
.box-352 {
  float:none;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  width:930px;
}
.webmovie {
  border-radius:2px;
  height:100%;
  right:0px;
  top:0px;
  width:450px;
}
.what_title {
  color:#F076B4;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:34px;
  font-weight:700;
  letter-spacing:-0.2px;
  line-height:1;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  text-align:left;
  width:450px;
}
.what_content {
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  margin-left:0px;
  margin-top:40px;
  position:relative;
  width:450px;
}
.section-264 {
  border-bottom-width:1px;
  border-color:#F076B4;
  border-style:dashed;
  padding-bottom:60px;
  padding-top:60px;
}
.box-266 {
  float:none;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  width:930px;
}
.learner_img {
  background-image:url('/static/project/main_2.jpg');
  background-position:center center;
  background-size:cover;
  border-radius:2px;
  bottom:0px;
  float:none;
  height:100%;
  left:0px;
  margin-bottom:auto;
  margin-top:auto;
  top:0px;
  width:450px;
}
.learner_title {
  color:#F076B4;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:34px;
  font-weight:700;
  letter-spacing:-0.2px;
  line-height:1;
  margin-left:480px;
  margin-top:0px;
  position:relative;
  text-align:left;
  width:450px;
}
.learner_content {
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  margin-left:480px;
  margin-top:40px;
  position:relative;
  width:450px;
}
.section-214 {
  padding-bottom:60px;
  padding-top:60px;
}
.objectives_title {
  color:#F076B4;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:34px;
  font-weight:700;
  letter-spacing:-0.2px;
  line-height:1;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  position:relative;
  text-align:left;
  width:930px;
}
.box-355 {
  float:none;
  margin-left:auto;
  margin-right:auto;
  margin-top:40px;
  min-height:150px;
  position:relative;
  width:930px;
}
.floating-image-354 {
  background-image:url('/static/project/ex_project_3.jpg');
  background-position:center center;
  background-size:cover;
  border-radius:50%;
  bottom:0px;
  float:none;
  height:150px;
  left:0px;
  margin-bottom:auto;
  margin-top:auto;
  top:0px;
  width:150px;
}
.text-356 {
  color:#F076B4;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:18px;
  font-weight:700;
  margin-left:200px;
  margin-top:20px;
  position:relative;
  width:730px;
}
.text-357 {
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  margin-left:200px;
  margin-top:20px;
  position:relative;
  width:730px;
}
.box-357 {
  float:none;
  margin-left:auto;
  margin-right:auto;
  margin-top:40px;
  min-height:150px;
  position:relative;
  width:930px;
}
.floating-image-358 {
  background-image:url('/static/project/ex_project_3.jpg');
  background-position:center center;
  background-size:cover;
  border-radius:50%;
  bottom:0px;
  float:none;
  height:150px;
  left:0px;
  margin-bottom:auto;
  margin-top:auto;
  top:0px;
  width:150px;
}
.text-359 {
  color:#F076B4;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:18px;
  font-weight:700;
  margin-left:200px;
  margin-top:20px;
  position:relative;
  width:730px;
}
.text-360 {
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  margin-left:200px;
  margin-top:20px;
  position:relative;
  width:730px;
}
.box-361 {
  float:none;
  margin-left:auto;
  margin-right:auto;
  margin-top:40px;
  min-height:150px;
  position:relative;
  width:930px;
}
.floating-image-363 {
  background-image:url('/static/project/ex_project_3.jpg');
  background-position:center center;
  background-size:cover;
  border-radius:50%;
  bottom:0px;
  float:none;
  height:150px;
  left:0px;
  margin-bottom:auto;
  margin-top:auto;
  top:0px;
  width:150px;
}
.text-362 {
  color:#F076B4;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:18px;
  font-weight:700;
  margin-left:200px;
  margin-top:20px;
  position:relative;
  width:730px;
}
.text-364 {
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  margin-left:200px;
  margin-top:20px;
  position:relative;
  width:730px;
}
.section {
  background-color:#F5F5F5;
  padding-bottom:60px;
  padding-top:60px;
}
.projects_title {
  color:#F076B4;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:34px;
  font-weight:700;
  letter-spacing:-0.2px;
  line-height:1;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:930px;
}
.carousel-315 {
  float:none;
  margin-left:auto;
  margin-right:auto;
  margin-top:40px;
  overflow:visible;
  position:relative;
  width:1020px;
}
.carousel-315 > .iux-carousel-next {
  background-image:url('/static/project/ar1.png');
  height:26px;
  right:0px;
  top:180px;
  width:26px;
}
.carousel-315 > .iux-carousel-pager {
  visibility:hidden;
}
.carousel-315 > .iux-carousel-prev {
  background-image:url('/static/project/ar2.png');
  height:26px;
  left:0px;
  top:180px;
  width:26px;
}
.carousel-315 > .iux-carousel-prev,.carousel-315 > .iux-carousel-next {
  display:inherit;
}
.carousel-item-316 {
  height:100%;
  position:relative;
}
.box-317 {
  border-bottom-width:2px;
  border-color:#E6E6E6;
  border-left-width:1px;
  border-radius:2px;
  border-right-width:1px;
  border-top-width:1px;
  float:left;
  margin-left:45px;
  margin-top:0px;
  position:relative;
  width:298px;
}
.floating-image {
  background-image:url('/static/project/ex_project_1.jpg');
  background-position:center center;
  background-size:cover;
  float:none;
  height:298px;
  position:relative;
  width:298px;
}
.box-147 {
  background:linear-gradient(to bottom, rgba(0,0,0,0.00) 30%, rgba(50,50,50,0.20));
  background:-webkit-linear-gradient(top, rgba(0,0,0,0.00) 30%, rgba(50,50,50,0.20));
  height:298px;
  left:0px;
  top:0px;
  width:298px;
}
.like {
  bottom:10px;
  height:30px;
  right:10px;
  width:30px;
}
.svg-151 {
  float:none;
  height:30px;
  left:0px;
  top:0px;
  width:30px;
}
.svg-152 {
  float:none;
  height:30px;
  left:0px;
  top:0px;
  width:30px;
}
.box-134 {
  background-color:rgba(255,255,255,0.90);
  float:none;
  height:120px;
  position:relative;
  width:100%;
}
.text-140 {
  color:#FA690A;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:700;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:68px;
  width:240px;
}
.text-147 {
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:300;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:42px;
  width:240px;
}
.profile_img {
  background-position:center center;
  background-size:contain;
  border-color:#FA690A;
  border-radius:50%;
  border-width:1px;
  float:none;
  height:70px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:260px;
  width:70px;
}
.cell {
  -webkit-transform:rotate(-45deg);
  background-color:#A0D228;
  color:#FFFFFF;
  font-family:Bariol;
  font-size:14px;
  font-weight:700;
  height:24px;
  left:-40px;
  line-height:24px;
  text-align:center;
  top:20px;
  transform:rotate(-45deg);
  width:140px;
}
.box-142 {
  border-bottom-width:2px;
  border-color:#E6E6E6;
  border-left-width:1px;
  border-radius:2px;
  border-right-width:1px;
  border-top-width:1px;
  float:left;
  margin-left:15px;
  margin-top:0px;
  position:relative;
  width:298px;
}
.floating-image-143 {
  background-image:url('/static/project/ex_project_2.jpeg');
  background-position:center center;
  background-size:cover;
  float:none;
  height:298px;
  position:relative;
  width:298px;
}
.box-144 {
  background:linear-gradient(to bottom, rgba(0,0,0,0.00) 30%, rgba(50,50,50,0.20));
  background:-webkit-linear-gradient(top, rgba(0,0,0,0.00) 30%, rgba(50,50,50,0.20));
  height:298px;
  left:0px;
  top:0px;
  width:298px;
}
.like-147 {
  bottom:10px;
  height:30px;
  right:10px;
  width:30px;
}
.svg-319 {
  float:none;
  height:30px;
  left:0px;
  top:0px;
  width:30px;
}
.svg-153 {
  float:none;
  height:30px;
  left:0px;
  top:0px;
  width:30px;
}
.box-145 {
  background-color:rgba(255,255,255,0.90);
  float:none;
  height:120px;
  position:relative;
  width:100%;
}
.text-148 {
  color:#FA690A;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:700;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:68px;
  width:240px;
}
.text-150 {
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:300;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:42px;
  width:240px;
}
.profile_img-146 {
  background-position:center center;
  background-size:contain;
  border-color:#FA690A;
  border-radius:50%;
  border-width:1px;
  float:none;
  height:70px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:260px;
  width:70px;
}
.cell-352 {
  -webkit-transform:rotate(-45deg);
  background-color:#50A0F0;
  color:#FFFFFF;
  font-family:Bariol;
  font-size:14px;
  font-weight:700;
  height:24px;
  left:-40px;
  line-height:24px;
  text-align:center;
  top:20px;
  transform:rotate(-45deg);
  width:140px;
}
.box-386 {
  border-bottom-width:2px;
  border-color:#E6E6E6;
  border-left-width:1px;
  border-radius:2px;
  border-right-width:1px;
  border-top-width:1px;
  float:left;
  margin-left:15px;
  margin-top:0px;
  position:relative;
  width:298px;
}
.floating-image-155 {
  background-image:url('/static/project/ex_project_3.jpg');
  background-position:center center;
  background-size:cover;
  float:none;
  height:298px;
  position:relative;
  width:298px;
}
.box-157 {
  background:linear-gradient(to bottom, rgba(0,0,0,0.00) 30%, rgba(50,50,50,0.20));
  background:-webkit-linear-gradient(top, rgba(0,0,0,0.00) 30%, rgba(50,50,50,0.20));
  height:298px;
  left:0px;
  top:0px;
  width:298px;
}
.like-160 {
  bottom:10px;
  height:30px;
  right:10px;
  width:30px;
}
.svg-163 {
  float:none;
  height:30px;
  left:0px;
  top:0px;
  width:30px;
}
.svg-165 {
  float:none;
  height:30px;
  left:0px;
  top:0px;
  width:30px;
}
.box-156 {
  background-color:rgba(255,255,255,0.90);
  float:none;
  height:120px;
  position:relative;
  width:100%;
}
.text-159 {
  color:#FA690A;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:700;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:68px;
  width:240px;
}
.text-161 {
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:300;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:42px;
  width:240px;
}
.profile_img-158 {
  background-position:center center;
  background-size:contain;
  border-color:#FA690A;
  border-radius:50%;
  border-width:1px;
  float:none;
  height:70px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:260px;
  width:70px;
}
.cell-353 {
  -webkit-transform:rotate(-45deg);
  background-color:#F076B4;
  color:#FFFFFF;
  font-family:Bariol;
  font-size:14px;
  font-weight:700;
  height:24px;
  left:-40px;
  line-height:24px;
  text-align:center;
  top:20px;
  transform:rotate(-45deg);
  width:140px;
}
.carousel-item-129 {
  height:100%;
  position:relative;
}
.box-166 {
  border-bottom-width:2px;
  border-color:#E6E6E6;
  border-left-width:1px;
  border-radius:2px;
  border-right-width:1px;
  border-top-width:1px;
  float:left;
  margin-left:45px;
  margin-top:0px;
  position:relative;
  width:298px;
}
.floating-image-167 {
  background-image:url('/static/project/ex_project_1.jpg');
  background-position:center center;
  background-size:cover;
  float:none;
  height:298px;
  position:relative;
  width:298px;
}
.box-168 {
  background:linear-gradient(to bottom, rgba(0,0,0,0.00) 30%, rgba(50,50,50,0.20));
  background:-webkit-linear-gradient(top, rgba(0,0,0,0.00) 30%, rgba(50,50,50,0.20));
  height:298px;
  left:0px;
  top:0px;
  width:298px;
}
.like-171 {
  bottom:10px;
  height:30px;
  right:10px;
  width:30px;
}
.svg-175 {
  float:none;
  height:30px;
  left:0px;
  top:0px;
  width:30px;
}
.svg-177 {
  float:none;
  height:30px;
  left:0px;
  top:0px;
  width:30px;
}
.box-169 {
  background-color:rgba(255,255,255,0.90);
  float:none;
  height:120px;
  position:relative;
  width:100%;
}
.text-172 {
  color:#FA690A;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:700;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:68px;
  width:240px;
}
.text-318 {
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:300;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:42px;
  width:240px;
}
.profile_img-170 {
  background-position:center center;
  background-size:contain;
  border-color:#FA690A;
  border-radius:50%;
  border-width:1px;
  float:none;
  height:70px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:260px;
  width:70px;
}
.cell-357 {
  -webkit-transform:rotate(-45deg);
  background-color:#A0D228;
  color:#FFFFFF;
  font-family:Bariol;
  font-size:14px;
  font-weight:700;
  height:24px;
  left:-40px;
  line-height:24px;
  text-align:center;
  top:20px;
  transform:rotate(-45deg);
  width:140px;
}
.box-178 {
  border-bottom-width:2px;
  border-color:#E6E6E6;
  border-left-width:1px;
  border-radius:2px;
  border-right-width:1px;
  border-top-width:1px;
  float:left;
  margin-left:15px;
  margin-top:0px;
  position:relative;
  width:298px;
}
.floating-image-179 {
  background-image:url('/static/project/ex_project_2.jpeg');
  background-position:center center;
  background-size:cover;
  float:none;
  height:298px;
  position:relative;
  width:298px;
}
.box-180 {
  background:linear-gradient(to bottom, rgba(0,0,0,0.00) 30%, rgba(50,50,50,0.20));
  background:-webkit-linear-gradient(top, rgba(0,0,0,0.00) 30%, rgba(50,50,50,0.20));
  height:298px;
  left:0px;
  top:0px;
  width:298px;
}
.like-183 {
  bottom:10px;
  height:30px;
  right:10px;
  width:30px;
}
.svg-187 {
  float:none;
  height:30px;
  left:0px;
  top:0px;
  width:30px;
}
.svg-189 {
  float:none;
  height:30px;
  left:0px;
  top:0px;
  width:30px;
}
.box-182 {
  background-color:rgba(255,255,255,0.90);
  float:none;
  height:120px;
  position:relative;
  width:100%;
}
.text-184 {
  color:#FA690A;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:700;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:68px;
  width:240px;
}
.text-186 {
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:300;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:42px;
  width:240px;
}
.profile_img-181 {
  background-position:center center;
  background-size:contain;
  border-color:#FA690A;
  border-radius:50%;
  border-width:1px;
  float:none;
  height:70px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:260px;
  width:70px;
}
.cell-359 {
  -webkit-transform:rotate(-45deg);
  background-color:#50A0F0;
  color:#FFFFFF;
  font-family:Bariol;
  font-size:14px;
  font-weight:700;
  height:24px;
  left:-40px;
  line-height:24px;
  text-align:center;
  top:20px;
  transform:rotate(-45deg);
  width:140px;
}
.box-190 {
  border-bottom-width:2px;
  border-color:#E6E6E6;
  border-left-width:1px;
  border-radius:2px;
  border-right-width:1px;
  border-top-width:1px;
  float:left;
  margin-left:15px;
  margin-top:0px;
  position:relative;
  width:298px;
}
.floating-image-191 {
  background-image:url('/static/project/ex_project_3.jpg');
  background-position:center center;
  background-size:cover;
  float:none;
  height:298px;
  position:relative;
  width:298px;
}
.box-192 {
  background:linear-gradient(to bottom, rgba(0,0,0,0.00) 30%, rgba(50,50,50,0.20));
  background:-webkit-linear-gradient(top, rgba(0,0,0,0.00) 30%, rgba(50,50,50,0.20));
  height:298px;
  left:0px;
  top:0px;
  width:298px;
}
.like-195 {
  bottom:10px;
  height:30px;
  right:10px;
  width:30px;
}
.svg-199 {
  float:none;
  height:30px;
  left:0px;
  top:0px;
  width:30px;
}
.svg-201 {
  float:none;
  height:30px;
  left:0px;
  top:0px;
  width:30px;
}
.box-193 {
  background-color:rgba(255,255,255,0.90);
  float:none;
  height:120px;
  position:relative;
  width:100%;
}
.text-196 {
  color:#FA690A;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:700;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:68px;
  width:240px;
}
.text-198 {
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:300;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:42px;
  width:240px;
}
.profile_img-194 {
  background-position:center center;
  background-size:contain;
  border-color:#FA690A;
  border-radius:50%;
  border-width:1px;
  float:none;
  height:70px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:260px;
  width:70px;
}
.cell-358 {
  -webkit-transform:rotate(-45deg);
  background-color:#F076B4;
  color:#FFFFFF;
  font-family:Bariol;
  font-size:14px;
  font-weight:700;
  height:24px;
  left:-40px;
  line-height:24px;
  text-align:center;
  top:20px;
  transform:rotate(-45deg);
  width:140px;
}
.carousel-item-130 {
  height:100%;
  position:relative;
}
.box-202 {
  border-bottom-width:2px;
  border-color:#E6E6E6;
  border-left-width:1px;
  border-radius:2px;
  border-right-width:1px;
  border-top-width:1px;
  float:left;
  margin-left:45px;
  margin-top:0px;
  position:relative;
  width:298px;
}
.floating-image-203 {
  background-image:url('/static/project/ex_project_1.jpg');
  background-position:center center;
  background-size:cover;
  float:none;
  height:298px;
  position:relative;
  width:298px;
}
.box-204 {
  background:linear-gradient(to bottom, rgba(0,0,0,0.00) 30%, rgba(50,50,50,0.20));
  background:-webkit-linear-gradient(top, rgba(0,0,0,0.00) 30%, rgba(50,50,50,0.20));
  height:298px;
  left:0px;
  top:0px;
  width:298px;
}
.like-208 {
  bottom:10px;
  height:30px;
  right:10px;
  width:30px;
}
.svg-211 {
  float:none;
  height:30px;
  left:0px;
  top:0px;
  width:30px;
}
.svg-213 {
  float:none;
  height:30px;
  left:0px;
  top:0px;
  width:30px;
}
.box-205 {
  background-color:rgba(255,255,255,0.90);
  float:none;
  height:120px;
  position:relative;
  width:100%;
}
.text-207 {
  color:#FA690A;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:700;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:68px;
  width:240px;
}
.text-209 {
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:300;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:42px;
  width:240px;
}
.profile_img-206 {
  background-position:center center;
  background-size:contain;
  border-color:#FA690A;
  border-radius:50%;
  border-width:1px;
  float:none;
  height:70px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:260px;
  width:70px;
}
.cell-360 {
  -webkit-transform:rotate(-45deg);
  background-color:#A0D228;
  color:#FFFFFF;
  font-family:Bariol;
  font-size:14px;
  font-weight:700;
  height:24px;
  left:-40px;
  line-height:24px;
  text-align:center;
  top:20px;
  transform:rotate(-45deg);
  width:140px;
}
.box-214 {
  border-bottom-width:2px;
  border-color:#E6E6E6;
  border-left-width:1px;
  border-radius:2px;
  border-right-width:1px;
  border-top-width:1px;
  float:left;
  margin-left:15px;
  margin-top:0px;
  position:relative;
  width:298px;
}
.floating-image-215 {
  background-image:url('/static/project/ex_project_2.jpeg');
  background-position:center center;
  background-size:cover;
  float:none;
  height:298px;
  position:relative;
  width:298px;
}
.box-216 {
  background:linear-gradient(to bottom, rgba(0,0,0,0.00) 30%, rgba(50,50,50,0.20));
  background:-webkit-linear-gradient(top, rgba(0,0,0,0.00) 30%, rgba(50,50,50,0.20));
  height:298px;
  left:0px;
  top:0px;
  width:298px;
}
.like-219 {
  bottom:10px;
  height:30px;
  right:10px;
  width:30px;
}
.svg-223 {
  float:none;
  height:30px;
  left:0px;
  top:0px;
  width:30px;
}
.svg-225 {
  float:none;
  height:30px;
  left:0px;
  top:0px;
  width:30px;
}
.box-217 {
  background-color:rgba(255,255,255,0.90);
  float:none;
  height:120px;
  position:relative;
  width:100%;
}
.text-220 {
  color:#FA690A;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:700;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:68px;
  width:240px;
}
.text-222 {
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:300;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:42px;
  width:240px;
}
.profile_img-218 {
  background-position:center center;
  background-size:contain;
  border-color:#FA690A;
  border-radius:50%;
  border-width:1px;
  float:none;
  height:70px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:260px;
  width:70px;
}
.cell-362 {
  -webkit-transform:rotate(-45deg);
  background-color:#50A0F0;
  color:#FFFFFF;
  font-family:Bariol;
  font-size:14px;
  font-weight:700;
  height:24px;
  left:-40px;
  line-height:24px;
  text-align:center;
  top:20px;
  transform:rotate(-45deg);
  width:140px;
}
.box-320 {
  border-bottom-width:2px;
  border-color:#E6E6E6;
  border-left-width:1px;
  border-radius:2px;
  border-right-width:1px;
  border-top-width:1px;
  float:left;
  margin-left:15px;
  margin-top:0px;
  position:relative;
  width:298px;
}
.floating-image-227 {
  background-image:url('/static/project/ex_project_3.jpg');
  background-position:center center;
  background-size:cover;
  float:none;
  height:298px;
  position:relative;
  width:298px;
}
.box-228 {
  background:linear-gradient(to bottom, rgba(0,0,0,0.00) 30%, rgba(50,50,50,0.20));
  background:-webkit-linear-gradient(top, rgba(0,0,0,0.00) 30%, rgba(50,50,50,0.20));
  height:298px;
  left:0px;
  top:0px;
  width:298px;
}
.like-231 {
  bottom:10px;
  height:30px;
  right:10px;
  width:30px;
}
.svg-235 {
  float:none;
  height:30px;
  left:0px;
  top:0px;
  width:30px;
}
.svg-237 {
  float:none;
  height:30px;
  left:0px;
  top:0px;
  width:30px;
}
.box-321 {
  background-color:rgba(255,255,255,0.90);
  float:none;
  height:120px;
  position:relative;
  width:100%;
}
.text-232 {
  color:#FA690A;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:700;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:68px;
  width:240px;
}
.text-234 {
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:300;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:42px;
  width:240px;
}
.profile_img-230 {
  background-position:center center;
  background-size:contain;
  border-color:#FA690A;
  border-radius:50%;
  border-width:1px;
  float:none;
  height:70px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:260px;
  width:70px;
}
.cell-361 {
  -webkit-transform:rotate(-45deg);
  background-color:#F076B4;
  color:#FFFFFF;
  font-family:Bariol;
  font-size:14px;
  font-weight:700;
  height:24px;
  left:-40px;
  line-height:24px;
  text-align:center;
  top:20px;
  transform:rotate(-45deg);
  width:140px;
}
.section-179 {
  background-color:rgba(255,255,255,0.10);
  padding-bottom:60px;
  padding-top:60px;
}
.syllabus_title {
  color:#F076B4;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:34px;
  font-weight:700;
  letter-spacing:-0.2px;
  line-height:1;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  position:relative;
  text-align:left;
  width:930px;
}
.box-56 {
  float:none;
  height:40px;
  margin-left:0px;
  margin-top:40px;
  overflow:visible;
  position:relative;
  width:100%;
}
.box-57 {
  background-color:#F076B4;
  float:none;
  height:100%;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  width:2px;
}
.box {
  float:none;
  overflow:visible;
  padding-bottom:20px;
  padding-top:20px;
  position:relative;
  width:100%;
}
.box-396 {
  background-color:#F076B4;
  bottom:0px;
  float:none;
  height:100%;
  left:0px;
  margin:auto;
  right:0px;
  top:0px;
  width:2px;
}
.box-45 {
  background-color:#FFFFFF;
  border-color:#F076B4;
  border-radius:50%;
  border-width:1px;
  bottom:0px;
  float:none;
  height:18px;
  left:0px;
  margin:auto;
  right:0px;
  top:0px;
  width:18px;
}
.box-400 {
  -webkit-transform:rotate(45deg);
  background-color:#F5F5F5;
  bottom:0px;
  height:20px;
  left:510px;
  margin-bottom:auto;
  margin-top:auto;
  top:0px;
  transform:rotate(45deg);
  width:20px;
}
.text-399 {
  background-color:#F5F5F5;
  border-radius:2px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  margin-left:515px;
  margin-top:0px;
  padding-bottom:10px;
  padding-left:20px;
  padding-right:20px;
  padding-top:10px;
  position:relative;
  width:390px;
}
.box-401 {
  float:none;
  overflow:visible;
  padding-bottom:20px;
  padding-top:20px;
  position:relative;
  width:100%;
}
.box-402 {
  background-color:#F076B4;
  bottom:0px;
  float:none;
  height:100%;
  left:0px;
  margin:auto;
  right:0px;
  top:0px;
  width:2px;
}
.box-403 {
  background-color:#FFFFFF;
  border-color:#F076B4;
  border-radius:50%;
  border-width:1px;
  bottom:0px;
  float:none;
  height:18px;
  left:0px;
  margin:auto;
  right:0px;
  top:0px;
  width:18px;
}
.box-404 {
  -webkit-transform:rotate(45deg);
  background-color:#F5F5F5;
  bottom:0px;
  height:20px;
  left:430px;
  margin-bottom:auto;
  margin-top:auto;
  top:0px;
  transform:rotate(45deg);
  width:20px;
}
.text-404 {
  background-color:#F5F5F5;
  border-radius:2px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  margin-left:15px;
  margin-top:0px;
  padding-bottom:10px;
  padding-left:20px;
  padding-right:20px;
  padding-top:10px;
  position:relative;
  text-align:right;
  width:390px;
}
.box-405 {
  float:none;
  overflow:visible;
  padding-bottom:20px;
  padding-top:20px;
  position:relative;
  width:100%;
}
.box-406 {
  background-color:#F076B4;
  bottom:0px;
  float:none;
  height:100%;
  left:0px;
  margin:auto;
  right:0px;
  top:0px;
  width:2px;
}
.box-407 {
  background-color:#FFFFFF;
  border-color:#F076B4;
  border-radius:50%;
  border-width:1px;
  bottom:0px;
  float:none;
  height:18px;
  left:0px;
  margin:auto;
  right:0px;
  top:0px;
  width:18px;
}
.box-408 {
  -webkit-transform:rotate(45deg);
  background-color:#F5F5F5;
  bottom:0px;
  height:20px;
  left:510px;
  margin-bottom:auto;
  margin-top:auto;
  top:0px;
  transform:rotate(45deg);
  width:20px;
}
.text-409 {
  background-color:#F5F5F5;
  border-radius:2px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  margin-left:515px;
  margin-top:0px;
  padding-bottom:10px;
  padding-left:20px;
  padding-right:20px;
  padding-top:10px;
  position:relative;
  width:390px;
}
.box-410 {
  float:none;
  overflow:visible;
  padding-bottom:20px;
  padding-top:20px;
  position:relative;
  width:100%;
}
.box-411 {
  background-color:#F076B4;
  bottom:0px;
  float:none;
  height:100%;
  left:0px;
  margin:auto;
  right:0px;
  top:0px;
  width:2px;
}
.box-412 {
  background-color:#FFFFFF;
  border-color:#F076B4;
  border-radius:50%;
  border-width:1px;
  bottom:0px;
  float:none;
  height:18px;
  left:0px;
  margin:auto;
  right:0px;
  top:0px;
  width:18px;
}
.box-413 {
  -webkit-transform:rotate(45deg);
  background-color:#F5F5F5;
  bottom:0px;
  height:20px;
  left:430px;
  margin-bottom:auto;
  margin-top:auto;
  top:0px;
  transform:rotate(45deg);
  width:20px;
}
.text-414 {
  background-color:#F5F5F5;
  border-radius:2px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  margin-left:15px;
  margin-top:0px;
  padding-bottom:10px;
  padding-left:20px;
  padding-right:20px;
  padding-top:10px;
  position:relative;
  text-align:right;
  width:390px;
}
.box-415 {
  float:none;
  overflow:visible;
  padding-bottom:20px;
  padding-top:20px;
  position:relative;
  width:100%;
}
.box-416 {
  background-color:#F076B4;
  bottom:0px;
  float:none;
  height:100%;
  left:0px;
  margin:auto;
  right:0px;
  top:0px;
  width:2px;
}
.box-417 {
  background-color:#FFFFFF;
  border-color:#F076B4;
  border-radius:50%;
  border-width:1px;
  bottom:0px;
  float:none;
  height:18px;
  left:0px;
  margin:auto;
  right:0px;
  top:0px;
  width:18px;
}
.box-418 {
  -webkit-transform:rotate(45deg);
  background-color:#F5F5F5;
  bottom:0px;
  height:20px;
  left:510px;
  margin-bottom:auto;
  margin-top:auto;
  top:0px;
  transform:rotate(45deg);
  width:20px;
}
.text-419 {
  background-color:#F5F5F5;
  border-radius:2px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  margin-left:515px;
  margin-top:0px;
  padding-bottom:10px;
  padding-left:20px;
  padding-right:20px;
  padding-top:10px;
  position:relative;
  width:390px;
}
.box-420 {
  float:none;
  overflow:visible;
  padding-bottom:20px;
  padding-top:20px;
  position:relative;
  width:100%;
}
.box-421 {
  background-color:#F076B4;
  bottom:0px;
  float:none;
  height:100%;
  left:0px;
  margin:auto;
  right:0px;
  top:0px;
  width:2px;
}
.box-422 {
  background-color:#FFFFFF;
  border-color:#F076B4;
  border-radius:50%;
  border-width:1px;
  bottom:0px;
  float:none;
  height:18px;
  left:0px;
  margin:auto;
  right:0px;
  top:0px;
  width:18px;
}
.box-423 {
  -webkit-transform:rotate(45deg);
  background-color:#F5F5F5;
  bottom:0px;
  height:20px;
  left:430px;
  margin-bottom:auto;
  margin-top:auto;
  top:0px;
  transform:rotate(45deg);
  width:20px;
}
.text-424 {
  background-color:#F5F5F5;
  border-radius:2px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  margin-left:15px;
  margin-top:0px;
  padding-bottom:10px;
  padding-left:20px;
  padding-right:20px;
  padding-top:10px;
  position:relative;
  text-align:right;
  width:390px;
}
.box-425 {
  float:none;
  overflow:visible;
  padding-bottom:20px;
  padding-top:20px;
  position:relative;
  width:100%;
}
.box-426 {
  background-color:#F076B4;
  bottom:0px;
  float:none;
  height:100%;
  left:0px;
  margin:auto;
  right:0px;
  top:0px;
  width:2px;
}
.box-427 {
  background-color:#FFFFFF;
  border-color:#F076B4;
  border-radius:50%;
  border-width:1px;
  bottom:0px;
  float:none;
  height:18px;
  left:0px;
  margin:auto;
  right:0px;
  top:0px;
  width:18px;
}
.box-428 {
  -webkit-transform:rotate(45deg);
  background-color:#F5F5F5;
  bottom:0px;
  height:20px;
  left:510px;
  margin-bottom:auto;
  margin-top:auto;
  top:0px;
  transform:rotate(45deg);
  width:20px;
}
.text-429 {
  background-color:#F5F5F5;
  border-radius:2px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  margin-left:515px;
  margin-top:0px;
  padding-bottom:10px;
  padding-left:20px;
  padding-right:20px;
  padding-top:10px;
  position:relative;
  width:390px;
}
.box-430 {
  float:none;
  overflow:visible;
  padding-bottom:20px;
  padding-top:20px;
  position:relative;
  width:100%;
}
.box-431 {
  background-color:#F076B4;
  bottom:0px;
  float:none;
  height:100%;
  left:0px;
  margin:auto;
  right:0px;
  top:0px;
  width:2px;
}
.box-432 {
  background-color:#FFFFFF;
  border-color:#F076B4;
  border-radius:50%;
  border-width:1px;
  bottom:0px;
  float:none;
  height:18px;
  left:0px;
  margin:auto;
  right:0px;
  top:0px;
  width:18px;
}
.box-433 {
  -webkit-transform:rotate(45deg);
  background-color:#F5F5F5;
  bottom:0px;
  height:20px;
  left:430px;
  margin-bottom:auto;
  margin-top:auto;
  top:0px;
  transform:rotate(45deg);
  width:20px;
}
.text-434 {
  background-color:#F5F5F5;
  border-radius:2px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  margin-left:15px;
  margin-top:0px;
  padding-bottom:10px;
  padding-left:20px;
  padding-right:20px;
  padding-top:10px;
  position:relative;
  text-align:right;
  width:390px;
}
.box-435 {
  float:none;
  overflow:visible;
  padding-bottom:20px;
  padding-top:20px;
  position:relative;
  width:100%;
}
.box-436 {
  background-color:#F076B4;
  bottom:0px;
  float:none;
  height:100%;
  left:0px;
  margin:auto;
  right:0px;
  top:0px;
  width:2px;
}
.box-437 {
  background-color:#FFFFFF;
  border-color:#F076B4;
  border-radius:50%;
  border-width:1px;
  bottom:0px;
  float:none;
  height:18px;
  left:0px;
  margin:auto;
  right:0px;
  top:0px;
  width:18px;
}
.box-438 {
  -webkit-transform:rotate(45deg);
  background-color:#F5F5F5;
  bottom:0px;
  height:20px;
  left:510px;
  margin-bottom:auto;
  margin-top:auto;
  top:0px;
  transform:rotate(45deg);
  width:20px;
}
.text-439 {
  background-color:#F5F5F5;
  border-radius:2px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  margin-left:515px;
  margin-top:0px;
  padding-bottom:10px;
  padding-left:20px;
  padding-right:20px;
  padding-top:10px;
  position:relative;
  width:390px;
}
.box-440 {
  float:none;
  overflow:visible;
  padding-bottom:20px;
  padding-top:20px;
  position:relative;
  width:100%;
}
.box-441 {
  background-color:#F076B4;
  bottom:0px;
  float:none;
  height:100%;
  left:0px;
  margin:auto;
  right:0px;
  top:0px;
  width:2px;
}
.box-442 {
  background-color:#FFFFFF;
  border-color:#F076B4;
  border-radius:50%;
  border-width:1px;
  bottom:0px;
  float:none;
  height:18px;
  left:0px;
  margin:auto;
  right:0px;
  top:0px;
  width:18px;
}
.box-443 {
  -webkit-transform:rotate(45deg);
  background-color:#F5F5F5;
  bottom:0px;
  height:20px;
  left:430px;
  margin-bottom:auto;
  margin-top:auto;
  top:0px;
  transform:rotate(45deg);
  width:20px;
}
.text-444 {
  background-color:#F5F5F5;
  border-radius:2px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  margin-left:15px;
  margin-top:0px;
  padding-bottom:10px;
  padding-left:20px;
  padding-right:20px;
  padding-top:10px;
  position:relative;
  text-align:right;
  width:390px;
}
.box-445 {
  float:none;
  overflow:visible;
  padding-bottom:20px;
  padding-top:20px;
  position:relative;
  width:100%;
}
.box-446 {
  background-color:#F076B4;
  bottom:0px;
  float:none;
  height:100%;
  left:0px;
  margin:auto;
  right:0px;
  top:0px;
  width:2px;
}
.box-447 {
  background-color:#FFFFFF;
  border-color:#F076B4;
  border-radius:50%;
  border-width:1px;
  bottom:0px;
  float:none;
  height:18px;
  left:0px;
  margin:auto;
  right:0px;
  top:0px;
  width:18px;
}
.box-448 {
  -webkit-transform:rotate(45deg);
  background-color:#F5F5F5;
  bottom:0px;
  height:20px;
  left:510px;
  margin-bottom:auto;
  margin-top:auto;
  top:0px;
  transform:rotate(45deg);
  width:20px;
}
.text-449 {
  background-color:#F5F5F5;
  border-radius:2px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  margin-left:515px;
  margin-top:0px;
  padding-bottom:10px;
  padding-left:20px;
  padding-right:20px;
  padding-top:10px;
  position:relative;
  width:390px;
}
.box-450 {
  float:none;
  overflow:visible;
  padding-bottom:20px;
  padding-top:20px;
  position:relative;
  width:100%;
}
.box-451 {
  background-color:#F076B4;
  bottom:0px;
  float:none;
  height:100%;
  left:0px;
  margin:auto;
  right:0px;
  top:0px;
  width:2px;
}
.box-452 {
  background-color:#FFFFFF;
  border-color:#F076B4;
  border-radius:50%;
  border-width:1px;
  bottom:0px;
  float:none;
  height:18px;
  left:0px;
  margin:auto;
  right:0px;
  top:0px;
  width:18px;
}
.box-453 {
  -webkit-transform:rotate(45deg);
  background-color:#F5F5F5;
  bottom:0px;
  height:20px;
  left:430px;
  margin-bottom:auto;
  margin-top:auto;
  top:0px;
  transform:rotate(45deg);
  width:20px;
}
.text-454 {
  background-color:#F5F5F5;
  border-radius:2px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  margin-left:15px;
  margin-top:0px;
  padding-bottom:10px;
  padding-left:20px;
  padding-right:20px;
  padding-top:10px;
  position:relative;
  text-align:right;
  width:390px;
}
.box-455 {
  float:none;
  height:40px;
  overflow:visible;
  position:relative;
  width:100%;
}
.box-456 {
  background-color:#F076B4;
  float:none;
  height:100%;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  width:2px;
}
.section-173 {
  background-color:#F5F5F5;
  padding-bottom:80px;
}
.relatedclasses_title {
  color:#F076B4;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:34px;
  font-weight:700;
  letter-spacing:-0.2px;
  line-height:1;
  margin-left:auto;
  margin-right:auto;
  margin-top:60px;
  position:relative;
  text-align:center;
  width:930px;
}
.collection {
  background-color:#FFFFFF;
  border-bottom-width:2px;
  border-color:#E6E6E6;
  border-radius:2px;
  float:none;
  margin-left:auto;
  margin-right:auto;
  margin-top:40px;
  position:relative;
  width:930px;
}
.section-177 {
  height:300px;
}
.svg-137 {
  -webkit-transition:bottom 0.4s;
  bottom:-10px;
  height:280px;
  left:80px;
  transition:bottom 0.4s;
  width:360px;
}
.svg-137.iux-hover, .svg-137.iux-active {
  bottom:0px;
}
.qna_text {
  color:#6D6D6D;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  margin-left:480px;
  margin-top:80px;
  position:relative;
  text-align:center;
  width:300px;
}
.qna_btn.iux-hover, .qna_btn.iux-active {
  -ms-transform:scaleX(1.1) scaleY(1.1);
  -webkit-transform:scaleX(1.1) scaleY(1.1);
  transform:scaleX(1.1) scaleY(1.1);
}
.qna_btn {
  -webkit-transform:scaleX(1.0) scaleY(1.0);
  -webkit-transition:-webkit-transform 0.4s, -ms-transform 0.4s, transform 0.4s;
  background-color:#FFE12A;
  border-radius:4px;
  color:#660000;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:700;
  height:36px;
  line-height:36px;
  margin-left:480px;
  margin-top:10px;
  position:relative;
  text-align:center;
  transform:scaleX(1.0) scaleY(1.0);
  transition:-webkit-transform 0.4s, -ms-transform 0.4s, transform 0.4s;
  width:300px;
}
.btn_back {
  -webkit-transform:scaleX(1.0) scaleY(1.0);
  -webkit-transition:-webkit-transform 0.4s, -ms-transform 0.4s, transform 0.4s;
  background-color:#EBEBEB;
  border-radius:4px;
  color:#6D6D6D;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:700;
  height:36px;
  line-height:36px;
  margin-left:480px;
  margin-top:20px;
  position:relative;
  text-align:center;
  transform:scaleX(1.0) scaleY(1.0);
  transition:-webkit-transform 0.4s, -ms-transform 0.4s, transform 0.4s;
  width:300px;
}
.btn_back.iux-hover, .btn_back.iux-active {
  -ms-transform:scaleX(1.1) scaleY(1.1);
  -webkit-transform:scaleX(1.1) scaleY(1.1);
  transform:scaleX(1.1) scaleY(1.1);
}
.footer {
  background-color:#282828;
  height:300px;
  left:0px;
  position:relative;
  top:0px;
  width:100%;
}
.popup-dimcolor {
  background-color:rgba(0,0,0,0.60);
  z-index:99;
}
.popup {
  background-color:#FFFFFF;
  border-radius:2px;
  height:422px;
  position:fixed;
  width:400px;
  z-index:100;
}
.popup > .iux-popup-close-button {
  background-image:url('/static/project/btn_close.png');
  display:inherit;
  height:30px;
  position:absolute;
  right:12px;
  top:14px;
  width:30px;
}
.import-460 {
  left:0px;
  top:0px;
  width:400px;
}
.popup-350 > .iux-popup-close-button {
  background-image:url('/static/project/btn_close.png');
  display:inherit;
  height:30px;
  position:absolute;
  right:12px;
  top:14px;
  width:30px;
}
.popup-350-dimcolor {
  background-color:rgba(0,0,0,0.60);
  z-index:99;
}
.popup-350 {
  background-color:#FFFFFF;
  border-radius:2px;
  height:522px;
  position:fixed;
  width:400px;
  z-index:100;
}
.import-361 {
  width:400px;
}
@media screen and (max-width:959px) {
  .iu-center-box {
    width:320px;
  }
  .header {
    min-width:320px;
  }
  .up {
    display:none;
  }
  .svg {
    bottom:0px;
    left:0px;
    margin:auto;
    right:0px;
    top:0px;
  }
  .apply_bar_1 {
    display:none;
  }
  .pg-form {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .text-226 {
    bottom:0px;
    margin-bottom:auto;
    margin-top:auto;
    top:0px;
  }
  .pg-select-105 {
    bottom:0px;
    margin-bottom:auto;
    margin-top:auto;
    top:0px;
  }
  .text-227 {
    bottom:0px;
    margin-bottom:auto;
    margin-top:auto;
    top:0px;
  }
  .pg-select-106 {
    bottom:0px;
    margin-bottom:auto;
    margin-top:auto;
    top:0px;
  }
  .pg-button-461 {
    bottom:0px;
    margin-bottom:auto;
    margin-top:auto;
    top:0px;
  }
  .Carousel_48 {
    margin-left:auto;
    margin-right:auto;
  }
  .Carousel_48 > .iux-carousel-pager {
    text-align:center;
    visibility:visible;
  }
  .Carousel_48 > .iux-carousel-prev,.Carousel_48 > .iux-carousel-next {
    display:none;
  }
  .box-154 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .Box_52 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .box-151 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .Box_54 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .box-150 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .Box_59 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .text-392 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .class_title {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .class_summary {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .pg-form-228 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .text-229 {
    bottom:0px;
    margin-bottom:auto;
    margin-top:auto;
    top:0px;
  }
  .pg-select {
    bottom:0px;
    margin-bottom:auto;
    margin-top:auto;
    top:0px;
  }
  .text-230 {
    bottom:0px;
    margin-bottom:auto;
    margin-top:auto;
    top:0px;
  }
  .pg-select-232 {
    bottom:0px;
    margin-bottom:auto;
    margin-top:auto;
    top:0px;
  }
  .pg-button {
    bottom:0px;
    margin-bottom:auto;
    margin-top:auto;
    top:0px;
  }
  .overview_title {
    margin-left:auto;
    margin-right:auto;
  }
  .overview_content {
    margin-left:auto;
    margin-right:auto;
  }
  .svg-bracket1 {
    bottom:0px;
    margin-bottom:auto;
    margin-top:auto;
    top:0px;
  }
  .svg-bracket2 {
    bottom:0px;
    margin-bottom:auto;
    margin-top:auto;
    top:0px;
  }
  .box-352 {
    margin-left:auto;
    margin-right:auto;
  }
  .box-266 {
    margin-left:auto;
    margin-right:auto;
  }
  .learner_img {
    bottom:0px;
    margin-bottom:auto;
    margin-top:auto;
    top:0px;
  }
  .objectives_title {
    margin-left:auto;
    margin-right:auto;
  }
  .box-355 {
    margin-left:auto;
    margin-right:auto;
  }
  .floating-image-354 {
    bottom:0px;
    margin-bottom:auto;
    margin-top:auto;
    top:0px;
  }
  .box-357 {
    margin-left:auto;
    margin-right:auto;
  }
  .floating-image-358 {
    bottom:0px;
    margin-bottom:auto;
    margin-top:auto;
    top:0px;
  }
  .box-361 {
    margin-left:auto;
    margin-right:auto;
  }
  .floating-image-363 {
    bottom:0px;
    margin-bottom:auto;
    margin-top:auto;
    top:0px;
  }
  .projects_title {
    margin-left:auto;
    margin-right:auto;
  }
  .carousel-315 > .iux-carousel-pager {
    text-align:center;
    visibility:visible;
  }
  .carousel-315 > .iux-carousel-prev,.carousel-315 > .iux-carousel-next {
    display:none;
  }
  .carousel-315 {
    margin-left:auto;
    margin-right:auto;
  }
  .text-140 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .text-147 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .profile_img {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .text-148 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .text-150 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .profile_img-146 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .text-159 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .text-161 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .profile_img-158 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .text-172 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .text-318 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .profile_img-170 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .text-184 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .text-186 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .profile_img-181 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .text-196 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .text-198 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .profile_img-194 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .text-207 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .text-209 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .profile_img-206 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .text-220 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .text-222 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .profile_img-218 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .text-232 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .text-234 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .profile_img-230 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .syllabus_title {
    margin-left:auto;
    margin-right:auto;
  }
  .box-57 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .box-396 {
    bottom:0px;
    left:0px;
    margin:auto;
    right:0px;
    top:0px;
  }
  .box-45 {
    bottom:0px;
    left:0px;
    margin:auto;
    right:0px;
    top:0px;
  }
  .box-400 {
    bottom:0px;
    margin-bottom:auto;
    margin-top:auto;
    top:0px;
  }
  .box-402 {
    bottom:0px;
    left:0px;
    margin:auto;
    right:0px;
    top:0px;
  }
  .box-403 {
    bottom:0px;
    left:0px;
    margin:auto;
    right:0px;
    top:0px;
  }
  .box-404 {
    bottom:0px;
    margin-bottom:auto;
    margin-top:auto;
    top:0px;
  }
  .box-406 {
    bottom:0px;
    left:0px;
    margin:auto;
    right:0px;
    top:0px;
  }
  .box-407 {
    bottom:0px;
    left:0px;
    margin:auto;
    right:0px;
    top:0px;
  }
  .box-408 {
    bottom:0px;
    margin-bottom:auto;
    margin-top:auto;
    top:0px;
  }
  .box-411 {
    bottom:0px;
    left:0px;
    margin:auto;
    right:0px;
    top:0px;
  }
  .box-412 {
    bottom:0px;
    left:0px;
    margin:auto;
    right:0px;
    top:0px;
  }
  .box-413 {
    bottom:0px;
    margin-bottom:auto;
    margin-top:auto;
    top:0px;
  }
  .box-416 {
    bottom:0px;
    left:0px;
    margin:auto;
    right:0px;
    top:0px;
  }
  .box-417 {
    bottom:0px;
    left:0px;
    margin:auto;
    right:0px;
    top:0px;
  }
  .box-418 {
    bottom:0px;
    margin-bottom:auto;
    margin-top:auto;
    top:0px;
  }
  .box-421 {
    bottom:0px;
    left:0px;
    margin:auto;
    right:0px;
    top:0px;
  }
  .box-422 {
    bottom:0px;
    left:0px;
    margin:auto;
    right:0px;
    top:0px;
  }
  .box-423 {
    bottom:0px;
    margin-bottom:auto;
    margin-top:auto;
    top:0px;
  }
  .box-426 {
    bottom:0px;
    left:0px;
    margin:auto;
    right:0px;
    top:0px;
  }
  .box-427 {
    bottom:0px;
    left:0px;
    margin:auto;
    right:0px;
    top:0px;
  }
  .box-428 {
    bottom:0px;
    margin-bottom:auto;
    margin-top:auto;
    top:0px;
  }
  .box-431 {
    bottom:0px;
    left:0px;
    margin:auto;
    right:0px;
    top:0px;
  }
  .box-432 {
    bottom:0px;
    left:0px;
    margin:auto;
    right:0px;
    top:0px;
  }
  .box-433 {
    bottom:0px;
    margin-bottom:auto;
    margin-top:auto;
    top:0px;
  }
  .box-436 {
    bottom:0px;
    left:0px;
    margin:auto;
    right:0px;
    top:0px;
  }
  .box-437 {
    bottom:0px;
    left:0px;
    margin:auto;
    right:0px;
    top:0px;
  }
  .box-438 {
    bottom:0px;
    margin-bottom:auto;
    margin-top:auto;
    top:0px;
  }
  .box-441 {
    bottom:0px;
    left:0px;
    margin:auto;
    right:0px;
    top:0px;
  }
  .box-442 {
    bottom:0px;
    left:0px;
    margin:auto;
    right:0px;
    top:0px;
  }
  .box-443 {
    bottom:0px;
    margin-bottom:auto;
    margin-top:auto;
    top:0px;
  }
  .box-446 {
    bottom:0px;
    left:0px;
    margin:auto;
    right:0px;
    top:0px;
  }
  .box-447 {
    bottom:0px;
    left:0px;
    margin:auto;
    right:0px;
    top:0px;
  }
  .box-448 {
    bottom:0px;
    margin-bottom:auto;
    margin-top:auto;
    top:0px;
  }
  .box-451 {
    bottom:0px;
    left:0px;
    margin:auto;
    right:0px;
    top:0px;
  }
  .box-452 {
    bottom:0px;
    left:0px;
    margin:auto;
    right:0px;
    top:0px;
  }
  .box-453 {
    bottom:0px;
    margin-bottom:auto;
    margin-top:auto;
    top:0px;
  }
  .box-456 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .relatedclasses_title {
    margin-left:auto;
    margin-right:auto;
  }
  .collection {
    margin-left:auto;
    margin-right:auto;
  }
  .footer {
    height:400px;
  }
  .import-460 {
    width:300px;
  }
  .import-361 {
    width:300px;
  }

}