.iu-center-box {
  width:960px;
}
.header {
  -webkit-box-shadow:0px 2px 0px 0px #DBDBDB;
  background-color:#FFFFFF;
  box-shadow:0px 2px 0px 0px #DBDBDB;
  color:#333333;
  float:none;
  height:60px;
  left:0px;
  min-width:960px;
  overflow:visible;
  position:fixed;
  top:0px;
  width:100%;
  z-index:10;
}
.page-content {
  background-color:#FFFFFF;
  padding-top:62px;
}
.Carousel_48 > .iux-carousel-next {
  background-image:url('/static/project/ar1.png');
  height:26px;
  right:-12px;
  top:235px;
  width:26px;
}
.Carousel_48 > .iux-carousel-pager {
  bottom:30px;
  text-align:center;
  visibility:visible;
}
.Carousel_48 > .iux-carousel-prev {
  background-image:url('/static/project/ar2.png');
  height:26px;
  left:-12px;
  top:235px;
  width:26px;
}
.Carousel_48 > .iux-carousel-pager > li:hover,.Carousel_48 > .iux-carousel-pager > li.iux-active {
  background-color:rgba(0,0,0,0.46);
}
.Carousel_48 > .iux-carousel-prev,.Carousel_48 > .iux-carousel-next {
  display:inherit;
}
.Carousel_48> .iux-carousel-pager > li {
  background-color:rgba(146,146,146,0.35);
  border-radius:4px;
  margin:4px;
  padding:4px;
}
.Carousel_48 {
  background-image:url('/static/project/160625_학부모설명회_대표이미지.jpg');
  float:none;
  height:480px;
  margin-left:auto;
  margin-right:auto;
  overflow:visible;
  position:relative;
  width:960px;
}
.CarouselItem_48 {
  background-image:url('/static/project/160625_학부모설명회_대표이미지.jpg');
  height:100%;
  position:relative;
}
.CarouselItem_48 > .iux-inner-link {
  position:relative;
}
.CarouselItem_49 {
  height:100%;
  position:relative;
}
.Box_54 {
  background-color:#B6B6B6;
  float:none;
  height:100%;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  width:100%;
}
.CarouselItem_50 {
  height:100%;
  position:relative;
}
.Box_59 {
  background-color:#0092FF;
  float:none;
  height:100%;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  position:relative;
  width:100%;
}
.section-48 {
  padding-bottom:80px;
  padding-top:60px;
}
.text-157 {
  color:#FA690A;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:34px;
  font-weight:700;
  letter-spacing:-0.2px;
  line-height:1;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:930px;
}
.cell {
  -webkit-transition:background-color 0.4s;
  background-color:#6D6D6D;
  border-radius:4px;
  color:#FFFFFF;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:700;
  height:36px;
  right:15px;
  text-align:center;
  top:0px;
  transition:background-color 0.4s;
  width:120px;
}
.cell.iux-hover, .cell.iux-active {
  background-color:#FA690A;
}
.cell > a {
  line-height:36px;
}
.box {
  border-radius:4px;
  float:none;
  margin-left:auto;
  margin-right:auto;
  margin-top:40px;
  position:relative;
  width:930px;
}
.cell-446 {
  background-color:#6D6D6D;
  color:#FFFFFF;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  height:44px;
  line-height:44px;
  position:relative;
  text-align:center;
  width:25%;
}
.cell-447 {
  background-color:#E6E6E6;
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  height:44px;
  line-height:44px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:25%;
}
.cell-448 {
  background-color:#E6E6E6;
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  height:44px;
  line-height:44px;
  position:relative;
  text-align:center;
  width:25%;
}
.cell-449 {
  background-color:#E6E6E6;
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  height:44px;
  line-height:44px;
  position:relative;
  text-align:center;
  width:25%;
}
.box-450 {
  border-bottom-width:2px;
  border-color:#E6E6E6;
  float:none;
  height:40px;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  position:relative;
  width:930px;
}
.text-451 {
  color:#929292;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  left:10px;
  text-align:center;
  top:12px;
  width:50px;
}
.text-453 {
  color:#929292;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  left:70px;
  text-align:center;
  top:12px;
  width:110px;
}
.text-452 {
  color:#929292;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  left:190px;
  top:12px;
  width:610px;
}
.text-454 {
  color:#929292;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  left:810px;
  text-align:center;
  top:12px;
  width:110px;
}
.box-455 {
  background-color:rgba(250,105,10,0.10);
  border-bottom-width:1px;
  border-color:#E6E6E6;
  float:none;
  height:40px;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  position:relative;
  width:930px;
}
.box-455.iux-hover, .box-455.iux-active {
  background-color:rgba(250,105,10,0.12);
}
.text-456 {
  color:#FA690A;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:400;
  left:10px;
  text-align:center;
  top:8px;
  width:50px;
}
.text-457 {
  color:#FA690A;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:400;
  left:70px;
  text-align:center;
  top:8px;
  width:110px;
}
.text-459 {
  color:#FA690A;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:400;
  left:190px;
  top:8px;
  width:610px;
}
.text-458 {
  color:#FA690A;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:400;
  left:810px;
  text-align:center;
  top:8px;
  width:110px;
}
.box-460.iux-hover, .box-460.iux-active {
  background-color:rgba(250,105,10,0.12);
}
.box-460 {
  background-color:rgba(250,105,10,0.10);
  border-bottom-width:1px;
  border-color:#E6E6E6;
  float:none;
  height:40px;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  position:relative;
  width:930px;
}
.text-461 {
  color:#FA690A;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:400;
  left:10px;
  text-align:center;
  top:8px;
  width:50px;
}
.text-462 {
  color:#FA690A;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:400;
  left:70px;
  text-align:center;
  top:8px;
  width:110px;
}
.text-463 {
  color:#FA690A;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:400;
  left:190px;
  top:8px;
  width:610px;
}
.text-464 {
  color:#FA690A;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:400;
  left:810px;
  text-align:center;
  top:8px;
  width:110px;
}
.collection-465 {
  float:none;
  height:410px;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  width:930px;
}
.import-468 {
  border-bottom-width:1px;
  border-color:#E6E6E6;
  height:40px;
  left:0px;
  position:relative;
  top:0px;
  width:930px;
}
.import-468.iux-hover, .import-468.iux-active {
  background-color:#FAFAFA;
}
.import-466.iux-hover, .import-466.iux-active {
  background-color:#FAFAFA;
}
.import-466 {
  border-bottom-width:1px;
  border-color:#E6E6E6;
  height:40px;
  left:0px;
  position:relative;
  top:0px;
  width:930px;
}
.import-467 {
  border-bottom-width:1px;
  border-color:#E6E6E6;
  height:40px;
  left:0px;
  position:relative;
  top:0px;
  width:930px;
}
.import-467.iux-hover, .import-467.iux-active {
  background-color:#FAFAFA;
}
.import-469 {
  border-bottom-width:1px;
  border-color:#E6E6E6;
  height:40px;
  left:0px;
  position:relative;
  top:0px;
  width:930px;
}
.import-469.iux-hover, .import-469.iux-active {
  background-color:#FAFAFA;
}
.import-478.iux-hover, .import-478.iux-active {
  background-color:#FAFAFA;
}
.import-478 {
  border-bottom-width:1px;
  border-color:#E6E6E6;
  height:40px;
  left:0px;
  position:relative;
  top:0px;
  width:930px;
}
.import-470 {
  border-bottom-width:1px;
  border-color:#E6E6E6;
  height:40px;
  left:0px;
  position:relative;
  top:0px;
  width:930px;
}
.import-470.iux-hover, .import-470.iux-active {
  background-color:#FAFAFA;
}
.import-479 {
  border-bottom-width:1px;
  border-color:#E6E6E6;
  height:40px;
  left:0px;
  position:relative;
  top:0px;
  width:930px;
}
.import-479.iux-hover, .import-479.iux-active {
  background-color:#FAFAFA;
}
.import-480.iux-hover, .import-480.iux-active {
  background-color:#FAFAFA;
}
.import-480 {
  border-bottom-width:1px;
  border-color:#E6E6E6;
  height:40px;
  left:0px;
  position:relative;
  top:0px;
  width:930px;
}
.import-481 {
  border-bottom-width:1px;
  border-color:#E6E6E6;
  height:40px;
  left:0px;
  position:relative;
  top:0px;
  width:930px;
}
.import-481.iux-hover, .import-481.iux-active {
  background-color:#FAFAFA;
}
.import-482 {
  border-bottom-width:1px;
  border-color:#E6E6E6;
  height:40px;
  left:0px;
  position:relative;
  top:0px;
  width:930px;
}
.import-482.iux-hover, .import-482.iux-active {
  background-color:#FAFAFA;
}
.pg-page-link-set > div {
  margin:auto;
  text-align:center;
}
.pg-page-link-set {
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  height:30px;
  margin-left:auto;
  margin-right:auto;
  margin-top:40px;
  position:relative;
  width:930px;
}
.pg-page-link-set > div > ul > a > li {
  background-color:rgba(250,105,10,0.10);
  display:block;
  height:30px;
  line-height:30px;
  margin-left:4px;
  margin-right:4px;
  width:30px;
}
.pg-page-link-set > div > ul {
  display:inline-block;
}
.section-268 {
  background-color:#FA690A;
  padding-bottom:80px;
  padding-top:60px;
}
.pg-form-270 {
  float:none;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:100%;
}
.text-88 {
  color:#FFFFFF;
  float:none;
  font-family:Bariol;
  font-size:36px;
  font-weight:700;
  line-height:1;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  text-align:center;
  width:100%;
}
.text-89 {
  color:#FFFFFF;
  float:none;
  font-family:Bariol;
  font-size:24px;
  letter-spacing:-0.2px;
  line-height:1;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:100%;
}
.text-271 {
  color:#FFFFFF;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  margin-left:15px;
  margin-top:40px;
  position:relative;
  width:465px;
}
.cell-272 {
  -webkit-transition:background-color 0.4s, color 0.4s;
  border-color:#FFFFFF;
  border-radius:4px;
  border-width:1px;
  color:#FFFFFF;
  float:right;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:700;
  height:30px;
  margin-right:15px;
  margin-top:48px;
  position:relative;
  right:0px;
  text-align:center;
  transition:background-color 0.4s, color 0.4s;
  width:148px;
}
.cell-272.iux-hover, .cell-272.iux-active {
  background-color:rgba(255,255,255,0.90);
  color:#FA690A;
}
.cell-272 > a {
  line-height:30px;
}
.svg-273 {
  border-radius:40px;
  float:right;
  height:40px;
  margin-right:12px;
  margin-top:44px;
  position:relative;
  right:0px;
  width:40px;
}
.cell-274 {
  -webkit-transition:background-color 0.4s, color 0.4s;
  border-color:#FFFFFF;
  border-radius:4px;
  border-width:1px;
  color:#FFFFFF;
  float:right;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:700;
  height:30px;
  margin-right:30px;
  margin-top:48px;
  position:relative;
  right:0px;
  text-align:center;
  transition:background-color 0.4s, color 0.4s;
  width:148px;
}
.cell-274 > a {
  line-height:30px;
}
.cell-274.iux-hover, .cell-274.iux-active {
  background-color:rgba(255,255,255,0.90);
  color:#FA690A;
}
.svg-275 {
  border-radius:40px;
  float:right;
  height:40px;
  margin-right:12px;
  margin-top:44px;
  position:relative;
  right:0px;
  width:40px;
}
.footer {
  background-color:#282828;
  height:300px;
  left:0px;
  position:relative;
  top:0px;
  width:100%;
}
.popup-login {
  background-color:#FFFFFF;
  border-radius:2px;
  height:422px;
  position:fixed;
  width:400px;
  z-index:100;
}
.popup-login-dimcolor {
  background-color:rgba(0,0,0,0.60);
  z-index:99;
}
.popup-login > .iux-popup-close-button {
  background-image:url('/static/project/btn_close.png');
  display:inherit;
  height:30px;
  position:absolute;
  right:12px;
  top:15px;
  width:30px;
}
.import-423 {
  left:0px;
  top:0px;
  width:400px;
}
.popup-findpw {
  background-color:#FFFFFF;
  border-radius:2px;
  height:522px;
  position:fixed;
  width:400px;
  z-index:100;
}
.popup-findpw > .iux-popup-close-button {
  background-image:url('/static/project/btn_close.png');
  display:inherit;
  height:30px;
  position:absolute;
  right:12px;
  top:15px;
  width:30px;
}
.popup-findpw-dimcolor {
  background-color:rgba(0,0,0,0.60);
  z-index:99;
}
.import-361 {
  width:400px;
}
@media screen and (max-width:959px) {
  .iu-center-box {
    width:320px;
  }
  .header {
    min-width:320px;
  }
  .Carousel_48 {
    margin-left:auto;
    margin-right:auto;
  }
  .Carousel_48 > .iux-carousel-pager {
    text-align:center;
    visibility:visible;
  }
  .Carousel_48 > .iux-carousel-prev,.Carousel_48 > .iux-carousel-next {
    display:none;
  }
  .CarouselItem_48 > .iux-inner-link {
    position:relative;
  }
  .Box_54 {
    margin-left:auto;
    margin-right:auto;
  }
  .Box_59 {
    margin-left:auto;
    margin-right:auto;
  }
  .text-157 {
    margin-left:auto;
    margin-right:auto;
  }
  .box {
    margin-left:auto;
    margin-right:auto;
  }
  .box-450 {
    margin-left:auto;
    margin-right:auto;
  }
  .box-455 {
    margin-left:auto;
    margin-right:auto;
  }
  .box-460 {
    margin-left:auto;
    margin-right:auto;
  }
  .collection-465 {
    margin-left:auto;
    margin-right:auto;
  }
  .pg-page-link-set {
    margin-left:auto;
    margin-right:auto;
  }
  .pg-page-link-set > div > ul > a > li {
    display:block;
  }
  .text-88 {
    margin-left:auto;
    margin-right:auto;
  }
  .text-89 {
    margin-left:auto;
    margin-right:auto;
  }
  .cell-272 {
    right:0px;
  }
  .svg-273 {
    right:0px;
  }
  .cell-274 {
    right:0px;
  }
  .svg-275 {
    right:0px;
  }
  .footer {
    height:400px;
  }
  .import-423 {
    width:300px;
  }
  .import-361 {
    width:300px;
  }

}