.iu-center-box {
  width:960px;
}
.header {
  -webkit-box-shadow:0px 2px 0px 0px #DBDBDB;
  background-color:#FFFFFF;
  box-shadow:0px 2px 0px 0px #DBDBDB;
  color:#333333;
  float:none;
  height:60px;
  left:0px;
  overflow:visible;
  position:fixed;
  top:0px;
  width:100%;
  z-index:11;
}
.page-content {
  background-color:#FFFFFF;
  padding-top:62px;
}
.section-433 {
  background-image:url('/static/project/dlab.jpg');
  background-position:center center;
  background-size:cover;
  height:540px;
}
.box-203 {
  background-color:rgba(0,0,0,0.20);
  background-image:url('/static/project/screen_effect.png');
  background-repeat:repeat;
  float:none;
  height:100%;
  left:0px;
  top:0px;
  width:100%;
}
.welcome_msg {
  bottom:0px;
  color:#FFFFFF;
  float:none;
  font-family:'Helvetica', sans-serif;
  font-size:52px;
  font-weight:700;
  height:70px;
  left:0px;
  letter-spacing:-0.2px;
  line-height:1.20;
  margin:auto;
  right:0px;
  text-align:center;
  top:0px;
  width:930px;
}
.section-436 {
  background-color:#FA690A;
  height:60px;
}
.section {
  padding-bottom:80px;
  padding-top:60px;
}
.positions_title {
  color:#FA690A;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:34px;
  font-weight:700;
  letter-spacing:-0.2px;
  line-height:1;
  margin-left:0px;
  margin-top:0px;
  padding-left:15px;
  padding-right:15px;
  position:relative;
  text-align:center;
  width:calc(100% - 30px);
  width:-moz-calc(100% - 30px);
  width:-webkit-calc(100% - 30px);
}
.box-488 {
  float:none;
  margin-left:auto;
  margin-right:auto;
  margin-top:40px;
  position:relative;
  width:950px;
}
.box-490 {
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:300;
  padding-left:10px;
  padding-right:10px;
  position:relative;
  width:calc(25% - 20px);
  width:-moz-calc(25% - 20px);
  width:-webkit-calc(25% - 20px);
}
.box-494 {
  background-image:url('/static/project/ex_project_3.jpg');
  background-size:cover;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  float:none;
  height:200px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
}
.cell-498 {
  border-color:#FFFFFF;
  border-radius:2px;
  border-width:1px;
  color:#FFFFFF;
  font-size:12px;
  padding-bottom:2px;
  padding-left:6px;
  padding-right:6px;
  padding-top:2px;
  right:10px;
  text-align:center;
  top:10px;
}
.box-502 {
  border-bottom-left-radius:2px;
  border-bottom-right-radius:2px;
  border-bottom-width:1px;
  border-color:#E6E6E6;
  border-left-width:1px;
  border-right-width:1px;
  float:none;
  margin-left:0px;
  margin-top:0px;
  overflow:visible;
  padding-bottom:30px;
  padding-left:15px;
  padding-right:15px;
  padding-top:30px;
  position:relative;
}
.box-506 {
  -webkit-transform:rotate(45deg);
  background-color:#FFFFFF;
  height:20px;
  left:30px;
  top:-5px;
  transform:rotate(45deg);
  width:20px;
}
.text-510 {
  color:#FA690A;
  float:none;
  font-size:20px;
  font-weight:700;
  position:relative;
}
.text-514 {
  color:#FA690A;
  float:none;
  font-size:12px;
  margin-left:0px;
  margin-top:2px;
  position:relative;
}
.text-518 {
  border-top-color:#E6E6E6;
  border-top-width:1px;
  float:none;
  margin-left:0px;
  margin-top:10px;
  padding-top:20px;
  position:relative;
}
.text-522 {
  color:#FA690A;
  float:none;
  font-size:12px;
  margin-left:0px;
  margin-top:12px;
  position:relative;
  text-align:right;
}
.box-501 {
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:300;
  margin-left:0px;
  margin-top:0px;
  padding-left:10px;
  padding-right:10px;
  position:relative;
  width:calc(25% - 20px);
  width:-moz-calc(25% - 20px);
  width:-webkit-calc(25% - 20px);
}
.box-503 {
  background-image:url('/static/project/ex_project_3.jpg');
  background-size:cover;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  float:none;
  height:200px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
}
.cell-504 {
  border-color:#FFFFFF;
  border-radius:2px;
  border-width:1px;
  color:#FFFFFF;
  font-size:12px;
  padding-bottom:2px;
  padding-left:6px;
  padding-right:6px;
  padding-top:2px;
  right:10px;
  text-align:center;
  top:10px;
}
.box-504 {
  border-bottom-left-radius:2px;
  border-bottom-right-radius:2px;
  border-bottom-width:1px;
  border-color:#E6E6E6;
  border-left-width:1px;
  border-right-width:1px;
  float:none;
  margin-left:0px;
  margin-top:0px;
  overflow:visible;
  padding-bottom:30px;
  padding-left:15px;
  padding-right:15px;
  padding-top:30px;
  position:relative;
}
.box-505 {
  -webkit-transform:rotate(45deg);
  background-color:#FFFFFF;
  height:20px;
  left:30px;
  top:-5px;
  transform:rotate(45deg);
  width:20px;
}
.text-506 {
  color:#FA690A;
  float:none;
  font-size:20px;
  font-weight:700;
  position:relative;
}
.text-507 {
  color:#FA690A;
  float:none;
  font-size:12px;
  margin-left:0px;
  margin-top:2px;
  position:relative;
}
.text-508 {
  border-top-color:#E6E6E6;
  border-top-width:1px;
  float:none;
  margin-left:0px;
  margin-top:10px;
  padding-top:20px;
  position:relative;
}
.text-509 {
  color:#FA690A;
  float:none;
  font-size:12px;
  margin-left:0px;
  margin-top:12px;
  position:relative;
  text-align:right;
}
.box-510 {
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:300;
  padding-left:10px;
  padding-right:10px;
  position:relative;
  width:calc(25% - 20px);
  width:-moz-calc(25% - 20px);
  width:-webkit-calc(25% - 20px);
}
.box-511 {
  background-image:url('/static/project/ex_project_3.jpg');
  background-size:cover;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  float:none;
  height:200px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
}
.cell-513 {
  border-color:#FFFFFF;
  border-radius:2px;
  border-width:1px;
  color:#FFFFFF;
  font-size:12px;
  padding-bottom:2px;
  padding-left:6px;
  padding-right:6px;
  padding-top:2px;
  right:10px;
  text-align:center;
  top:10px;
}
.box-512 {
  border-bottom-left-radius:2px;
  border-bottom-right-radius:2px;
  border-bottom-width:1px;
  border-color:#E6E6E6;
  border-left-width:1px;
  border-right-width:1px;
  float:none;
  margin-left:0px;
  margin-top:0px;
  overflow:visible;
  padding-bottom:30px;
  padding-left:15px;
  padding-right:15px;
  padding-top:30px;
  position:relative;
}
.box-514 {
  -webkit-transform:rotate(45deg);
  background-color:#FFFFFF;
  height:20px;
  left:30px;
  top:-5px;
  transform:rotate(45deg);
  width:20px;
}
.text-515 {
  color:#FA690A;
  float:none;
  font-size:20px;
  font-weight:700;
  position:relative;
}
.text-516 {
  color:#FA690A;
  float:none;
  font-size:12px;
  margin-left:0px;
  margin-top:2px;
  position:relative;
}
.text-517 {
  border-top-color:#E6E6E6;
  border-top-width:1px;
  float:none;
  margin-left:0px;
  margin-top:10px;
  padding-top:20px;
  position:relative;
}
.text-519 {
  color:#FA690A;
  float:none;
  font-size:12px;
  margin-left:0px;
  margin-top:12px;
  position:relative;
  text-align:right;
}
.box-519 {
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:300;
  padding-left:10px;
  padding-right:10px;
  position:relative;
  width:calc(25% - 20px);
  width:-moz-calc(25% - 20px);
  width:-webkit-calc(25% - 20px);
}
.box-520 {
  background-image:url('/static/project/ex_project_3.jpg');
  background-size:cover;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  float:none;
  height:200px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
}
.cell-522 {
  border-color:#FFFFFF;
  border-radius:2px;
  border-width:1px;
  color:#FFFFFF;
  font-size:12px;
  padding-bottom:2px;
  padding-left:6px;
  padding-right:6px;
  padding-top:2px;
  right:10px;
  text-align:center;
  top:10px;
}
.box-521 {
  border-bottom-left-radius:2px;
  border-bottom-right-radius:2px;
  border-bottom-width:1px;
  border-color:#E6E6E6;
  border-left-width:1px;
  border-right-width:1px;
  float:none;
  margin-left:0px;
  margin-top:0px;
  overflow:visible;
  padding-bottom:30px;
  padding-left:15px;
  padding-right:15px;
  padding-top:30px;
  position:relative;
}
.box-523 {
  -webkit-transform:rotate(45deg);
  background-color:#FFFFFF;
  height:20px;
  left:30px;
  top:-5px;
  transform:rotate(45deg);
  width:20px;
}
.text-524 {
  color:#FA690A;
  float:none;
  font-size:20px;
  font-weight:700;
  position:relative;
}
.text-525 {
  color:#FA690A;
  float:none;
  font-size:12px;
  margin-left:0px;
  margin-top:2px;
  position:relative;
}
.text-526 {
  border-top-color:#E6E6E6;
  border-top-width:1px;
  float:none;
  margin-left:0px;
  margin-top:10px;
  padding-top:20px;
  position:relative;
}
.text-527 {
  color:#FA690A;
  float:none;
  font-size:12px;
  margin-left:0px;
  margin-top:12px;
  position:relative;
  text-align:right;
}
.section-447 {
  background-image:url('/static/project/DM-110.jpg');
  background-size:cover;
  padding-bottom:80px;
  padding-top:60px;
}
.box-448 {
  background-color:rgba(0,0,0,0.20);
  background-image:url('/static/project/screen_effect.png');
  background-repeat:repeat;
  float:none;
  height:100%;
  left:0px;
  top:0px;
  width:100%;
}
.culture_title {
  color:#FA690A;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:34px;
  font-weight:700;
  letter-spacing:-0.2px;
  line-height:1;
  margin-left:0px;
  margin-top:0px;
  padding-left:15px;
  padding-right:15px;
  position:relative;
  text-align:center;
  width:calc(100% - 30px);
  width:-moz-calc(100% - 30px);
  width:-webkit-calc(100% - 30px);
}
.carousel {
  float:none;
  height:215px;
  margin-left:0px;
  margin-top:40px;
  position:relative;
}
.carousel > .iux-carousel-prev {
  background-image:url('/static/project/carousel_arL_M.png');
  height:40px;
  left:0px;
  top:0px;
  width:40px;
}
.carousel > .iux-carousel-next {
  background-image:url('/static/project/carousel_arR_M.png');
  height:40px;
  right:0px;
  top:0px;
  width:40px;
}
.carousel> .iux-carousel-pager > li {
  background-color:#FFFFFF;
  border-radius:6px;
  margin:6px;
  padding:6px;
}
.carousel > .iux-carousel-pager {
  bottom:40px;
  text-align:center;
  visibility:visible;
}
.carousel > .iux-carousel-pager > li:hover,.carousel > .iux-carousel-pager > li.iux-active {
  background-color:#FA690A;
}
.carousel > .iux-carousel-prev,.carousel > .iux-carousel-next {
  display:inherit;
}
.carousel-item {
  height:100%;
  position:relative;
}
.carousel-item-486 {
  height:100%;
  position:relative;
}
.carousel-item-485 {
  height:100%;
  position:relative;
}
.section-489 {
  padding-bottom:80px;
  padding-top:60px;
}
.benefits_title {
  color:#FA690A;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:34px;
  font-weight:700;
  letter-spacing:-0.2px;
  line-height:1;
  margin-left:0px;
  margin-top:0px;
  padding-left:15px;
  padding-right:15px;
  position:relative;
  text-align:center;
  width:calc(100% - 30px);
  width:-moz-calc(100% - 30px);
  width:-webkit-calc(100% - 30px);
}
.footer {
  background-color:#282828;
  height:300px;
  left:0px;
  position:relative;
  top:0px;
  width:100%;
}
.popup-login {
  background-color:#FFFFFF;
  border-radius:2px;
  height:422px;
  position:fixed;
  width:400px;
  z-index:100;
}
.popup-login-dimcolor {
  background-color:rgba(0,0,0,0.60);
  z-index:99;
}
.popup-login > .iux-popup-close-button {
  background-image:url('/static/project/btn_close.png');
  display:inherit;
  height:30px;
  position:absolute;
  right:12px;
  top:15px;
  width:30px;
}
.import {
  left:0px;
  top:0px;
  width:400px;
}
.popup-findpw {
  background-color:#FFFFFF;
  border-radius:2px;
  height:522px;
  position:fixed;
  width:400px;
  z-index:100;
}
.popup-findpw > .iux-popup-close-button {
  background-image:url('/static/project/btn_close.png');
  display:inherit;
  height:30px;
  position:absolute;
  right:12px;
  top:15px;
  width:30px;
}
.popup-findpw-dimcolor {
  background-color:rgba(0,0,0,0.60);
  z-index:99;
}
.import-361 {
  width:400px;
}