.iu-center-box {
  width:960px;
}
.header {
  -webkit-box-shadow:0px 2px 0px 0px #DBDBDB;
  background-color:#FFFFFF;
  box-shadow:0px 2px 0px 0px #DBDBDB;
  color:#333333;
  float:none;
  height:60px;
  left:0px;
  min-width:960px;
  overflow:visible;
  position:fixed;
  top:0px;
  width:100%;
  z-index:10;
}
.page-content {
  background-color:#FFFFFF;
  padding-top:62px;
}
.section-433 {
  background-image:url('/static/project/dlab.jpg');
  background-position:center center;
  background-size:cover;
  height:540px;
}
.box-203 {
  background-color:rgba(0,0,0,0.20);
  background-image:url('/static/project/screen_effect.png');
  background-repeat:repeat;
  float:none;
  height:100%;
  left:0px;
  top:0px;
  width:100%;
}
.position_name {
  bottom:0px;
  color:rgba(255,255,255,0.70);
  float:none;
  font-family:'Helvetica', sans-serif;
  font-size:52px;
  font-weight:700;
  height:70px;
  left:0px;
  letter-spacing:-0.2px;
  line-height:1.20;
  margin:auto;
  right:0px;
  text-align:center;
  top:0px;
  width:930px;
}
.section-436 {
  background-color:#FA690A;
  height:60px;
}
.section {
  padding-bottom:80px;
  padding-top:60px;
}
.positions_title {
  color:#FA690A;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:34px;
  font-weight:700;
  letter-spacing:-0.2px;
  line-height:1;
  margin-left:0px;
  margin-top:0px;
  padding-left:15px;
  padding-right:15px;
  position:relative;
  text-align:center;
  width:calc(100% - 30px);
  width:-moz-calc(100% - 30px);
  width:-webkit-calc(100% - 30px);
}
.text-308 {
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  margin-left:auto;
  margin-right:auto;
  margin-top:40px;
  position:relative;
  width:100.00%;
  width:calc(100% - 30px);
  width:-moz-calc(100% - 30px);
  width:-webkit-calc(100% - 30px);
}
.box {
  float:none;
  height:300px;
  margin-left:auto;
  margin-right:auto;
  margin-top:40px;
  position:relative;
  width:100.00px;
  width:calc(100% - 30px);
  width:-moz-calc(100% - 30px);
  width:-webkit-calc(100% - 30px);
}
.svg {
  height:172px;
  left:100px;
  top:60px;
  width:172px;
}
.svg-468 {
  float:none;
  height:172px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:60px;
  width:172px;
}
.svg-469 {
  height:172px;
  right:100px;
  top:60px;
  width:172px;
}
.footer {
  background-color:#282828;
  height:300px;
  left:0px;
  position:relative;
  top:0px;
  width:100%;
}
.popup-login {
  background-color:#FFFFFF;
  border-radius:2px;
  height:422px;
  position:fixed;
  width:400px;
  z-index:100;
}
.popup-login-dimcolor {
  background-color:rgba(0,0,0,0.60);
  z-index:99;
}
.popup-login > .iux-popup-close-button {
  background-image:url('/static/project/btn_close.png');
  display:inherit;
  height:30px;
  position:absolute;
  right:12px;
  top:15px;
  width:30px;
}
.import {
  left:0px;
  top:0px;
  width:400px;
}
.popup-findpw {
  background-color:#FFFFFF;
  border-radius:2px;
  height:522px;
  position:fixed;
  width:400px;
  z-index:100;
}
.popup-findpw > .iux-popup-close-button {
  background-image:url('/static/project/btn_close.png');
  display:inherit;
  height:30px;
  position:absolute;
  right:12px;
  top:15px;
  width:30px;
}
.popup-findpw-dimcolor {
  background-color:rgba(0,0,0,0.60);
  z-index:99;
}
.import-361 {
  width:400px;
}
@media screen and (max-width:959px) {
  .iu-center-box {
    width:320px;
  }
  .header {
    min-width:320px;
  }
  .section-433 {
    height:240px;
  }
  .box-203 {
    left:0px;
    top:0px;
  }
  .position_name {
    bottom:0px;
    color:rgba(255,255,255,0.70);
    font-size:32px;
    height:80px;
    left:0px;
    margin:auto;
    right:0px;
    top:0px;
    width:320px;
  }
  .positions_title {
    font-size:28px;
  }
  .text-308 {
    margin-left:auto;
    margin-right:auto;
    margin-top:40px;
  }
  .box {
    margin-left:auto;
    margin-right:auto;
    margin-top:40px;
  }
  .svg-468 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .svg-469 {
    right:100px;
    top:60px;
  }
  .footer {
    height:400px;
  }
  .popup-login {
    width:300px;
  }
  .import {
    width:300px;
  }
  .popup-findpw {
    width:300px;
  }
  .import-361 {
    width:300px;
  }

}