.iu-center-box {
  width:960px;
}
.header {
  -webkit-box-shadow:0px 2px 0px 0px #DBDBDB;
  background-color:#FFFFFF;
  box-shadow:0px 2px 0px 0px #DBDBDB;
  color:#333333;
  float:none;
  height:60px;
  left:0px;
  min-width:960px;
  overflow:visible;
  position:fixed;
  top:0px;
  width:100%;
  z-index:10;
}
.page-content {
  background-color:#FFFFFF;
  padding-top:62px;
}
.center-box {
  border-bottom-width:1px;
  border-color:#FA690A;
  border-style:dashed;
  padding-bottom:80px;
  padding-top:60px;
}
.text-633 {
  color:#FA690A;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:20px;
  font-weight:700;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  text-align:center;
  width:100%;
}
.text-28 {
  color:#323232;
  display:none;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:400;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  text-align:center;
  width:100%;
}
.box-41 {
  float:none;
  height:30px;
  margin-left:auto;
  margin-right:auto;
  margin-top:40px;
  position:relative;
  width:680px;
}
.pg-check-box-42 {
  float:none;
  height:12px;
  left:0px;
  top:8px;
  width:12px;
}
.text-43 {
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:400;
  height:30px;
  left:24px;
  top:0px;
}
.svg-244 {
  height:0px;
  left:8px;
  top:15px;
  width:0px;
}
.box-33 {
  float:none;
  height:30px;
  margin-left:auto;
  margin-right:auto;
  margin-top:12px;
  position:relative;
  width:680px;
}
.pg-check-box {
  float:none;
  height:12px;
  left:0px;
  top:8px;
  width:12px;
}
.text-35 {
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:400;
  height:30px;
  left:24px;
  top:0px;
}
.text-29 {
  background-color:#FFFFFF;
  border-color:#E6E6E6;
  border-radius:2px;
  border-width:1px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:300;
  height:100px;
  margin-left:auto;
  margin-right:auto;
  margin-top:4px;
  overflow:auto;
  padding:15px;
  position:relative;
  width:648px;
}
.box-35 {
  float:none;
  height:30px;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  position:relative;
  width:680px;
}
.pg-check-box-36 {
  float:none;
  height:12px;
  left:0px;
  top:8px;
  width:12px;
}
.text-37 {
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:400;
  height:30px;
  left:24px;
  top:0px;
}
.text-30 {
  background-color:#FFFFFF;
  border-color:#E6E6E6;
  border-radius:2px;
  border-width:1px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:300;
  height:100px;
  margin-left:auto;
  margin-right:auto;
  margin-top:4px;
  overflow:auto;
  padding:15px;
  position:relative;
  width:648px;
}
.box-38 {
  float:none;
  height:30px;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  position:relative;
  width:680px;
}
.pg-check-box-40 {
  float:none;
  height:12px;
  left:0px;
  top:8px;
  width:12px;
}
.text-39 {
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:400;
  height:30px;
  left:24px;
  top:0px;
}
.text-31 {
  background-color:#FFFFFF;
  border-color:#E6E6E6;
  border-radius:2px;
  border-width:1px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:300;
  height:100px;
  margin-left:auto;
  margin-right:auto;
  margin-top:4px;
  overflow:auto;
  padding:15px;
  position:relative;
  width:648px;
}
.form_register {
  float:none;
  position:relative;
}
.center-box-46 {
  border-bottom-width:1px;
  border-color:#FA690A;
  border-style:dashed;
  padding-bottom:80px;
  padding-top:60px;
}
.text-49 {
  color:#FA690A;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:20px;
  font-weight:700;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  text-align:center;
  width:100%;
}
.box-65 {
  border-radius:2px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  margin-left:auto;
  margin-right:auto;
  margin-top:40px;
  position:relative;
  width:680px;
}
.text-66 {
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:20px;
  margin-left:0px;
  margin-top:6px;
  position:relative;
  width:150px;
}
.membername {
  background-color:#FFFFFF;
  border-color:#E6E6E6;
  border-radius:2px;
  border-width:1px;
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:30px;
  margin-left:10px;
  margin-top:0px;
  padding-left:8px;
  padding-right:8px;
  position:relative;
  width:200px;
}
.box-62 {
  border-radius:2px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  position:relative;
  width:680px;
}
.text-63 {
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:20px;
  margin-left:0px;
  margin-top:6px;
  position:relative;
  width:150px;
}
.pg-text-field-64 {
  background-color:#FFFFFF;
  border-color:#E6E6E6;
  border-radius:2px;
  border-width:1px;
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:30px;
  margin-left:10px;
  padding-left:8px;
  padding-right:8px;
  position:relative;
  width:200px;
}
.box-59 {
  border-radius:2px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  position:relative;
  width:680px;
}
.text-60 {
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:20px;
  margin-left:0px;
  margin-top:6px;
  position:relative;
  width:150px;
}
.pg-text-field-61 {
  background-color:#FFFFFF;
  border-color:#E6E6E6;
  border-radius:2px;
  border-width:1px;
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:30px;
  margin-left:10px;
  padding-left:8px;
  padding-right:8px;
  position:relative;
  width:200px;
}
.text-68 {
  color:#FA690A;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:12px;
  font-weight:300;
  height:20px;
  margin-left:12px;
  margin-top:6px;
  position:relative;
  width:290px;
}
.box-56 {
  border-radius:2px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  position:relative;
  width:680px;
}
.text-57 {
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:20px;
  margin-left:0px;
  margin-top:6px;
  position:relative;
  width:150px;
}
.pg-text-field-58 {
  background-color:#FFFFFF;
  border-color:#E6E6E6;
  border-radius:2px;
  border-width:1px;
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:30px;
  margin-left:10px;
  margin-top:0px;
  padding-left:8px;
  padding-right:8px;
  position:relative;
  width:200px;
}
.text-69 {
  color:#FA690A;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:12px;
  font-weight:300;
  height:20px;
  margin-left:12px;
  margin-top:6px;
  position:relative;
  width:290px;
}
.box-53 {
  border-radius:2px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  position:relative;
  width:680px;
}
.text-54 {
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:20px;
  margin-left:0px;
  margin-top:6px;
  position:relative;
  width:150px;
}
.pg-text-field-55 {
  background-color:#FFFFFF;
  border-color:#E6E6E6;
  border-radius:2px;
  border-width:1px;
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:30px;
  margin-left:10px;
  margin-top:0px;
  padding-left:8px;
  padding-right:8px;
  position:relative;
  width:200px;
}
.text-70 {
  color:#FA690A;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:12px;
  font-weight:300;
  height:20px;
  margin-left:12px;
  margin-top:6px;
  position:relative;
  width:290px;
}
.box-50 {
  border-radius:2px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  position:relative;
  width:680px;
}
.text-52 {
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:20px;
  margin-left:0px;
  margin-top:6px;
  position:relative;
  width:150px;
}
.pg-text-field {
  background-color:#FFFFFF;
  border-color:#E6E6E6;
  border-radius:2px;
  border-width:1px;
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:30px;
  margin-left:10px;
  margin-top:0px;
  padding-left:8px;
  padding-right:8px;
  position:relative;
  width:502px;
}
.box-629 {
  border-radius:2px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  position:relative;
  width:680px;
}
.text-631 {
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:20px;
  margin-left:0px;
  margin-top:6px;
  position:relative;
  width:150px;
}
.pg-select-632 {
  background-color:#FFFFFF;
  border-color:#DBDBDB;
  border-radius:2px;
  border-width:1px;
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  height:32px;
  margin-left:10px;
  margin-top:0px;
  position:relative;
  width:218px;
}
.pg-text-field-632 {
  background-color:#FFFFFF;
  border-color:#E6E6E6;
  border-radius:2px;
  border-width:1px;
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:30px;
  margin-left:12px;
  margin-top:0px;
  padding-left:8px;
  padding-right:8px;
  position:relative;
  width:272px;
}
.box-331 {
  border-radius:2px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  position:relative;
  width:680px;
}
.text-332 {
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:20px;
  margin-left:0px;
  margin-top:6px;
  position:relative;
  width:150px;
}
.pg-select-333 {
  background-color:#FFFFFF;
  border-color:#DBDBDB;
  border-radius:2px;
  border-width:1px;
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  height:32px;
  margin-left:10px;
  margin-top:0px;
  position:relative;
  width:218px;
}
.text-335 {
  color:#FA690A;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:12px;
  font-weight:300;
  height:20px;
  margin-left:12px;
  margin-top:6px;
  position:relative;
  width:290px;
}
.box-105 {
  border-radius:2px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  position:relative;
  width:680px;
}
.text-106 {
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:20px;
  margin-left:0px;
  margin-top:6px;
  position:relative;
  width:350px;
}
.pg-select {
  background-color:#FFFFFF;
  border-color:#DBDBDB;
  border-radius:2px;
  border-width:1px;
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  height:32px;
  margin-left:28px;
  margin-top:0px;
  position:relative;
  width:160px;
}
.pg-text-field-631 {
  background-color:#FFFFFF;
  border-color:#E6E6E6;
  border-radius:2px;
  border-width:1px;
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:30px;
  margin-left:10px;
  margin-top:0px;
  padding-left:8px;
  padding-right:8px;
  position:relative;
  width:114px;
}
.box-622 {
  border-radius:2px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  position:relative;
  width:680px;
}
.text-623 {
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:42px;
  margin-left:0px;
  margin-top:6px;
  position:relative;
  width:350px;
}
.pg-select-624 {
  background-color:#FFFFFF;
  border-color:#DBDBDB;
  border-radius:2px;
  border-width:1px;
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  height:32px;
  margin-left:28px;
  margin-top:0px;
  position:relative;
  width:160px;
}
.pg-text-field-633 {
  background-color:#FFFFFF;
  border-color:#E6E6E6;
  border-radius:2px;
  border-width:1px;
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:30px;
  margin-left:10px;
  margin-top:0px;
  padding-left:8px;
  padding-right:8px;
  position:relative;
  width:114px;
}
.center-box-346 {
  padding-bottom:60px;
  padding-top:60px;
}
.text-347 {
  color:#FA690A;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:20px;
  font-weight:700;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  text-align:center;
  width:100%;
}
.text-346 {
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:300;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  position:relative;
  text-align:center;
  width:100%;
}
.center-box-135 {
  border-color:#B6B6B6;
  border-style:dashed;
  border-top-width:1px;
  padding-bottom:80px;
  padding-top:60px;
}
.collapsible-136 {
  float:none;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:960px;
}
.collapsible-header-138 {
  height:80px;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  position:relative;
  width:200px;
}
.collapsible-header-item-140 {
  height:100%;
  width:100%;
}
.text-143 {
  color:#6D6D6D;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:20px;
  font-weight:700;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:100%;
}
.svg {
  float:none;
  height:40px;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
  position:relative;
  width:40px;
}
.collapsible-header-item-146 {
  display:none;
  height:100%;
  width:100%;
}
.text-180 {
  color:#FA690A;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:20px;
  font-weight:700;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:100%;
}
.svg-148 {
  float:none;
  height:40px;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
  position:relative;
  width:40px;
}
.collapsible-content-139 {
  display:none;
  position:relative;
}
.box-141 {
  border-radius:2px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:32px;
  margin-left:auto;
  margin-right:auto;
  margin-top:40px;
  position:relative;
  width:680px;
}
.text-145 {
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  margin-left:0px;
  margin-top:6px;
  position:relative;
  width:150px;
}
.pg-text-field-146 {
  background-color:#FFFFFF;
  border-color:#E6E6E6;
  border-radius:2px;
  border-width:1px;
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:30px;
  margin-left:10px;
  padding-left:8px;
  padding-right:8px;
  position:relative;
  width:200px;
}
.box-146 {
  border-radius:2px;
  color:#323232;
  display:none;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:32px;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  position:relative;
  width:680px;
}
.text-147 {
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:20px;
  margin-left:0px;
  margin-top:6px;
  position:relative;
  width:150px;
}
.pg-text-field-148 {
  background-color:#FFFFFF;
  border-color:#E6E6E6;
  border-radius:2px;
  border-width:1px;
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:30px;
  margin-left:10px;
  margin-top:0px;
  padding-left:8px;
  padding-right:8px;
  position:relative;
  width:200px;
}
.text-149 {
  color:#FA690A;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:12px;
  font-weight:300;
  height:20px;
  margin-left:12px;
  margin-top:6px;
  position:relative;
  width:290px;
}
.box-150 {
  border-radius:2px;
  color:#323232;
  display:none;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:32px;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  position:relative;
  width:680px;
}
.text-151 {
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:20px;
  margin-left:0px;
  margin-top:6px;
  position:relative;
  width:150px;
}
.pg-text-field-152 {
  background-color:#FFFFFF;
  border-color:#E6E6E6;
  border-radius:2px;
  border-width:1px;
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:30px;
  margin-left:10px;
  margin-top:0px;
  padding-left:8px;
  padding-right:8px;
  position:relative;
  width:200px;
}
.text-153 {
  color:#FA690A;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:12px;
  font-weight:300;
  height:20px;
  margin-left:12px;
  margin-top:6px;
  position:relative;
  width:290px;
}
.box-154 {
  border-radius:2px;
  color:#323232;
  display:none;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:32px;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  position:relative;
  width:680px;
}
.text-155 {
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:20px;
  margin-left:0px;
  margin-top:6px;
  position:relative;
  width:150px;
}
.pg-text-field-156 {
  background-color:#FFFFFF;
  border-color:#E6E6E6;
  border-radius:2px;
  border-width:1px;
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:30px;
  margin-left:10px;
  padding-left:8px;
  padding-right:8px;
  position:relative;
  width:200px;
}
.text-157 {
  color:#FA690A;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:12px;
  font-weight:300;
  height:20px;
  margin-left:12px;
  margin-top:6px;
  position:relative;
  width:290px;
}
.box-158 {
  border-radius:2px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:32px;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  position:relative;
  width:680px;
}
.text-159 {
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  margin-left:0px;
  margin-top:6px;
  position:relative;
  width:150px;
}
.pg-radio-button {
  float:left;
  height:32px;
  margin-left:10px;
  position:relative;
  width:24px;
}
.text-162 {
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  height:20px;
  margin-left:5px;
  margin-top:6px;
  position:relative;
  width:75px;
}
.pg-radio-button-162 {
  float:left;
  height:32px;
  margin-left:10px;
  position:relative;
  width:24px;
}
.text-163 {
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  height:20px;
  margin-left:5px;
  margin-top:6px;
  position:relative;
  width:75px;
}
.box-164 {
  border-radius:2px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:32px;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  position:relative;
  width:680px;
}
.text-165 {
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  margin-left:0px;
  margin-top:6px;
  position:relative;
  width:150px;
}
.pg-text-field-166 {
  background-color:#FFFFFF;
  border-color:#E6E6E6;
  border-radius:2px;
  border-width:1px;
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:30px;
  margin-left:10px;
  margin-top:0px;
  padding-left:8px;
  padding-right:8px;
  position:relative;
  width:200px;
}
.box-168 {
  border-radius:2px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:32px;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  position:relative;
  width:680px;
}
.text-169 {
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  margin-left:0px;
  margin-top:6px;
  position:relative;
  width:150px;
}
.pg-select-346 {
  background-color:#FFFFFF;
  border-color:#DBDBDB;
  border-radius:2px;
  border-width:1px;
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  height:32px;
  margin-left:10px;
  position:relative;
  width:78px;
}
.pg-select-347 {
  background-color:#FFFFFF;
  border-color:#DBDBDB;
  border-radius:2px;
  border-width:1px;
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  height:32px;
  margin-left:10px;
  position:relative;
  width:60px;
}
.pg-select-348 {
  background-color:#FFFFFF;
  border-color:#DBDBDB;
  border-radius:2px;
  border-width:1px;
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  height:32px;
  margin-left:10px;
  margin-top:0px;
  position:relative;
  width:60px;
}
.box-174 {
  border-radius:2px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  position:relative;
  width:680px;
}
.text-177 {
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  margin-top:6px;
  position:relative;
  width:100%;
}
.pg-text-view {
  background-color:#FFFFFF;
  border-color:#E6E6E6;
  border-radius:2px;
  border-width:1px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:80px;
  line-height:1.30;
  margin-left:0px;
  margin-top:12px;
  padding:8px;
  position:relative;
  text-align:left;
  width:662px;
}
.box-670 {
  border-radius:2px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  position:relative;
  width:680px;
}
.text-671 {
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  margin-top:6px;
  position:relative;
  width:100%;
}
.pg-text-view-672 {
  background-color:#FFFFFF;
  border-color:#E6E6E6;
  border-radius:2px;
  border-width:1px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:80px;
  line-height:1.30;
  margin-left:0px;
  margin-top:12px;
  padding:8px;
  position:relative;
  text-align:left;
  width:662px;
}
.center-box-247 {
  border-color:#B6B6B6;
  border-style:dashed;
  border-top-width:1px;
  padding-bottom:80px;
  padding-top:60px;
}
.collapsible {
  float:none;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:960px;
}
.collapsible-header {
  height:80px;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  position:relative;
  width:200px;
}
.collapsible-header-item {
  height:100%;
  width:100%;
}
.text-254 {
  color:#6D6D6D;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:20px;
  font-weight:700;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:100%;
}
.svg-255 {
  float:none;
  height:40px;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
  position:relative;
  width:40px;
}
.collapsible-header-item-258 {
  display:none;
  height:100%;
  width:100%;
}
.text-260 {
  color:#FA690A;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:20px;
  font-weight:700;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:100%;
}
.svg-260 {
  float:none;
  height:40px;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
  position:relative;
  width:40px;
}
.collapsible-content {
  display:none;
  position:relative;
}
.box {
  border-radius:2px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:32px;
  margin-left:auto;
  margin-right:auto;
  margin-top:40px;
  position:relative;
  width:680px;
}
.text-256 {
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  margin-left:0px;
  margin-top:6px;
  position:relative;
  width:150px;
}
.pg-text-field-258 {
  background-color:#FFFFFF;
  border-color:#E6E6E6;
  border-radius:2px;
  border-width:1px;
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:30px;
  margin-left:10px;
  padding-left:8px;
  padding-right:8px;
  position:relative;
  width:200px;
}
.box-253 {
  border-radius:2px;
  color:#323232;
  display:none;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:32px;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  position:relative;
  width:680px;
}
.text-257 {
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:20px;
  margin-left:0px;
  margin-top:6px;
  position:relative;
  width:150px;
}
.pg-text-field-259 {
  background-color:#FFFFFF;
  border-color:#E6E6E6;
  border-radius:2px;
  border-width:1px;
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:30px;
  margin-left:10px;
  padding-left:8px;
  padding-right:8px;
  position:relative;
  width:200px;
}
.text-261 {
  color:#FA690A;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:12px;
  font-weight:300;
  height:20px;
  margin-left:12px;
  margin-top:6px;
  position:relative;
  width:290px;
}
.box-260 {
  border-radius:2px;
  color:#323232;
  display:none;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:32px;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  position:relative;
  width:680px;
}
.text-262 {
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:20px;
  margin-left:0px;
  margin-top:6px;
  position:relative;
  width:150px;
}
.pg-text-field-264 {
  background-color:#FFFFFF;
  border-color:#E6E6E6;
  border-radius:2px;
  border-width:1px;
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:30px;
  margin-left:10px;
  padding-left:8px;
  padding-right:8px;
  position:relative;
  width:200px;
}
.text-266 {
  color:#FA690A;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:12px;
  font-weight:300;
  height:20px;
  margin-left:12px;
  margin-top:6px;
  position:relative;
  width:290px;
}
.box-263 {
  border-radius:2px;
  color:#323232;
  display:none;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:32px;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  position:relative;
  width:680px;
}
.text-265 {
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:20px;
  margin-left:0px;
  margin-top:6px;
  position:relative;
  width:150px;
}
.pg-text-field-267 {
  background-color:#FFFFFF;
  border-color:#E6E6E6;
  border-radius:2px;
  border-width:1px;
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:30px;
  margin-left:10px;
  padding-left:8px;
  padding-right:8px;
  position:relative;
  width:200px;
}
.text-269 {
  color:#FA690A;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:12px;
  font-weight:300;
  height:20px;
  margin-left:12px;
  margin-top:6px;
  position:relative;
  width:290px;
}
.box-268 {
  border-radius:2px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:32px;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  position:relative;
  width:680px;
}
.text-270 {
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  margin-left:0px;
  margin-top:6px;
  position:relative;
  width:150px;
}
.pg-radio-button-272 {
  float:left;
  height:32px;
  margin-left:10px;
  position:relative;
  width:24px;
}
.text-274 {
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  height:20px;
  margin-left:5px;
  margin-top:6px;
  position:relative;
  width:75px;
}
.pg-radio-button-276 {
  float:left;
  height:32px;
  margin-left:10px;
  position:relative;
  width:24px;
}
.text-278 {
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  height:20px;
  margin-left:5px;
  margin-top:6px;
  position:relative;
  width:75px;
}
.box-271 {
  border-radius:2px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:32px;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  position:relative;
  width:680px;
}
.text-273 {
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  margin-left:0px;
  margin-top:6px;
  position:relative;
  width:150px;
}
.pg-text-field-275 {
  background-color:#FFFFFF;
  border-color:#E6E6E6;
  border-radius:2px;
  border-width:1px;
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:30px;
  margin-left:10px;
  margin-top:0px;
  padding-left:8px;
  padding-right:8px;
  position:relative;
  width:200px;
}
.box-277 {
  border-radius:2px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:32px;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  position:relative;
  width:680px;
}
.text-285 {
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  margin-left:0px;
  margin-top:6px;
  position:relative;
  width:150px;
}
.pg-select-283 {
  background-color:#FFFFFF;
  border-color:#DBDBDB;
  border-radius:2px;
  border-width:1px;
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  height:32px;
  margin-left:10px;
  position:relative;
  width:78px;
}
.pg-select-281 {
  background-color:#FFFFFF;
  border-color:#DBDBDB;
  border-radius:2px;
  border-width:1px;
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  height:32px;
  margin-left:10px;
  position:relative;
  width:60px;
}
.pg-select-279 {
  background-color:#FFFFFF;
  border-color:#DBDBDB;
  border-radius:2px;
  border-width:1px;
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  height:32px;
  margin-left:10px;
  position:relative;
  width:60px;
}
.carousel-287 > .iux-carousel-prev {
  background-image:url('/static/project/clip_ic_mono_arLeft.png');
  height:128px;
  left:0px;
  top:0px;
  width:128px;
}
.carousel-287 > .iux-carousel-pager > li:hover,.carousel-287 > .iux-carousel-pager > li.iux-active {
  background-color:#000000;
}
.carousel-287 > .iux-carousel-prev,.carousel-287 > .iux-carousel-next {
  display:inherit;
}
.carousel-287 {
  height:0px;
  left:214px;
  top:15px;
  width:0px;
}
.carousel-287 > .iux-carousel-next {
  background-image:url('/static/project/clip_ic_mono_arRight.png');
  height:128px;
  right:0px;
  top:0px;
  width:128px;
}
.carousel-287> .iux-carousel-pager > li {
  background-color:#929292;
  border-radius:6px;
  margin:6px;
  padding:6px;
}
.carousel-287 > .iux-carousel-pager {
  bottom:40px;
  text-align:center;
  visibility:visible;
}
.carousel-item-288 {
  height:100%;
  position:relative;
}
.carousel-item-289 {
  height:100%;
  position:relative;
}
.carousel-item-290 {
  height:100%;
  position:relative;
}
.box-280 {
  border-radius:2px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  position:relative;
  width:680px;
}
.text-282 {
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  margin-top:6px;
  position:relative;
  width:100%;
}
.pg-text-view-284 {
  background-color:#FFFFFF;
  border-color:#E6E6E6;
  border-radius:2px;
  border-width:1px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:80px;
  line-height:1.30;
  margin-left:0px;
  margin-top:12px;
  padding:8px;
  position:relative;
  text-align:left;
  width:662px;
}
.box-673 {
  border-radius:2px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  position:relative;
  width:680px;
}
.text-674 {
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  margin-top:6px;
  position:relative;
  width:100%;
}
.pg-text-view-675 {
  background-color:#FFFFFF;
  border-color:#E6E6E6;
  border-radius:2px;
  border-width:1px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:80px;
  line-height:1.30;
  margin-left:0px;
  margin-top:12px;
  padding:8px;
  position:relative;
  text-align:left;
  width:662px;
}
.center-box-294 {
  border-color:#B6B6B6;
  border-style:dashed;
  border-top-width:1px;
  padding-bottom:80px;
  padding-top:60px;
}
.collapsible-295 {
  float:none;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:960px;
}
.collapsible-header-296 {
  height:80px;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  position:relative;
  width:200px;
}
.collapsible-header-item-298 {
  height:100%;
  width:100%;
}
.text-300 {
  color:#6D6D6D;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:20px;
  font-weight:700;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:100%;
}
.svg-302 {
  float:none;
  height:40px;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
  position:relative;
  width:40px;
}
.collapsible-header-item-305 {
  display:none;
  height:100%;
  width:100%;
}
.text-338 {
  color:#FA690A;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:20px;
  font-weight:700;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:100%;
}
.svg-307 {
  float:none;
  height:40px;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
  position:relative;
  width:40px;
}
.collapsible-content-297 {
  display:none;
  position:relative;
}
.box-301 {
  border-radius:2px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:32px;
  margin-left:auto;
  margin-right:auto;
  margin-top:40px;
  position:relative;
  width:680px;
}
.text-304 {
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  margin-left:0px;
  margin-top:6px;
  position:relative;
  width:150px;
}
.pg-text-field-306 {
  background-color:#FFFFFF;
  border-color:#E6E6E6;
  border-radius:2px;
  border-width:1px;
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:30px;
  margin-left:10px;
  padding-left:8px;
  padding-right:8px;
  position:relative;
  width:200px;
}
.box-299 {
  border-radius:2px;
  color:#323232;
  display:none;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:32px;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  position:relative;
  width:680px;
}
.text-303 {
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:20px;
  margin-left:0px;
  margin-top:6px;
  position:relative;
  width:150px;
}
.pg-text-field-305 {
  background-color:#FFFFFF;
  border-color:#E6E6E6;
  border-radius:2px;
  border-width:1px;
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:30px;
  margin-left:10px;
  padding-left:8px;
  padding-right:8px;
  position:relative;
  width:200px;
}
.text-307 {
  color:#FA690A;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:12px;
  font-weight:300;
  height:20px;
  margin-left:12px;
  margin-top:6px;
  position:relative;
  width:290px;
}
.box-308 {
  border-radius:2px;
  color:#323232;
  display:none;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:32px;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  position:relative;
  width:680px;
}
.text-310 {
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:20px;
  margin-left:0px;
  margin-top:6px;
  position:relative;
  width:150px;
}
.pg-text-field-312 {
  background-color:#FFFFFF;
  border-color:#E6E6E6;
  border-radius:2px;
  border-width:1px;
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:30px;
  margin-left:10px;
  margin-top:0px;
  padding-left:8px;
  padding-right:8px;
  position:relative;
  width:200px;
}
.text-314 {
  color:#FA690A;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:12px;
  font-weight:300;
  height:20px;
  margin-left:12px;
  margin-top:6px;
  position:relative;
  width:290px;
}
.box-309 {
  border-radius:2px;
  color:#323232;
  display:none;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:32px;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  position:relative;
  width:680px;
}
.text-311 {
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:20px;
  margin-left:0px;
  margin-top:6px;
  position:relative;
  width:150px;
}
.pg-text-field-313 {
  background-color:#FFFFFF;
  border-color:#E6E6E6;
  border-radius:2px;
  border-width:1px;
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:30px;
  margin-left:10px;
  padding-left:8px;
  padding-right:8px;
  position:relative;
  width:200px;
}
.text-315 {
  color:#FA690A;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:12px;
  font-weight:300;
  height:20px;
  margin-left:12px;
  margin-top:6px;
  position:relative;
  width:290px;
}
.box-316 {
  border-radius:2px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:32px;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  position:relative;
  width:680px;
}
.text-318 {
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  margin-left:0px;
  margin-top:6px;
  position:relative;
  width:150px;
}
.pg-radio-button-320 {
  float:left;
  height:32px;
  margin-left:10px;
  position:relative;
  width:24px;
}
.text-322 {
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  height:20px;
  margin-left:5px;
  margin-top:6px;
  position:relative;
  width:75px;
}
.pg-radio-button-324 {
  float:left;
  height:32px;
  margin-left:10px;
  position:relative;
  width:24px;
}
.text-326 {
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  height:20px;
  margin-left:5px;
  margin-top:6px;
  position:relative;
  width:75px;
}
.box-317 {
  border-radius:2px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:32px;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  position:relative;
  width:680px;
}
.text-319 {
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  margin-left:0px;
  margin-top:6px;
  position:relative;
  width:150px;
}
.pg-text-field-321 {
  background-color:#FFFFFF;
  border-color:#E6E6E6;
  border-radius:2px;
  border-width:1px;
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:30px;
  margin-left:10px;
  margin-top:0px;
  padding-left:8px;
  padding-right:8px;
  position:relative;
  width:200px;
}
.box-323 {
  border-radius:2px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:32px;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  position:relative;
  width:680px;
}
.text-331 {
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  margin-left:0px;
  margin-top:6px;
  position:relative;
  width:150px;
}
.pg-select-350 {
  background-color:#FFFFFF;
  border-color:#DBDBDB;
  border-radius:2px;
  border-width:1px;
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  height:32px;
  margin-left:10px;
  position:relative;
  width:78px;
}
.pg-select-351 {
  background-color:#FFFFFF;
  border-color:#DBDBDB;
  border-radius:2px;
  border-width:1px;
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  height:32px;
  margin-left:10px;
  position:relative;
  width:60px;
}
.pg-select-352 {
  background-color:#FFFFFF;
  border-color:#DBDBDB;
  border-radius:2px;
  border-width:1px;
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  height:32px;
  margin-left:10px;
  position:relative;
  width:60px;
}
.box-328 {
  border-radius:2px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  position:relative;
  width:680px;
}
.text-330 {
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  margin-top:6px;
  position:relative;
  width:100%;
}
.pg-text-view-332 {
  background-color:#FFFFFF;
  border-color:#E6E6E6;
  border-radius:2px;
  border-width:1px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:80px;
  line-height:1.30;
  margin-left:0px;
  margin-top:12px;
  padding:8px;
  position:relative;
  text-align:left;
  width:662px;
}
.box-676 {
  border-radius:2px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  position:relative;
  width:680px;
}
.text-677 {
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  margin-top:6px;
  position:relative;
  width:100%;
}
.pg-text-view-678 {
  background-color:#FFFFFF;
  border-color:#E6E6E6;
  border-radius:2px;
  border-width:1px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:80px;
  line-height:1.30;
  margin-left:0px;
  margin-top:12px;
  padding:8px;
  position:relative;
  text-align:left;
  width:662px;
}
.center-box-108 {
  border-color:#FA690A;
  border-style:dashed;
  border-top-width:1px;
  padding-bottom:80px;
  padding-top:60px;
}
.pg-button {
  -webkit-transition:background-color 0.4s;
  background-color:#FA690A;
  border-radius:4px;
  border-width:0px;
  color:#FFFFFF;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:700;
  height:36px;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  position:relative;
  transition:background-color 0.4s;
  width:280px;
}
.pg-button.iux-hover, .pg-button.iux-active {
  background-color:rgba(250,105,10,0.80);
}
.footer {
  background-color:#282828;
  height:300px;
  left:0px;
  position:relative;
  top:0px;
  width:100%;
}
.popup-login {
  background-color:#FFFFFF;
  border-radius:2px;
  height:422px;
  position:fixed;
  width:400px;
  z-index:100;
}
.popup-login-dimcolor {
  background-color:rgba(0,0,0,0.60);
  z-index:99;
}
.popup-login > .iux-popup-close-button {
  background-image:url('/static/project/btn_close.png');
  display:inherit;
  height:30px;
  position:absolute;
  right:12px;
  top:15px;
  width:30px;
}
.import {
  left:0px;
  top:0px;
  width:400px;
}
.popup-findpw {
  background-color:#FFFFFF;
  border-radius:2px;
  height:522px;
  position:fixed;
  width:400px;
  z-index:100;
}
.popup-findpw > .iux-popup-close-button {
  background-image:url('/static/project/btn_close.png');
  display:inherit;
  height:30px;
  position:absolute;
  right:12px;
  top:15px;
  width:30px;
}
.popup-findpw-dimcolor {
  background-color:rgba(0,0,0,0.60);
  z-index:99;
}
.import-361 {
  width:400px;
}
@media screen and (max-width:959px) {
  .iu-center-box {
    width:320px;
  }
  .header {
    min-width:320px;
  }
  .center-box {
    padding-bottom:52px;
    padding-top:40px;
  }
  .text-633 {
    margin-left:auto;
    margin-right:auto;
  }
  .text-28 {
    margin-left:auto;
    margin-right:auto;
    margin-top:0px;
  }
  .box-41 {
    margin-left:auto;
    margin-right:auto;
    margin-top:28px;
    width:300px;
  }
  .box-33 {
    height:54px;
    margin-left:auto;
    margin-right:auto;
    width:300px;
  }
  .text-35 {
    height:54px;
    left:24px;
    top:0px;
  }
  .text-29 {
    height:80px;
    margin-left:auto;
    margin-right:auto;
    margin-top:4px;
    width:268px;
  }
  .box-35 {
    height:54px;
    margin-left:auto;
    margin-right:auto;
    width:300px;
  }
  .text-37 {
    height:54px;
  }
  .text-30 {
    height:80px;
    margin-left:auto;
    margin-right:auto;
    margin-top:4px;
    width:268px;
  }
  .box-38 {
    height:54px;
    margin-left:auto;
    margin-right:auto;
    width:300px;
  }
  .text-39 {
    height:54px;
  }
  .text-31 {
    height:80px;
    margin-left:auto;
    margin-right:auto;
    width:268px;
  }
  .center-box-46 {
    padding-bottom:52px;
    padding-top:40px;
  }
  .text-49 {
    margin-left:auto;
    margin-right:auto;
  }
  .box-65 {
    margin-left:auto;
    margin-right:auto;
    margin-top:28px;
    width:300px;
  }
  .text-66 {
    width:100px;
  }
  .membername {
    width:172px;
  }
  .box-62 {
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    width:300px;
  }
  .text-63 {
    width:100px;
  }
  .pg-text-field-64 {
    width:172px;
  }
  .box-59 {
    margin-left:auto;
    margin-right:auto;
    width:300px;
  }
  .text-60 {
    width:100px;
  }
  .pg-text-field-61 {
    width:172px;
  }
  .text-68 {
    display:none;
  }
  .box-56 {
    margin-left:auto;
    margin-right:auto;
    width:300px;
  }
  .text-57 {
    margin-left:0px;
    margin-top:6px;
    width:100px;
  }
  .pg-text-field-58 {
    width:172px;
  }
  .text-69 {
    margin-left:0px;
    width:300px;
  }
  .box-53 {
    margin-left:auto;
    margin-right:auto;
    width:300px;
  }
  .text-54 {
    width:100px;
  }
  .pg-text-field-55 {
    width:172px;
  }
  .text-70 {
    margin-left:0px;
    width:300px;
  }
  .box-50 {
    margin-left:auto;
    margin-right:auto;
    width:300px;
  }
  .text-52 {
    width:100px;
  }
  .pg-text-field {
    margin-left:0px;
    margin-top:12px;
    width:282px;
  }
  .box-629 {
    margin-left:auto;
    margin-right:auto;
    width:300px;
  }
  .text-631 {
    width:100px;
  }
  .pg-select-632 {
    margin-left:10px;
    margin-top:0px;
    width:190px;
  }
  .pg-text-field-632 {
    margin-left:110px;
    margin-top:6px;
    width:172px;
  }
  .box-331 {
    margin-left:auto;
    margin-right:auto;
    width:300px;
  }
  .text-332 {
    width:100px;
  }
  .pg-select-333 {
    margin-left:10px;
    margin-top:0px;
    width:190px;
  }
  .text-335 {
    display:none;
  }
  .box-105 {
    margin-left:auto;
    margin-right:auto;
    width:300px;
  }
  .text-106 {
    width:300px;
  }
  .pg-select {
    margin-left:0px;
    margin-top:6px;
    width:300px;
  }
  .pg-text-field-631 {
    margin-left:0px;
    margin-top:6px;
    width:282px;
  }
  .box-622 {
    margin-left:auto;
    margin-right:auto;
    width:300px;
  }
  .text-623 {
    height:64px;
    margin-left:0px;
    margin-top:6px;
    width:300px;
  }
  .pg-select-624 {
    margin-left:0px;
    margin-top:6px;
    width:300px;
  }
  .pg-text-field-633 {
    margin-left:0px;
    margin-top:6px;
    width:282px;
  }
  .center-box-346 {
    padding-bottom:40px;
    padding-top:40px;
  }
  .text-347 {
    margin-left:auto;
    margin-right:auto;
  }
  .text-346 {
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
  }
  .center-box-135 {
    padding-bottom:52px;
    padding-top:40px;
  }
  .collapsible-136 {
    margin-left:0px;
    margin-top:0px;
    width:320px;
  }
  .collapsible-header-138 {
    height:80px;
    margin-left:auto;
    margin-right:auto;
  }
  .text-143 {
    margin-left:auto;
    margin-right:auto;
  }
  .svg {
    margin-left:auto;
    margin-right:auto;
  }
  .text-180 {
    margin-left:auto;
    margin-right:auto;
  }
  .svg-148 {
    margin-left:auto;
    margin-right:auto;
  }
  .collapsible-content-139 {
    display:none;
  }
  .box-141 {
    margin-left:auto;
    margin-right:auto;
    margin-top:28px;
    width:300px;
  }
  .text-145 {
    margin-left:0px;
    margin-top:6px;
    width:100px;
  }
  .pg-text-field-146 {
    margin-left:10px;
    margin-top:0px;
    width:172px;
  }
  .box-146 {
    margin-left:auto;
    margin-right:auto;
  }
  .box-150 {
    margin-left:auto;
    margin-right:auto;
  }
  .box-154 {
    margin-left:auto;
    margin-right:auto;
  }
  .box-158 {
    margin-left:auto;
    margin-right:auto;
    width:300px;
  }
  .text-159 {
    width:100px;
  }
  .text-162 {
    margin-left:5px;
    margin-top:6px;
    width:61px;
  }
  .text-163 {
    width:61px;
  }
  .box-164 {
    margin-left:auto;
    margin-right:auto;
    width:300px;
  }
  .text-165 {
    width:100px;
  }
  .pg-text-field-166 {
    margin-left:10px;
    margin-top:0px;
    width:172px;
  }
  .box-168 {
    margin-left:auto;
    margin-right:auto;
    width:300px;
  }
  .text-169 {
    width:100px;
  }
  .pg-select-346 {
    margin-left:10px;
    margin-top:0px;
    width:65px;
  }
  .pg-select-347 {
    margin-left:10px;
    margin-top:0px;
    width:52px;
  }
  .pg-select-348 {
    margin-left:10px;
    margin-top:0px;
    width:52px;
  }
  .box-174 {
    margin-left:auto;
    margin-right:auto;
    width:300px;
  }
  .text-177 {
    margin-left:0px;
    margin-top:6px;
  }
  .pg-text-view {
    width:282px;
  }
  .box-670 {
    margin-left:auto;
    margin-right:auto;
    width:300px;
  }
  .text-671 {
    margin-left:0px;
    margin-top:6px;
  }
  .pg-text-view-672 {
    width:282px;
  }
  .center-box-247 {
    padding-bottom:52px;
    padding-top:40px;
  }
  .collapsible {
    margin-left:0px;
    margin-top:0px;
    width:320px;
  }
  .collapsible-header {
    height:80px;
    margin-left:auto;
    margin-right:auto;
  }
  .text-254 {
    margin-left:auto;
    margin-right:auto;
  }
  .svg-255 {
    margin-left:auto;
    margin-right:auto;
  }
  .text-260 {
    margin-left:auto;
    margin-right:auto;
  }
  .svg-260 {
    margin-left:auto;
    margin-right:auto;
  }
  .collapsible-content {
    display:none;
  }
  .box {
    margin-left:auto;
    margin-right:auto;
    margin-top:28px;
    width:300px;
  }
  .text-256 {
    width:100px;
  }
  .pg-text-field-258 {
    width:172px;
  }
  .box-253 {
    margin-left:auto;
    margin-right:auto;
  }
  .box-260 {
    margin-left:auto;
    margin-right:auto;
  }
  .box-263 {
    margin-left:auto;
    margin-right:auto;
  }
  .box-268 {
    margin-left:auto;
    margin-right:auto;
    width:300px;
  }
  .text-270 {
    width:100px;
  }
  .text-274 {
    margin-left:5px;
    margin-top:6px;
    width:61px;
  }
  .text-278 {
    width:61px;
  }
  .box-271 {
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    width:300px;
  }
  .text-273 {
    width:100px;
  }
  .pg-text-field-275 {
    width:172px;
  }
  .box-277 {
    margin-left:auto;
    margin-right:auto;
    width:300px;
  }
  .text-285 {
    width:100px;
  }
  .pg-select-283 {
    width:65px;
  }
  .pg-select-281 {
    width:52px;
  }
  .pg-select-279 {
    width:52px;
  }
  .carousel-287 > .iux-carousel-pager {
    text-align:center;
    visibility:visible;
  }
  .carousel-287 > .iux-carousel-prev,.carousel-287 > .iux-carousel-next {
    display:none;
  }
  .box-280 {
    margin-left:auto;
    margin-right:auto;
    width:300px;
  }
  .pg-text-view-284 {
    margin-left:0px;
    margin-top:12px;
    width:282px;
  }
  .box-673 {
    margin-left:auto;
    margin-right:auto;
    width:300px;
  }
  .text-674 {
    margin-left:0px;
    margin-top:6px;
  }
  .pg-text-view-675 {
    width:282px;
  }
  .center-box-294 {
    padding-bottom:52px;
    padding-top:40px;
  }
  .collapsible-295 {
    margin-left:0px;
    margin-top:0px;
    width:320px;
  }
  .collapsible-header-296 {
    height:80px;
    margin-left:auto;
    margin-right:auto;
  }
  .text-300 {
    margin-left:auto;
    margin-right:auto;
  }
  .svg-302 {
    margin-left:auto;
    margin-right:auto;
  }
  .text-338 {
    margin-left:auto;
    margin-right:auto;
  }
  .svg-307 {
    margin-left:auto;
    margin-right:auto;
  }
  .collapsible-content-297 {
    display:none;
  }
  .box-301 {
    margin-left:auto;
    margin-right:auto;
    margin-top:28px;
    width:300px;
  }
  .text-304 {
    width:100px;
  }
  .pg-text-field-306 {
    width:172px;
  }
  .box-299 {
    margin-left:auto;
    margin-right:auto;
  }
  .box-308 {
    margin-left:auto;
    margin-right:auto;
  }
  .box-309 {
    margin-left:auto;
    margin-right:auto;
  }
  .box-316 {
    margin-left:auto;
    margin-right:auto;
    width:300px;
  }
  .text-318 {
    width:100px;
  }
  .text-322 {
    margin-left:5px;
    margin-top:6px;
    width:61px;
  }
  .text-326 {
    width:61px;
  }
  .box-317 {
    margin-left:auto;
    margin-right:auto;
    width:300px;
  }
  .text-319 {
    width:100px;
  }
  .pg-text-field-321 {
    width:172px;
  }
  .box-323 {
    margin-left:auto;
    margin-right:auto;
    width:300px;
  }
  .text-331 {
    width:100px;
  }
  .pg-select-350 {
    width:65px;
  }
  .pg-select-351 {
    width:52px;
  }
  .pg-select-352 {
    width:52px;
  }
  .box-328 {
    margin-left:auto;
    margin-right:auto;
    width:300px;
  }
  .pg-text-view-332 {
    width:282px;
  }
  .box-676 {
    margin-left:auto;
    margin-right:auto;
    width:300px;
  }
  .text-677 {
    margin-left:0px;
    margin-top:6px;
  }
  .pg-text-view-678 {
    width:282px;
  }
  .center-box-108 {
    padding-bottom:52px;
    padding-top:40px;
  }
  .pg-button {
    margin-left:auto;
    margin-right:auto;
    margin-top:0px;
    width:200px;
  }
  .footer {
    height:400px;
  }
  .popup-login {
    width:300px;
  }
  .import {
    width:300px;
  }
  .popup-findpw {
    width:300px;
  }
  .import-361 {
    width:300px;
  }

}