<img class="thumbnail" src="{% if image.thumbnailImg %}{{image.thumbnailImg.url}}{% endif %}">
{#<img class="iu-image image-2098" src="{% if image.url %}{{image.url}}{% else %}/static/project/profile_default.png{% endif %}">#}
<div class="iu-text text-2056">
  <p>{{image.title}}</p>
</div>
{#<div class="iu-text text-2057">#}
{#  <p>{{project.member}} {% if project.member.memberDivision.divisionName == 'child' %}({{project.classRoom.subject.subjectCode}}){% else %}(선생님){% endif %}</p>#}
{#</div>#}