.iu-center-box {
  width:960px;
}
.header {
  -webkit-box-shadow:0px 2px 0px 0px #DBDBDB;
  background-color:#FFFFFF;
  box-shadow:0px 2px 0px 0px #DBDBDB;
  color:#333333;
  float:none;
  height:60px;
  left:0px;
  min-width:960px;
  overflow:visible;
  position:fixed;
  top:0px;
  width:100%;
  z-index:10;
}
.page-content {
  background-color:#FFFFFF;
  padding-top:62px;
}
.up {
  background-color:#F076B4;
  border-radius:50%;
  bottom:15px;
  display:none;
  height:50px;
  position:fixed;
  right:15px;
  width:50px;
  z-index:11;
}
.svg {
  -webkit-transform:rotate(-90deg);
  bottom:0px;
  float:none;
  height:30px;
  left:0px;
  margin:auto;
  right:0px;
  top:0px;
  transform:rotate(-90deg);
  width:30px;
}
.apply_bar_1 {
  background-color:#F076B4;
  display:none;
  float:none;
  height:60px;
  left:0px;
  position:fixed;
  top:62px;
  width:100%;
  z-index:11;
}
.pg-form {
  height:100%;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:0px;
  width:720px;
}
.text-226 {
  bottom:0px;
  color:#FFFFFF;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:700;
  height:22px;
  left:0px;
  margin-bottom:auto;
  margin-top:auto;
  top:0px;
  width:40px;
}
.pg-select-105 {
  background-color:#FFFFFF;
  border-radius:2px;
  bottom:0px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:36px;
  left:40px;
  margin-bottom:auto;
  margin-top:auto;
  top:0px;
  width:140px;
}
.text-227 {
  bottom:0px;
  color:#FFFFFF;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:700;
  height:22px;
  left:200px;
  margin-bottom:auto;
  margin-top:auto;
  top:0px;
  width:90px;
}
.pg-select-106 {
  background-color:#FFFFFF;
  border-radius:2px;
  bottom:0px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:36px;
  left:290px;
  margin-bottom:auto;
  margin-top:auto;
  top:0px;
  width:220px;
}
.pg-button-461 {
  background-color:transparent;
  border-color:#FFFFFF;
  border-radius:4px;
  border-width:1px;
  bottom:0px;
  color:#FFFFFF;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:700;
  height:36px;
  left:540px;
  margin-bottom:auto;
  margin-top:auto;
  top:0px;
  width:180px;
}
.cell-540 {
  -webkit-transition:background-color 0.4s, color 0.4s;
  display:none;
  float:none;
  height:40px;
  line-height:40px;
  text-align:center;
  transition:background-color 0.4s, color 0.4s;
  width:100px;
}
.cell-540.iux-hover, .cell-540.iux-active {
  background-color:#FFFFFF;
  color:#F076B4;
}
.box-462 {
  background-size:cover;
  float:none;
  height:480px;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  width:100%;
}
.image {
  background-image:url('/static/project/appinventor_1.jpeg');
  bottom:0px;
  left:0px;
  margin-bottom:auto;
  margin-top:auto;
  top:0px;
  width:100%;
}
.box-454 {
  background-color:rgba(0,0,0,0.20);
  bottom:0px;
  height:100%;
  left:0px;
  margin:auto;
  right:0px;
  top:0px;
  width:100%;
}
.text-392 {
  background-color:rgba(240,118,180,0.80);
  border-radius:2px;
  color:#FFFFFF;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:400;
  height:26px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:160px;
  width:80px;
}
.class_title {
  color:#FFFFFF;
  font-family:'Noto Sans KR', sans-serif;
  font-size:48px;
  font-weight:700;
  height:58px;
  left:0px;
  line-height:1;
  margin-left:auto;
  margin-right:auto;
  padding-left:15px;
  padding-right:15px;
  right:0px;
  text-align:center;
  top:200px;
  width:calc(100% - 30px);
  width:-moz-calc(100% - 30px);
  width:-webkit-calc(100% - 30px);
}
.class_summary {
  color:#FFFFFF;
  font-family:'Noto Sans KR', sans-serif;
  font-size:18px;
  font-weight:700;
  height:26px;
  left:0px;
  line-height:1;
  margin-left:auto;
  margin-right:auto;
  padding-left:15px;
  padding-right:15px;
  right:0px;
  text-align:center;
  top:310px;
  width:calc(100% - 30px);
  width:-moz-calc(100% - 30px);
  width:-webkit-calc(100% - 30px);
}
.apply_bar_2 {
  background-color:#F076B4;
  float:none;
  height:60px;
  position:relative;
  width:100%;
}
.pg-form-228 {
  height:100%;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:0px;
  width:720px;
}
.text-229 {
  bottom:0px;
  color:#FFFFFF;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:700;
  height:22px;
  left:0px;
  margin-bottom:auto;
  margin-top:auto;
  top:0px;
  width:40px;
}
.pg-select {
  background-color:#FFFFFF;
  border-radius:2px;
  bottom:0px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:36px;
  left:40px;
  margin-bottom:auto;
  margin-top:auto;
  top:0px;
  width:140px;
}
.text-230 {
  bottom:0px;
  color:#FFFFFF;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:700;
  height:22px;
  left:200px;
  margin-bottom:auto;
  margin-top:auto;
  top:0px;
  width:90px;
}
.pg-select-232 {
  background-color:#FFFFFF;
  border-radius:2px;
  bottom:0px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:36px;
  left:290px;
  margin-bottom:auto;
  margin-top:auto;
  top:0px;
  width:220px;
}
.pg-button {
  background-color:transparent;
  border-color:#FFFFFF;
  border-radius:4px;
  border-width:1px;
  bottom:0px;
  color:#FFFFFF;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:700;
  height:36px;
  left:540px;
  margin-bottom:auto;
  margin-top:auto;
  top:0px;
  width:180px;
}
.cell {
  -webkit-transition:background-color 0.4s, color 0.4s;
  display:none;
  float:none;
  height:40px;
  line-height:40px;
  text-align:center;
  transition:background-color 0.4s, color 0.4s;
  width:100px;
}
.cell.iux-hover, .cell.iux-active {
  background-color:#FFFFFF;
  color:#F076B4;
}
.section-262 {
  padding-bottom:60px;
  padding-top:60px;
}
.center-box-263 {
  overflow:visible;
}
.overview_title {
  color:#F076B4;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:34px;
  font-weight:700;
  letter-spacing:-0.2px;
  line-height:1;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:680px;
}
.overview_content {
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  margin-left:auto;
  margin-right:auto;
  margin-top:40px;
  position:relative;
  text-align:center;
  width:680px;
}
.svg-bracket1 {
  bottom:0px;
  float:none;
  height:180px;
  left:60px;
  margin-bottom:auto;
  margin-top:auto;
  top:0px;
  width:60px;
}
.svg-bracket2 {
  bottom:0px;
  height:180px;
  margin-bottom:auto;
  margin-top:auto;
  right:60px;
  top:0px;
  width:60px;
}
.section {
  border-color:#F076B4;
  border-style:dashed;
  border-top-width:1px;
  padding-bottom:80px;
  padding-top:60px;
}
.js_title {
  color:#F076B4;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:34px;
  font-weight:700;
  letter-spacing:-0.2px;
  line-height:1;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:930px;
}
.box-399 {
  float:none;
  margin-left:auto;
  margin-right:auto;
  margin-top:30px;
  position:relative;
  width:calc(100% - 30px);
  width:-moz-calc(100% - 30px);
  width:-webkit-calc(100% - 30px);
}
.box-603 {
  background-color:rgba(240,118,180,0.10);
  border-color:#F076B4;
  border-radius:2px;
  border-width:1px;
  float:left;
  margin-left:0px;
  margin-top:0px;
  overflow:visible;
  padding-bottom:20px;
  padding-top:10px;
  position:relative;
  width:223px;
}
.box-607 {
  background-color:#FFFFFF;
  height:225px;
  left:0px;
  top:0px;
  width:100%;
}
.svg-604 {
  float:none;
  height:180px;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  position:relative;
  width:180px;
}
.js-1 {
  background-color:#F076B4;
  color:#FFFFFF;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:18px;
  font-weight:700;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
  position:relative;
  text-align:center;
  width:100%;
}
.js-11 {
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  letter-spacing:-0.2px;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
  position:relative;
  text-align:center;
  width:100%;
}
.box-378 {
  background-color:rgba(240,118,180,0.10);
  border-color:#F076B4;
  border-radius:2px;
  border-width:1px;
  float:left;
  margin-left:10px;
  margin-top:0px;
  overflow:visible;
  padding-bottom:20px;
  padding-top:10px;
  position:relative;
  width:223px;
}
.box-608 {
  background-color:#FFFFFF;
  height:225px;
  left:0px;
  top:0px;
  width:100%;
}
.svg-607 {
  background-color:#FFFFFF;
  border-color:#6D6D6D;
  border-radius:50%;
  border-width:1px;
  float:none;
  height:24px;
  left:-22px;
  padding-bottom:4px;
  padding-left:6px;
  padding-right:2px;
  padding-top:4px;
  top:90px;
  width:24px;
}
.svg-600 {
  float:none;
  height:180px;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  position:relative;
  width:180px;
}
.js-2 {
  background-color:#F076B4;
  color:#FFFFFF;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:18px;
  font-weight:700;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
  position:relative;
  text-align:center;
  width:100%;
}
.js-22 {
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  letter-spacing:-0.2px;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
  position:relative;
  text-align:center;
  width:100%;
}
.box-382 {
  background-color:rgba(240,118,180,0.10);
  border-color:#F076B4;
  border-radius:2px;
  border-width:1px;
  float:left;
  margin-left:10px;
  margin-top:0px;
  overflow:visible;
  padding-bottom:20px;
  padding-top:10px;
  position:relative;
  width:223px;
}
.box-609 {
  background-color:#FFFFFF;
  height:225px;
  left:0px;
  top:0px;
  width:100%;
}
.svg-606 {
  background-color:#FFFFFF;
  border-color:#6D6D6D;
  border-radius:50%;
  border-width:1px;
  float:none;
  height:24px;
  left:-22px;
  padding-bottom:4px;
  padding-left:6px;
  padding-right:2px;
  padding-top:4px;
  top:90px;
  width:24px;
}
.svg-601 {
  float:none;
  height:180px;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  width:180px;
}
.js-3 {
  background-color:#F076B4;
  color:#FFFFFF;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:18px;
  font-weight:700;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
  position:relative;
  text-align:center;
  width:100%;
}
.js-33 {
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  letter-spacing:-0.2px;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
  position:relative;
  text-align:center;
  width:100%;
}
.box-386 {
  background-color:rgba(240,118,180,0.10);
  border-color:#F076B4;
  border-radius:2px;
  border-width:1px;
  float:left;
  margin-left:10px;
  margin-top:0px;
  overflow:visible;
  padding-bottom:20px;
  padding-top:10px;
  position:relative;
  width:223px;
}
.box-610 {
  background-color:#FFFFFF;
  height:225px;
  left:0px;
  top:0px;
  width:100%;
}
.svg-608 {
  background-color:#FFFFFF;
  border-color:#6D6D6D;
  border-radius:50%;
  border-width:1px;
  float:none;
  height:24px;
  left:-22px;
  padding-bottom:4px;
  padding-left:6px;
  padding-right:2px;
  padding-top:4px;
  top:90px;
  width:24px;
}
.svg-602 {
  float:none;
  height:180px;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  width:180px;
}
.js-4 {
  background-color:#F076B4;
  color:#FFFFFF;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:18px;
  font-weight:700;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
  position:relative;
  text-align:center;
  width:100%;
}
.js-44 {
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  letter-spacing:-0.2px;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
  position:relative;
  text-align:center;
  width:100%;
}
.js-444 {
  color:#F076B4;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  letter-spacing:-0.2px;
  margin-left:auto;
  margin-right:auto;
  margin-top:6px;
  position:relative;
  text-align:center;
  width:100%;
}
.section-645 {
  border-color:#F076B4;
  border-style:dashed;
  border-top-width:1px;
  display:none;
  padding-bottom:80px;
  padding-top:60px;
}
.js_title-647 {
  color:#F076B4;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:34px;
  font-weight:700;
  letter-spacing:-0.2px;
  line-height:1;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:930px;
}
.box-648 {
  float:none;
  margin-left:auto;
  margin-right:auto;
  margin-top:30px;
  position:relative;
  width:calc(100% - 30px);
  width:-moz-calc(100% - 30px);
  width:-webkit-calc(100% - 30px);
}
.box-650 {
  background-color:rgba(240,118,180,0.10);
  border-color:#F076B4;
  border-radius:2px;
  border-width:1px;
  float:left;
  margin-left:0px;
  margin-top:0px;
  overflow:visible;
  padding-bottom:20px;
  padding-top:10px;
  position:relative;
  width:298px;
}
.box-652 {
  background-color:#FFFFFF;
  height:225px;
  left:0px;
  top:0px;
  width:100%;
}
.svg-656 {
  float:none;
  height:180px;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  position:relative;
  width:180px;
}
.js-658 {
  background-color:#F076B4;
  color:#FFFFFF;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:18px;
  font-weight:700;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
  position:relative;
  text-align:center;
  width:100%;
}
.js-660 {
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  letter-spacing:-0.2px;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
  position:relative;
  text-align:center;
  width:100%;
}
.box-659 {
  background-color:rgba(240,118,180,0.10);
  border-color:#F076B4;
  border-radius:2px;
  border-width:1px;
  float:left;
  margin-left:15px;
  margin-top:0px;
  overflow:visible;
  padding-bottom:20px;
  padding-top:10px;
  position:relative;
  width:298px;
}
.box-661 {
  background-color:#FFFFFF;
  height:225px;
  left:0px;
  top:0px;
  width:100%;
}
.svg-663 {
  background-color:#FFFFFF;
  border-color:#6D6D6D;
  border-radius:50%;
  border-width:1px;
  float:none;
  height:24px;
  left:-26px;
  padding-bottom:4px;
  padding-left:6px;
  padding-right:2px;
  padding-top:4px;
  top:90px;
  width:24px;
}
.svg-665 {
  float:none;
  height:180px;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  position:relative;
  width:180px;
}
.js-667 {
  background-color:#F076B4;
  color:#FFFFFF;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:18px;
  font-weight:700;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
  position:relative;
  text-align:center;
  width:100%;
}
.js-669 {
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  letter-spacing:-0.2px;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
  position:relative;
  text-align:center;
  width:100%;
}
.box-662 {
  background-color:rgba(240,118,180,0.10);
  border-color:#F076B4;
  border-radius:2px;
  border-width:1px;
  float:left;
  margin-left:15px;
  margin-top:0px;
  overflow:visible;
  padding-bottom:20px;
  padding-top:10px;
  position:relative;
  width:298px;
}
.box-664 {
  background-color:#FFFFFF;
  height:225px;
  left:0px;
  top:0px;
  width:100%;
}
.svg-666 {
  background-color:#FFFFFF;
  border-color:#6D6D6D;
  border-radius:50%;
  border-width:1px;
  float:none;
  height:24px;
  left:-26px;
  padding-bottom:4px;
  padding-left:6px;
  padding-right:2px;
  padding-top:4px;
  top:90px;
  width:24px;
}
.svg-673 {
  float:none;
  height:180px;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  position:relative;
  width:180px;
}
.js-670 {
  background-color:#F076B4;
  color:#FFFFFF;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:18px;
  font-weight:700;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
  position:relative;
  text-align:center;
  width:100%;
}
.js-671 {
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  letter-spacing:-0.2px;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
  position:relative;
  text-align:center;
  width:100%;
}
.section-453 {
  background-color:#F5F5F5;
  padding-bottom:60px;
  padding-top:60px;
}
.box-457 {
  float:none;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  width:930px;
}
.toolinfo1_video {
  border-radius:2px;
  float:none;
  height:100%;
  left:0px;
  top:0px;
  width:450px;
}
.toolinfo1_title {
  color:#F076B4;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:34px;
  font-weight:700;
  letter-spacing:-0.2px;
  line-height:1;
  margin-left:480px;
  margin-top:0px;
  position:relative;
  text-align:left;
  width:450px;
}
.toolinfo1_content {
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  margin-left:480px;
  margin-top:40px;
  min-height:210px;
  position:relative;
  width:450px;
}
.section-205 {
  background-color:#F5F5F5;
  border-color:#F076B4;
  border-style:dashed;
  border-top-width:1px;
  padding-bottom:60px;
  padding-top:60px;
}
.box-352 {
  float:none;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  width:930px;
}
.toolinfo2_video {
  border-radius:2px;
  height:100%;
  right:0px;
  top:0px;
  width:450px;
}
.toolinfo2_title {
  color:#F076B4;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:34px;
  font-weight:700;
  letter-spacing:-0.2px;
  line-height:1;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  text-align:left;
  width:450px;
}
.toolinfo2_content {
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  margin-left:0px;
  margin-top:40px;
  min-height:210px;
  position:relative;
  width:450px;
}
.section-264 {
  padding-bottom:60px;
  padding-top:60px;
}
.box-266 {
  float:none;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  width:930px;
}
.learner_img {
  border-radius:2px;
  bottom:0px;
  float:none;
  height:100%;
  left:0px;
  margin-bottom:auto;
  margin-top:auto;
  top:0px;
  width:450px;
}
.learner_title {
  color:#F076B4;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:34px;
  font-weight:700;
  letter-spacing:-0.2px;
  line-height:1;
  margin-left:480px;
  margin-top:0px;
  position:relative;
  text-align:left;
  width:450px;
}
.learner_content {
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  margin-left:480px;
  margin-top:40px;
  min-height:210px;
  position:relative;
  width:450px;
}
.section-214 {
  background-color:#F5F5F5;
  padding-bottom:60px;
  padding-top:60px;
}
.objectives_title {
  color:#F076B4;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:34px;
  font-weight:700;
  letter-spacing:-0.2px;
  line-height:1;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:930px;
}
.box {
  float:none;
  margin-left:15px;
  margin-top:40px;
  position:relative;
  width:930px;
}
.box-355 {
  background-color:#FFFFFF;
  border-color:#F076B4;
  border-radius:2px;
  border-width:1px;
  float:left;
  margin-left:0px;
  margin-top:0px;
  min-height:150px;
  overflow:visible;
  padding-bottom:30px;
  padding-left:20px;
  padding-right:20px;
  padding-top:30px;
  position:relative;
  width:258px;
}
.objective1_title {
  color:#F076B4;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:18px;
  font-weight:700;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:100%;
}
.objective1_content {
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  margin-left:0px;
  margin-top:20px;
  position:relative;
  width:100%;
}
.box-357 {
  background-color:#FFFFFF;
  border-color:#F076B4;
  border-radius:2px;
  border-width:1px;
  float:left;
  margin-left:15px;
  margin-top:0px;
  min-height:150px;
  overflow:visible;
  padding-bottom:30px;
  padding-left:20px;
  padding-right:20px;
  padding-top:30px;
  position:relative;
  width:258px;
}
.objective2_title {
  color:#F076B4;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:18px;
  font-weight:700;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:100%;
}
.objective2_content {
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  margin-left:0px;
  margin-top:20px;
  position:relative;
  width:100%;
}
.box-361 {
  background-color:#FFFFFF;
  border-color:#F076B4;
  border-radius:2px;
  border-width:1px;
  float:left;
  margin-left:15px;
  margin-top:0px;
  min-height:150px;
  overflow:visible;
  padding-bottom:30px;
  padding-left:20px;
  padding-right:20px;
  padding-top:30px;
  position:relative;
  width:258px;
}
.objective3_title {
  color:#F076B4;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:18px;
  font-weight:700;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:100%;
}
.objective3_content {
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  margin-left:0px;
  margin-top:20px;
  position:relative;
  width:100%;
}
.box-529 {
  display:none;
  float:none;
  margin-left:15px;
  margin-top:40px;
  position:relative;
  width:930px;
}
.box-530 {
  background-color:#FFFFFF;
  border-color:#F076B4;
  border-radius:2px;
  border-width:1px;
  float:left;
  margin-left:0px;
  margin-top:0px;
  min-height:150px;
  overflow:visible;
  padding-bottom:30px;
  padding-left:20px;
  padding-right:20px;
  padding-top:30px;
  position:relative;
  width:258px;
}
.objective1_title-533 {
  color:#F076B4;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:18px;
  font-weight:700;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:100%;
}
.objective1_content-536 {
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  margin-left:0px;
  margin-top:20px;
  position:relative;
  width:100%;
}
.box-531 {
  background-color:#FFFFFF;
  border-color:#F076B4;
  border-radius:2px;
  border-width:1px;
  float:left;
  margin-left:15px;
  margin-top:0px;
  min-height:150px;
  overflow:visible;
  padding-bottom:30px;
  padding-left:20px;
  padding-right:20px;
  padding-top:30px;
  position:relative;
  width:258px;
}
.objective2_title-534 {
  color:#F076B4;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:18px;
  font-weight:700;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:100%;
}
.objective2_content-537 {
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  margin-left:0px;
  margin-top:20px;
  position:relative;
  width:100%;
}
.box-532 {
  background-color:#FFFFFF;
  border-color:#F076B4;
  border-radius:2px;
  border-width:1px;
  float:left;
  margin-left:15px;
  margin-top:0px;
  min-height:150px;
  overflow:visible;
  padding-bottom:30px;
  padding-left:20px;
  padding-right:20px;
  padding-top:30px;
  position:relative;
  width:258px;
}
.objective3_title-535 {
  color:#F076B4;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:18px;
  font-weight:700;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:100%;
}
.objective3_content-538 {
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  margin-left:0px;
  margin-top:20px;
  position:relative;
  width:100%;
}
.robotics {
  border-bottom-width:1px;
  border-color:#F076B4;
  border-style:dashed;
  padding-bottom:80px;
  padding-top:60px;
}
.robotics_title {
  color:#F076B4;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:34px;
  font-weight:700;
  letter-spacing:-0.2px;
  line-height:1;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  position:relative;
  text-align:center;
}
.robotics_content {
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  margin-left:auto;
  margin-right:auto;
  margin-top:40px;
  position:relative;
  text-align:center;
}
.webmovie {
  float:left;
  height:268px;
  margin-left:15px;
  margin-top:40px;
  position:relative;
  width:450px;
}
.learner_content-643 {
  color:#323232;
  float:right;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  margin-right:90px;
  margin-top:40px;
  position:relative;
  right:0px;
  text-align:left;
  width:300px;
}
.qna_btn-644.iux-hover, .qna_btn-644.iux-active {
  -ms-transform:scaleX(1.1) scaleY(1.1);
  -webkit-transform:scaleX(1.1) scaleY(1.1);
  background-color:rgba(240,118,180,0.80);
  transform:scaleX(1.1) scaleY(1.1);
}
.qna_btn-644 {
  -webkit-transform:scaleX(1.0) scaleY(1.0);
  -webkit-transition:-webkit-transform 0.4s, -ms-transform 0.4s, transform 0.4s, background-color 0.4s;
  background-color:#F076B4;
  border-radius:4px;
  color:#FFFFFF;
  float:right;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:700;
  height:36px;
  margin-right:90px;
  margin-top:40px;
  position:relative;
  right:0px;
  text-align:center;
  transform:scaleX(1.0) scaleY(1.0);
  transition:-webkit-transform 0.4s, -ms-transform 0.4s, transform 0.4s, background-color 0.4s;
  width:300px;
}
.qna_btn-644 > a {
  line-height:36px;
}
.section-116 {
  border-bottom-width:1px;
  border-color:#F076B4;
  border-style:dashed;
  padding-bottom:60px;
  padding-top:60px;
}
.semesterinfo_title {
  color:#F076B4;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:34px;
  font-weight:700;
  letter-spacing:-0.2px;
  line-height:1;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  position:relative;
  text-align:center;
}
.box-292 {
  float:none;
  margin-left:auto;
  margin-right:auto;
  margin-top:40px;
  position:relative;
  width:930px;
}
.box-130 {
  background-color:rgba(240,118,180,0.10);
  border-radius:2px;
  float:left;
  margin-left:0px;
  margin-top:0px;
  padding:30px;
  position:relative;
  width:390px;
}
.box-286 {
  float:none;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:100%;
}
.camp_info_subtitle-286 {
  color:#F076B4;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:700;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  text-align:left;
  width:100px;
}
.dsc1_info-287 {
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  margin-left:15px;
  margin-top:0px;
  position:relative;
  width:275px;
}
.box-285 {
  float:none;
  margin-top:10px;
  position:relative;
  width:100%;
}
.camp_info_subtitle-272 {
  color:#F076B4;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:700;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  text-align:left;
  width:100px;
}
.dsc1_info-273 {
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  margin-left:15px;
  margin-top:0px;
  position:relative;
  width:275px;
}
.box-287 {
  float:none;
  margin-top:10px;
  position:relative;
  width:100%;
}
.camp_info_subtitle-274 {
  color:#F076B4;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:700;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  text-align:left;
  width:100px;
}
.dsc1_info-275 {
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  margin-left:15px;
  margin-top:0px;
  position:relative;
  width:275px;
}
.box-288 {
  float:none;
  margin-top:10px;
  position:relative;
  width:100%;
}
.camp_info_subtitle-276 {
  color:#F076B4;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:700;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  text-align:left;
  width:100px;
}
.dsc1_info-277 {
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  margin-left:15px;
  margin-top:0px;
  position:relative;
  width:275px;
}
.box-289 {
  float:none;
  margin-top:10px;
  position:relative;
  width:100%;
}
.camp_info_subtitle-278 {
  color:#F076B4;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:700;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  text-align:left;
  width:100px;
}
.dsc1_info-279 {
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  margin-left:115px;
  margin-top:-24px;
  position:relative;
  width:275px;
}
.box-290 {
  float:none;
  margin-top:10px;
  position:relative;
  width:100%;
}
.camp_info_subtitle-280 {
  color:#F076B4;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:700;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  text-align:left;
  width:100px;
}
.dsc1_info-281 {
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  margin-left:115px;
  margin-top:-24px;
  position:relative;
  width:275px;
}
.box-291 {
  float:none;
  margin-top:10px;
  position:relative;
  width:100%;
}
.camp_info_subtitle {
  color:#F076B4;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:700;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  text-align:left;
  width:100px;
}
.dsc1_info {
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  margin-left:15px;
  margin-top:0px;
  position:relative;
  width:275px;
}
.box-142 {
  border-color:#E6E6E6;
  border-radius:2px;
  border-width:1px;
  float:right;
  height:334px;
  position:relative;
  right:0px;
  width:448px;
}
.googlemap {
  float:none;
  height:70%;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:100%;
}
.box-293 {
  background-color:#FFFFFF;
  float:none;
  height:30%;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:100%;
}
.text-141 {
  bottom:0px;
  color:#6D6D6D;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:300;
  height:50px;
  left:0px;
  margin:auto;
  right:0px;
  text-align:center;
  top:0px;
  width:100%;
}
.section-610 {
  border-bottom-width:1px;
  border-color:#F076B4;
  border-style:dashed;
  padding-bottom:60px;
  padding-top:60px;
}
.semesterinfo_title-612 {
  color:#F076B4;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:34px;
  font-weight:700;
  letter-spacing:-0.2px;
  line-height:1;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  position:relative;
  text-align:center;
}
.box-613 {
  float:none;
  margin-left:auto;
  margin-right:auto;
  margin-top:40px;
  position:relative;
  width:930px;
}
.box-614 {
  background-color:rgba(240,118,180,0.10);
  border-radius:2px;
  float:left;
  height:252px;
  margin-left:0px;
  margin-top:0px;
  padding:30px;
  position:relative;
  width:390px;
}
.box-616 {
  float:none;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:100%;
}
.camp_info_subtitle-618 {
  color:#F076B4;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:700;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  text-align:left;
  width:100px;
}
.dsc1_info-620 {
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  margin-left:15px;
  margin-top:0px;
  position:relative;
  width:275px;
}
.box-638 {
  float:none;
  margin-left:0px;
  margin-top:10px;
  position:relative;
  width:100%;
}
.camp_info_subtitle-639 {
  color:#F076B4;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:700;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  text-align:left;
  width:100px;
}
.dsc1_info-640 {
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  margin-left:15px;
  margin-top:0px;
  position:relative;
  width:275px;
}
.box-628 {
  float:none;
  margin-top:10px;
  position:relative;
  width:100%;
}
.camp_info_subtitle-629 {
  color:#F076B4;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:700;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  text-align:left;
  width:100px;
}
.dsc1_info-630 {
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  margin-left:15px;
  margin-top:0px;
  position:relative;
  width:275px;
}
.box-634 {
  float:none;
  margin-top:10px;
  position:relative;
  width:100%;
}
.camp_info_subtitle-635 {
  color:#F076B4;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:700;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  text-align:left;
  width:100px;
}
.dsc1_info-636 {
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  margin-left:115px;
  margin-top:-24px;
  position:relative;
  width:275px;
}
.box-631 {
  float:none;
  margin-top:10px;
  position:relative;
  width:100%;
}
.camp_info_subtitle-632 {
  color:#F076B4;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:700;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  text-align:left;
  width:100px;
}
.dsc1_info-633 {
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  margin-left:115px;
  margin-top:-24px;
  position:relative;
  width:275px;
}
.box-637 {
  float:none;
  margin-top:10px;
  position:relative;
  width:100%;
}
.camp_info_subtitle-638 {
  color:#F076B4;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:700;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  text-align:left;
  width:100px;
}
.dsc1_info-639 {
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  margin-left:15px;
  margin-top:0px;
  position:relative;
  width:275px;
}
.box-615 {
  border-color:#E6E6E6;
  border-radius:2px;
  border-width:1px;
  float:right;
  height:310px;
  position:relative;
  right:0px;
  width:448px;
}
.googlemap-617 {
  float:none;
  height:70%;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:100%;
}
.box-619 {
  background-color:#FFFFFF;
  float:none;
  height:30%;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:100%;
}
.text-621 {
  bottom:0px;
  color:#6D6D6D;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:300;
  height:50px;
  left:0px;
  margin:auto;
  right:0px;
  text-align:center;
  top:0px;
  width:100%;
}
.section-177 {
  height:300px;
}
.qna_text {
  color:#6D6D6D;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  margin-left:495px;
  margin-top:80px;
  position:relative;
  text-align:center;
  width:300px;
}
.qna_btn.iux-hover, .qna_btn.iux-active {
  -ms-transform:scaleX(1.1) scaleY(1.1);
  -webkit-transform:scaleX(1.1) scaleY(1.1);
  transform:scaleX(1.1) scaleY(1.1);
}
.qna_btn {
  -webkit-transform:scaleX(1.0) scaleY(1.0);
  -webkit-transition:-webkit-transform 0.4s, -ms-transform 0.4s, transform 0.4s;
  background-color:#FFE12A;
  border-radius:4px;
  color:#660000;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:700;
  height:36px;
  margin-left:495px;
  margin-top:10px;
  position:relative;
  text-align:center;
  transform:scaleX(1.0) scaleY(1.0);
  transition:-webkit-transform 0.4s, -ms-transform 0.4s, transform 0.4s;
  width:300px;
}
.qna_btn > a {
  line-height:36px;
}
.btn_back {
  -webkit-transform:scaleX(1.0) scaleY(1.0);
  -webkit-transition:-webkit-transform 0.4s, -ms-transform 0.4s, transform 0.4s;
  background-color:#EBEBEB;
  border-radius:4px;
  color:#6D6D6D;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:700;
  height:36px;
  margin-left:495px;
  margin-top:20px;
  position:relative;
  text-align:center;
  transform:scaleX(1.0) scaleY(1.0);
  transition:-webkit-transform 0.4s, -ms-transform 0.4s, transform 0.4s;
  width:300px;
}
.btn_back.iux-hover, .btn_back.iux-active {
  -ms-transform:scaleX(1.1) scaleY(1.1);
  -webkit-transform:scaleX(1.1) scaleY(1.1);
  transform:scaleX(1.1) scaleY(1.1);
}
.btn_back > a {
  line-height:36px;
}
.svg-137 {
  -webkit-transition:bottom 0.4s;
  bottom:-10px;
  height:280px;
  left:105px;
  transition:bottom 0.4s;
  width:360px;
}
.svg-137.iux-hover, .svg-137.iux-active {
  bottom:0px;
}
.footer {
  background-color:#282828;
  height:300px;
  left:0px;
  position:relative;
  top:0px;
  width:100%;
}
.popup-login {
  background-color:#FFFFFF;
  border-radius:2px;
  height:422px;
  position:fixed;
  width:400px;
  z-index:100;
}
.popup-login-dimcolor {
  background-color:rgba(0,0,0,0.60);
  z-index:99;
}
.popup-login > .iux-popup-close-button {
  background-image:url('/static/project/btn_close.png');
  display:inherit;
  height:30px;
  position:absolute;
  right:12px;
  top:15px;
  width:30px;
}
.import-460 {
  left:0px;
  top:0px;
  width:400px;
}
.popup-findpw {
  background-color:#FFFFFF;
  border-radius:2px;
  height:522px;
  position:fixed;
  width:400px;
  z-index:100;
}
.popup-findpw > .iux-popup-close-button {
  background-image:url('/static/project/btn_close.png');
  display:inherit;
  height:30px;
  position:absolute;
  right:12px;
  top:15px;
  width:30px;
}
.popup-findpw-dimcolor {
  background-color:rgba(0,0,0,0.60);
  z-index:99;
}
.import-361 {
  width:400px;
}
@media screen and (max-width:959px) {
  .iu-center-box {
    width:320px;
  }
  .header {
    min-width:320px;
  }
  .up {
    display:none;
  }
  .svg {
    bottom:0px;
    left:0px;
    margin:auto;
    right:0px;
    top:0px;
  }
  .apply_bar_1 {
    display:none;
    height:52px;
    left:0px;
    top:62px;
  }
  .pg-form {
    display:none;
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
    top:0px;
  }
  .text-226 {
    bottom:0px;
    left:0px;
    margin-bottom:auto;
    margin-top:auto;
    top:0px;
  }
  .pg-select-105 {
    bottom:0px;
    margin-bottom:auto;
    margin-top:auto;
    top:0px;
  }
  .text-227 {
    bottom:0px;
    margin-bottom:auto;
    margin-top:auto;
    top:0px;
  }
  .pg-select-106 {
    bottom:0px;
    margin-bottom:auto;
    margin-top:auto;
    top:0px;
  }
  .pg-button-461 {
    bottom:0px;
    margin-bottom:auto;
    margin-top:auto;
    top:0px;
  }
  .cell-540 {
    -webkit-transition:background-color 0.4s, color 0.4s;
    border-color:#FFFFFF;
    border-radius:4px;
    border-width:1px;
    bottom:0px;
    color:#FFFFFF;
    display:inherit;
    float:none;
    font-family:'Noto Sans KR', sans-serif;
    font-size:16px;
    font-weight:700;
    height:34px;
    left:0px;
    line-height:34px;
    margin:auto;
    right:0px;
    top:0px;
    transition:background-color 0.4s, color 0.4s;
    width:208px;
  }
  .cell-540.iux-hover, .cell-540.iux-active {
    background-color:#FFFFFF;
    color:#F076B4;
  }
  .box-462 {
    height:240px;
    margin-left:auto;
    margin-right:auto;
  }
  .image {
    bottom:0px;
    margin-bottom:auto;
    margin-top:auto;
    top:0px;
  }
  .box-454 {
    bottom:0px;
    left:0px;
    margin:auto;
    right:0px;
    top:0px;
  }
  .text-392 {
    font-size:14px;
    height:22px;
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
    top:86px;
    width:76px;
  }
  .class_title {
    font-size:28px;
    height:30px;
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
    top:120px;
  }
  .class_summary {
    display:none;
    font-size:14px;
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
    top:200px;
  }
  .apply_bar_2 {
    height:52px;
    margin-left:0px;
    margin-top:0px;
  }
  .pg-form-228 {
    display:none;
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
    top:0px;
  }
  .text-229 {
    bottom:0px;
    margin-bottom:auto;
    margin-top:auto;
    top:0px;
  }
  .pg-select {
    bottom:0px;
    margin-bottom:auto;
    margin-top:auto;
    top:0px;
  }
  .text-230 {
    bottom:0px;
    margin-bottom:auto;
    margin-top:auto;
    top:0px;
  }
  .pg-select-232 {
    bottom:0px;
    margin-bottom:auto;
    margin-top:auto;
    top:0px;
  }
  .pg-button {
    bottom:0px;
    margin-bottom:auto;
    margin-top:auto;
    top:0px;
  }
  .cell {
    -webkit-transition:background-color 0.4s, color 0.4s;
    border-color:#FFFFFF;
    border-radius:4px;
    border-width:1px;
    bottom:0px;
    color:#FFFFFF;
    display:inherit;
    float:none;
    font-family:'Noto Sans KR', sans-serif;
    font-size:16px;
    font-weight:700;
    height:34px;
    left:0px;
    line-height:34px;
    margin:auto;
    right:0px;
    top:0px;
    transition:background-color 0.4s, color 0.4s;
    width:208px;
  }
  .cell.iux-hover, .cell.iux-active {
    background-color:#FFFFFF;
    color:#F076B4;
  }
  .section-262 {
    padding-bottom:52px;
    padding-top:40px;
  }
  .overview_title {
    font-size:24px;
    margin-left:auto;
    margin-right:auto;
    margin-top:0px;
    width:300px;
  }
  .overview_content {
    margin-left:auto;
    margin-right:auto;
    margin-top:28px;
    width:300px;
  }
  .svg-bracket1 {
    bottom:0px;
    display:none;
    left:10px;
    margin-bottom:auto;
    margin-top:auto;
    top:0px;
  }
  .svg-bracket2 {
    bottom:0px;
    display:none;
    margin-bottom:auto;
    margin-top:auto;
    right:10px;
    top:0px;
  }
  .js_title {
    font-size:24px;
    margin-left:auto;
    margin-right:auto;
    margin-top:0px;
    width:300px;
  }
  .box-399 {
    margin-left:auto;
    margin-right:auto;
    margin-top:30px;
  }
  .svg-604 {
    margin-left:auto;
    margin-right:auto;
  }
  .js-1 {
    margin-left:auto;
    margin-right:auto;
  }
  .js-11 {
    margin-left:auto;
    margin-right:auto;
  }
  .svg-600 {
    margin-left:auto;
    margin-right:auto;
  }
  .js-2 {
    margin-left:auto;
    margin-right:auto;
  }
  .js-22 {
    margin-left:auto;
    margin-right:auto;
  }
  .svg-601 {
    margin-left:auto;
    margin-right:auto;
  }
  .js-3 {
    margin-left:auto;
    margin-right:auto;
  }
  .js-33 {
    margin-left:auto;
    margin-right:auto;
  }
  .svg-602 {
    margin-left:auto;
    margin-right:auto;
  }
  .js-4 {
    margin-left:auto;
    margin-right:auto;
  }
  .js-44 {
    margin-left:auto;
    margin-right:auto;
  }
  .js-444 {
    margin-left:auto;
    margin-right:auto;
  }
  .js_title-647 {
    font-size:24px;
    margin-left:auto;
    margin-right:auto;
    margin-top:0px;
    width:300px;
  }
  .box-648 {
    margin-left:auto;
    margin-right:auto;
    margin-top:30px;
  }
  .svg-656 {
    margin-left:auto;
    margin-right:auto;
  }
  .js-658 {
    margin-left:auto;
    margin-right:auto;
  }
  .js-660 {
    margin-left:auto;
    margin-right:auto;
  }
  .svg-665 {
    margin-left:auto;
    margin-right:auto;
  }
  .js-667 {
    margin-left:auto;
    margin-right:auto;
  }
  .js-669 {
    margin-left:auto;
    margin-right:auto;
  }
  .svg-673 {
    margin-left:auto;
    margin-right:auto;
  }
  .js-670 {
    margin-left:auto;
    margin-right:auto;
  }
  .js-671 {
    margin-left:auto;
    margin-right:auto;
  }
  .section-453 {
    padding-bottom:52px;
    padding-top:40px;
  }
  .box-457 {
    margin-left:auto;
    margin-right:auto;
    margin-top:0px;
    padding-left:10px;
    padding-right:10px;
    width:100.00%;
    width:calc(100% - 20px);
    width:-moz-calc(100% - 20px);
    width:-webkit-calc(100% - 20px);
  }
  .toolinfo1_video {
    height:240px;
    left:10px;
    top:52px;
    width:300px;
  }
  .toolinfo1_title {
    background-position:center;
    font-size:24px;
    margin-left:0px;
    margin-top:0px;
    text-align:center;
    width:100%;
  }
  .toolinfo1_content {
    margin-left:0px;
    margin-top:292px;
    min-height:0px;
    width:100%;
  }
  .section-205 {
    padding-bottom:52px;
    padding-top:40px;
  }
  .box-352 {
    margin-left:auto;
    margin-right:auto;
    margin-top:0px;
    padding-left:10px;
    padding-right:10px;
    width:100.00%;
    width:calc(100% - 20px);
    width:-moz-calc(100% - 20px);
    width:-webkit-calc(100% - 20px);
  }
  .toolinfo2_video {
    float:none;
    height:240px;
    left:10px;
    right:initial;
    right:auto;
    top:52px;
    width:300px;
  }
  .toolinfo2_title {
    font-size:24px;
    margin-left:0px;
    margin-top:0px;
    text-align:center;
    width:100%;
  }
  .toolinfo2_content {
    margin-left:0px;
    margin-top:292px;
    min-height:0px;
    width:100%;
  }
  .section-264 {
    padding-bottom:52px;
    padding-top:40px;
  }
  .box-266 {
    margin-left:auto;
    margin-right:auto;
    padding-left:10px;
    padding-right:10px;
    width:930.00px;
    width:calc(100% - 20px);
    width:-moz-calc(100% - 20px);
    width:-webkit-calc(100% - 20px);
  }
  .learner_img {
    bottom:0px;
    display:none;
    margin-bottom:auto;
    margin-top:auto;
    top:0px;
  }
  .learner_title {
    font-size:24px;
    margin-left:0px;
    margin-top:0px;
    text-align:center;
    width:100%;
  }
  .learner_content {
    margin-left:0px;
    margin-top:28px;
    min-height:0px;
    width:100%;
  }
  .section-214 {
    padding-bottom:52px;
    padding-top:40px;
  }
  .objectives_title {
    font-size:24px;
    margin-left:auto;
    margin-right:auto;
    margin-top:0px;
    width:100%;
  }
  .box {
    margin-left:10px;
    margin-top:28px;
    width:300px;
  }
  .box-355 {
    display:none;
    margin-left:0px;
    margin-top:0px;
    padding-bottom:20px;
    padding-left:15px;
    padding-right:15px;
    padding-top:20px;
    width:268px;
  }
  .box-357 {
    display:none;
    margin-left:0px;
    margin-top:10px;
    padding-bottom:20px;
    padding-left:15px;
    padding-right:15px;
    padding-top:20px;
    width:268px;
  }
  .box-361 {
    display:none;
    margin-left:0px;
    margin-top:10px;
    padding-bottom:20px;
    padding-left:15px;
    padding-right:15px;
    padding-top:20px;
    width:268px;
  }
  .box-529 {
    display:inherit;
    margin-left:10px;
    margin-top:0px;
    width:300px;
  }
  .box-530 {
    margin-left:0px;
    margin-top:0px;
    padding-bottom:20px;
    padding-left:15px;
    padding-right:15px;
    padding-top:20px;
    width:268px;
  }
  .box-531 {
    margin-left:0px;
    margin-top:10px;
    padding-bottom:20px;
    padding-left:15px;
    padding-right:15px;
    padding-top:20px;
    width:268px;
  }
  .box-532 {
    margin-left:0px;
    margin-top:10px;
    padding-bottom:20px;
    padding-left:15px;
    padding-right:15px;
    padding-top:20px;
    width:268px;
  }
  .robotics_title {
    font-size:24px;
    margin-left:auto;
    margin-right:auto;
    margin-top:0px;
  }
  .robotics_content {
    margin-left:auto;
    margin-right:auto;
    margin-top:28px;
    width:300px;
  }
  .webmovie {
    float:none;
    height:126px;
    width:160px;
  }
  .learner_content-643 {
    min-height:0px;
    right:0px;
    width:100%;
  }
  .qna_btn-644 {
    float:none;
    margin-left:auto;
    margin-right:initial;
    margin-right:auto;
    width:210px;
  }
  .section-116 {
    padding-bottom:52px;
    padding-top:40px;
  }
  .semesterinfo_title {
    font-size:24px;
    margin-left:auto;
    margin-right:auto;
    margin-top:0px;
  }
  .box-292 {
    margin-left:auto;
    margin-right:auto;
    margin-top:28px;
    width:320px;
  }
  .box-130 {
    margin-left:10px;
    margin-top:0px;
    padding-bottom:20px;
    padding-left:15px;
    padding-right:15px;
    padding-top:20px;
    width:270px;
  }
  .camp_info_subtitle-286 {
    float:none;
    margin-left:0px;
    text-align:left;
    width:270px;
  }
  .dsc1_info-287 {
    float:none;
    margin-left:0px;
    margin-top:2px;
    text-align:left;
    width:270px;
  }
  .box-285 {
    margin-top:16px;
  }
  .camp_info_subtitle-272 {
    float:none;
    margin-left:0px;
    text-align:left;
    width:270px;
  }
  .dsc1_info-273 {
    float:none;
    margin-left:0px;
    margin-top:2px;
    text-align:left;
    width:270px;
  }
  .box-287 {
    margin-top:16px;
  }
  .camp_info_subtitle-274 {
    float:none;
    margin-left:0px;
    text-align:left;
    width:270px;
  }
  .dsc1_info-275 {
    float:none;
    margin-left:0px;
    margin-top:2px;
    text-align:left;
    width:270px;
  }
  .box-288 {
    margin-top:16px;
  }
  .camp_info_subtitle-276 {
    float:none;
    margin-left:0px;
    text-align:left;
    width:270px;
  }
  .dsc1_info-277 {
    float:none;
    margin-left:0px;
    margin-top:2px;
    text-align:left;
    width:270px;
  }
  .box-289 {
    margin-top:16px;
  }
  .camp_info_subtitle-278 {
    float:none;
    margin-left:0px;
    text-align:left;
    width:270px;
  }
  .dsc1_info-279 {
    float:none;
    margin-left:0px;
    margin-top:2px;
    text-align:left;
    width:270px;
  }
  .box-290 {
    margin-top:16px;
  }
  .camp_info_subtitle-280 {
    float:none;
    margin-left:0px;
    text-align:left;
    width:270px;
  }
  .dsc1_info-281 {
    float:none;
    margin-left:0px;
    margin-top:2px;
    text-align:left;
    width:270px;
  }
  .box-291 {
    margin-top:16px;
  }
  .camp_info_subtitle {
    float:none;
    margin-left:0px;
    text-align:left;
    width:270px;
  }
  .dsc1_info {
    float:none;
    margin-left:0px;
    margin-top:2px;
    text-align:left;
    width:270px;
  }
  .box-142 {
    display:none;
    margin-right:0.1px;
    right:0px;
  }
  .text-141 {
    bottom:0px;
    left:0px;
    margin:auto;
    right:0px;
    top:0px;
  }
  .section-610 {
    padding-bottom:52px;
    padding-top:40px;
  }
  .semesterinfo_title-612 {
    font-size:24px;
    margin-left:auto;
    margin-right:auto;
    margin-top:0px;
  }
  .box-613 {
    margin-left:auto;
    margin-right:auto;
    margin-top:28px;
    width:320px;
  }
  .box-614 {
    margin-left:10px;
    margin-top:0px;
    padding-bottom:20px;
    padding-left:15px;
    padding-right:15px;
    padding-top:20px;
    width:270px;
  }
  .camp_info_subtitle-618 {
    float:none;
    margin-left:0px;
    text-align:left;
    width:270px;
  }
  .dsc1_info-620 {
    float:none;
    margin-left:0px;
    margin-top:2px;
    text-align:left;
    width:270px;
  }
  .camp_info_subtitle-639 {
    float:none;
    margin-left:0px;
    text-align:left;
    width:270px;
  }
  .dsc1_info-640 {
    float:none;
    margin-left:0px;
    margin-top:2px;
    text-align:left;
    width:270px;
  }
  .box-628 {
    margin-top:16px;
  }
  .camp_info_subtitle-629 {
    float:none;
    margin-left:0px;
    text-align:left;
    width:270px;
  }
  .dsc1_info-630 {
    float:none;
    margin-left:0px;
    margin-top:2px;
    text-align:left;
    width:270px;
  }
  .box-634 {
    margin-top:16px;
  }
  .camp_info_subtitle-635 {
    float:none;
    margin-left:0px;
    text-align:left;
    width:270px;
  }
  .dsc1_info-636 {
    float:none;
    margin-left:0px;
    margin-top:2px;
    text-align:left;
    width:270px;
  }
  .box-631 {
    margin-top:16px;
  }
  .camp_info_subtitle-632 {
    float:none;
    margin-left:0px;
    text-align:left;
    width:270px;
  }
  .dsc1_info-633 {
    float:none;
    margin-left:0px;
    margin-top:2px;
    text-align:left;
    width:270px;
  }
  .box-637 {
    margin-top:16px;
  }
  .camp_info_subtitle-638 {
    float:none;
    margin-left:0px;
    text-align:left;
    width:270px;
  }
  .dsc1_info-639 {
    float:none;
    margin-left:0px;
    margin-top:2px;
    text-align:left;
    width:270px;
  }
  .box-615 {
    display:none;
    margin-right:0.1px;
    right:0px;
  }
  .text-621 {
    bottom:0px;
    left:0px;
    margin:auto;
    right:0px;
    top:0px;
  }
  .section-177 {
    height:215px;
  }
  .qna_text {
    margin-left:auto;
    margin-right:auto;
    margin-top:40px;
  }
  .qna_btn {
    float:none;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    width:210px;
  }
  .btn_back {
    float:none;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    width:210px;
  }
  .svg-137 {
    bottom:0px;
    height:98px;
    left:0px;
    position:absolute;
    width:126px;
  }
  .footer {
    height:400px;
  }
  .popup-login {
    width:300px;
  }
  .import-460 {
    width:300px;
  }
  .popup-findpw {
    width:300px;
  }
  .import-361 {
    width:300px;
  }

}