.iu-center-box {
  width:960px;
}
.landing {
  color:#323232;
  font-family:Noto Sans KR;
  font-size:16px;
}
.header {
  -webkit-box-shadow:0px 2px 0px 0px #DBDBDB;
  background-color:#FFFFFF;
  box-shadow:0px 2px 0px 0px #DBDBDB;
  color:#333333;
  float:none;
  height:60px;
  left:0px;
  min-width:960px;
  overflow:visible;
  position:fixed;
  top:0px;
  width:100%;
  z-index:11;
}
.page-content {
  padding-top:62px;
}
.section {
  background-image:url('/static/project/1705.png');
  background-position:center center;
  background-size:cover;
  height:800px;
  overflow:visible;
}
.center-box {
  overflow:visible;
}
.text-610 {
  color:#FFFFFF;
  font-family:Noto Sans KR;
  font-size:20px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:140px;
}
.image-626 {
  height:200px;
  left:0px;
  top:180px;
  width:960px;
}
.text-626 {
  background-color:rgba(255,255,255,0.80);
  border-radius:2px;
  color:#323232;
  float:none;
  font-size:18px;
  left:0px;
  line-height:2;
  margin-left:auto;
  margin-right:auto;
  padding:20px;
  right:0px;
  text-align:center;
  top:440px;
  width:600px;
}
.text-627 {
  color:#FFFFFF;
  float:none;
  font-size:20px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:620px;
  width:640px;
}
.section-529 {
  height:500px;
}
.center-box-530 {
  color:#000000;
}
.svg {
  height:725px;
  right:15px;
  top:-140px;
  width:480px;
}
.text-614 {
  color:#323232;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:28px;
  font-weight:700;
  margin-left:15px;
  margin-top:180px;
  position:relative;
  width:630px;
}
.text-531 {
  color:#323232;
  float:none;
  font-size:18px;
  font-weight:400;
  margin-left:15px;
  margin-top:20px;
  position:relative;
  width:630px;
}
.carousel > .iux-carousel-pager {
  bottom:40px;
  text-align:center;
  visibility:visible;
}
.carousel > .iux-carousel-pager > li:hover,.carousel > .iux-carousel-pager > li.iux-active {
  background-color:#B400FF;
}
.carousel {
  float:none;
  height:500px;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  overflow:visible;
  position:relative;
  width:960px;
}
.carousel> .iux-carousel-pager > li {
  background-color:#E6E6E6;
  border-radius:6px;
  margin:6px;
  padding:6px;
}
.carousel > .iux-carousel-prev,.carousel > .iux-carousel-next {
  display:none;
}
.carousel-item {
  background-color:#A0D228;
  background-image:url('/static/project/index_photo_2.jpg');
  background-size:cover;
  height:100%;
  position:relative;
}
.box-614 {
  background-color:rgba(50,50,50,0.30);
  height:100%;
  left:0px;
  top:0px;
  width:100%;
}
.text-612 {
  color:#FFFFFF;
  float:none;
  font-family:'Nanum Pen Script', cursive;
  font-size:28px;
  font-weight:400;
  line-height:1.20;
  margin-left:40px;
  margin-top:40px;
  padding:30px;
  position:relative;
  text-align:left;
  width:525px;
}
.text-623 {
  color:#FFFFFF;
  float:none;
  margin-left:70px;
  margin-top:0px;
  position:relative;
  text-align:left;
  width:300px;
}
.carousel-item-541 {
  background-color:#50A0F0;
  background-image:url('/static/project/index_photo_3.jpg');
  background-size:cover;
  height:100%;
  position:relative;
}
.box-615 {
  background-color:rgba(50,50,50,0.30);
  height:100%;
  left:0px;
  top:0px;
  width:100%;
}
.text-621 {
  color:#FFFFFF;
  float:none;
  font-family:'Nanum Pen Script', cursive;
  font-size:28px;
  font-weight:400;
  line-height:1.20;
  margin-left:40px;
  margin-top:40px;
  padding:30px;
  position:relative;
  text-align:left;
  width:525px;
}
.text-624 {
  color:#FFFFFF;
  float:none;
  margin-left:70px;
  margin-top:0px;
  position:relative;
  text-align:left;
  width:300px;
}
.carousel-item-542 {
  background-color:#F076B4;
  background-image:url('/static/project/index_photo_5.jpg');
  background-size:cover;
  height:100%;
  position:relative;
}
.box-616 {
  background-color:rgba(50,50,50,0.30);
  height:100%;
  left:0px;
  top:0px;
  width:100%;
}
.text-622 {
  color:#FFFFFF;
  float:none;
  font-family:'Nanum Pen Script', cursive;
  font-size:28px;
  font-weight:400;
  line-height:1.20;
  margin-left:40px;
  margin-top:40px;
  padding:30px;
  position:relative;
  text-align:left;
  width:525px;
}
.text-625 {
  color:#FFFFFF;
  float:none;
  margin-left:70px;
  margin-top:0px;
  position:relative;
  text-align:left;
  width:300px;
}
.section-533 {
  height:500px;
}
.text-534 {
  color:#323232;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:28px;
  font-weight:700;
  margin-left:auto;
  margin-right:auto;
  margin-top:180px;
  position:relative;
  text-align:center;
}
.text-535 {
  float:none;
  font-size:18px;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  position:relative;
  text-align:center;
}
.svg-542 {
  left:180px;
  top:160px;
  width:72px;
}
.svg-543 {
  right:180px;
  top:160px;
  width:72px;
}
.section-577 {
  background-image:url('/static/project/1705.png');
  background-position:center center;
  background-size:cover;
  height:720px;
  overflow:visible;
}
.box-627 {
  background:linear-gradient(to bottom, rgba(0,0,0,0.00) 0%, rgba(255,255,255,1.00));
  background:-webkit-linear-gradient(top, rgba(0,0,0,0.00) 0%, rgba(255,255,255,1.00));
  bottom:0px;
  height:360px;
  width:100%;
}
.center-box-578 {
  overflow:hidden;
}
.text-578 {
  color:#FFFFFF;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:28px;
  font-weight:700;
  margin-left:auto;
  margin-right:auto;
  margin-top:60px;
  position:relative;
  text-align:center;
}
.image {
  float:left;
  margin-left:15px;
  margin-top:36px;
  position:relative;
  width:450.00px;
  width:calc(50% - 30px);
  width:-moz-calc(50% - 30px);
  width:-webkit-calc(50% - 30px);
}
.text-581 {
  -webkit-box-shadow:0px 4px 6px -4px #323232;
  background-color:rgba(255,255,255,0.90);
  border-radius:40px;
  box-shadow:0px 4px 6px -4px #323232;
  float:right;
  font-weight:300;
  line-height:1.20;
  margin-right:15px;
  margin-top:60px;
  padding-bottom:16px;
  padding-left:20px;
  padding-right:20px;
  padding-top:16px;
  position:relative;
  right:0px;
  text-align:center;
  width:400px;
}
.svg-627 {
  float:left;
  height:30px;
  margin-left:10px;
  margin-top:88px;
  position:relative;
  width:30px;
}
.text-583 {
  -webkit-box-shadow:0px 4px 6px -4px #323232;
  background-color:rgba(255,255,255,0.90);
  border-radius:40px;
  box-shadow:0px 4px 6px -4px #323232;
  float:right;
  font-weight:300;
  line-height:1.20;
  margin-right:15px;
  margin-top:20px;
  padding-bottom:16px;
  padding-left:20px;
  padding-right:20px;
  padding-top:16px;
  position:relative;
  right:0px;
  text-align:center;
  width:400px;
}
.svg-625 {
  float:left;
  height:30px;
  margin-left:10px;
  margin-top:44px;
  position:relative;
  width:30px;
}
.text-628 {
  -webkit-box-shadow:0px 4px 6px -4px #323232;
  background-color:rgba(255,255,255,0.90);
  border-radius:40px;
  box-shadow:0px 4px 6px -4px #323232;
  float:right;
  font-weight:300;
  line-height:1.20;
  margin-right:15px;
  margin-top:20px;
  padding-bottom:16px;
  padding-left:20px;
  padding-right:20px;
  padding-top:16px;
  position:relative;
  right:0px;
  text-align:center;
  width:400px;
}
.svg-624 {
  float:left;
  height:30px;
  margin-left:10px;
  margin-top:44px;
  position:relative;
  width:30px;
}
.section-544 {
  height:300px;
  overflow:visible;
}
.center-box-545 {
  overflow:visible;
}
.text-587 {
  float:none;
  font-size:18px;
  line-height:2.20;
  margin-left:auto;
  margin-right:auto;
  margin-top:-40px;
  position:relative;
  text-align:center;
}
.text-588 {
  color:#A05AFA;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:28px;
  font-weight:700;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  position:relative;
  text-align:center;
}
.section-478 {
  background-color:rgba(80,160,240,0.20);
  padding-bottom:60px;
  padding-top:60px;
}
.text-480 {
  color:#3C78F0;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:28px;
  font-weight:700;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  position:relative;
  width:calc(100% - 30px);
  width:-moz-calc(100% - 30px);
  width:-webkit-calc(100% - 30px);
}
.collapsible {
  -webkit-box-shadow:0px 4px 4px 0px rgba(109,109,109,0.20);
  background-color:#FFFFFF;
  border-radius:4px;
  box-shadow:0px 4px 4px 0px rgba(109,109,109,0.20);
  color:#000000;
  float:none;
  margin-left:auto;
  margin-right:auto;
  margin-top:40px;
  position:relative;
  width:300.00px;
  width:calc(100% - 30px);
  width:-moz-calc(100% - 30px);
  width:-webkit-calc(100% - 30px);
}
.collapsible-header {
  height:90px;
  position:relative;
}
.collapsible-header-item-488 {
  height:100%;
  width:100%;
}
.text-491 {
  color:#E6E6E6;
  font-family:'Helvetica', sans-serif;
  font-size:52px;
  font-weight:700;
  left:20px;
  top:0px;
}
.text-489 {
  color:#A05AFA;
  float:left;
  font-family:'Nanum Gothic', sans-serif;
  font-size:24px;
  font-weight:700;
  margin-left:60px;
  margin-top:28px;
  position:relative;
  width:140px;
}
.text-490 {
  float:left;
  margin-left:0px;
  margin-top:34px;
  position:relative;
}
.collapsible-content {
  border-color:#6D6D6D;
  border-style:dashed;
  border-top-width:1px;
  display:none;
  padding-bottom:40px;
  padding-left:20px;
  padding-right:20px;
  padding-top:40px;
  position:relative;
}
.text-488 {
  float:none;
  font-weight:300;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  position:relative;
}
.collapsible-488 {
  -webkit-box-shadow:0px 4px 4px 0px rgba(109,109,109,0.20);
  background-color:#FFFFFF;
  border-radius:4px;
  box-shadow:0px 4px 4px 0px rgba(109,109,109,0.20);
  color:#000000;
  float:none;
  margin-left:auto;
  margin-right:auto;
  margin-top:40px;
  position:relative;
  width:300.00px;
  width:calc(100% - 30px);
  width:-moz-calc(100% - 30px);
  width:-webkit-calc(100% - 30px);
}
.collapsible-header-489 {
  height:90px;
  position:relative;
}
.collapsible-header-item {
  height:100%;
  width:100%;
}
.text-493 {
  color:#E6E6E6;
  font-family:'Helvetica', sans-serif;
  font-size:52px;
  font-weight:700;
  left:20px;
  top:0px;
}
.text-494 {
  color:#A05AFA;
  float:left;
  font-family:'Nanum Gothic', sans-serif;
  font-size:24px;
  font-weight:700;
  margin-left:60px;
  margin-top:28px;
  position:relative;
  width:140px;
}
.text-495 {
  float:left;
  margin-left:0px;
  margin-top:34px;
  position:relative;
}
.collapsible-content-490 {
  border-color:#6D6D6D;
  border-style:dashed;
  border-top-width:1px;
  display:none;
  padding-bottom:40px;
  padding-left:20px;
  padding-right:20px;
  padding-top:40px;
  position:relative;
}
.text-492 {
  float:none;
  font-weight:300;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  position:relative;
}
.collapsible-496 {
  -webkit-box-shadow:0px 4px 4px 0px rgba(109,109,109,0.20);
  background-color:#FFFFFF;
  border-radius:4px;
  box-shadow:0px 4px 4px 0px rgba(109,109,109,0.20);
  color:#000000;
  float:none;
  margin-left:auto;
  margin-right:auto;
  margin-top:40px;
  position:relative;
  width:300.00px;
  width:calc(100% - 30px);
  width:-moz-calc(100% - 30px);
  width:-webkit-calc(100% - 30px);
}
.collapsible-header-497 {
  height:90px;
  position:relative;
}
.collapsible-header-item-499 {
  height:100%;
  width:100%;
}
.text-501 {
  color:#E6E6E6;
  font-family:'Helvetica', sans-serif;
  font-size:52px;
  font-weight:700;
  left:20px;
  top:0px;
}
.text-502 {
  color:#A05AFA;
  float:left;
  font-family:'Nanum Gothic', sans-serif;
  font-size:24px;
  font-weight:700;
  margin-left:60px;
  margin-top:28px;
  position:relative;
  width:140px;
}
.text-503 {
  float:left;
  margin-left:0px;
  margin-top:34px;
  position:relative;
}
.collapsible-content-498 {
  border-color:#6D6D6D;
  border-style:dashed;
  border-top-width:1px;
  display:none;
  padding-bottom:40px;
  padding-left:20px;
  padding-right:20px;
  padding-top:40px;
  position:relative;
}
.text-500 {
  float:none;
  font-weight:300;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  position:relative;
}
.collapsible-504 {
  -webkit-box-shadow:0px 4px 4px 0px rgba(109,109,109,0.20);
  background-color:#FFFFFF;
  border-radius:4px;
  box-shadow:0px 4px 4px 0px rgba(109,109,109,0.20);
  color:#000000;
  float:none;
  margin-left:auto;
  margin-right:auto;
  margin-top:40px;
  position:relative;
  width:300.00px;
  width:calc(100% - 30px);
  width:-moz-calc(100% - 30px);
  width:-webkit-calc(100% - 30px);
}
.collapsible-header-505 {
  height:90px;
  position:relative;
}
.collapsible-header-item-507 {
  height:100%;
  width:100%;
}
.text-509 {
  color:#E6E6E6;
  font-family:'Helvetica', sans-serif;
  font-size:52px;
  font-weight:700;
  left:20px;
  top:0px;
}
.text-510 {
  color:#A05AFA;
  float:left;
  font-family:'Nanum Gothic', sans-serif;
  font-size:24px;
  font-weight:700;
  margin-left:60px;
  margin-top:28px;
  position:relative;
  width:140px;
}
.text-511 {
  float:left;
  margin-left:0px;
  margin-top:34px;
  position:relative;
}
.collapsible-content-506 {
  border-color:#6D6D6D;
  border-style:dashed;
  border-top-width:1px;
  display:none;
  padding-bottom:40px;
  padding-left:20px;
  padding-right:20px;
  padding-top:40px;
  position:relative;
}
.text-508 {
  float:none;
  font-weight:300;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  position:relative;
}
.collapsible-512 {
  -webkit-box-shadow:0px 4px 4px 0px rgba(109,109,109,0.20);
  background-color:#FFFFFF;
  border-radius:4px;
  box-shadow:0px 4px 4px 0px rgba(109,109,109,0.20);
  color:#000000;
  float:none;
  margin-left:auto;
  margin-right:auto;
  margin-top:40px;
  position:relative;
  width:300.00px;
  width:calc(100% - 30px);
  width:-moz-calc(100% - 30px);
  width:-webkit-calc(100% - 30px);
}
.collapsible-header-513 {
  height:90px;
  position:relative;
}
.collapsible-header-item-515 {
  height:100%;
  width:100%;
}
.text-517 {
  color:#E6E6E6;
  font-family:'Helvetica', sans-serif;
  font-size:52px;
  font-weight:700;
  left:20px;
  top:0px;
}
.text-518 {
  color:#A05AFA;
  float:left;
  font-family:'Nanum Gothic', sans-serif;
  font-size:24px;
  font-weight:700;
  margin-left:60px;
  margin-top:28px;
  position:relative;
  width:140px;
}
.text-519 {
  float:left;
  margin-left:0px;
  margin-top:34px;
  position:relative;
}
.collapsible-content-514 {
  border-color:#6D6D6D;
  border-style:dashed;
  border-top-width:1px;
  display:none;
  padding-bottom:40px;
  padding-left:20px;
  padding-right:20px;
  padding-top:40px;
  position:relative;
}
.text-516 {
  float:none;
  font-weight:300;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  position:relative;
}
.collapsible-608 {
  -webkit-box-shadow:0px 4px 4px 0px rgba(109,109,109,0.20);
  background-color:#FFFFFF;
  border-radius:4px;
  box-shadow:0px 4px 4px 0px rgba(109,109,109,0.20);
  color:#000000;
  float:none;
  margin-left:auto;
  margin-right:auto;
  margin-top:40px;
  position:relative;
  width:300.00px;
  width:calc(100% - 30px);
  width:-moz-calc(100% - 30px);
  width:-webkit-calc(100% - 30px);
}
.collapsible-header-609 {
  height:90px;
  position:relative;
}
.collapsible-header-item-611 {
  height:100%;
  width:100%;
}
.text-616 {
  color:#E6E6E6;
  font-family:'Helvetica', sans-serif;
  font-size:52px;
  font-weight:700;
  left:20px;
  top:0px;
}
.text-617 {
  color:#A05AFA;
  float:left;
  font-family:'Nanum Gothic', sans-serif;
  font-size:24px;
  font-weight:700;
  margin-left:60px;
  margin-top:28px;
  position:relative;
  width:140px;
}
.text-618 {
  float:left;
  margin-left:0px;
  margin-top:34px;
  position:relative;
}
.collapsible-content-610 {
  border-color:#6D6D6D;
  border-style:dashed;
  border-top-width:1px;
  display:none;
  padding-bottom:40px;
  padding-left:20px;
  padding-right:20px;
  padding-top:40px;
  position:relative;
}
.text-615 {
  float:none;
  font-weight:300;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  position:relative;
}
.box-617 {
  float:none;
  height:20px;
  position:relative;
  width:100%;
}
.section-552 {
  background-image:url('/static/project/1705.png');
  background-position:center center;
  background-size:cover;
  padding-bottom:80px;
  padding-top:60px;
}
.text-554 {
  color:#FFFFFF;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:28px;
  font-weight:700;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  position:relative;
  text-align:center;
}
.text-555 {
  color:#FFFFFF;
  float:none;
  font-size:20px;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  position:relative;
  text-align:center;
}
.box-572 {
  background-color:#FFFFFF;
  background-size:cover;
  border-bottom-width:2px;
  border-color:#E6E6E6;
  border-left-width:1px;
  border-radius:2px;
  border-right-width:1px;
  border-top-width:1px;
  float:left;
  font-family:Noto Sans KR;
  font-size:16px;
  margin-left:15px;
  margin-top:40px;
  padding:20px;
  position:relative;
  width:258px;
}
.text-573 {
  background-color:rgba(160,210,40,0.20);
  border-radius:40px;
  color:#50A00A;
  float:none;
  font-family:'Nanum Pen Script', cursive;
  font-size:28px;
  line-height:1.20;
  margin-left:auto;
  margin-right:auto;
  margin-top:4px;
  padding-bottom:20px;
  padding-top:20px;
  position:relative;
  text-align:center;
  width:240px;
}
.box {
  float:none;
  height:30px;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  position:relative;
  width:100px;
}
.box-577 {
  -webkit-transform:rotate(45deg);
  background-color:rgba(160,210,40,0.20);
  float:none;
  height:20px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:-10px;
  transform:rotate(45deg);
  width:20px;
}
.text-576 {
  color:#A0D228;
  float:none;
  font-size:20px;
  font-weight:700;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  position:relative;
  text-align:center;
}
.text-574 {
  float:none;
  font-weight:300;
  margin-left:auto;
  margin-right:auto;
  margin-top:4px;
  position:relative;
  text-align:center;
}
.cell {
  background-color:rgba(160,210,40,0.90);
  border-radius:4px;
  color:#FFFFFF;
  float:none;
  font-family:Noto Sans KR;
  font-weight:700;
  height:36px;
  letter-spacing:1.2px;
  line-height:36px;
  margin-left:0px;
  margin-top:20px;
  position:relative;
  text-align:center;
  width:100%;
}
.box-578 {
  background-color:#FFFFFF;
  background-size:cover;
  border-bottom-width:2px;
  border-color:#E6E6E6;
  border-left-width:1px;
  border-radius:2px;
  border-right-width:1px;
  border-top-width:1px;
  float:left;
  font-family:Noto Sans KR;
  font-size:16px;
  margin-left:15px;
  margin-top:40px;
  padding:20px;
  position:relative;
  width:258px;
}
.text-579 {
  background-color:rgba(80,160,240,0.20);
  border-radius:40px;
  color:#3C8CDC;
  float:none;
  font-family:'Nanum Pen Script', cursive;
  font-size:28px;
  line-height:1.20;
  margin-left:auto;
  margin-right:auto;
  margin-top:4px;
  padding-bottom:20px;
  padding-top:20px;
  position:relative;
  text-align:center;
  width:240px;
}
.box-571 {
  float:none;
  height:30px;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  position:relative;
  width:100px;
}
.box-573 {
  -webkit-transform:rotate(45deg);
  background-color:rgba(80,160,240,0.20);
  float:none;
  height:20px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:-10px;
  transform:rotate(45deg);
  width:20px;
}
.text-580 {
  color:#50A0F0;
  float:none;
  font-size:20px;
  font-weight:700;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  position:relative;
  text-align:center;
}
.text-582 {
  float:none;
  font-weight:300;
  margin-left:auto;
  margin-right:auto;
  margin-top:4px;
  position:relative;
  text-align:center;
}
.cell-581 {
  background-color:rgba(80,160,240,0.90);
  border-radius:4px;
  color:#FFFFFF;
  float:none;
  font-family:Noto Sans KR;
  font-weight:700;
  height:36px;
  letter-spacing:1.2px;
  line-height:36px;
  margin-left:0px;
  margin-top:20px;
  position:relative;
  text-align:center;
  width:100%;
}
.box-583 {
  background-color:#FFFFFF;
  background-size:cover;
  border-bottom-width:2px;
  border-color:#E6E6E6;
  border-left-width:1px;
  border-radius:2px;
  border-right-width:1px;
  border-top-width:1px;
  float:left;
  font-family:Noto Sans KR;
  font-size:16px;
  margin-left:15px;
  margin-top:40px;
  padding:20px;
  position:relative;
  width:258px;
}
.text-584 {
  background-color:rgba(240,118,180,0.20);
  border-radius:40px;
  color:#DC6496;
  float:none;
  font-family:'Nanum Pen Script', cursive;
  font-size:28px;
  line-height:1.20;
  margin-left:auto;
  margin-right:auto;
  margin-top:4px;
  padding-bottom:20px;
  padding-top:20px;
  position:relative;
  text-align:center;
  width:240px;
}
.box-574 {
  float:none;
  height:30px;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  position:relative;
  width:100px;
}
.box-575 {
  -webkit-transform:rotate(45deg);
  background-color:rgba(240,118,180,0.20);
  float:none;
  height:20px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:-10px;
  transform:rotate(45deg);
  width:20px;
}
.text-585 {
  color:#F076B4;
  float:none;
  font-size:20px;
  font-weight:700;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  position:relative;
  text-align:center;
}
.text-586 {
  float:none;
  font-weight:300;
  margin-left:auto;
  margin-right:auto;
  margin-top:4px;
  position:relative;
  text-align:center;
}
.cell-587 {
  background-color:rgba(240,118,180,0.90);
  border-radius:4px;
  color:#FFFFFF;
  float:none;
  font-family:Noto Sans KR;
  font-weight:700;
  height:36px;
  letter-spacing:1.2px;
  line-height:36px;
  margin-left:0px;
  margin-top:20px;
  position:relative;
  text-align:center;
  width:100%;
}
.section-549 {
  background-color:#F5F5F5;
  padding-bottom:80px;
  padding-top:60px;
}
.text-551 {
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:28px;
  font-weight:700;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  position:relative;
  width:calc(100% - 30px);
  width:-moz-calc(100% - 30px);
  width:-webkit-calc(100% - 30px);
}
.box-586 {
  background-size:cover;
  border-radius:2px;
  color:#000000;
  float:left;
  font-family:Noto Sans KR;
  font-size:16px;
  height:180px;
  margin-left:15px;
  margin-top:40px;
  position:relative;
  width:300px;
}
.image-596 {
  left:0px;
  top:0px;
  width:100%;
}
.text-592 {
  font-size:40px;
  font-weight:700;
  left:0px;
  text-align:center;
  top:32px;
  width:200px;
}
.text-595 {
  color:#FFFFFF;
  font-size:40px;
  font-weight:700;
  left:200px;
  text-align:center;
  top:52px;
  width:100px;
}
.text-599 {
  float:none;
  font-size:14px;
  font-weight:300;
  margin-left:0px;
  margin-top:100px;
  position:relative;
  text-align:center;
  width:200px;
}
.box-593 {
  background-size:cover;
  border-radius:2px;
  float:left;
  font-family:Noto Sans KR;
  font-size:16px;
  height:180px;
  margin-left:15px;
  margin-top:40px;
  position:relative;
  width:300px;
}
.image-597 {
  left:0px;
  top:0px;
  width:100%;
}
.text-593 {
  font-size:40px;
  font-weight:700;
  left:0px;
  text-align:center;
  top:32px;
  width:200px;
}
.text-596 {
  color:#FFFFFF;
  font-size:40px;
  font-weight:700;
  left:200px;
  text-align:center;
  top:52px;
  width:100px;
}
.text-598 {
  float:none;
  font-size:14px;
  font-weight:300;
  margin-left:0px;
  margin-top:100px;
  position:relative;
  text-align:center;
  width:200px;
}
.box-600 {
  background-size:cover;
  border-radius:2px;
  float:left;
  font-family:Noto Sans KR;
  font-size:16px;
  height:180px;
  margin-left:15px;
  margin-top:40px;
  position:relative;
  width:300px;
}
.image-598 {
  left:0px;
  top:0px;
  width:100%;
}
.text-594 {
  font-size:40px;
  font-weight:700;
  left:0px;
  text-align:center;
  top:32px;
  width:200px;
}
.text-597 {
  color:#FFFFFF;
  font-size:40px;
  font-weight:700;
  left:200px;
  text-align:center;
  top:52px;
  width:100px;
}
.text-600 {
  float:none;
  font-size:14px;
  font-weight:300;
  margin-left:0px;
  margin-top:100px;
  position:relative;
  text-align:center;
  width:200px;
}
.box-599 {
  border-color:#B6B6B6;
  border-radius:2px;
  border-width:0px;
  float:none;
  margin-left:auto;
  margin-right:auto;
  margin-top:240px;
  padding:0px;
  position:relative;
  width:calc(100% - 30px);
  width:-moz-calc(100% - 30px);
  width:-webkit-calc(100% - 30px);
}
.box-603 {
  float:none;
  position:relative;
}
.svg-576 {
  float:left;
  height:20px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:20px;
}
.text-601 {
  color:#B6B6B6;
  float:left;
  font-size:14px;
  font-weight:300;
  margin-left:10px;
  margin-top:0px;
  position:relative;
  text-align:left;
}
.box-601 {
  float:none;
  position:relative;
}
.svg-602 {
  float:left;
  height:20px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:20px;
}
.text-603 {
  color:#B6B6B6;
  float:left;
  font-size:14px;
  font-weight:300;
  margin-left:10px;
  margin-top:0px;
  position:relative;
  text-align:left;
}
.cell-42 {
  -webkit-transition:background-color 0.4s;
  background-color:#FA690A;
  border-radius:4px;
  color:#FFFFFF;
  float:none;
  font-family:Noto Sans KR;
  font-weight:700;
  height:36px;
  line-height:36px;
  margin-left:auto;
  margin-right:auto;
  margin-top:40px;
  position:relative;
  text-align:center;
  transition:background-color 0.4s;
  width:300px;
}
.cell-42.iux-hover, .cell-42.iux-active {
  background-color:rgba(250,105,10,0.80);
}
.footer {
  background-color:#282828;
  height:300px;
  left:0px;
  position:relative;
  top:0px;
  width:100%;
}
.popup-login {
  background-color:#FFFFFF;
  border-radius:2px;
  height:422px;
  position:fixed;
  width:400px;
  z-index:100;
}
.popup-login-dimcolor {
  background-color:rgba(0,0,0,0.60);
  z-index:99;
}
.popup-login > .iux-popup-close-button {
  background-image:url('/static/project/btn_close.png');
  display:inherit;
  height:30px;
  position:absolute;
  right:12px;
  top:15px;
  width:30px;
}
.import {
  left:0px;
  top:0px;
  width:400px;
}
.popup-findpw {
  background-color:#FFFFFF;
  border-radius:2px;
  height:522px;
  position:fixed;
  width:400px;
  z-index:100;
}
.popup-findpw > .iux-popup-close-button {
  background-image:url('/static/project/btn_close.png');
  display:inherit;
  height:30px;
  position:absolute;
  right:12px;
  top:15px;
  width:30px;
}
.popup-findpw-dimcolor {
  background-color:rgba(0,0,0,0.60);
  z-index:99;
}
.import-361 {
  width:400px;
}
@media screen and (max-width:959px) {
  .iu-center-box {
    width:320px;
  }
  .header {
    min-width:320px;
  }
  .text-610 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .text-626 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .text-627 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .carousel {
    margin-left:auto;
    margin-right:auto;
  }
  .carousel > .iux-carousel-pager {
    text-align:center;
    visibility:visible;
  }
  .carousel > .iux-carousel-prev,.carousel > .iux-carousel-next {
    display:none;
  }
  .text-534 {
    margin-left:auto;
    margin-right:auto;
  }
  .text-535 {
    margin-left:auto;
    margin-right:auto;
  }
  .box-627 {
    bottom:0px;
  }
  .text-578 {
    margin-left:auto;
    margin-right:auto;
  }
  .image {
    float:none;
  }
  .text-581 {
    right:0px;
  }
  .text-583 {
    right:0px;
  }
  .text-628 {
    right:0px;
  }
  .text-587 {
    margin-left:auto;
    margin-right:auto;
  }
  .text-588 {
    margin-left:auto;
    margin-right:auto;
  }
  .text-480 {
    margin-left:auto;
    margin-right:auto;
  }
  .collapsible {
    margin-left:auto;
    margin-right:auto;
  }
  .collapsible-content {
    display:none;
  }
  .text-488 {
    margin-left:auto;
    margin-right:auto;
  }
  .collapsible-488 {
    margin-left:auto;
    margin-right:auto;
  }
  .collapsible-content-490 {
    display:none;
  }
  .text-492 {
    margin-left:auto;
    margin-right:auto;
  }
  .collapsible-496 {
    margin-left:auto;
    margin-right:auto;
  }
  .collapsible-content-498 {
    display:none;
  }
  .text-500 {
    margin-left:auto;
    margin-right:auto;
  }
  .collapsible-504 {
    margin-left:auto;
    margin-right:auto;
  }
  .collapsible-content-506 {
    display:none;
  }
  .text-508 {
    margin-left:auto;
    margin-right:auto;
  }
  .collapsible-512 {
    margin-left:auto;
    margin-right:auto;
  }
  .collapsible-content-514 {
    display:none;
  }
  .text-516 {
    margin-left:auto;
    margin-right:auto;
  }
  .collapsible-608 {
    margin-left:auto;
    margin-right:auto;
  }
  .collapsible-content-610 {
    display:none;
  }
  .text-615 {
    margin-left:auto;
    margin-right:auto;
  }
  .text-554 {
    margin-left:auto;
    margin-right:auto;
  }
  .text-555 {
    margin-left:auto;
    margin-right:auto;
  }
  .box-572 {
    float:none;
    margin-left:10px;
    margin-top:20px;
  }
  .text-573 {
    margin-left:auto;
    margin-right:auto;
  }
  .box {
    margin-left:auto;
    margin-right:auto;
  }
  .box-577 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .text-576 {
    margin-left:auto;
    margin-right:auto;
  }
  .text-574 {
    margin-left:auto;
    margin-right:auto;
  }
  .cell {
    margin-left:0px;
  }
  .box-578 {
    float:none;
    margin-left:10px;
    margin-top:20px;
  }
  .text-579 {
    margin-left:auto;
    margin-right:auto;
  }
  .box-571 {
    margin-left:auto;
    margin-right:auto;
  }
  .box-573 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .text-580 {
    margin-left:auto;
    margin-right:auto;
  }
  .text-582 {
    margin-left:auto;
    margin-right:auto;
  }
  .cell-581 {
    margin-left:0px;
  }
  .box-583 {
    float:none;
    margin-left:10px;
    margin-top:20px;
  }
  .text-584 {
    margin-left:auto;
    margin-right:auto;
  }
  .box-574 {
    margin-left:auto;
    margin-right:auto;
  }
  .box-575 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .text-585 {
    margin-left:auto;
    margin-right:auto;
  }
  .text-586 {
    margin-left:auto;
    margin-right:auto;
  }
  .cell-587 {
    margin-left:0px;
  }
  .text-551 {
    margin-left:auto;
    margin-right:auto;
  }
  .box-586 {
    float:none;
    margin-left:10px;
    margin-top:20px;
  }
  .box-593 {
    float:none;
    margin-left:10px;
    margin-top:20px;
  }
  .box-600 {
    float:none;
    margin-left:10px;
    margin-top:20px;
  }
  .box-599 {
    margin-left:auto;
    margin-right:auto;
  }
  .cell-42 {
    margin-left:auto;
    margin-right:auto;
  }
  .footer {
    height:400px;
  }
  .popup-login {
    width:300px;
  }
  .import {
    width:300px;
  }
  .popup-findpw {
    width:300px;
  }
  .import-361 {
    width:300px;
  }

}