.box-2732 {
  background-color:rgba(245,245,245,0.50);
  border-bottom-width:1px;
  border-color:#E6E6E6;
  float:none;
  height:30px;
  margin-left:0px;
  margin-top:0px;
  overflow:visible;
  padding-bottom:10px;
  padding-left:30px;
  padding-right:30px;
  padding-top:10px;
  position:relative;
  width:calc(100% - 60px);
  width:-moz-calc(100% - 60px);
  width:-webkit-calc(100% - 60px);
}
.text-2733 > p {
  overflow:hidden;
  text-overflow:ellipsis;
}
.text-2733 {
  -webkit-box-orient:vertical;
  -webkit-line-clamp:1;
  box-orient:vertical;
  float:left;
  margin-left:0px;
  margin-top:3px;
  overflow:hidden;
  position:relative;
  text-overflow:ellipsis;
  white-space:nowrap;
  width:10%;
}
.box-2734 {
  float:left;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:56%;
}
.cell-2737 {
  background-color:#E6E6E6;
  border-radius:2px;
  float:left;
  font-size:13px;
  height:20px;
  line-height:20px;
  margin-left:0px;
  margin-top:6px;
  padding-left:10px;
  padding-right:10px;
  position:relative;
  text-align:center;
}
.text-2738 {
  -webkit-box-orient:vertical;
  -webkit-line-clamp:1;
  box-orient:vertical;
  float:none;
  margin-left:0px;
  margin-top:3px;
  overflow:hidden;
  padding-left:20px;
  padding-right:20px;
  position:relative;
  text-overflow:ellipsis;
  white-space:nowrap;
}
.text-2738 > p {
  overflow:hidden;
  text-overflow:ellipsis;
}
.cell-2735 {
  -webkit-transition:background-color 0.4s;
  background-color:#FFFFFF;
  border-color:#6D6D6D;
  border-radius:4px;
  border-width:1px;
  color:#6D6D6D;
  float:right;
  font-size:14px;
  height:28px;
  line-height:28px;
  margin-right:0px;
  margin-top:0px;
  position:relative;
  right:0px;
  text-align:center;
  transition:background-color 0.4s;
  width:calc(15% - 20px);
  width:-moz-calc(15% - 20px);
  width:-webkit-calc(15% - 20px);
}
.cell-2735.iux-hover, .cell-2735.iux-active {
  background-color:rgba(109,109,109,0.10);
}
.text-2741 > p {
  overflow:hidden;
  text-overflow:ellipsis;
}
.text-2741 {
  -webkit-box-orient:vertical;
  -webkit-line-clamp:1;
  box-orient:vertical;
  display:none;
  float:left;
  margin-left:0px;
  margin-top:3px;
  overflow:hidden;
  position:relative;
  text-overflow:ellipsis;
  white-space:nowrap;
  width:14%;
}
.cell-2919.iux-hover, .cell-2919.iux-active {
  background-color:rgba(250,105,10,0.10);
}
.cell-2919 {
  -webkit-transition:background-color 0.4s;
  background-color:#FFFFFF;
  border-color:#FA690A;
  border-radius:4px;
  border-width:1px;
  color:#FA690A;
  float:right;
  font-size:14px;
  height:28px;
  line-height:28px;
  margin-right:12px;
  margin-top:0px;
  position:relative;
  right:0px;
  text-align:center;
  transition:background-color 0.4s;
  width:calc(15% - 20px);
  width:-moz-calc(15% - 20px);
  width:-webkit-calc(15% - 20px);
}
@media screen and (max-width:959px) {
  .box-2732 {
    height:68px;
    margin-left:0px;
    margin-top:0px;
    padding-left:15px;
    padding-right:15px;
    width:calc(100% - 30px);
    width:-moz-calc(100% - 30px);
    width:-webkit-calc(100% - 30px);
  }
  .text-2733 {
    font-size:14px;
    margin-left:0px;
    margin-top:4px;
    width:22%;
  }
  .box-2734 {
    width:78%;
  }
  .cell-2737 {
    display:none;
  }
  .text-2738 {
    font-size:14px;
    margin-top:4px;
    padding-left:10px;
    padding-right:0px;
  }
  .cell-2735 {
    float:none;
    left:0px;
    margin-left:auto;
    margin-right:initial;
    margin-right:auto;
    margin-top:initial;
    margin-top:auto;
    position:absolute;
    right:0px;
    top:46px;
    width:238px;
  }
  .text-2741 {
    display:none;
  }
  .cell-2919 {
    float:none;
    left:0px;
    margin-left:auto;
    margin-right:initial;
    margin-right:auto;
    margin-top:initial;
    margin-top:auto;
    position:absolute;
    right:0px;
    top:46px;
    width:238px;
  }

}