.box-1782 {
  border-color:#E6E6E6;
  border-radius:2px;
  border-width:1px;
  float:none;
  margin-left:0px;
  margin-top:20px;
  position:relative;
}
.box-1783 {
  background-color:rgba(80,160,240,0.20);
  border-bottom-width:1px;
  border-color:#E6E6E6;
  float:none;
  height:30px;
  margin-left:0px;
  margin-top:0px;
  overflow:visible;
  padding-bottom:10px;
  padding-left:30px;
  padding-right:30px;
  padding-top:10px;
  position:relative;
  width:calc(100% - 58px);
  width:-moz-calc(100% - 58px);
  width:-webkit-calc(100% - 58px);
}
.cell-1785 {
  -webkit-transition:background-color 0.4s;
  background-color:#FFFFFF;
  border-color:#50A0F0;
  border-radius:4px;
  border-width:1px;
  color:#50A0F0;
  float:right;
  font-size:14px;
  height:28px;
  line-height:28px;
  margin-right:0px;
  margin-top:0px;
  position:relative;
  right:0px;
  text-align:center;
  transition:background-color 0.4s;
  width:calc(15% - 20px);
  width:-moz-calc(15% - 20px);
  width:-webkit-calc(15% - 20px);
}
.cell-1785.iux-hover, .cell-1785.iux-active {
  background-color:rgba(80,160,240,0.10);
}
.text-1790 {
  -webkit-box-orient:vertical;
  -webkit-line-clamp:1;
  box-orient:vertical;
  float:left;
  margin-left:0px;
  margin-top:3px;
  overflow:hidden;
  position:relative;
  text-overflow:ellipsis;
  white-space:nowrap;
  width:10%;
}
.text-1790 > p {
  overflow:hidden;
  text-overflow:ellipsis;
}
.box-1786 {
  float:left;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:56%;
}
.cell-1790 {
  background-color:rgba(255,255,255,0.50);
  border-radius:2px;
  float:left;
  font-size:13px;
  height:20px;
  line-height:20px;
  margin-left:0px;
  margin-top:6px;
  padding-left:10px;
  padding-right:10px;
  position:relative;
  text-align:center;
}
.text-1792 > p {
  overflow:hidden;
  text-overflow:ellipsis;
}
.text-1792 {
  -webkit-box-orient:vertical;
  -webkit-line-clamp:1;
  box-orient:vertical;
  float:none;
  margin-left:0px;
  margin-top:3px;
  overflow:hidden;
  padding-left:20px;
  padding-right:20px;
  position:relative;
  text-overflow:ellipsis;
  white-space:nowrap;
}
.text-1791 {
  -webkit-box-orient:vertical;
  -webkit-line-clamp:1;
  box-orient:vertical;
  float:left;
  margin-left:0px;
  margin-top:3px;
  overflow:hidden;
  position:relative;
  text-overflow:ellipsis;
  white-space:nowrap;
  width:14%;
}
.text-1791 > p {
  overflow:hidden;
  text-overflow:ellipsis;
}
.box-1784 {
  background-color:rgba(245,245,245,0.50);
  border-bottom-width:1px;
  border-color:#E6E6E6;
  float:none;
  height:30px;
  margin-left:0px;
  margin-top:0px;
  overflow:visible;
  padding-bottom:10px;
  padding-left:30px;
  padding-right:30px;
  padding-top:10px;
  position:relative;
  width:calc(100% - 58px);
  width:-moz-calc(100% - 58px);
  width:-webkit-calc(100% - 58px);
}
.cell-1789 {
  -webkit-transition:background-color 0.4s;
  background-color:#FFFFFF;
  border-color:#50A0F0;
  border-radius:4px;
  border-width:1px;
  color:#50A0F0;
  float:right;
  font-size:14px;
  height:28px;
  line-height:28px;
  margin-right:0px;
  margin-top:0px;
  position:relative;
  right:0px;
  text-align:center;
  transition:background-color 0.4s;
  width:calc(15% - 20px);
  width:-moz-calc(15% - 20px);
  width:-webkit-calc(15% - 20px);
}
.cell-1789.iux-hover, .cell-1789.iux-active {
  background-color:rgba(80,160,240,0.10);
}
.cell-1788 {
  float:left;
  height:30px;
  line-height:30px;
  margin-left:9.99%;
  margin-top:0px;
  position:relative;
  text-align:left;
}
.cell-2659.iux-hover, .cell-2659.iux-active {
  background-color:rgba(80,160,240,0.10);
}
.cell-2659 {
  -webkit-transition:background-color 0.4s;
  background-color:#FFFFFF;
  border-color:#50A0F0;
  border-radius:4px;
  border-width:1px;
  color:#50A0F0;
  display:none;
  float:right;
  font-size:14px;
  height:28px;
  line-height:28px;
  margin-right:0px;
  margin-top:0px;
  position:relative;
  right:0px;
  text-align:center;
  transition:background-color 0.4s;
  width:calc(15% - 20px);
  width:-moz-calc(15% - 20px);
  width:-webkit-calc(15% - 20px);
}
@media screen and (max-width:959px) {
  .box-1782 {
    margin-left:0px;
    margin-top:16px;
  }
  .box-1783 {
    height:26px;
    margin-left:0px;
    margin-top:0px;
    padding-left:15px;
    padding-right:15px;
    width:calc(100% - 28px);
    width:-moz-calc(100% - 28px);
    width:-webkit-calc(100% - 28px);
  }
  .cell-1785 {
    display:none;
    right:0px;
  }
  .text-1790 {
    display:none;
    margin-left:0px;
    margin-top:3px;
    width:25%;
  }
  .box-1786 {
    margin-left:0px;
    margin-top:0px;
    width:100%;
  }
  .cell-1790 {
    display:none;
  }
  .text-1792 {
    font-size:14px;
    margin-left:0px;
    margin-top:4px;
    padding-left:0px;
    padding-right:0px;
    text-align:center;
  }
  .text-1791 {
    display:none;
    margin-left:0px;
    margin-top:3px;
  }
  .box-1784 {
    height:30px;
    margin-left:0px;
    margin-top:0px;
    padding-left:15px;
    padding-right:15px;
    width:calc(100% - 28px);
    width:-moz-calc(100% - 28px);
    width:-webkit-calc(100% - 28px);
  }
  .cell-1789 {
    right:0px;
    width:110px;
  }
  .cell-1788 {
    display:none;
  }
  .cell-2659 {
    display:inherit;
    margin-right:16px;
    right:0px;
    width:110px;
  }

}