.box-1627 {
  border-color:#E6E6E6;
  border-top-width:1px;
  float:none;
  margin-left:0px;
  margin-top:0px;
  min-height:200px;
  padding-bottom:40px;
  position:relative;
  width:930px;
}
.image-2096 {
  border-color:#E6E6E6;
  border-radius:50%;
  border-width:1px;
  float:none;
  height:160px;
  left:25px;
  top:40px;
  width:160px;
}
.box-1629 {
  left:210px;
  top:50px;
}
.text-1633 {
  background-color:rgba(240,118,180,0.80);
  border-radius:2px;
  color:#FFFFFF;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:400;
  margin-left:0px;
  margin-top:0px;
  padding-left:10px;
  padding-right:10px;
  position:relative;
}
.text-1637 {
  -webkit-box-orient:vertical;
  -webkit-line-clamp:1;
  box-orient:vertical;
  color:#F076B4;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:18px;
  font-weight:700;
  margin-left:10px;
  margin-top:-2px;
  overflow:hidden;
  position:relative;
  text-overflow:ellipsis;
  white-space:nowrap;
  width:432px;
}
.text-1637 > p {
  overflow:hidden;
  text-overflow:ellipsis;
}
.box-2737 {
  background-color:#F076B4;
  border-color:#E6E6E6;
  border-radius:50%;
  border-width:2px;
  height:40px;
  left:140px;
  top:40px;
  width:40px;
}
.svg-2736 {
  bottom:0px;
  height:24px;
  left:0px;
  margin:auto;
  right:0px;
  top:0px;
  width:24px;
}
.box-1630 {
  float:none;
  margin-left:210px;
  margin-top:100px;
  overflow:visible;
  position:relative;
  width:520px;
}
.cell-1634 {
  border-color:#E6E6E6;
  border-width:1px;
  color:#6D6D6D;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:300;
  height:30px;
  line-height:30px;
  margin-left:0px;
  margin-top:0px;
  padding-left:10px;
  padding-right:10px;
  position:relative;
  text-align:left;
}
.html-1638 {
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  margin-left:0px;
  margin-top:80px;
  padding-top:10px;
  position:relative;
  width:100%;
}
.cell-1929 {
  border-color:#F076B4;
  border-radius:4px;
  border-width:1px;
  color:#F076B4;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:700;
  height:30px;
  line-height:30px;
  right:25px;
  text-align:center;
  top:130px;
  width:158px;
}
.html-1751 {
  color:#6D6D6D;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:300;
  height:30px;
  right:155px;
  text-align:center;
  top:50px;
  width:30px;
}
.html-1750 {
  color:#6D6D6D;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:300;
  height:30px;
  right:155px;
  text-align:center;
  top:94px;
  width:30px;
}
.text-1751 {
  color:#6D6D6D;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:300;
  line-height:1.40;
  right:25px;
  text-align:left;
  top:51px;
  width:126px;
}
.text-1753 {
  color:#6D6D6D;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:300;
  line-height:1.40;
  right:25px;
  text-align:left;
  top:95px;
  width:126px;
}
@media screen and (max-width:959px) {
  .box-1627 {
    margin-left:0px;
    margin-top:0px;
    min-height:0px;
    padding-bottom:15px;
    width:300px;
  }
  .image-2096 {
    border-radius:0%;
    height:172px;
    left:10px;
    top:48px;
    width:278px;
  }
  .box-1629 {
    left:10px;
    top:15px;
  }
  .text-1633 {
    font-size:12px;
    margin-left:0px;
    margin-top:3px;
    padding-left:6px;
    padding-right:6px;
  }
  .text-1637 {
    margin-left:10px;
    margin-top:-2px;
    width:214px;
  }
  .box-2737 {
    left:initial;
    left:auto;
    right:20px;
    top:60px;
  }
  .svg-2736 {
    bottom:0px;
    left:0px;
    margin:auto;
    right:0px;
    top:0px;
  }
  .box-1630 {
    margin-left:0px;
    margin-top:0px;
    width:300px;
  }
  .cell-1634 {
    display:none;
  }
  .html-1638 {
    font-size:12px;
    margin-left:10px;
    margin-top:222px;
    width:280px;
  }
  .cell-1929 {
    background-color:rgba(255,255,255,0.50);
    height:34px;
    line-height:34px;
    right:20px;
    top:176px;
  }
  .html-1751 {
    display:none;
  }
  .html-1750 {
    display:none;
  }
  .text-1751 {
    display:none;
  }
  .text-1753 {
    display:none;
  }

}