.cell-2642 {
  float:left;
  height:40px;
  line-height:40px;
  position:relative;
  text-align:center;
  width:12%;
}
.text-2734 {
  float:left;
  padding:8px;
  position:relative;
  width:calc(88% - 16px);
  width:-moz-calc(88% - 16px);
  width:-webkit-calc(88% - 16px);
}
@media screen and (max-width:959px) {
}