.box-2718 {
  border-bottom-width:1px;
  border-color:#E6E6E6;
  float:none;
  position:relative;
  width:100%;
}
.cell-2718 {
  float:left;
  height:30px;
  line-height:30px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:30%;
}
.cell-2719 {
  float:left;
  height:30px;
  line-height:30px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:25%;
}
.cell-2720 {
  float:left;
  height:30px;
  line-height:30px;
  position:relative;
  text-align:center;
  width:45%;
}
@media screen and (max-width:959px) {
}