.pg-form-1762 {
  border-bottom-width:1px;
  border-color:#FA690A;
  border-style:dashed;
  float:none;
  margin-left:0px;
  margin-top:0px;
  padding-bottom:40px;
  position:relative;
  width:400px;
}
.login-1763 {
  color:#FA690A;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:20px;
  font-weight:700;
  margin-left:auto;
  margin-right:auto;
  margin-top:40px;
  position:relative;
  text-align:center;
  width:100%;
}
.text-1766 {
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:12px;
  font-weight:300;
  margin-left:auto;
  margin-right:auto;
  margin-top:12px;
  position:relative;
  text-align:center;
  width:310px;
}
.pg-text-field-1764 {
  background-color:#FFFFFF;
  border-color:#E6E6E6;
  border-radius:2px;
  border-width:1px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:36px;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
  padding-left:8px;
  padding-right:8px;
  position:relative;
  width:292px;
}
.pg-button-1766 {
  -webkit-transition:background-color 0.4s;
  background-color:#FA690A;
  border-radius:4px;
  border-width:0px;
  color:#FFFFFF;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:700;
  height:38px;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
  position:relative;
  transition:background-color 0.4s;
  width:310px;
}
.pg-button-1766.iux-hover, .pg-button-1766.iux-active {
  background-color:rgba(250,105,10,0.80);
}
.pg-form-1767 {
  float:none;
  margin-left:0px;
  margin-top:0px;
  padding-bottom:40px;
  position:relative;
  width:400px;
}
.login-1768 {
  color:#FA690A;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:20px;
  font-weight:700;
  margin-left:auto;
  margin-right:auto;
  margin-top:40px;
  position:relative;
  text-align:center;
  width:100%;
}
.text-1769 {
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:12px;
  font-weight:300;
  margin-left:auto;
  margin-right:auto;
  margin-top:12px;
  position:relative;
  text-align:center;
  width:310px;
}
.pg-text-field-1771 {
  background-color:#FFFFFF;
  border-color:#E6E6E6;
  border-radius:2px;
  border-width:1px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:36px;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
  padding-left:8px;
  padding-right:8px;
  position:relative;
  width:292px;
}
.pg-text-field-1772 {
  background-color:#FFFFFF;
  border-color:#E6E6E6;
  border-radius:2px;
  border-width:1px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:36px;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
  padding-left:8px;
  padding-right:8px;
  position:relative;
  width:292px;
}
.pg-button-1770 {
  -webkit-transition:background-color 0.4s;
  background-color:#FA690A;
  border-radius:4px;
  border-width:0px;
  color:#FFFFFF;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:700;
  height:38px;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
  position:relative;
  transition:background-color 0.4s;
  width:310px;
}
.pg-button-1770.iux-hover, .pg-button-1770.iux-active {
  background-color:rgba(250,105,10,0.80);
}
@media screen and (max-width:959px) {
  .pg-form-1762 {
    width:300px;
  }
  .login-1763 {
    margin-left:auto;
    margin-right:auto;
  }
  .text-1766 {
    margin-left:auto;
    margin-right:auto;
  }
  .pg-text-field-1764 {
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    width:252px;
  }
  .pg-button-1766 {
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    width:270px;
  }
  .pg-form-1767 {
    width:300px;
  }
  .login-1768 {
    margin-left:auto;
    margin-right:auto;
  }
  .text-1769 {
    margin-left:auto;
    margin-right:auto;
  }
  .pg-text-field-1771 {
    margin-left:auto;
    margin-right:auto;
    width:252px;
  }
  .pg-text-field-1772 {
    margin-left:auto;
    margin-right:auto;
    width:252px;
  }
  .pg-button-1770 {
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    width:270px;
  }

}