.iu-center-box {
  width:960px;
}
.svg-footer_logo {
  height:30px;
  right:15px;
  top:30px;
  width:110px;
}
.svg-2027 {
  border-radius:40px;
  height:30px;
  right:15px;
  top:80px;
  width:30px;
}
.svg-2026 {
  border-radius:40px;
  height:30px;
  right:55px;
  top:80px;
  width:30px;
}
.svg-2025 {
  border-radius:40px;
  height:30px;
  right:95px;
  top:80px;
  width:30px;
}
.box-2029 {
  float:left;
  margin-left:15px;
  margin-top:30px;
  position:relative;
  width:240px;
}
.text-785 > .iux-inner-link {
  position:relative;
}
.text-785 {
  color:#6D6D6D;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  margin-top:0px;
  position:relative;
  width:100%;
}
.text-786 > .iux-inner-link {
  position:relative;
}
.text-786 {
  color:#6D6D6D;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  margin-top:10px;
  position:relative;
  width:100%;
}
.text-787 > .iux-inner-link {
  position:relative;
}
.text-787 {
  color:#6D6D6D;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  margin-left:0px;
  margin-top:10px;
  position:relative;
  width:100%;
}
.text-2030 {
  color:#6D6D6D;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  margin-left:0px;
  margin-top:10px;
  position:relative;
  width:100%;
}
.text-2030 > .iux-inner-link {
  position:relative;
}
.text-2059 > .iux-inner-link {
  position:relative;
}
.text-2059 {
  color:#6D6D6D;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  margin-left:0px;
  margin-top:10px;
  position:relative;
  width:100%;
}
.box-2028 {
  float:left;
  margin-left:15px;
  margin-top:30px;
  position:relative;
  width:240px;
}
.text-2033 {
  color:#6D6D6D;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:100%;
}
.text-2061 {
  color:#6D6D6D;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  margin-left:0px;
  margin-top:10px;
  position:relative;
  width:100%;
}
.text-2063 {
  color:#6D6D6D;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  margin-left:0px;
  margin-top:10px;
  position:relative;
  width:100%;
}
.box-2030 {
  float:left;
  margin-left:15px;
  margin-top:30px;
  position:relative;
  width:240px;
}
.text-2064 {
  color:#6D6D6D;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:100%;
}
.text-2034 {
  color:#6D6D6D;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  margin-left:0px;
  margin-top:10px;
  position:relative;
  width:100%;
}
.text-2035 {
  color:#6D6D6D;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  margin-left:0px;
  margin-top:10px;
  position:relative;
  width:100%;
}
.text-2036 {
  color:#6D6D6D;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  margin-left:0px;
  margin-top:10px;
  position:relative;
  width:100%;
}
.text-2058 {
  color:#6D6D6D;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  margin-left:0px;
  margin-top:10px;
  position:relative;
  width:100%;
}
.text-2689 > .iux-inner-link {
  position:relative;
}
.text-2689 {
  color:#6D6D6D;
  display:none;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  margin-left:0px;
  margin-top:10px;
  position:relative;
  width:100%;
}
.text-112 {
  color:#6D6D6D;
  font-family:'Noto Sans KR', sans-serif;
  font-size:12px;
  font-weight:300;
  height:30px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:260px;
  width:100%;
}
@media screen and (max-width:959px) {
  .iu-center-box {
    width:320px;
  }
  .svg-footer_logo {
    right:15px;
    top:30px;
  }
  .svg-2027 {
    right:15px;
    top:80px;
  }
  .svg-2026 {
    right:55px;
    top:80px;
  }
  .svg-2025 {
    right:95px;
    top:80px;
  }
  .box-2029 {
    display:none;
    margin-left:15px;
    margin-top:30px;
  }
  .text-785 > .iux-inner-link {
    position:relative;
  }
  .text-785 {
    margin-left:0px;
    margin-top:0px;
  }
  .text-786 > .iux-inner-link {
    position:relative;
  }
  .text-786 {
    margin-left:0px;
    margin-top:10px;
  }
  .text-787 > .iux-inner-link {
    position:relative;
  }
  .text-787 {
    margin-left:0px;
    margin-top:10px;
  }
  .text-2030 {
    margin-left:0px;
    margin-top:10px;
  }
  .text-2030 > .iux-inner-link {
    position:relative;
  }
  .text-2059 > .iux-inner-link {
    position:relative;
  }
  .text-2059 {
    margin-left:0px;
    margin-top:10px;
  }
  .box-2028 {
    float:none;
    margin-left:10px;
    margin-top:30px;
    overflow:visible;
    width:50%;
  }
  .text-2033 {
    margin-left:0px;
    margin-top:0px;
  }
  .text-2061 {
    margin-left:0px;
    margin-top:10px;
  }
  .text-2063 {
    margin-left:0px;
    margin-top:10px;
    width:300px;
  }
  .box-2030 {
    float:none;
    margin-left:10px;
    margin-top:40px;
    width:300px;
  }
  .text-2064 {
    font-size:12px;
    margin-left:0px;
    margin-top:0px;
    text-align:left;
  }
  .text-2034 {
    display:none;
    font-size:12px;
    margin-left:0px;
    margin-top:4px;
    text-align:left;
  }
  .text-2035 {
    font-size:12px;
    margin-left:0px;
    margin-top:4px;
    text-align:left;
  }
  .text-2036 {
    font-size:12px;
    margin-left:0px;
    margin-top:4px;
    text-align:left;
  }
  .text-2058 {
    font-size:12px;
    margin-left:0px;
    margin-top:4px;
    text-align:left;
  }
  .text-2689 > .iux-inner-link {
    position:relative;
  }
  .text-2689 {
    display:inherit;
    font-size:12px;
    margin-left:0px;
    margin-top:4px;
    text-align:left;
  }
  .text-112 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
    text-align:left;
    top:360px;
    width:300px;
  }

}