.cell-1893 {
  color:#FA690A;
  float:right;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:36px;
  margin-right:0px;
  margin-top:12px;
  position:relative;
  right:0px;
  text-align:center;
  width:110px;
}
.cell-1893 > a {
  line-height:36px;
}
.cell-1894 {
  color:#FA690A;
  float:right;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:36px;
  margin-right:0px;
  margin-top:12px;
  position:relative;
  right:0px;
  text-align:center;
  width:110px;
}
.cell-1894 > a {
  line-height:36px;
}
.cell-1895 {
  color:#FA690A;
  float:right;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:36px;
  margin-right:0px;
  margin-top:12px;
  position:relative;
  right:0px;
  text-align:center;
  width:110px;
}
.cell-1895 > a {
  line-height:36px;
}
.cell-1896 {
  color:#FA690A;
  float:right;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:36px;
  margin-right:0px;
  margin-top:12px;
  position:relative;
  right:0px;
  text-align:center;
  width:110px;
}
.cell-1896 > a {
  line-height:36px;
}
.cell-1897 {
  color:#FA690A;
  float:right;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:36px;
  margin-right:0px;
  margin-top:12px;
  position:relative;
  right:0px;
  text-align:center;
  width:110px;
}
.cell-1897 > a {
  line-height:36px;
}
@media screen and (max-width:959px) {
  .cell-1893 {
    right:0px;
  }
  .cell-1894 {
    right:0px;
  }
  .cell-1895 {
    right:0px;
  }
  .cell-1896 {
    right:0px;
  }
  .cell-1897 {
    right:0px;
  }

}