.svg-header_logo {
  height:30px;
  left:15px;
  top:15px;
  width:110px;
}
.cell-1773.iux-hover, .cell-1773.iux-active {
  background-color:rgba(250,105,10,0.80);
}
.cell-1773 {
  -webkit-transition:background-color 0.4s;
  background-color:#FA690A;
  border-radius:4px;
  color:#FFFFFF;
  float:right;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:700;
  height:36px;
  line-height:36px;
  margin-right:20px;
  margin-top:12px;
  position:relative;
  right:0px;
  text-align:center;
  transition:background-color 0.4s;
  width:140px;
}
.collapsible-1009 {
  float:right;
  margin-right:20px;
  margin-top:12px;
  position:relative;
  right:0px;
  width:140px;
}
.collapsible-header-1010 {
  height:36px;
  position:relative;
}
.collapsible-header-item-1012 {
  height:100%;
  width:100%;
}
.cell-1772 {
  color:#FA690A;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:36px;
  line-height:36px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:120px;
}
.floating-image-2730 {
  background-image:url('/static/project/ticker_arDown.png');
  background-position:center center;
  background-size:contain;
  bottom:0px;
  height:20px;
  margin-bottom:auto;
  margin-top:auto;
  right:0px;
  top:0px;
  width:20px;
}
.collapsible-header-item-1018 {
  display:none;
  height:100%;
  width:100%;
}
.cell-1019 {
  color:#FA690A;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:36px;
  line-height:36px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:120px;
}
.floating-image-2731 {
  background-image:url('/static/project/ticker_arDown.png');
  background-position:center center;
  background-size:contain;
  bottom:0px;
  height:20px;
  margin-bottom:auto;
  margin-top:auto;
  right:0px;
  top:0px;
  width:20px;
}
.collapsible-content-1011 {
  border-bottom-left-radius:2px;
  border-bottom-right-radius:2px;
  display:none;
  position:relative;
}
.box-1022 {
  background-color:#FA690A;
  float:none;
  height:2px;
  margin-top:12px;
  position:relative;
  width:100%;
}
.cell-1016 {
  background-color:rgba(250,250,250,0.90);
  border-bottom-width:1px;
  border-color:#E6E6E6;
  color:rgba(250,105,10,0.80);
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:36px;
  line-height:36px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:100%;
}
.cell-1016.iux-hover, .cell-1016.iux-active {
  color:#FA690A;
}
.cell-1798 {
  background-color:rgba(250,250,250,0.90);
  border-bottom-width:1px;
  border-color:#E6E6E6;
  color:rgba(250,105,10,0.80);
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:36px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:100%;
}
.cell-1798 > a {
  line-height:36px;
}
.cell-1798.iux-hover, .cell-1798.iux-active {
  color:#FA690A;
}
.cell-2740 {
  background-color:rgba(250,250,250,0.90);
  border-bottom-width:1px;
  border-color:#E6E6E6;
  color:rgba(250,105,10,0.80);
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:36px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:100%;
}
.cell-2740 > a {
  line-height:36px;
}
.cell-2740.iux-hover, .cell-2740.iux-active {
  color:#FA690A;
}
.cell-1017 > a {
  line-height:36px;
}
.cell-1017 {
  background-color:rgba(250,250,250,0.90);
  border-bottom-width:1px;
  border-color:#E6E6E6;
  color:rgba(50,50,50,0.80);
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:36px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:100%;
}
.cell-1017.iux-hover, .cell-1017.iux-active {
  color:#323232;
}
.cell-13 {
  color:#FA690A;
  float:right;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:36px;
  margin-right:20px;
  margin-top:12px;
  position:relative;
  right:0px;
  text-align:center;
  width:120px;
}
.cell-13 > a {
  line-height:36px;
}
.cell-1692 {
  color:#FA690A;
  float:right;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:36px;
  margin-right:0px;
  margin-top:12px;
  position:relative;
  right:0px;
  text-align:center;
  width:120px;
}
.cell-1692 > a {
  line-height:36px;
}
.collapsible-2063 {
  float:right;
  margin-right:0px;
  margin-top:12px;
  position:relative;
  right:0px;
  width:120px;
}
.collapsible-header-2064 {
  height:36px;
  position:relative;
}
.collapsible-header-item-2066 {
  height:100%;
  width:100%;
}
.cell-2072 {
  color:#FA690A;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:36px;
  line-height:36px;
  position:relative;
  text-align:center;
  width:100%;
}
.collapsible-header-item-2072 {
  display:none;
  height:100%;
  width:100%;
}
.cell-2073 > a {
  line-height:36px;
}
.cell-2073 {
  color:#FA690A;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:36px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:100%;
}
.collapsible-content-2065 {
  border-bottom-left-radius:2px;
  border-bottom-right-radius:2px;
  display:none;
  position:relative;
}
.box-2067 {
  background-color:#FA690A;
  float:none;
  height:2px;
  margin-top:12px;
  position:relative;
  width:100%;
}
.cell-2068 > a {
  line-height:36px;
}
.cell-2068 {
  background-color:rgba(250,250,250,0.90);
  border-bottom-width:1px;
  border-color:#E6E6E6;
  color:rgba(250,105,10,0.80);
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:36px;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:100%;
}
.cell-2068.iux-hover, .cell-2068.iux-active {
  color:#FA690A;
}
.cell-2070 > a {
  line-height:36px;
}
.cell-2070 {
  background-color:rgba(250,250,250,0.90);
  border-bottom-width:1px;
  border-color:#E6E6E6;
  color:rgba(250,105,10,0.80);
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:36px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:100%;
}
.cell-2070.iux-hover, .cell-2070.iux-active {
  color:#FA690A;
}
.cell-15 > a {
  line-height:36px;
}
.cell-15 {
  color:#FA690A;
  float:right;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:36px;
  margin-right:0px;
  margin-top:12px;
  position:relative;
  right:0px;
  text-align:center;
  width:120px;
}
.collapsible-2693 {
  display:none;
  left:0px;
  top:0px;
  width:300px;
}
.collapsible-header-2694 {
  position:relative;
}
.collapsible-header-item-2696 {
  height:100%;
  width:100%;
}
.svg-2690 {
  display:none;
  height:40px;
  width:40px;
}
.collapsible-header-item-2697 {
  display:none;
  height:100%;
  width:100%;
}
.svg-2698 {
  display:none;
  height:40px;
  width:40px;
}
.collapsible-content-2695 {
  display:none;
  position:relative;
}
.cell-2699 {
  -webkit-transition:color 0.0s;
  color:#FFFFFF;
  float:right;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:36px;
  margin-right:0px;
  margin-top:12px;
  position:relative;
  right:0px;
  text-align:center;
  transition:color 0.0s;
  width:110px;
}
.cell-2699.iux-hover, .cell-2699.iux-active {
  color:#FA690A;
}
.cell-2699 > a {
  line-height:36px;
}
.cell-2700.iux-hover, .cell-2700.iux-active {
  color:#FA690A;
}
.cell-2700 {
  -webkit-transition:color 0.0s;
  color:#FFFFFF;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:36px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  text-align:center;
  transition:color 0.0s;
  width:100%;
}
.cell-2700 > a {
  line-height:36px;
}
.cell-2701.iux-hover, .cell-2701.iux-active {
  color:#FA690A;
}
.cell-2701 {
  -webkit-transition:color 0.0s;
  color:#FFFFFF;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:36px;
  margin-top:0px;
  position:relative;
  text-align:center;
  transition:color 0.0s;
  width:100%;
}
.cell-2701 > a {
  line-height:36px;
}
.cell-2702 {
  -webkit-transition:color 0.0s;
  color:#FFFFFF;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:36px;
  margin-top:0px;
  position:relative;
  text-align:center;
  transition:color 0.0s;
  width:100%;
}
.cell-2702 > a {
  line-height:36px;
}
.cell-2702.iux-hover, .cell-2702.iux-active {
  color:#FA690A;
}
.cell-2703 > a {
  line-height:36px;
}
.cell-2703 {
  -webkit-transition:color 0.0s;
  color:#FFFFFF;
  float:right;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:36px;
  margin-right:0px;
  margin-top:12px;
  position:relative;
  right:0px;
  text-align:center;
  transition:color 0.0s;
  width:110px;
}
.cell-2703.iux-hover, .cell-2703.iux-active {
  color:#FA690A;
}
.cell-2704.iux-hover, .cell-2704.iux-active {
  color:#FA690A;
}
.cell-2704 > a {
  line-height:36px;
}
.cell-2704 {
  -webkit-transition:color 0.0s;
  color:#FFFFFF;
  float:right;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:36px;
  margin-right:20px;
  margin-top:12px;
  position:relative;
  right:0px;
  text-align:center;
  transition:color 0.0s;
  width:110px;
}
.cell-2705 {
  -webkit-transition:color 0.0s;
  color:#FFFFFF;
  float:right;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:36px;
  line-height:36px;
  margin-right:20px;
  margin-top:12px;
  position:relative;
  right:0px;
  text-align:center;
  transition:color 0.0s;
  width:140px;
}
.cell-2705.iux-hover, .cell-2705.iux-active {
  color:#FA690A;
}
.cell-2706.iux-hover, .cell-2706.iux-active {
  color:#FA690A;
}
.cell-2706 {
  -webkit-transition:color 0.0s;
  color:#FFFFFF;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:36px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  text-align:center;
  transition:color 0.0s;
  width:100%;
}
.cell-2706 > a {
  line-height:36px;
}
.cell-2707.iux-hover, .cell-2707.iux-active {
  color:#FA690A;
}
.cell-2707 {
  -webkit-transition:color 0.0s;
  color:#FFFFFF;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:36px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  text-align:center;
  transition:color 0.0s;
  width:100%;
}
.cell-2707 > a {
  line-height:36px;
}
.cell-2708 {
  -webkit-transition:color 0.0s;
  color:#FFFFFF;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:36px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  text-align:center;
  transition:color 0.0s;
  width:100%;
}
.cell-2708 > a {
  line-height:36px;
}
.cell-2708.iux-hover, .cell-2708.iux-active {
  color:#FA690A;
}
.cell-2692 {
  display:none;
  float:none;
  height:40px;
  left:0px;
  line-height:40px;
  text-align:center;
  top:0px;
  width:100px;
}
.svg-2691 {
  display:none;
  height:40px;
  left:0px;
  top:0px;
  width:40px;
}
@media screen and (max-width:959px) {
  .svg-header_logo {
    display:none;
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
    top:15px;
  }
  .cell-1773 {
    display:none;
    margin-right:20px;
    margin-top:12px;
    right:0px;
  }
  .collapsible-1009 {
    display:none;
    margin-right:20px;
    margin-top:12px;
    right:0px;
  }
  .floating-image-2730 {
    bottom:0px;
    margin-bottom:auto;
    margin-top:auto;
    right:0px;
    top:0px;
  }
  .floating-image-2731 {
    bottom:0px;
    margin-bottom:auto;
    margin-top:auto;
    right:0px;
    top:0px;
  }
  .collapsible-content-1011 {
    display:none;
  }
  .cell-13 {
    display:none;
    margin-right:20px;
    margin-top:12px;
    right:0px;
  }
  .cell-1692 {
    display:none;
    margin-right:0px;
    margin-top:12px;
    right:0px;
  }
  .collapsible-2063 {
    display:none;
    margin-right:0px;
    margin-top:12px;
    right:0px;
  }
  .collapsible-content-2065 {
    display:none;
  }
  .cell-15 {
    display:none;
    margin-right:0px;
    margin-top:12px;
    right:0px;
  }
  .collapsible-2693 {
    display:inherit;
    top:0px;
    width:100%;
  }
  .collapsible-header-2694 {
    height:60px;
  }
  .svg-2690 {
    display:inherit;
    height:36px;
    left:initial;
    left:auto;
    right:10px;
    top:12px;
    width:36px;
    z-index:1;
  }
  .svg-2698 {
    display:inherit;
    height:32px;
    left:initial;
    left:auto;
    right:10px;
    top:14px;
    width:32px;
    z-index:1;
  }
  .collapsible-content-2695 {
    background-color:rgba(50,50,50,0.80);
    border-top-color:#DBDBDB;
    border-top-width:2px;
    display:none;
  }
  .cell-2699 {
    background-position:center;
    border-bottom-color:rgba(255,255,255,0.50);
    border-bottom-width:1px;
    color:#FFFFFF;
    font-weight:700;
    height:40px;
    margin-right:0px;
    margin-top:0px;
    right:0px;
    width:100%;
  }
  .cell-2699 > a {
    line-height:40px;
  }
  .cell-2700 {
    background-position:center;
    color:#FFFFFF;
    font-weight:700;
    height:40px;
    margin-left:0px;
    margin-top:0px;
    width:100%;
  }
  .cell-2700 > a {
    line-height:40px;
  }
  .cell-2701 {
    background-position:center;
    color:rgba(255,255,255,0.90);
    height:40px;
    margin-left:0px;
    margin-top:0px;
    width:100%;
  }
  .cell-2701 > a {
    line-height:40px;
  }
  .cell-2702 {
    background-position:center;
    border-bottom-color:rgba(255,255,255,0.50);
    border-bottom-width:1px;
    color:rgba(255,255,255,0.90);
    height:40px;
    margin-left:0px;
    margin-top:0px;
    width:100%;
  }
  .cell-2702 > a {
    line-height:40px;
  }
  .cell-2703 {
    background-position:center;
    border-bottom-color:rgba(255,255,255,0.50);
    border-bottom-width:1px;
    color:#FFFFFF;
    font-weight:700;
    height:40px;
    margin-right:0px;
    margin-top:0px;
    right:0px;
    width:100%;
  }
  .cell-2703 > a {
    line-height:40px;
  }
  .cell-2704 {
    background-position:center;
    border-bottom-color:rgba(255,255,255,0.50);
    border-bottom-width:1px;
    color:#FFFFFF;
    font-weight:700;
    height:40px;
    margin-right:0px;
    margin-top:0px;
    right:0px;
    width:100%;
  }
  .cell-2704 > a {
    line-height:40px;
  }
  .cell-2705 {
    background-position:center;
    border-bottom-color:rgba(255,255,255,0.50);
    border-bottom-width:1px;
    color:#FFFFFF;
    font-weight:700;
    height:40px;
    line-height:40px;
    margin-right:0px;
    margin-top:0px;
    right:0px;
    width:100%;
  }
  .cell-2706 {
    background-position:center;
    color:rgba(255,255,255,0.90);
    height:40px;
    margin-left:0px;
    margin-top:0px;
    width:100%;
  }
  .cell-2706 > a {
    line-height:40px;
  }
  .cell-2707 {
    background-position:center;
    color:rgba(255,255,255,0.90);
    height:40px;
    margin-left:0px;
    margin-top:0px;
    width:100%;
  }
  .cell-2707 > a {
    line-height:40px;
  }
  .cell-2708 {
    background-position:center;
    border-bottom-color:rgba(255,255,255,0.50);
    border-bottom-width:1px;
    color:#FFFFFF;
    font-weight:700;
    height:40px;
    margin-left:0px;
    margin-top:0px;
    width:100%;
  }
  .cell-2708 > a {
    line-height:40px;
  }
  .cell-2692 {
    bottom:0px;
    color:#FA690A;
    display:inherit;
    float:none;
    font-family:'Noto Sans KR', sans-serif;
    font-size:18px;
    font-weight:700;
    left:0px;
    margin:auto;
    right:0px;
    top:0px;
    width:220px;
  }
  .svg-2691 {
    display:inherit;
    float:none;
    height:36px;
    left:10px;
    top:12px;
    width:36px;
  }

}