.pg-form-969 {
  height:620px;
  left:0px;
  top:0px;
  width:930px;
}
.makeupclass {
  color:#FA690A;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:20px;
  font-weight:700;
  margin-left:auto;
  margin-right:auto;
  margin-top:40px;
  position:relative;
  text-align:center;
  width:100%;
}
.box-971 {
  border-color:#E6E6E6;
  border-radius:2px;
  border-width:1px;
  float:left;
  height:332px;
  margin-left:35px;
  margin-top:24px;
  overflow:hidden;
  position:relative;
  width:278px;
}
.cell-975 {
  background-color:transparent;
  border-bottom-width:1px;
  border-color:#6D6D6D;
  border-style:dashed;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:400;
  height:30px;
  line-height:30px;
  margin-left:auto;
  margin-right:auto;
  margin-top:26px;
  padding-bottom:19px;
  position:relative;
  text-align:center;
  width:240px;
}
.box-979 {
  float:none;
  height:220px;
  margin-left:auto;
  margin-right:auto;
  overflow:scroll;
  padding-top:6px;
  position:relative;
  width:240px;
}
.collection-2129 {
  float:none;
  position:relative;
  width:100%;
}
.import-2130 {
  height:40px;
  left:0px;
  position:relative;
  top:0px;
  width:240px;
}
.import-2131 {
  height:40px;
  left:0px;
  position:relative;
  top:0px;
  width:240px;
}
.import-2132 {
  height:40px;
  left:0px;
  position:relative;
  top:0px;
  width:240px;
}
.import-2133 {
  height:40px;
  left:0px;
  position:relative;
  top:0px;
  width:240px;
}
.import-2134 {
  height:40px;
  left:0px;
  position:relative;
  top:0px;
  width:240px;
}
.import-2135 {
  height:40px;
  left:0px;
  position:relative;
  top:0px;
  width:240px;
}
.import-2136 {
  height:40px;
  left:0px;
  position:relative;
  top:0px;
  width:240px;
}
.import-2137 {
  height:40px;
  left:0px;
  position:relative;
  top:0px;
  width:240px;
}
.import-2138 {
  height:40px;
  left:0px;
  position:relative;
  top:0px;
  width:240px;
}
.import-2139 {
  height:40px;
  left:0px;
  position:relative;
  top:0px;
  width:240px;
}
.import-2140 {
  height:40px;
  left:0px;
  position:relative;
  top:0px;
  width:240px;
}
.import-2141 {
  height:40px;
  left:0px;
  position:relative;
  top:0px;
  width:240px;
}
.box-972 {
  border-color:#E6E6E6;
  border-radius:2px;
  border-width:1px;
  float:left;
  height:332px;
  margin-left:10px;
  margin-top:24px;
  overflow:hidden;
  position:relative;
  width:278px;
}
.cell-976 {
  background-color:transparent;
  border-bottom-width:1px;
  border-color:#6D6D6D;
  border-style:dashed;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:400;
  height:30px;
  line-height:30px;
  margin-left:auto;
  margin-right:auto;
  margin-top:26px;
  padding-bottom:19px;
  position:relative;
  text-align:center;
  width:240px;
}
.box-980 {
  float:none;
  height:220px;
  margin-left:auto;
  margin-right:auto;
  overflow:scroll;
  padding-top:6px;
  position:relative;
  width:240px;
}
.collection-2106 {
  float:none;
  position:relative;
  width:100%;
}
.import-2107 {
  height:60px;
  left:0px;
  position:relative;
  top:0px;
  width:240px;
}
.import-2108 {
  height:60px;
  left:0px;
  position:relative;
  top:0px;
  width:240px;
}
.import-2109 {
  height:60px;
  left:0px;
  position:relative;
  top:0px;
  width:240px;
}
.import-2110 {
  height:60px;
  left:0px;
  position:relative;
  top:0px;
  width:240px;
}
.import-2096 {
  height:60px;
  left:0px;
  position:relative;
  top:0px;
  width:240px;
}
.box-973 {
  border-color:#E6E6E6;
  border-radius:2px;
  border-width:1px;
  float:left;
  height:332px;
  margin-left:10px;
  margin-top:24px;
  position:relative;
  width:278px;
}
.cell-977 {
  background-color:transparent;
  border-bottom-width:1px;
  border-color:#6D6D6D;
  border-style:dashed;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:400;
  height:30px;
  line-height:30px;
  margin-left:auto;
  margin-right:auto;
  margin-top:26px;
  padding-bottom:19px;
  position:relative;
  text-align:center;
  width:240px;
}
.text-981 {
  color:#323232;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:300;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:100px;
  width:240px;
}
.text-985 {
  color:#323232;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:300;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:120px;
  width:240px;
}
.text-989 {
  color:#323232;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:700;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:190px;
  width:240px;
}
.text-993 {
  color:#323232;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:700;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:210px;
  width:240px;
}
.box-996 {
  float:none;
  height:12px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:162px;
  width:20px;
}
.box-999 {
  -webkit-transform:rotate(45deg);
  background-color:#FA690A;
  border-radius:2px;
  float:none;
  height:12px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:-5px;
  transform:rotate(45deg);
  width:12px;
}
.pg-button-1002 {
  -webkit-transition:background-color 0.4s, color 0.4s;
  background-color:#FFFFFF;
  border-color:#FA690A;
  border-radius:4px;
  border-width:1px;
  color:#FA690A;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  height:32px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:270px;
  transition:background-color 0.4s, color 0.4s;
  width:242px;
}
.pg-button-1002.iux-hover, .pg-button-1002.iux-active {
  background-color:rgba(250,105,10,0.80);
  color:#FFFFFF;
}
.text-974 {
  background-color:#F5F5F5;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  padding:20px;
  right:0px;
  top:456px;
  width:820px;
}
.box-978 {
  background-color:#FA690A;
  border-radius:50%;
  height:30px;
  left:305px;
  top:250px;
  width:30px;
}
.svg-982 {
  bottom:0px;
  float:none;
  height:20px;
  left:6px;
  margin-bottom:auto;
  margin-top:auto;
  top:0px;
  width:20px;
}
.box-986 {
  background-color:#FA690A;
  border-radius:50%;
  height:30px;
  left:595px;
  top:250px;
  width:30px;
}
.svg-990 {
  bottom:0px;
  float:none;
  height:20px;
  left:6px;
  margin-bottom:auto;
  margin-top:auto;
  top:0px;
  width:20px;
}
.pg-button-2711 {
  -webkit-transition:background-color 0.4s, color 0.4s;
  background-color:#FFFFFF;
  border-color:#FA690A;
  border-radius:4px;
  border-width:1px;
  color:#FA690A;
  display:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  height:32px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:270px;
  transition:background-color 0.4s, color 0.4s;
  width:242px;
}
.pg-button-2711.iux-hover, .pg-button-2711.iux-active {
  background-color:rgba(250,105,10,0.80);
  color:#FFFFFF;
}
@media screen and (max-width:959px) {
  .pg-form-969 {
    height:600px;
    width:300px;
  }
  .makeupclass {
    margin-left:auto;
    margin-right:auto;
  }
  .box-971 {
    float:none;
    height:192px;
    margin-left:auto;
    margin-right:auto;
    margin-top:24px;
    width:268px;
  }
  .cell-975 {
    margin-left:auto;
    margin-right:auto;
    margin-top:18px;
    padding-bottom:12px;
  }
  .box-979 {
    height:100px;
    margin-left:auto;
    margin-right:auto;
  }
  .box-972 {
    float:none;
    height:192px;
    margin-left:auto;
    margin-right:auto;
    margin-top:24px;
    width:268px;
  }
  .cell-976 {
    margin-left:auto;
    margin-right:auto;
    margin-top:18px;
    padding-bottom:12px;
  }
  .box-980 {
    height:100px;
    margin-left:auto;
    margin-right:auto;
  }
  .box-973 {
    display:none;
    float:none;
    height:192px;
    margin-left:auto;
    margin-right:auto;
    width:268px;
  }
  .cell-977 {
    margin-left:auto;
    margin-right:auto;
    margin-top:18px;
    padding-bottom:12px;
  }
  .text-981 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .text-985 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .text-989 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .text-993 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .box-996 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .box-999 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .pg-button-1002 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .text-974 {
    display:none;
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
    top:456px;
  }
  .box-978 {
    -webkit-transform:rotate(90deg);
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
    top:285px;
    transform:rotate(90deg);
  }
  .svg-982 {
    bottom:0px;
    margin-bottom:auto;
    margin-top:auto;
    top:0px;
  }
  .box-986 {
    -webkit-transform:rotate(90deg);
    display:none;
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
    transform:rotate(90deg);
  }
  .svg-990 {
    bottom:0px;
    margin-bottom:auto;
    margin-top:auto;
    top:0px;
  }
  .pg-button-2711 {
    bottom:40px;
    display:inherit;
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
    top:initial;
    top:auto;
    width:270px;
  }

}