.pg-form-2033 {
  height:100%;
  left:0px;
  top:0px;
  width:100%;
}
.makeupclass-2034 {
  color:#FA690A;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:20px;
  font-weight:700;
  margin-left:auto;
  margin-right:auto;
  margin-top:40px;
  position:relative;
  text-align:center;
  width:100%;
}
.box-2035 {
  border-color:#E6E6E6;
  border-radius:2px;
  border-width:1px;
  float:left;
  height:332px;
  margin-left:35px;
  margin-top:24px;
  overflow:hidden;
  position:relative;
  width:278px;
}
.cell-2040 {
  background-color:transparent;
  border-bottom-width:1px;
  border-color:#6D6D6D;
  border-style:dashed;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:400;
  height:30px;
  line-height:30px;
  margin-left:auto;
  margin-right:auto;
  margin-top:26px;
  padding-bottom:19px;
  position:relative;
  text-align:center;
  width:240px;
}
.box-2043 {
  float:none;
  height:220px;
  margin-left:auto;
  margin-right:auto;
  overflow:scroll;
  padding-top:6px;
  position:relative;
  width:240px;
}
.collection-2097 {
  float:none;
  position:relative;
  width:100%;
}
.import-2098 {
  height:40px;
  left:0px;
  position:relative;
  top:0px;
  width:240px;
}
.import-2099 {
  height:40px;
  left:0px;
  position:relative;
  top:0px;
  width:240px;
}
.import-2100 {
  height:40px;
  left:0px;
  position:relative;
  top:0px;
  width:240px;
}
.import-2101 {
  height:40px;
  left:0px;
  position:relative;
  top:0px;
  width:240px;
}
.import-2103 {
  height:40px;
  left:0px;
  position:relative;
  top:0px;
  width:240px;
}
.import-2102 {
  height:40px;
  left:0px;
  position:relative;
  top:0px;
  width:240px;
}
.import-2104 {
  height:40px;
  left:0px;
  position:relative;
  top:0px;
  width:240px;
}
.import-2105 {
  height:40px;
  left:0px;
  position:relative;
  top:0px;
  width:240px;
}
.import-2106 {
  height:40px;
  left:0px;
  position:relative;
  top:0px;
  width:240px;
}
.import-2111 {
  height:40px;
  left:0px;
  position:relative;
  top:0px;
  width:240px;
}
.import-2112 {
  height:40px;
  left:0px;
  position:relative;
  top:0px;
  width:240px;
}
.import-2113 {
  height:40px;
  left:0px;
  position:relative;
  top:0px;
  width:240px;
}
.box-2036 {
  border-color:#E6E6E6;
  border-radius:2px;
  border-width:1px;
  float:left;
  height:332px;
  margin-left:10px;
  margin-top:24px;
  overflow:hidden;
  position:relative;
  width:278px;
}
.cell-2041 {
  background-color:transparent;
  border-bottom-width:1px;
  border-color:#6D6D6D;
  border-style:dashed;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:400;
  height:30px;
  line-height:30px;
  margin-left:auto;
  margin-right:auto;
  margin-top:26px;
  padding-bottom:19px;
  position:relative;
  text-align:center;
  width:240px;
}
.box-2044 {
  float:none;
  height:220px;
  margin-left:auto;
  margin-right:auto;
  overflow:scroll;
  padding-top:6px;
  position:relative;
  width:240px;
}
.collection-2074 {
  float:none;
  position:relative;
  width:100%;
}
.import-2075 {
  height:40px;
  left:0px;
  position:relative;
  top:0px;
  width:240px;
}
.import-2076 {
  height:40px;
  left:0px;
  position:relative;
  top:0px;
  width:240px;
}
.import-2077 {
  height:40px;
  left:0px;
  position:relative;
  top:0px;
  width:240px;
}
.import-2078 {
  height:40px;
  left:0px;
  position:relative;
  top:0px;
  width:240px;
}
.import-2079 {
  height:40px;
  left:0px;
  position:relative;
  top:0px;
  width:240px;
}
.import-2080 {
  height:40px;
  left:0px;
  position:relative;
  top:0px;
  width:240px;
}
.import-2081 {
  height:40px;
  left:0px;
  position:relative;
  top:0px;
  width:240px;
}
.import-2082 {
  height:40px;
  left:0px;
  position:relative;
  top:0px;
  width:240px;
}
.box-2037 {
  border-color:#E6E6E6;
  border-radius:2px;
  border-width:1px;
  float:left;
  height:332px;
  margin-left:10px;
  margin-top:24px;
  position:relative;
  width:278px;
}
.text-2045 {
  color:#323232;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:700;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:140px;
  width:240px;
}
.text-2049 {
  color:#323232;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:700;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:160px;
  width:240px;
}
.text-2115 {
  color:#323232;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:700;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:180px;
  width:240px;
}
.cell-2042 {
  background-color:transparent;
  border-bottom-width:1px;
  border-color:#6D6D6D;
  border-style:dashed;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:400;
  height:30px;
  line-height:30px;
  margin-left:auto;
  margin-right:auto;
  margin-top:26px;
  padding-bottom:19px;
  position:relative;
  text-align:center;
  width:240px;
}
.pg-button-2066 {
  -webkit-transition:background-color 0.4s, color 0.4s;
  background-color:#FFFFFF;
  border-color:#FA690A;
  border-radius:4px;
  border-width:1px;
  color:#FA690A;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  height:32px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:270px;
  transition:background-color 0.4s, color 0.4s;
  width:242px;
}
.pg-button-2066.iux-hover, .pg-button-2066.iux-active {
  background-color:rgba(250,105,10,0.80);
  color:#FFFFFF;
}
.box-2042 {
  background-color:#FA690A;
  border-radius:50%;
  height:30px;
  left:305px;
  top:250px;
  width:30px;
}
.svg-2046 {
  bottom:0px;
  float:none;
  height:20px;
  left:6px;
  margin-bottom:auto;
  margin-top:auto;
  top:0px;
  width:20px;
}
.box-2051 {
  background-color:#FA690A;
  border-radius:50%;
  height:30px;
  left:595px;
  top:250px;
  width:30px;
}
.svg-2054 {
  bottom:0px;
  float:none;
  height:20px;
  left:6px;
  margin-bottom:auto;
  margin-top:auto;
  top:0px;
  width:20px;
}
.pg-button-2712 {
  -webkit-transition:background-color 0.4s, color 0.4s;
  background-color:#FFFFFF;
  border-color:#FA690A;
  border-radius:4px;
  border-width:1px;
  color:#FA690A;
  display:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  height:32px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:270px;
  transition:background-color 0.4s, color 0.4s;
  width:242px;
}
.pg-button-2712.iux-hover, .pg-button-2712.iux-active {
  background-color:rgba(250,105,10,0.80);
  color:#FFFFFF;
}
@media screen and (max-width:959px) {
  .makeupclass-2034 {
    margin-left:auto;
    margin-right:auto;
  }
  .box-2035 {
    float:none;
    height:192px;
    margin-left:auto;
    margin-right:auto;
    width:268px;
  }
  .cell-2040 {
    margin-left:auto;
    margin-right:auto;
    margin-top:18px;
    padding-bottom:12px;
  }
  .box-2043 {
    height:100px;
    margin-left:auto;
    margin-right:auto;
  }
  .box-2036 {
    float:none;
    height:192px;
    margin-left:auto;
    margin-right:auto;
    width:268px;
  }
  .cell-2041 {
    margin-left:auto;
    margin-right:auto;
    margin-top:18px;
    padding-bottom:12px;
  }
  .box-2044 {
    height:100px;
    margin-left:auto;
    margin-right:auto;
  }
  .box-2037 {
    display:none;
    float:none;
    height:192px;
    margin-left:auto;
    margin-right:auto;
    width:268px;
  }
  .text-2045 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .text-2049 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .text-2115 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .cell-2042 {
    margin-left:auto;
    margin-right:auto;
  }
  .pg-button-2066 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .box-2042 {
    -webkit-transform:rotate(90deg);
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
    top:285px;
    transform:rotate(90deg);
  }
  .svg-2046 {
    bottom:0px;
    margin-bottom:auto;
    margin-top:auto;
    top:0px;
  }
  .box-2051 {
    -webkit-transform:rotate(90deg);
    display:none;
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
    transform:rotate(90deg);
  }
  .svg-2054 {
    bottom:0px;
    margin-bottom:auto;
    margin-top:auto;
    top:0px;
  }
  .pg-button-2712 {
    bottom:40px;
    display:inherit;
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
    top:initial;
    top:auto;
    width:270px;
  }

}