.box-2053 {
  background-color:#D4FFFF;
  border-radius:2px;
  float:none;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:100%;
}
.cell-2054 {
  -webkit-transform:rotate(-45deg);
  background-color:#FA690A;
  color:#FFFFFF;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:12px;
  font-weight:700;
  height:20px;
  left:-24px;
  line-height:20px;
  text-align:center;
  top:18px;
  transform:rotate(-45deg);
  width:108px;
}
.image-2098 {
  background-color:#E6E6E6;
  border-color:#E6E6E6;
  border-radius:50%;
  border-width:1px;
  float:left;
  height:38px;
  margin-left:0px;
  margin-top:10px;
  position:relative;
  width:38px;
}
.text-2056 > p {
  overflow:hidden;
  text-overflow:ellipsis;
}
.text-2056 {
  -webkit-box-orient:vertical;
  -webkit-line-clamp:1;
  box-orient:vertical;
  color:#FA690A;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:700;
  margin-left:10px;
  margin-top:10px;
  overflow:hidden;
  position:relative;
  text-overflow:ellipsis;
  white-space:nowrap;
  width:100.00%;
  width:calc(100% - 50px);
  width:-moz-calc(100% - 50px);
  width:-webkit-calc(100% - 50px);
}
.text-2057 {
  -webkit-box-orient:vertical;
  -webkit-line-clamp:1;
  box-orient:vertical;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:12px;
  font-weight:300;
  margin-left:10px;
  overflow:hidden;
  position:relative;
  text-align:left;
  text-overflow:ellipsis;
  white-space:nowrap;
  width:100.00%;
  width:calc(100% - 50px);
  width:-moz-calc(100% - 50px);
  width:-webkit-calc(100% - 50px);
}
.text-2057 > p {
  overflow:hidden;
  text-overflow:ellipsis;
}
@media screen and (max-width:959px) {
  .cell-2054 {
    font-size:10px;
    height:18px;
    left:-30px;
    line-height:18px;
    top:12px;
  }

}