.box-2050 {
  background-color:#D4FFFF;
  border-radius:2px;
  float:none;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:100%;
}
.text-2051 {
  -webkit-box-orient:vertical;
  -webkit-line-clamp:2;
  background-color:rgba(0,0,0,0.20);
  bottom:0px;
  box-orient:vertical;
  color:#FFFFFF;
  display:box;
  display:-webkit-box;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:700;
  left:0px;
  min-height:48px;
  overflow:hidden;
  padding:10px;
  text-overflow:ellipsis;
  width:calc(100% - 20px);
  width:-moz-calc(100% - 20px);
  width:-webkit-calc(100% - 20px);
}
.text-2051 > p {
  overflow:hidden;
  text-overflow:ellipsis;
}
.cell-2052 {
  -webkit-transform:rotate(-45deg);
  background-color:#FA690A;
  color:#FFFFFF;
  float:none;
  font-family:Bariol;
  font-size:12px;
  font-weight:700;
  height:22px;
  left:-24px;
  line-height:22px;
  text-align:center;
  top:18px;
  transform:rotate(-45deg);
  width:108px;
}
.floating-image-2046 {
  background-position:center center;
  background-size:contain;
  border-color:#FA690A;
  border-radius:50%;
  border-width:1px;
  float:left;
  height:40px;
  margin-top:10px;
  position:relative;
  width:40px;
}
.text-2047 {
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:300;
  margin-left:10px;
  margin-top:10px;
  position:relative;
  text-align:left;
}
@media screen and (max-width:959px) {
}