.box-2172 {
  border-radius:2px;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  position:relative;
  width:930px;
}
.collapsible-2141 {
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:400;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:100%;
}
.collapsible-header-2142 {
  border-bottom-width:1px;
  border-color:#E6E6E6;
  height:48px;
  position:relative;
}
.collapsible-header-item-2144 {
  height:100%;
  width:100%;
}
.box-2148 {
  float:left;
  height:48px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:6%;
}
.box-2149 {
  float:left;
  height:48px;
  position:relative;
  width:calc(94% / 7);
  width:-moz-calc(94% / 7);
  width:-webkit-calc(94% / 7);
}
.cell-2152 {
  background-color:rgba(80,160,240,0.40);
  border-radius:2px;
  float:none;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
  padding:2px;
  position:relative;
  text-align:center;
  width:88px;
}
.cell-2155 {
  float:left;
  height:48px;
  line-height:48px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:calc(94% / 7);
  width:-moz-calc(94% / 7);
  width:-webkit-calc(94% / 7);
}
.cell-2156 {
  float:left;
  height:48px;
  line-height:48px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:calc(94% / 7);
  width:-moz-calc(94% / 7);
  width:-webkit-calc(94% / 7);
}
.cell-2159 {
  float:left;
  height:48px;
  line-height:48px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:calc(94% / 7);
  width:-moz-calc(94% / 7);
  width:-webkit-calc(94% / 7);
}
.cell-2160 {
  float:left;
  height:48px;
  line-height:48px;
  position:relative;
  text-align:center;
  width:calc(94% / 7);
  width:-moz-calc(94% / 7);
  width:-webkit-calc(94% / 7);
}
.box-2163 {
  float:left;
  height:48px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:calc(94% / 7);
  width:-moz-calc(94% / 7);
  width:-webkit-calc(94% / 7);
}
.box-2163 > .iux-inner-link {
  position:relative;
}
.svg-2167 {
  float:none;
  height:28px;
  left:20px;
  top:10px;
  width:28px;
}
.cell-2171 {
  border-radius:2px;
  float:right;
  font-weight:700;
  margin-right:30px;
  margin-top:10px;
  padding:2px;
  position:relative;
  right:0px;
  text-align:center;
  width:50px;
}
.box-2164 {
  float:left;
  height:48px;
  position:relative;
  width:calc(94% / 7);
  width:-moz-calc(94% / 7);
  width:-webkit-calc(94% / 7);
}
.svg-2168 {
  -webkit-transform:rotate(90deg);
  float:none;
  height:20px;
  left:25px;
  top:15px;
  transform:rotate(90deg);
  width:20px;
}
.cell-2172 {
  border-radius:2px;
  float:right;
  font-weight:700;
  margin-right:30px;
  margin-top:10px;
  padding:2px;
  position:relative;
  right:0px;
  text-align:center;
  width:50px;
}
.collapsible-header-item-2175 {
  display:none;
  height:100%;
  width:100%;
}
.box-2178 {
  float:left;
  height:48px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:6%;
}
.box-2179 {
  float:left;
  height:48px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:calc(94% / 7);
  width:-moz-calc(94% / 7);
  width:-webkit-calc(94% / 7);
}
.cell-2183 {
  background-color:rgba(80,160,240,0.40);
  border-radius:2px;
  float:none;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
  padding:2px;
  position:relative;
  text-align:center;
  width:88px;
}
.cell-2185 {
  float:left;
  height:48px;
  line-height:48px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:calc(94% / 7);
  width:-moz-calc(94% / 7);
  width:-webkit-calc(94% / 7);
}
.cell-2186 {
  float:left;
  height:48px;
  line-height:48px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:calc(94% / 7);
  width:-moz-calc(94% / 7);
  width:-webkit-calc(94% / 7);
}
.cell-2188 {
  float:left;
  height:48px;
  line-height:48px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:calc(94% / 7);
  width:-moz-calc(94% / 7);
  width:-webkit-calc(94% / 7);
}
.cell-2189 {
  float:left;
  height:48px;
  line-height:48px;
  position:relative;
  text-align:center;
  width:calc(94% / 7);
  width:-moz-calc(94% / 7);
  width:-webkit-calc(94% / 7);
}
.box-2191 {
  float:left;
  height:48px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:calc(94% / 7);
  width:-moz-calc(94% / 7);
  width:-webkit-calc(94% / 7);
}
.box-2191 > .iux-inner-link {
  position:relative;
}
.svg-2194 {
  float:none;
  height:28px;
  left:20px;
  top:10px;
  width:28px;
}
.cell-2196 {
  border-radius:2px;
  float:right;
  font-weight:700;
  margin-right:30px;
  margin-top:10px;
  padding:2px;
  position:relative;
  right:0px;
  text-align:center;
  width:50px;
}
.box-2192 {
  float:left;
  height:48px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:calc(94% / 7);
  width:-moz-calc(94% / 7);
  width:-webkit-calc(94% / 7);
}
.svg-2195 {
  -webkit-transform:rotate(-90deg);
  float:none;
  height:20px;
  left:25px;
  top:15px;
  transform:rotate(-90deg);
  width:20px;
}
.cell-2197 {
  border-radius:2px;
  float:right;
  font-weight:700;
  margin-right:30px;
  margin-top:10px;
  padding:2px;
  position:relative;
  right:0px;
  text-align:center;
  width:50px;
}
.collapsible-content-2143 {
  background-color:#F5F5F5;
  display:none;
  position:relative;
}
.box-2146 {
  border-bottom-width:2px;
  border-color:#E6E6E6;
  border-radius:2px;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  padding-bottom:8px;
  padding-top:8px;
  position:relative;
  width:930px;
}
.box-2150 {
  float:left;
  height:30px;
  margin-left:0px;
  margin-top:3px;
  position:relative;
  width:6%;
}
.pg-check-box-2153 {
  bottom:0px;
  float:none;
  height:18px;
  left:0px;
  margin:auto;
  right:0px;
  top:0px;
  width:18px;
}
.cell-2157 {
  float:left;
  height:30px;
  line-height:30px;
  margin-left:0%;
  margin-top:3px;
  position:relative;
  text-align:center;
  width:36px;
}
.cell-2161 {
  float:left;
  height:30px;
  line-height:30px;
  margin-left:0px;
  margin-top:3px;
  position:relative;
  text-align:center;
  width:13.89%;
}
.cell-2956 {
  float:left;
  height:30px;
  line-height:30px;
  margin-left:0px;
  margin-top:3px;
  position:relative;
  text-align:center;
  width:5.92%;
}
.cell-2165 {
  float:left;
  height:30px;
  line-height:30px;
  margin-left:0px;
  margin-top:3px;
  position:relative;
  text-align:center;
  width:12.68%;
}
.cell-2169 {
  float:left;
  height:30px;
  line-height:30px;
  margin-left:0.97%;
  margin-top:3px;
  position:relative;
  text-align:center;
  width:4.20%;
}
.cell-2173 {
  float:left;
  height:30px;
  line-height:30px;
  margin-left:0%;
  margin-top:3px;
  position:relative;
  text-align:center;
  width:4.20%;
}
.cell-2957 {
  float:left;
  height:30px;
  line-height:30px;
  margin-left:9px;
  margin-top:3px;
  position:relative;
  text-align:center;
  width:31.04%;
}
.cell-2180 {
  float:left;
  height:30px;
  line-height:30px;
  margin-left:2.26%;
  margin-top:3px;
  position:relative;
  text-align:center;
  width:5.45%;
}
.cell-2732 {
  float:left;
  height:30px;
  line-height:30px;
  margin-left:1.40%;
  margin-top:3px;
  position:relative;
  text-align:center;
  width:5.98%;
}
.collection-2140 {
  border-bottom-width:1px;
  border-color:#E6E6E6;
  float:none;
  position:relative;
  width:930px;
}
.import-2155 {
  left:0px;
  position:relative;
  top:0px;
  width:930px;
}
.import-2156 {
  left:0px;
  position:relative;
  top:0px;
  width:930px;
}
.import-2157 {
  left:0px;
  position:relative;
  top:0px;
  width:930px;
}
.import-2158 {
  left:0px;
  position:relative;
  top:0px;
  width:930px;
}
.import-2159 {
  left:0px;
  position:relative;
  top:0px;
  width:930px;
}
@media screen and (max-width:959px) {
  .box-2172 {
    margin-left:auto;
    margin-right:auto;
  }
  .cell-2152 {
    margin-left:auto;
    margin-right:auto;
  }
  .box-2163 > .iux-inner-link {
    position:relative;
  }
  .cell-2171 {
    right:0px;
  }
  .cell-2172 {
    right:0px;
  }
  .cell-2183 {
    margin-left:auto;
    margin-right:auto;
  }
  .box-2191 > .iux-inner-link {
    position:relative;
  }
  .cell-2196 {
    right:0px;
  }
  .cell-2197 {
    right:0px;
  }
  .collapsible-content-2143 {
    display:none;
  }
  .box-2146 {
    margin-left:auto;
    margin-right:auto;
  }
  .pg-check-box-2153 {
    bottom:0px;
    left:0px;
    margin:auto;
    right:0px;
    top:0px;
  }

}