.iu-center-box {
  width:960px;
}
.header {
  -webkit-box-shadow:0px 2px 0px 0px #DBDBDB;
  background-color:#FFFFFF;
  box-shadow:0px 2px 0px 0px #DBDBDB;
  color:#333333;
  float:none;
  height:60px;
  left:0px;
  min-width:960px;
  overflow:visible;
  position:fixed;
  top:0px;
  width:100%;
  z-index:10;
}
.page-content {
  background-color:#FFFFFF;
  padding-top:62px;
}
.box-610 {
  background-image:url('/static/project/1705.png');
  background-position:center center;
  background-size:cover;
  border-radius:50%;
  height:180px;
  position:fixed;
  right:15px;
  top:120px;
  width:180px;
  z-index:9;
}
.text-611 {
  color:#FFFFFF;
  font-family:'Nanum Gothic', sans-serif;
  font-size:28px;
  font-weight:700;
  left:0px;
  line-height:1.20;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:34px;
  width:160px;
}
.text-612 {
  color:#FFFFFF;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  left:0px;
  text-align:center;
  top:114px;
  width:180px;
}
.section {
  background-image:url('/static/project/index_photo_0.jpg');
  background-size:cover;
  height:740px;
}
.html-449 {
  float:none;
  height:100px;
  width:100px;
}
.box-203 {
  background-color:rgba(0,0,0,0.10);
  background-image:url('/static/project/screen_effect.png');
  background-repeat:repeat;
  float:none;
  height:100%;
  left:-14px;
  top:0px;
  width:100%;
}
.slogan {
  bottom:0px;
  color:rgba(255,255,255,0.70);
  float:none;
  font-family:'Helvetica', sans-serif;
  font-size:52px;
  font-weight:700;
  height:140px;
  left:0px;
  line-height:1.20;
  margin:auto;
  right:0px;
  text-align:center;
  top:0px;
  width:100%;
}
.section-361 {
  background-color:#FA690A;
  height:60px;
}
.carousel-560 {
  display:none;
  height:100%;
  left:0px;
  top:0px;
  width:100%;
}
.carousel-560 > .iux-carousel-pager {
  visibility:hidden;
}
.carousel-560 > .iux-carousel-next {
  background-image:url('/static/project/ticker_arR.png');
  height:20px;
  right:0px;
  top:0px;
  width:20px;
}
.carousel-560 > .iux-carousel-prev,.carousel-560 > .iux-carousel-next {
  display:inherit;
}
.carousel-560 > .iux-carousel-prev {
  background-image:url('/static/project/ticker_arL.png');
  height:20px;
  left:0px;
  top:0px;
  width:20px;
}
.carousel-item-561 {
  height:100%;
  position:relative;
}
.cell {
  color:#FFFFFF;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  height:60px;
  left:0px;
  text-align:center;
  top:0px;
  width:100%;
}
.cell > a {
  line-height:60px;
}
.carousel-item-562 {
  height:100%;
  position:relative;
}
.cell-563 {
  color:#FFFFFF;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  height:60px;
  left:0px;
  text-align:center;
  top:0px;
  width:100%;
}
.cell-563 > a {
  line-height:60px;
}
.carousel-item {
  height:100%;
  position:relative;
}
.cell-613 {
  color:#FFFFFF;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  height:60px;
  left:0px;
  text-align:center;
  top:0px;
  width:100%;
}
.cell-613 > a {
  line-height:60px;
}
.notice_marquee {
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  height:100%;
  padding-left:15px;
  padding-right:15px;
  right:0px;
  top:0px;
  width:calc(100% - 196px);
  width:-moz-calc(100% - 196px);
  width:-webkit-calc(100% - 196px);
}
.text-399 {
  background-color:#FFFFFF;
  border-radius:2px;
  bottom:0px;
  color:#FA690A;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:20px;
  font-weight:700;
  height:30px;
  left:15px;
  margin-bottom:auto;
  margin-top:auto;
  padding-left:15px;
  padding-right:15px;
  top:0px;
}
.section-77 {
  padding-bottom:80px;
  padding-top:60px;
}
.text-524 {
  color:#FA690A;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:34px;
  font-weight:700;
  letter-spacing:-0.2px;
  line-height:1;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:100%;
}
.box {
  background-color:#FFFFFF;
  border-radius:2px;
  float:left;
  margin-left:15px;
  margin-top:40px;
  position:relative;
  width:300px;
}
.svg-89 {
  float:none;
  height:300px;
  left:0px;
  top:-30px;
  width:300px;
}
.text-91 {
  color:#FA690A;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:18px;
  font-weight:700;
  margin-left:10px;
  margin-top:260px;
  position:relative;
  text-align:center;
  width:280px;
}
.regular_text {
  color:#6D6D6D;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  margin-left:10px;
  margin-top:10px;
  position:relative;
  text-align:center;
  width:280px;
}
.box-80 {
  background-color:#FFFFFF;
  border-radius:2px;
  float:left;
  margin-left:15px;
  margin-top:40px;
  position:relative;
  width:300px;
}
.svg-90 {
  float:none;
  height:300px;
  left:0px;
  top:-30px;
  width:300px;
}
.text-92 {
  color:#FA690A;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:18px;
  font-weight:700;
  margin-left:10px;
  margin-top:260px;
  position:relative;
  text-align:center;
  width:280px;
}
.camp_text {
  color:#6D6D6D;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  margin-left:10px;
  margin-top:10px;
  position:relative;
  text-align:center;
  width:280px;
}
.box-81 {
  background-color:#FFFFFF;
  border-radius:2px;
  float:left;
  margin-left:15px;
  margin-top:40px;
  position:relative;
  width:300px;
}
.svg-91 {
  float:none;
  height:300px;
  left:0px;
  top:-30px;
  width:300px;
}
.text-93 {
  color:#FA690A;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:18px;
  font-weight:700;
  margin-left:10px;
  margin-top:260px;
  position:relative;
  text-align:center;
  width:280px;
}
.js_text {
  color:#6D6D6D;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  margin-left:10px;
  margin-top:10px;
  position:relative;
  text-align:center;
  width:280px;
}
.tabview {
  display:none;
  float:none;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  position:relative;
  width:100.00px;
  width:calc(100% - 30px);
  width:-moz-calc(100% - 30px);
  width:-webkit-calc(100% - 30px);
}
.tab-header {
  font-size:14px;
  height:310px;
  left:0px;
  position:relative;
  top:0px;
}
.tab-header-item {
  float:left;
  height:100%;
  position:relative;
  width:calc(100% / 3);
  width:-moz-calc(100% / 3);
  width:-webkit-calc(100% / 3);
}
.svg-542 {
  bottom:0px;
  float:none;
  left:0px;
  margin:auto;
  right:0px;
  top:0px;
  width:100%;
}
.tab-header-active-item {
  background-color:rgba(250,105,10,0.10);
  border-radius:50%;
  display:none;
}
.svg-545 {
  bottom:0px;
  float:none;
  left:0px;
  margin:auto;
  right:0px;
  top:0px;
  width:100%;
}
.tab-header-item-529 {
  float:left;
  height:100%;
  position:relative;
  width:calc(100% / 3);
  width:-moz-calc(100% / 3);
  width:-webkit-calc(100% / 3);
}
.svg-543 {
  bottom:0px;
  float:none;
  left:0px;
  margin:auto;
  right:0px;
  top:0px;
  width:100%;
}
.tab-header-active-item-539 {
  background-color:rgba(250,105,10,0.10);
  border-radius:50%;
  display:none;
}
.svg-546 {
  bottom:0px;
  float:none;
  left:0px;
  margin:auto;
  right:0px;
  top:0px;
  width:100%;
}
.tab-header-item-542 {
  float:left;
  height:100%;
  position:relative;
  width:calc(100% / 3);
  width:-moz-calc(100% / 3);
  width:-webkit-calc(100% / 3);
}
.svg-544 {
  bottom:0px;
  float:none;
  left:0px;
  margin:auto;
  right:0px;
  top:0px;
  width:100%;
}
.tab-header-active-item-543 {
  background-color:rgba(250,105,10,0.10);
  border-radius:50%;
  display:none;
}
.svg-547 {
  bottom:0px;
  float:none;
  left:0px;
  margin:auto;
  right:0px;
  top:0px;
  width:100%;
}
.tab-content {
  left:0px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  top:0px;
}
.tab-content-item {
  display:none;
  height:100%;
  left:0px;
  position:relative;
  top:0px;
}
.box-546 {
  float:none;
  margin-left:0px;
  margin-top:20px;
  padding:20px;
  position:relative;
}
.text-546 {
  color:#FA690A;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:18px;
  font-weight:700;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:100%;
}
.regular_text-547 {
  color:#6D6D6D;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  position:relative;
  text-align:center;
  width:100%;
}
.box-555 {
  float:none;
  height:100px;
  width:100px;
}
.tab-content-item-531 {
  display:none;
  height:100%;
  left:0px;
  position:relative;
  top:0px;
}
.box-548 {
  float:none;
  margin-left:0px;
  margin-top:20px;
  padding:20px;
  position:relative;
}
.text-549 {
  color:#FA690A;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:18px;
  font-weight:700;
  position:relative;
  text-align:center;
  width:100%;
}
.regular_text-550 {
  color:#6D6D6D;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:100%;
}
.box-556 {
  float:none;
  height:100px;
  width:100px;
}
.tab-content-item-547 {
  display:none;
  height:100%;
  left:0px;
  position:relative;
  top:0px;
}
.box-551 {
  float:none;
  margin-left:0px;
  margin-top:20px;
  padding:20px;
  position:relative;
}
.text-552 {
  color:#FA690A;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:18px;
  font-weight:700;
  position:relative;
  text-align:center;
  width:100%;
}
.regular_text-553 {
  color:#6D6D6D;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:100%;
}
.box-557 {
  float:none;
  height:100px;
  width:100px;
}
.section-300 {
  background-color:#FA690A;
  display:none;
  height:60px;
  overflow:visible;
}
.pg-form-362 {
  float:none;
  height:100%;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  overflow:visible;
  right:0px;
  top:0px;
  width:930px;
}
.html {
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  left:40px;
  overflow:visible;
  top:2px;
}
.pg-button {
  -webkit-transition:background-color 0.4s, color 0.4s;
  background-color:rgba(255,255,255,0.20);
  border-color:#FFFFFF;
  border-radius:4px;
  border-width:1px;
  bottom:0px;
  color:#FFFFFF;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:700;
  height:36px;
  left:700px;
  margin-bottom:auto;
  margin-top:auto;
  top:0px;
  transition:background-color 0.4s, color 0.4s;
  width:180px;
}
.pg-button.iux-hover, .pg-button.iux-active {
  background-color:rgba(255,255,255,0.80);
  color:#FA690A;
}
.section-61 {
  background-attachment:fixed;
  background-color:#F5F5F5;
  background-position:center center;
  background-size:cover;
  padding-bottom:80px;
  padding-top:60px;
}
.center-box-62 {
  background-size:contain;
  overflow:visible;
}
.text-66 {
  color:#FA690A;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:34px;
  font-weight:700;
  letter-spacing:-0.2px;
  line-height:1;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:100%;
}
.text-67 {
  color:#FA690A;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:22px;
  font-weight:400;
  letter-spacing:-0.2px;
  line-height:1;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:100%;
}
.box-662 {
  float:left;
  height:288px;
  margin-top:40px;
  padding-left:15px;
  padding-right:15px;
  position:relative;
  width:calc(50% - 30px);
  width:-moz-calc(50% - 30px);
  width:-webkit-calc(50% - 30px);
}
.webmovie {
  border-radius:2px;
  float:none;
  height:100%;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:100%;
}
.box-663 {
  float:left;
  margin-top:40px;
  padding-left:15px;
  padding-right:15px;
  position:relative;
  width:calc(50% - 30px);
  width:-moz-calc(50% - 30px);
  width:-webkit-calc(50% - 30px);
}
.carousel-605 {
  float:none;
  height:288px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:100%;
}
.carousel-605 > .iux-carousel-pager {
  visibility:hidden;
}
.carousel-605 > .iux-carousel-prev,.carousel-605 > .iux-carousel-next {
  display:inherit;
}
.carousel-605 > .iux-carousel-prev {
  background-image:url('/static/project/ar2.png');
  height:26px;
  left:10px;
  top:120px;
  width:26px;
}
.carousel-605 > .iux-carousel-next {
  background-image:url('/static/project/ar1.png');
  height:26px;
  right:10px;
  top:120px;
  width:26px;
}
.carousel-item-606 {
  height:100%;
  position:relative;
}
.review-609 {
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:400;
  margin-left:auto;
  margin-right:auto;
  margin-top:12px;
  position:relative;
  text-align:center;
  width:80%;
}
.reviewer-612 {
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:300;
  margin-left:auto;
  margin-right:auto;
  margin-top:28px;
  position:relative;
  text-align:center;
  width:80%;
}
.carousel-item-607 {
  height:100%;
  position:relative;
}
.review-610 {
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:400;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  text-align:center;
  width:80%;
}
.reviewer-613 {
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:300;
  margin-left:auto;
  margin-right:auto;
  margin-top:28px;
  position:relative;
  text-align:center;
  width:80%;
}
.carousel-item-608 {
  height:100%;
  position:relative;
}
.review-611 {
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:400;
  margin-left:auto;
  margin-right:auto;
  margin-top:12px;
  position:relative;
  text-align:center;
  width:80%;
}
.reviewer-614 {
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:300;
  margin-left:auto;
  margin-right:auto;
  margin-top:28px;
  position:relative;
  text-align:center;
  width:80%;
}
.image {
  display:none;
  height:20px;
  left:10px;
  top:120px;
  width:20px;
}
.image-558 {
  display:none;
  height:20px;
  right:10px;
  top:120px;
  width:20px;
}
.section-42 {
  padding-bottom:80px;
  padding-top:60px;
}
.box-306 {
  float:none;
  height:100%;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:100%;
}
.box-304 {
  float:left;
  margin-left:0px;
  margin-top:0px;
  padding-left:15px;
  padding-right:15px;
  position:relative;
  width:calc(50% - 30px);
  width:-moz-calc(50% - 30px);
  width:-webkit-calc(50% - 30px);
}
.text-305 {
  color:#FA690A;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:34px;
  font-weight:700;
  letter-spacing:-0.2px;
  line-height:1;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:100%;
}
.box-308 {
  float:none;
  margin-left:0px;
  margin-top:40px;
  position:relative;
  width:100%;
}
.text-310 {
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:700;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:22%;
}
.text-311 {
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:78%;
}
.box-307 {
  float:none;
  margin-top:20px;
  position:relative;
  width:100%;
}
.text-308 {
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:700;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:22%;
}
.text-309 {
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:78%;
}
.box-315 {
  float:none;
  margin-top:20px;
  position:relative;
  width:100%;
}
.text-315 {
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:700;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:22%;
}
.text-316 {
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:78%;
}
.box-317 {
  float:none;
  margin-top:20px;
  position:relative;
  width:100%;
}
.text-318 {
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:700;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:22%;
}
.text-319 {
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:78%;
}
.box-305 {
  float:left;
  height:278px;
  margin-left:0px;
  margin-top:0px;
  padding-left:15px;
  padding-right:15px;
  position:relative;
  width:calc(50% - 30px);
  width:-moz-calc(50% - 30px);
  width:-webkit-calc(50% - 30px);
}
.googlemap {
  border-radius:2px;
  float:none;
  height:100%;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:100%;
}
.section-301 {
  background-attachment:fixed;
  background-color:#FA690A;
  background-image:url('/static/project/whyCoding.jpg');
  background-repeat:repeat;
  background-size:contain;
  display:none;
}
.box-314 {
  background-color:rgba(0,0,0,0.50);
  float:none;
  height:100%;
  width:100%;
}
.center-box-302 {
  background-attachment:fixed;
  background-size:cover;
}
.text-303 {
  color:#FFFFFF;
  float:none;
  font-family:Bariol;
  font-size:36px;
  font-weight:700;
  letter-spacing:-0.2px;
  line-height:1;
  margin-left:auto;
  margin-right:auto;
  margin-top:60px;
  position:relative;
  text-align:center;
  width:100%;
}
.carousel-304 > .iux-carousel-prev,.carousel-304 > .iux-carousel-next {
  display:inherit;
}
.carousel-304 > .iux-carousel-pager {
  visibility:hidden;
}
.carousel-304 {
  float:none;
  height:250px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:100%;
}
.carousel-304 > .iux-carousel-prev {
  background-image:url('/static/project/carousel_arL_M.png');
  height:40px;
  left:15px;
  top:80px;
  width:40px;
}
.carousel-304 > .iux-carousel-next {
  background-image:url('/static/project/carousel_arR_M.png');
  height:40px;
  right:15px;
  top:80px;
  width:40px;
}
.carousel-item-305 {
  height:100%;
  position:relative;
}
.review {
  color:#FFFFFF;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:18px;
  font-weight:400;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:60px;
  width:80%;
}
.reviewer {
  color:#E6E6E6;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:300;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:145px;
  width:80%;
}
.carousel-item-306 {
  height:100%;
  position:relative;
}
.review-309 {
  color:#FFFFFF;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:18px;
  font-weight:400;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:60px;
  width:80%;
}
.reviewer-312 {
  color:#E6E6E6;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:300;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:145px;
  width:80%;
}
.carousel-item-307 {
  height:100%;
  position:relative;
}
.review-323 {
  color:#FFFFFF;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:18px;
  font-weight:400;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:60px;
  width:80%;
}
.reviewer-324 {
  color:#E6E6E6;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:300;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:145px;
  width:80%;
}
.carousel-item-317 {
  height:100%;
  position:relative;
}
.review-321 {
  color:#FFFFFF;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:18px;
  font-weight:400;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:60px;
  width:80%;
}
.reviewer-322 {
  color:#E6E6E6;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:300;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:145px;
  width:80%;
}
.carousel-item-318 {
  height:100%;
  position:relative;
}
.review-319 {
  color:#FFFFFF;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:18px;
  font-weight:400;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:60px;
  width:80%;
}
.reviewer-320 {
  color:#E6E6E6;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:300;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:145px;
  width:80%;
}
.section-35 {
  background-color:#FA690A;
  padding-bottom:80px;
  padding-top:60px;
}
.text-88 {
  color:#FFFFFF;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:34px;
  font-weight:700;
  letter-spacing:-0.2px;
  line-height:1;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:100%;
}
.text-89 {
  color:#FFFFFF;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:22px;
  letter-spacing:-0.2px;
  line-height:1;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:100%;
}
.text-42 {
  color:#FFFFFF;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  margin-left:0px;
  margin-top:40px;
  padding-left:15px;
  padding-right:15px;
  position:relative;
  width:465.00px;
  width:calc(50% - 30px);
  width:-moz-calc(50% - 30px);
  width:-webkit-calc(50% - 30px);
}
.box-524 {
  float:right;
  height:40px;
  margin-right:15px;
  margin-top:44px;
  position:relative;
  right:0px;
  width:210px;
}
.svg-45 {
  border-radius:40px;
  float:left;
  height:40px;
  position:relative;
  width:40px;
}
.cell-43 {
  -webkit-transition:background-color 0.4s, color 0.4s;
  border-color:#FFFFFF;
  border-radius:4px;
  border-width:1px;
  color:#FFFFFF;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:700;
  height:34px;
  margin-left:10px;
  margin-top:2px;
  position:relative;
  text-align:center;
  transition:background-color 0.4s, color 0.4s;
  width:158px;
}
.cell-43.iux-hover, .cell-43.iux-active {
  background-color:rgba(255,255,255,0.90);
  color:#FA690A;
}
.cell-43 > a {
  line-height:34px;
}
.box-523 {
  float:right;
  height:40px;
  margin-right:15px;
  margin-top:44px;
  position:relative;
  right:0px;
  width:210px;
}
.svg {
  border-radius:40px;
  float:left;
  height:40px;
  position:relative;
  width:40px;
}
.cell-42 > a {
  line-height:34px;
}
.cell-42 {
  -webkit-transition:background-color 0.4s, color 0.4s;
  border-color:#FFFFFF;
  border-radius:4px;
  border-width:1px;
  color:#FFFFFF;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:700;
  height:34px;
  margin-left:10px;
  margin-top:2px;
  position:relative;
  text-align:center;
  transition:background-color 0.4s, color 0.4s;
  width:158px;
}
.cell-42.iux-hover, .cell-42.iux-active {
  background-color:rgba(255,255,255,0.90);
  color:#FA690A;
}
.footer {
  background-color:#282828;
  height:300px;
  left:0px;
  position:relative;
  top:0px;
  width:100%;
}
.popup-login {
  background-color:#FFFFFF;
  border-radius:2px;
  height:422px;
  position:fixed;
  width:400px;
  z-index:100;
}
.popup-login-dimcolor {
  background-color:rgba(0,0,0,0.60);
  z-index:99;
}
.popup-login > .iux-popup-close-button {
  background-image:url('/static/project/btn_close.png');
  display:inherit;
  height:30px;
  position:absolute;
  right:12px;
  top:15px;
  width:30px;
}
.import {
  left:0px;
  top:0px;
  width:400px;
}
.popup-findpw {
  background-color:#FFFFFF;
  border-radius:2px;
  height:522px;
  position:fixed;
  width:400px;
  z-index:100;
}
.popup-findpw > .iux-popup-close-button {
  background-image:url('/static/project/btn_close.png');
  display:inherit;
  height:30px;
  position:absolute;
  right:12px;
  top:15px;
  width:30px;
}
.popup-findpw-dimcolor {
  background-color:rgba(0,0,0,0.60);
  z-index:99;
}
.import-361 {
  width:400px;
}
@media screen and (max-width:959px) {
  .iu-center-box {
    width:320px;
  }
  .header {
    min-width:320px;
  }
  .text-611 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .section {
    height:420px;
  }
  .box-203 {
    left:0px;
    top:0px;
  }
  .slogan {
    bottom:0px;
    font-size:32px;
    height:160px;
    left:0px;
    margin:auto;
    right:0px;
    top:0px;
  }
  .section-361 {
    height:52px;
  }
  .carousel-560 {
    display:inherit;
    left:initial;
    left:auto;
    right:0px;
    top:0px;
    width:100.00%;
    width:calc(100% - 60px);
    width:-moz-calc(100% - 60px);
    width:-webkit-calc(100% - 60px);
  }
  .carousel-560 > .iux-carousel-pager {
    text-align:center;
    visibility:visible;
  }
  .carousel-560 > .iux-carousel-prev,.carousel-560 > .iux-carousel-next {
    display:none;
  }
  .cell {
    height:52px;
    left:0px;
    top:0px;
  }
  .cell > a {
    line-height:52px;
  }
  .cell-563 {
    height:52px;
    left:0px;
    top:0px;
  }
  .cell-563 > a {
    line-height:52px;
  }
  .cell-613 {
    height:52px;
    left:0px;
    top:0px;
  }
  .cell-613 > a {
    line-height:52px;
  }
  .notice_marquee {
    display:none;
    right:0px;
    top:0px;
    width:100%;
  }
  .text-399 {
    bottom:0px;
    font-size:16px;
    height:26px;
    left:10px;
    margin-bottom:auto;
    margin-top:auto;
    padding-left:10px;
    padding-right:10px;
    top:0px;
    width:30px;
  }
  .section-77 {
    padding-bottom:56px;
    padding-top:40px;
  }
  .text-524 {
    font-size:28px;
    margin-left:0px;
    margin-top:0px;
    text-align:center;
  }
  .box {
    display:none;
  }
  .box-80 {
    display:none;
  }
  .box-81 {
    display:none;
  }
  .tabview {
    display:inherit;
    float:none;
    margin-left:auto;
    margin-right:auto;
    margin-top:28px;
  }
  .tab-header {
    height:100px;
  }
  .svg-542 {
    bottom:0px;
    left:0px;
    margin:auto;
    right:0px;
    top:0px;
  }
  .tab-header-active-item {
    display:none;
  }
  .svg-545 {
    bottom:0px;
    left:0px;
    margin:auto;
    right:0px;
    top:0px;
  }
  .svg-543 {
    bottom:0px;
    left:0px;
    margin:auto;
    right:0px;
    top:0px;
  }
  .tab-header-active-item-539 {
    display:none;
  }
  .svg-546 {
    bottom:0px;
    left:0px;
    margin:auto;
    right:0px;
    top:0px;
  }
  .svg-544 {
    bottom:0px;
    left:0px;
    margin:auto;
    right:0px;
    top:0px;
  }
  .tab-header-active-item-543 {
    display:none;
  }
  .svg-547 {
    bottom:0px;
    left:0px;
    margin:auto;
    right:0px;
    top:0px;
  }
  .tab-content {
    border-radius:2px;
    float:none;
  }
  .tab-content-item {
    display:none;
  }
  .box-546 {
    border-color:#FA690A;
    border-radius:2px;
    border-width:1px;
    padding-bottom:16px;
    padding-left:10px;
    padding-right:10px;
    padding-top:12px;
  }
  .text-546 {
    margin-left:0px;
    margin-top:0px;
  }
  .regular_text-547 {
    margin-left:0px;
    margin-top:8px;
  }
  .box-555 {
    -webkit-transform:rotate(45deg);
    background-color:#FFFFFF;
    border-color:#FA690A;
    border-left-width:1px;
    border-top-left-radius:2px;
    border-top-width:1px;
    float:none;
    height:12px;
    left:42px;
    top:14px;
    transform:rotate(45deg);
    width:12px;
  }
  .tab-content-item-531 {
    display:none;
  }
  .box-548 {
    border-color:#FA690A;
    border-radius:2px;
    border-width:1px;
    padding-bottom:16px;
    padding-left:10px;
    padding-right:10px;
    padding-top:12px;
  }
  .regular_text-550 {
    margin-left:0px;
    margin-top:8px;
  }
  .box-556 {
    -webkit-transform:rotate(45deg);
    background-color:#FFFFFF;
    border-color:#FA690A;
    border-left-width:1px;
    border-top-left-radius:2px;
    border-top-width:1px;
    float:none;
    height:12px;
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
    top:14px;
    transform:rotate(45deg);
    width:12px;
  }
  .tab-content-item-547 {
    display:none;
  }
  .box-551 {
    border-color:#FA690A;
    border-radius:2px;
    border-width:1px;
    margin-left:0px;
    margin-top:20px;
    padding-bottom:16px;
    padding-left:10px;
    padding-right:10px;
    padding-top:12px;
  }
  .regular_text-553 {
    margin-top:8px;
  }
  .box-557 {
    -webkit-transform:rotate(45deg);
    background-color:#FFFFFF;
    border-color:#FA690A;
    border-left-width:1px;
    border-top-left-radius:2px;
    border-top-width:1px;
    height:12px;
    left:initial;
    left:auto;
    right:42px;
    top:14px;
    transform:rotate(45deg);
    width:12px;
  }
  .pg-form-362 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .pg-button {
    bottom:0px;
    margin-bottom:auto;
    margin-top:auto;
    top:0px;
  }
  .section-61 {
    padding-bottom:52px;
    padding-top:40px;
  }
  .text-66 {
    font-size:28px;
    margin-left:auto;
    margin-right:auto;
    margin-top:0px;
  }
  .text-67 {
    font-size:18px;
    margin-left:auto;
    margin-right:auto;
    margin-top:0px;
  }
  .box-662 {
    float:none;
    height:240px;
    margin-left:0px;
    margin-top:28px;
    padding-left:10px;
    padding-right:10px;
    width:calc(100% - 20px);
    width:-moz-calc(100% - 20px);
    width:-webkit-calc(100% - 20px);
  }
  .webmovie {
    margin-left:0px;
    margin-top:0px;
  }
  .box-663 {
    float:none;
    margin-left:0px;
    margin-top:28px;
    padding-left:10px;
    padding-right:10px;
    width:calc(100% - 20px);
    width:-moz-calc(100% - 20px);
    width:-webkit-calc(100% - 20px);
  }
  .carousel-605 > .iux-carousel-pager {
    text-align:center;
    visibility:visible;
  }
  .carousel-605 {
    height:300px;
    margin-left:0px;
    margin-top:0px;
  }
  .carousel-605 > .iux-carousel-prev,.carousel-605 > .iux-carousel-next {
    display:none;
  }
  .review-609 {
    font-size:16px;
    margin-left:auto;
    margin-right:auto;
    margin-top:0px;
  }
  .reviewer-612 {
    margin-left:auto;
    margin-right:auto;
    margin-top:14px;
  }
  .review-610 {
    font-size:16px;
    margin-left:auto;
    margin-right:auto;
    margin-top:0px;
    width:256px;
  }
  .reviewer-613 {
    margin-left:auto;
    margin-right:auto;
    margin-top:14px;
  }
  .review-611 {
    font-size:16px;
    margin-left:auto;
    margin-right:auto;
    margin-top:0px;
  }
  .reviewer-614 {
    margin-left:auto;
    margin-right:auto;
    margin-top:14px;
  }
  .image {
    display:inherit;
    height:24px;
    left:2px;
    top:480px;
    width:24px;
  }
  .image-558 {
    display:inherit;
    height:24px;
    right:2px;
    top:480px;
    width:24px;
  }
  .section-42 {
    padding-bottom:52px;
    padding-top:40px;
  }
  .box-304 {
    padding-left:10px;
    padding-right:10px;
    width:calc(100% - 20px);
    width:-moz-calc(100% - 20px);
    width:-webkit-calc(100% - 20px);
  }
  .text-305 {
    font-size:28px;
    margin-left:0px;
    margin-top:0px;
    text-align:center;
  }
  .box-308 {
    margin-top:288px;
  }
  .text-310 {
    width:25%;
  }
  .text-311 {
    width:75%;
  }
  .box-307 {
    margin-top:8px;
  }
  .text-308 {
    width:25%;
  }
  .text-309 {
    width:75%;
  }
  .box-315 {
    margin-top:8px;
  }
  .text-315 {
    width:25%;
  }
  .text-316 {
    width:75%;
  }
  .box-317 {
    margin-top:8px;
  }
  .text-318 {
    width:25%;
  }
  .text-319 {
    width:75%;
  }
  .box-305 {
    float:none;
    height:240px;
    margin-left:initial;
    margin-left:auto;
    margin-top:initial;
    margin-top:auto;
    padding-left:10px;
    padding-right:10px;
    position:absolute;
    top:56px;
    width:calc(100% - 20px);
    width:-moz-calc(100% - 20px);
    width:-webkit-calc(100% - 20px);
  }
  .googlemap {
    margin-left:0px;
    margin-top:0px;
  }
  .text-303 {
    margin-left:auto;
    margin-right:auto;
  }
  .carousel-304 > .iux-carousel-prev,.carousel-304 > .iux-carousel-next {
    display:none;
  }
  .carousel-304 > .iux-carousel-pager {
    text-align:center;
    visibility:visible;
  }
  .review {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .reviewer {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .review-309 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .reviewer-312 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .review-323 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .reviewer-324 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .review-321 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .reviewer-322 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .review-319 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .reviewer-320 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .section-35 {
    padding-bottom:52px;
    padding-top:40px;
  }
  .text-88 {
    font-size:28px;
    margin-left:auto;
    margin-right:auto;
    margin-top:0px;
  }
  .text-89 {
    font-size:18px;
    margin-left:auto;
    margin-right:auto;
  }
  .text-42 {
    float:none;
    margin-left:0px;
    margin-top:28px;
    padding-left:10px;
    padding-right:10px;
    text-align:center;
    width:465.00px;
    width:calc(100% - 20px);
    width:-moz-calc(100% - 20px);
    width:-webkit-calc(100% - 20px);
  }
  .box-524 {
    float:none;
    margin-left:auto;
    margin-right:initial;
    margin-right:auto;
    margin-top:28px;
  }
  .box-523 {
    float:none;
    margin-left:auto;
    margin-right:initial;
    margin-right:auto;
    margin-top:20px;
  }
  .footer {
    height:400px;
  }
  .popup-login {
    width:300px;
  }
  .import {
    width:300px;
  }
  .popup-findpw {
    width:300px;
  }
  .import-361 {
    width:300px;
  }

}