.iu-center-box {
  width:960px;
}
.header {
  -webkit-box-shadow:0px 2px 0px 0px #DBDBDB;
  background-color:#FFFFFF;
  box-shadow:0px 2px 0px 0px #DBDBDB;
  color:#333333;
  float:none;
  height:60px;
  left:0px;
  min-width:960px;
  overflow:visible;
  position:fixed;
  top:0px;
  width:100%;
  z-index:10;
}
.page-content {
  background-color:#FFFFFF;
  padding-top:62px;
}
.section-227 {
  padding-bottom:80px;
  padding-top:60px;
}
.center-box-228 {
  color:#000000;
}
.projectgallery_title {
  color:#FA690A;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:34px;
  font-weight:700;
  letter-spacing:-0.2px;
  line-height:1;
  margin-left:0%;
  margin-top:0px;
  padding-left:15px;
  padding-right:15px;
  position:relative;
  text-align:center;
  width:calc(100% - 30px);
  width:-moz-calc(100% - 30px);
  width:-webkit-calc(100% - 30px);
}
.project_search {
  float:none;
  margin-left:0px;
  margin-top:40px;
  padding-left:5px;
  padding-right:5px;
  position:relative;
  width:calc(100% - 10px);
  width:-moz-calc(100% - 10px);
  width:-webkit-calc(100% - 10px);
}
.text-260 {
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:700;
  margin-top:6px;
  padding-right:20px;
  position:relative;
  text-align:right;
  width:calc(25% - 20px);
  width:-moz-calc(25% - 20px);
  width:-webkit-calc(25% - 20px);
}
.box-262 {
  float:left;
  padding-left:10px;
  padding-right:10px;
  position:relative;
  width:100.00px;
  width:calc(50% - 20px);
  width:-moz-calc(50% - 20px);
  width:-webkit-calc(50% - 20px);
}
.project_search_input {
  background-color:#FFFFFF;
  border-color:#E6E6E6;
  border-radius:2px;
  border-width:1px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:15px;
  font-weight:400;
  height:34px;
  padding-left:8px;
  padding-right:8px;
  position:relative;
  width:100.00%;
  width:calc(100% - 16px);
  width:-moz-calc(100% - 16px);
  width:-webkit-calc(100% - 16px);
}
.box-263 {
  float:left;
  padding-left:10px;
  padding-right:10px;
  position:relative;
  width:100.00px;
  width:calc(25% - 20px);
  width:-moz-calc(25% - 20px);
  width:-webkit-calc(25% - 20px);
}
.project_search_btn {
  -webkit-transition:background-color 0.4s;
  background-color:#FA690A;
  border-radius:4px;
  border-width:0px;
  color:#FFFFFF;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:700;
  height:36px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  transition:background-color 0.4s;
  width:140px;
}
.project_search_btn.iux-hover, .project_search_btn.iux-active {
  background-color:rgba(250,105,10,0.80);
}
.box {
  float:none;
  margin-left:auto;
  margin-right:auto;
  margin-top:40px;
  position:relative;
  width:100.00%;
  width:calc(100% - 30px);
  width:-moz-calc(100% - 30px);
  width:-webkit-calc(100% - 30px);
}
.project_search_result {
  color:#FA690A;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:100%;
}
.text-321 {
  color:#B4B4B4;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:20px;
  margin-top:20px;
  padding-bottom:80px;
  padding-top:80px;
  position:relative;
  text-align:center;
  width:100%;
}
.pagination {
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  height:30px;
  margin-left:0px;
  margin-top:40px;
  position:relative;
}
.pagination selected > div > ul > a > li, .pagination > div > ul > a > li:hover {
  background-color:transparent;
}
.pagination > div > ul {
  display:inline-block;
}
.pagination > div {
  margin:auto;
  text-align:center;
}
.pagination > div > ul > a > li {
  background-color:#FA690A;
  display:block;
  height:30px;
  line-height:30px;
  margin-left:4px;
  margin-right:4px;
  width:30px;
}
.go_pg_write_btn.iux-hover, .go_pg_write_btn.iux-active {
  background-color:#FA690A;
}
.go_pg_write_btn {
  -webkit-transition:background-color 0.4s;
  background-color:#6D6D6D;
  border-radius:4px;
  color:#FFFFFF;
  float:right;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:700;
  height:36px;
  margin-right:15px;
  margin-top:-34px;
  position:relative;
  right:0px;
  text-align:center;
  transition:background-color 0.4s;
  width:140px;
}
.go_pg_write_btn > a {
  line-height:36px;
}
.footer {
  background-color:#282828;
  height:300px;
  left:0px;
  position:relative;
  top:0px;
  width:100%;
}
.popup-login {
  background-color:#FFFFFF;
  border-radius:2px;
  height:422px;
  position:fixed;
  width:400px;
  z-index:100;
}
.popup-login-dimcolor {
  background-color:rgba(0,0,0,0.60);
  z-index:99;
}
.popup-login > .iux-popup-close-button {
  background-image:url('/static/project/btn_close.png');
  display:inherit;
  height:30px;
  position:absolute;
  right:12px;
  top:15px;
  width:30px;
}
.import-423 {
  left:0px;
  top:0px;
  width:400px;
}
.popup-findpw {
  background-color:#FFFFFF;
  border-radius:2px;
  height:522px;
  position:fixed;
  width:400px;
  z-index:100;
}
.popup-findpw > .iux-popup-close-button {
  background-image:url('/static/project/btn_close.png');
  display:inherit;
  height:30px;
  position:absolute;
  right:12px;
  top:15px;
  width:30px;
}
.popup-findpw-dimcolor {
  background-color:rgba(0,0,0,0.60);
  z-index:99;
}
.import-361 {
  width:400px;
}
@media screen and (max-width:959px) {
  .iu-center-box {
    width:320px;
  }
  .header {
    min-width:320px;
  }
  .section-227 {
    padding-bottom:52px;
    padding-top:40px;
  }
  .projectgallery_title {
    display:none;
    margin-left:0%;
    margin-top:0px;
  }
  .project_search {
    margin-left:0px;
    margin-top:0px;
    padding-left:10px;
    padding-right:10px;
    width:calc(100% - 20px);
    width:-moz-calc(100% - 20px);
    width:-webkit-calc(100% - 20px);
  }
  .text-260 {
    float:none;
    margin-left:0px;
    margin-top:6px;
    padding:0px;
    text-align:center;
    width:100%;
  }
  .box-262 {
    float:left;
    margin-top:12px;
    padding:0px;
    width:100.00%;
    width:calc(80%);
    width:-moz-calc(80%);
    width:-webkit-calc(80%);
  }
  .project_search_input {
    margin-left:0px;
    margin-top:0px;
    width:100.00px;
    width:calc(100% - 28px);
    width:-moz-calc(100% - 28px);
    width:-webkit-calc(100% - 28px);
  }
  .box-263 {
    float:left;
    margin-top:12px;
    padding:0px;
    width:20%;
  }
  .project_search_btn {
    margin-left:0px;
    margin-top:0px;
    width:100%;
  }
  .box {
    margin-left:auto;
    margin-right:auto;
    margin-top:28px;
  }
  .text-321 {
    margin-left:0px;
    margin-top:20px;
    padding-bottom:40px;
    padding-top:40px;
  }
  .pagination {
    margin-top:28px;
  }
  .pagination > div > ul > a > li {
    display:block;
  }
  .go_pg_write_btn {
    margin-top:40px;
    right:0px;
  }
  .footer {
    height:400px;
  }
  .popup-login {
    width:300px;
  }
  .import-423 {
    width:300px;
  }
  .popup-findpw {
    width:300px;
  }
  .import-361 {
    width:300px;
  }

}