.iu-center-box {
  width:960px;
}
.projectGallery_read {
  color:#323232;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
}
.header {
  -webkit-box-shadow:0px 2px 0px 0px #DBDBDB;
  background-color:#FFFFFF;
  box-shadow:0px 2px 0px 0px #DBDBDB;
  color:#333333;
  float:none;
  height:60px;
  left:0px;
  min-width:960px;
  overflow:visible;
  position:fixed;
  top:0px;
  width:100%;
  z-index:10;
}
.page-content {
  background-color:#FFFFFF;
  padding-top:62px;
}
.section {
  padding-bottom:80px;
  padding-top:60px;
}
.box-348 {
  background-size:cover;
  float:none;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  padding-left:15px;
  padding-right:15px;
  position:relative;
  width:calc(100% - 30px);
  width:-moz-calc(100% - 30px);
  width:-webkit-calc(100% - 30px);
}
.student_project_title {
  color:#FA690A;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:34px;
  font-weight:700;
  letter-spacing:-0.2px;
  line-height:1;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  padding-bottom:12px;
  padding-left:15px;
  padding-right:15px;
  padding-top:9px;
  position:relative;
  width:calc(100% - 30px);
  width:-moz-calc(100% - 30px);
  width:-webkit-calc(100% - 30px);
}
.box-369 {
  border-color:#E6E6E6;
  border-top-width:1px;
  float:none;
  margin-top:5px;
  padding-left:15px;
  padding-right:15px;
  padding-top:3px;
  position:relative;
  width:100.00%;
  width:calc(100% - 30px);
  width:-moz-calc(100% - 30px);
  width:-webkit-calc(100% - 30px);
}
.svg {
  float:left;
  height:20px;
  margin-top:1px;
  position:relative;
  width:20px;
}
.text-369 {
  color:#929292;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:300;
  margin-left:10px;
  position:relative;
  text-align:left;
}
.svg-366 {
  float:left;
  height:20px;
  margin-left:20px;
  margin-top:1px;
  position:relative;
  width:20px;
}
.text-368 {
  color:#929292;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:300;
  margin-left:10px;
  position:relative;
  text-align:left;
}
.uploaded_time {
  color:#929292;
  float:right;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:300;
  margin-right:0px;
  margin-top:0px;
  position:relative;
  right:0px;
  text-align:right;
  width:50%;
}
.wrap_read_what {
  float:none;
  margin-left:0px;
  margin-top:20px;
  padding-bottom:20px;
  padding-top:20px;
  position:relative;
  width:100%;
}
.read_what {
  color:#FA690A;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:24px;
  font-weight:700;
  margin-left:0px;
  margin-top:0px;
  padding-left:15px;
  padding-right:15px;
  position:relative;
}
.box-379 {
  background-color:#F5F5F5;
  border-bottom-color:#E6E6E6;
  border-bottom-width:2px;
  border-radius:2px;
  float:none;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  overflow:visible;
  padding:30px;
  position:relative;
}
.box-433 {
  float:none;
  height:20px;
  left:30px;
  top:-20px;
  width:30px;
}
.box-434 {
  -webkit-transform:rotate(45deg);
  background-color:#F5F5F5;
  border-radius:2px;
  float:none;
  height:20px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:10px;
  transform:rotate(45deg);
  width:20px;
}
.text-380 {
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:400;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  text-align:left;
}
.project_good_main_img {
  background-color:#FFFFFF;
  float:none;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  position:relative;
}
.image {
  border-color:#E6E6E6;
  border-radius:2px;
  border-width:1px;
  float:none;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  max-width:852px;
  min-width:400px;
  padding:8px;
  position:relative;
}
.text-436 {
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:300;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  padding:8px;
  position:relative;
  text-align:center;
}
.collection-440 {
  float:none;
  margin-left:auto;
  margin-right:auto;
  position:relative;
}
.import-338 {
  margin-left:auto;
  margin-right:auto;
  position:relative;
  top:0px;
  width:100%;
}
.import-445 {
  left:0px;
  position:relative;
  top:0px;
  width:100%;
}
.wrap_read_why {
  float:none;
  margin-left:0px;
  margin-top:0px;
  padding-bottom:20px;
  padding-top:20px;
  position:relative;
  width:100%;
}
.read_why {
  color:#FA690A;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:24px;
  font-weight:700;
  margin-left:0px;
  margin-top:0px;
  padding-left:15px;
  padding-right:15px;
  position:relative;
}
.box-383 {
  background-color:#F5F5F5;
  border-bottom-color:#E6E6E6;
  border-bottom-width:2px;
  border-radius:2px;
  float:none;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  overflow:visible;
  padding:30px;
  position:relative;
}
.box-440 {
  float:none;
  height:20px;
  left:25px;
  top:-20px;
  width:30px;
}
.box-441 {
  -webkit-transform:rotate(45deg);
  background-color:#F5F5F5;
  border-radius:2px;
  float:none;
  height:20px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:10px;
  transform:rotate(45deg);
  width:20px;
}
.collection-437 {
  float:none;
  margin-left:0px;
  margin-top:-20px;
  position:relative;
}
.import-337 {
  left:0px;
  position:relative;
  top:0px;
  width:100%;
}
.import-444 {
  left:0px;
  position:relative;
  top:0px;
  width:100%;
}
.text-384 {
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:400;
  margin-left:0px;
  margin-top:20px;
  position:relative;
  text-align:left;
}
.wrap_read_how {
  border-bottom-width:1px;
  border-color:#E6E6E6;
  float:none;
  margin-left:0px;
  margin-top:0px;
  padding-bottom:40px;
  padding-top:20px;
  position:relative;
  width:100%;
}
.read_how {
  color:#FA690A;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:24px;
  font-weight:700;
  margin-left:0px;
  margin-top:0px;
  padding-left:15px;
  padding-right:15px;
  position:relative;
}
.box-390 {
  background-color:#F5F5F5;
  border-bottom-width:2px;
  border-color:#E6E6E6;
  border-radius:2px;
  float:none;
  margin-left:0px;
  margin-top:20px;
  overflow:visible;
  padding:30px;
  position:relative;
}
.box-438 {
  float:none;
  height:20px;
  left:25px;
  top:-20px;
  width:30px;
}
.box-439 {
  -webkit-transform:rotate(45deg);
  background-color:#F5F5F5;
  border-radius:2px;
  float:none;
  height:20px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:10px;
  transform:rotate(45deg);
  width:20px;
}
.collection-438 {
  float:none;
  margin-left:0px;
  margin-top:-20px;
  position:relative;
}
.import-439 {
  left:0px;
  position:relative;
  top:0px;
  width:100%;
}
.import-443 {
  left:0px;
  position:relative;
  top:0px;
  width:100%;
}
.text-391 {
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:400;
  margin-left:0px;
  margin-top:20px;
  position:relative;
  text-align:left;
}
.wrap_project_video {
  border-bottom-width:1px;
  border-color:#E6E6E6;
  float:none;
  margin-left:0px;
  margin-top:0px;
  padding-bottom:20px;
  padding-top:20px;
  position:relative;
  width:100%;
}
.project_video {
  color:#FA690A;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:24px;
  font-weight:700;
  margin-left:0px;
  margin-top:0px;
  padding-left:15px;
  padding-right:15px;
  position:relative;
}
.project_video_1 {
  float:none;
  margin-left:0px;
  margin-top:0px;
  position:relative;
}
.webmovie {
  border-radius:2px;
  float:none;
  height:560px;
  margin-left:0px;
  margin-top:20px;
  position:relative;
  width:100%;
}
.wrap_project_link {
  background-color:#F5F5F5;
  border-bottom-width:1px;
  border-color:#E6E6E6;
  float:none;
  margin-left:0px;
  margin-top:0px;
  padding-bottom:20px;
  padding-left:30px;
  padding-right:30px;
  padding-top:20px;
  position:relative;
}
.text-254 {
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:400;
  height:28px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:20%;
}
.text-404 {
  color:#FA690A;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:400;
  height:28px;
  margin-left:0px;
  margin-top:0px;
  padding-left:8px;
  padding-right:8px;
  position:relative;
  width:calc(80% - 18px);
  width:-moz-calc(80% - 18px);
  width:-webkit-calc(80% - 18px);
}
.wrap_project_file {
  background-color:#F5F5F5;
  border-bottom-width:1px;
  border-color:#E6E6E6;
  float:none;
  margin-left:0px;
  margin-top:0px;
  padding-bottom:20px;
  padding-left:30px;
  padding-right:30px;
  padding-top:20px;
  position:relative;
}
.text-255 {
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:400;
  height:26px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:20%;
}
.text-405 {
  color:#FA690A;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:400;
  height:28px;
  margin-left:0px;
  margin-top:0px;
  padding-left:8px;
  padding-right:8px;
  position:relative;
  width:calc(80% - 18px);
  width:-moz-calc(80% - 18px);
  width:-webkit-calc(80% - 18px);
}
.box-448 {
  border-bottom-width:1px;
  border-color:#E6E6E6;
  float:none;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  padding-bottom:40px;
  padding-top:40px;
  position:relative;
  width:calc(100% - 30px);
  width:-moz-calc(100% - 30px);
  width:-webkit-calc(100% - 30px);
}
.text-337 {
  color:#6D6D6D;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:300;
  margin-left:0px;
  padding-left:15px;
  padding-right:15px;
  position:relative;
  text-align:center;
  width:100.00%;
  width:calc(100% - 30px);
  width:-moz-calc(100% - 30px);
  width:-webkit-calc(100% - 30px);
}
.box-341 {
  float:none;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
  position:relative;
  width:200px;
}
.cell-338 {
  border-color:#FA690A;
  border-radius:4px;
  border-width:1px;
  color:#FA690A;
  float:none;
  height:34px;
  line-height:34px;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:198px;
}
.svg-339 {
  bottom:0px;
  float:none;
  height:22px;
  left:20px;
  margin-bottom:auto;
  margin-top:auto;
  top:0px;
  width:22px;
}
.text-338 {
  color:#FA690A;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:700;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  padding-left:70px;
  right:0px;
  top:6px;
  width:calc(100% - 70px);
  width:-moz-calc(100% - 70px);
  width:-webkit-calc(100% - 70px);
}
.box-338 {
  float:none;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
  position:relative;
  width:200px;
}
.cell-341 {
  background-color:#FA690A;
  border-color:#FA690A;
  border-radius:4px;
  border-width:1px;
  color:#FFFFFF;
  float:none;
  height:34px;
  line-height:34px;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:198px;
}
.svg-341 {
  bottom:0px;
  float:none;
  height:22px;
  left:20px;
  margin-bottom:auto;
  margin-top:auto;
  top:0px;
  width:22px;
}
.text-339 {
  color:#FFFFFF;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:700;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  padding-left:70px;
  right:0px;
  top:6px;
  width:calc(100% - 70px);
  width:-moz-calc(100% - 70px);
  width:-webkit-calc(100% - 70px);
}
.box-346 {
  background-color:rgba(250,105,10,0.10);
  border-bottom-width:1px;
  border-color:#E6E6E6;
  float:none;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  padding-bottom:40px;
  padding-top:40px;
  position:relative;
  width:calc(100% - 30px);
  width:-moz-calc(100% - 30px);
  width:-webkit-calc(100% - 30px);
}
.text-446 {
  color:#FA690A;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:20px;
  font-weight:700;
  margin-left:0px;
  margin-top:0px;
  padding-bottom:20px;
  position:relative;
  text-align:center;
}
.box-513 {
  float:none;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  width:calc(100% - 60px);
  width:-moz-calc(100% - 60px);
  width:-webkit-calc(100% - 60px);
}
.box {
  background-color:#FFFFFF;
  border-radius:2px;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:300;
  margin-left:0px;
  margin-top:0px;
  min-height:60px;
  overflow:visible;
  padding:15px;
  position:relative;
  width:calc(100% - 140px);
  width:-moz-calc(100% - 140px);
  width:-webkit-calc(100% - 140px);
}
.text-364 {
  color:#FA690A;
  float:none;
  font-size:16px;
  font-weight:700;
  margin-left:0px;
  margin-top:0px;
  padding-left:15px;
  padding-right:15px;
  position:relative;
  width:calc(100% - 30px);
  width:-moz-calc(100% - 30px);
  width:-webkit-calc(100% - 30px);
}
.text-365 {
  float:none;
  margin-left:0px;
  margin-top:10px;
  padding-left:15px;
  padding-right:15px;
  position:relative;
  width:100.00%;
  width:calc(100% - 30px);
  width:-moz-calc(100% - 30px);
  width:-webkit-calc(100% - 30px);
}
.box-365 {
  height:30px;
  right:-18px;
  top:30px;
  width:20px;
}
.box-366 {
  -webkit-transform:rotate(45deg);
  background-color:#FFFFFF;
  bottom:0px;
  float:none;
  height:20px;
  left:-15px;
  margin-bottom:auto;
  margin-top:auto;
  top:0px;
  transform:rotate(45deg);
  width:20px;
}
.image-421 {
  background-color:#E6E6E6;
  border-color:rgba(250,105,10,0.40);
  border-radius:50px;
  border-width:1px;
  color:#000000;
  height:80px;
  right:0px;
  top:4px;
  width:80px;
}
.text-447 {
  color:#FA690A;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:20px;
  font-weight:700;
  margin-left:auto;
  margin-right:auto;
  margin-top:60px;
  padding-bottom:20px;
  position:relative;
  text-align:center;
}
.collection {
  float:none;
  position:relative;
  width:100%;
}
.import {
  left:0px;
  position:relative;
  top:0px;
  width:calc(100%);
  width:-moz-calc(100%);
  width:-webkit-calc(100%);
}
.import-363 {
  left:0px;
  position:relative;
  top:0px;
  width:calc(100%);
  width:-moz-calc(100%);
  width:-webkit-calc(100%);
}
.comment_write {
  border-bottom-width:1px;
  border-color:#E6E6E6;
  border-top-width:2px;
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  padding-bottom:15px;
  padding-top:15px;
  position:relative;
  width:calc(100% - 30px);
  width:-moz-calc(100% - 30px);
  width:-webkit-calc(100% - 30px);
}
.image-420 {
  background-color:#E6E6E6;
  border-color:#E6E6E6;
  border-radius:50px;
  border-width:1px;
  float:left;
  height:50px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:50px;
}
.pg-form {
  float:right;
  position:relative;
  right:0px;
  width:calc(100% - 60px);
  width:-moz-calc(100% - 60px);
  width:-webkit-calc(100% - 60px);
}
.text-361 {
  float:none;
  font-weight:700;
  margin-left:0px;
  margin-top:0px;
  padding-left:15px;
  padding-right:15px;
  position:relative;
  width:calc(100% - 30px);
  width:-moz-calc(100% - 30px);
  width:-webkit-calc(100% - 30px);
}
.pg-text-view {
  border-color:#E6E6E6;
  border-radius:2px;
  border-width:1px;
  float:none;
  font-size:14px;
  height:42px;
  line-height:1.30;
  margin-left:15px;
  margin-top:10px;
  padding:8px;
  position:relative;
  text-align:left;
  width:calc(100% - 168px);
  width:-moz-calc(100% - 168px);
  width:-webkit-calc(100% - 168px);
}
.comment_btn-364 {
  -webkit-transition:background-color 0.4s;
  background-color:#FA690A;
  border-radius:4px;
  border-width:0px;
  color:#FFFFFF;
  float:right;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:700;
  height:32px;
  margin-right:0px;
  margin-top:-60px;
  position:relative;
  right:0px;
  transition:background-color 0.4s;
  width:120px;
}
.comment_btn-364.iux-hover, .comment_btn-364.iux-active {
  background-color:rgba(250,105,10,0.80);
}
.box-337 {
  float:none;
  margin-left:0px;
  margin-top:60px;
  position:relative;
}
.cell {
  -webkit-transition:background-color 0.4s;
  background-color:#6D6D6D;
  border-radius:4px;
  color:#FFFFFF;
  float:right;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:700;
  height:36px;
  line-height:36px;
  margin-right:15px;
  margin-top:0px;
  position:relative;
  right:0px;
  text-align:center;
  transition:background-color 0.4s;
  width:120px;
}
.cell.iux-hover, .cell.iux-active {
  background-color:rgba(109,109,109,0.80);
}
.go_pg_main_btn-337 {
  -webkit-transition:background-color 0.4s;
  background-color:#6D6D6D;
  border-radius:4px;
  color:#FFFFFF;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:700;
  height:36px;
  margin-left:15px;
  margin-top:0px;
  position:relative;
  text-align:center;
  transition:background-color 0.4s;
  width:120px;
}
.go_pg_main_btn-337.iux-hover, .go_pg_main_btn-337.iux-active {
  background-color:rgba(109,109,109,0.80);
}
.go_pg_main_btn-337 > a {
  line-height:36px;
}
.footer {
  background-color:#282828;
  height:300px;
  left:0px;
  position:relative;
  top:0px;
  width:100%;
}
.popup-login {
  background-color:#FFFFFF;
  border-radius:2px;
  height:422px;
  position:fixed;
  width:400px;
  z-index:100;
}
.popup-login-dimcolor {
  background-color:rgba(0,0,0,0.60);
  z-index:99;
}
.popup-login > .iux-popup-close-button {
  background-image:url('/static/project/btn_close.png');
  display:inherit;
  height:30px;
  position:absolute;
  right:12px;
  top:15px;
  width:30px;
}
.import-423 {
  left:0px;
  top:0px;
  width:400px;
}
.popup-findpw {
  background-color:#FFFFFF;
  border-radius:2px;
  height:522px;
  position:fixed;
  width:400px;
  z-index:100;
}
.popup-findpw > .iux-popup-close-button {
  background-image:url('/static/project/btn_close.png');
  display:inherit;
  height:30px;
  position:absolute;
  right:12px;
  top:15px;
  width:30px;
}
.popup-findpw-dimcolor {
  background-color:rgba(0,0,0,0.60);
  z-index:99;
}
.import-361 {
  width:400px;
}
@media screen and (max-width:959px) {
  .iu-center-box {
    width:320px;
  }
  .header {
    min-width:320px;
  }
  .section {
    padding-bottom:52px;
    padding-top:40px;
  }
  .box-348 {
    margin-left:auto;
    margin-right:auto;
    margin-top:0px;
    padding-left:10px;
    padding-right:10px;
    width:calc(100% - 20px);
    width:-moz-calc(100% - 20px);
    width:-webkit-calc(100% - 20px);
  }
  .student_project_title {
    font-size:20px;
    margin-left:auto;
    margin-right:auto;
    margin-top:0px;
    padding-left:10px;
    padding-right:10px;
    width:calc(100% - 20px);
    width:-moz-calc(100% - 20px);
    width:-webkit-calc(100% - 20px);
  }
  .uploaded_time {
    right:0px;
  }
  .read_what {
    font-size:20px;
    margin-left:0px;
    margin-top:0px;
    padding-left:10px;
    padding-right:10px;
  }
  .box-379 {
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    padding:15px;
  }
  .box-434 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .text-380 {
    margin-left:0px;
    margin-top:0px;
  }
  .project_good_main_img {
    margin-left:auto;
    margin-right:auto;
    margin-top:12px;
  }
  .image {
    margin-left:auto;
    margin-right:auto;
    margin-top:0px;
    max-width:252px;
    min-width:200px;
  }
  .text-436 {
    margin-left:auto;
    margin-right:auto;
  }
  .collection-440 {
    margin-left:auto;
    margin-right:auto;
  }
  .import-338 {
    margin-left:auto;
    margin-right:auto;
  }
  .read_why {
    font-size:20px;
    margin-left:0px;
    margin-top:0px;
    padding-left:10px;
    padding-right:10px;
  }
  .box-383 {
    margin-left:auto;
    margin-right:auto;
    padding:15px;
  }
  .box-440 {
    left:25px;
    top:-20px;
  }
  .box-441 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .collection-437 {
    margin-left:0px;
    margin-top:-12px;
  }
  .text-384 {
    margin-left:0px;
    margin-top:12px;
  }
  .read_how {
    font-size:20px;
    margin-left:0px;
    margin-top:0px;
    padding-left:10px;
    padding-right:10px;
  }
  .box-390 {
    padding:15px;
  }
  .box-439 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .collection-438 {
    margin-left:0px;
    margin-top:-12px;
  }
  .text-391 {
    margin-left:0px;
    margin-top:12px;
  }
  .project_video {
    font-size:20px;
    padding-left:10px;
    padding-right:10px;
  }
  .webmovie {
    height:240px;
    margin-left:0px;
    margin-top:20px;
  }
  .wrap_project_link {
    margin-left:0px;
    margin-top:0px;
    padding-bottom:10px;
    padding-left:15px;
    padding-right:15px;
    padding-top:10px;
  }
  .text-254 {
    font-size:14px;
    margin-left:0px;
    margin-top:6px;
    width:100%;
  }
  .text-404 {
    margin-top:-2px;
    padding-left:0px;
    padding-right:0px;
    width:100%;
  }
  .wrap_project_file {
    margin-left:0px;
    margin-top:0px;
    padding-bottom:10px;
    padding-left:15px;
    padding-right:15px;
    padding-top:10px;
  }
  .text-255 {
    font-size:14px;
    margin-left:0px;
    margin-top:6px;
    width:100%;
  }
  .text-405 {
    margin-left:0px;
    margin-top:-2px;
    padding-left:0px;
    padding-right:0px;
    width:100%;
  }
  .box-448 {
    margin-left:auto;
    margin-right:auto;
    margin-top:0px;
    width:calc(100% - 20px);
    width:-moz-calc(100% - 20px);
    width:-webkit-calc(100% - 20px);
  }
  .box-341 {
    margin-left:auto;
    margin-right:auto;
  }
  .cell-338 {
    margin-left:auto;
    margin-right:auto;
    margin-top:0px;
  }
  .svg-339 {
    bottom:0px;
    margin-bottom:auto;
    margin-top:auto;
    top:0px;
  }
  .text-338 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .box-338 {
    margin-left:auto;
    margin-right:auto;
  }
  .cell-341 {
    margin-left:auto;
    margin-right:auto;
  }
  .svg-341 {
    bottom:0px;
    margin-bottom:auto;
    margin-top:auto;
    top:0px;
  }
  .text-339 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .box-346 {
    margin-left:auto;
    margin-right:auto;
    margin-top:0px;
    padding-bottom:28px;
    padding-top:28px;
    width:calc(100% - 20px);
    width:-moz-calc(100% - 20px);
    width:-webkit-calc(100% - 20px);
  }
  .text-446 {
    margin-left:0px;
    margin-top:0px;
  }
  .box-513 {
    margin-left:auto;
    margin-right:auto;
    width:calc(100% - 30px);
    width:-moz-calc(100% - 30px);
    width:-webkit-calc(100% - 30px);
  }
  .box {
    margin-left:0px;
    margin-top:0px;
    padding:10px;
    width:100.00%;
    width:calc(100% - 20px);
    width:-moz-calc(100% - 20px);
    width:-webkit-calc(100% - 20px);
  }
  .text-364 {
    margin-left:30px;
    margin-top:0px;
    padding-left:10px;
    padding-right:10px;
    width:calc(100% - 50px);
    width:-moz-calc(100% - 50px);
    width:-webkit-calc(100% - 50px);
  }
  .text-365 {
    margin-left:0px;
    margin-top:10px;
    padding-left:10px;
    padding-right:10px;
    text-align:left;
    width:100.00%;
    width:calc(100% - 20px);
    width:-moz-calc(100% - 20px);
    width:-webkit-calc(100% - 20px);
  }
  .box-365 {
    display:none;
  }
  .box-366 {
    bottom:0px;
    margin-bottom:auto;
    margin-top:auto;
    top:0px;
  }
  .image-421 {
    float:none;
    height:26px;
    left:10px;
    right:initial;
    right:auto;
    top:8px;
    width:26px;
  }
  .text-447 {
    margin-left:auto;
    margin-right:auto;
    margin-top:40px;
  }
  .collection {
    margin-left:0px;
    margin-top:0px;
  }
  .comment_write {
    margin-left:auto;
    margin-right:auto;
    margin-top:0px;
    padding-bottom:12px;
    padding-top:12px;
    width:calc(100% - 20px);
    width:-moz-calc(100% - 20px);
    width:-webkit-calc(100% - 20px);
  }
  .image-420 {
    display:none;
    height:32px;
    margin-left:0px;
    margin-top:0px;
    width:32px;
  }
  .pg-form {
    margin-right:0px;
    margin-top:0px;
    right:0px;
    width:calc(100%);
    width:-moz-calc(100%);
    width:-webkit-calc(100%);
  }
  .text-361 {
    display:none;
    padding-left:10px;
    padding-right:10px;
    width:calc(100% - 20px);
    width:-moz-calc(100% - 20px);
    width:-webkit-calc(100% - 20px);
  }
  .pg-text-view {
    height:52px;
    margin-left:0px;
    margin-top:0px;
    width:232px;
  }
  .comment_btn-364 {
    margin-right:0px;
    margin-top:-70px;
    right:0px;
    width:40px;
  }
  .box-337 {
    margin-top:40px;
  }
  .cell {
    margin-right:10px;
    margin-top:0px;
    right:0px;
    width:140px;
  }
  .go_pg_main_btn-337 {
    margin-left:10px;
    margin-top:0px;
    width:140px;
  }
  .footer {
    height:400px;
  }
  .popup-login {
    width:300px;
  }
  .import-423 {
    width:300px;
  }
  .popup-findpw {
    width:300px;
  }
  .import-361 {
    width:300px;
  }

}