.iu-center-box {
  width:960px;
}
.header {
  -webkit-box-shadow:0px 2px 0px 0px #DBDBDB;
  background-color:#FFFFFF;
  box-shadow:0px 2px 0px 0px #DBDBDB;
  color:#333333;
  float:none;
  height:60px;
  left:0px;
  min-width:960px;
  overflow:visible;
  position:fixed;
  top:0px;
  width:100%;
  z-index:10;
}
.page-content {
  background-color:#FFFFFF;
  padding-top:62px;
}
.box-462 {
  background-size:cover;
  float:none;
  height:480px;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  width:100%;
}
.image {
  background-image:url('/static/project/appinventor_1.jpeg');
  bottom:0px;
  left:0px;
  margin-bottom:auto;
  margin-top:auto;
  top:0px;
  width:100%;
}
.box-454 {
  background-color:rgba(0,0,0,0.20);
  bottom:0px;
  height:100%;
  left:0px;
  margin:auto;
  right:0px;
  top:0px;
  width:100%;
}
.pg-form {
  height:100px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:0px;
  width:930px;
}
.pg-select {
  background-color:transparent;
  background-position:210px;
  border-color:#FFFFFF;
  border-radius:4px;
  border-width:1px;
  color:#FFFFFF;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  height:36px;
  right:0px;
  text-align:center;
  top:60px;
  width:240px;
}
.pg-select.iux-hover, .pg-select.iux-active {
  background-color:rgba(255,255,255,0.10);
}
.text-392 {
  background-color:rgba(240,118,180,0.80);
  border-radius:2px;
  color:#FFFFFF;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:400;
  height:26px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:156px;
  width:80px;
}
.class_title {
  color:#FFFFFF;
  font-family:'Noto Sans KR', sans-serif;
  font-size:48px;
  font-weight:700;
  height:58px;
  left:0px;
  line-height:1;
  margin-left:auto;
  margin-right:auto;
  padding-left:15px;
  padding-right:15px;
  right:0px;
  text-align:center;
  top:196px;
  width:calc(100% - 30px);
  width:-moz-calc(100% - 30px);
  width:-webkit-calc(100% - 30px);
}
.class_summary {
  color:#FFFFFF;
  font-family:'Noto Sans KR', sans-serif;
  font-size:18px;
  font-weight:700;
  left:0px;
  line-height:1.50;
  margin-left:auto;
  margin-right:auto;
  padding-left:15px;
  padding-right:15px;
  right:0px;
  text-align:center;
  top:300px;
  width:calc(100% - 30px);
  width:-moz-calc(100% - 30px);
  width:-webkit-calc(100% - 30px);
}
.section {
  background-color:#F5F5F5;
  padding-bottom:80px;
}
.box-311 {
  background-color:#FFFFFF;
  border-bottom-width:2px;
  border-color:#E6E6E6;
  height:58px;
  left:0px;
  top:0px;
  width:100%;
}
.box-362 {
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:700;
  height:60px;
  padding-left:15px;
  padding-right:15px;
  position:relative;
  width:calc(100% - 30px);
  width:-moz-calc(100% - 30px);
  width:-webkit-calc(100% - 30px);
}
.cell {
  border-bottom-width:2px;
  border-color:#FA690A;
  color:#FA690A;
  float:left;
  height:58px;
  line-height:58px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:50%;
}
.cell-363 {
  border-bottom-width:2px;
  border-color:#E6E6E6;
  color:#6D6D6D;
  float:left;
  height:58px;
  line-height:58px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:50%;
}
.box-364 {
  color:#323232;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  margin-left:0px;
  margin-top:0px;
  padding-left:15px;
  padding-right:15px;
  position:relative;
  width:calc(100% - 30px);
  width:-moz-calc(100% - 30px);
  width:-webkit-calc(100% - 30px);
}
.box-365 {
  float:none;
  margin-top:40px;
  position:relative;
}
.text-366 {
  color:#FA690A;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:20px;
  font-weight:700;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  text-align:center;
  width:100%;
}
.image-367 {
  -webkit-transform:rotate(90deg);
  float:none;
  left:340px;
  top:5px;
  transform:rotate(90deg);
}
.image-368 {
  -webkit-transform:rotate(-90deg);
  right:340px;
  top:5px;
  transform:rotate(-90deg);
}
.text-369 {
  float:none;
  font-size:18px;
  font-weight:400;
  margin-left:0px;
  margin-top:20px;
  position:relative;
}
.box {
  background-color:#FFFFFF;
  border-bottom-width:1px;
  border-color:#E6E6E6;
  float:none;
  margin-left:0px;
  margin-top:20px;
  overflow:hidden;
  padding-bottom:40px;
  padding-left:54px;
  padding-right:54px;
  padding-top:40px;
  position:relative;
  width:calc(100% - 108px);
  width:-moz-calc(100% - 108px);
  width:-webkit-calc(100% - 108px);
}
.svg-504 {
  bottom:0px;
  height:126px;
  left:134px;
  width:162px;
}
.text-505 {
  background-color:#F5F5F5;
  border-radius:4px;
  float:none;
  margin-left:276px;
  margin-top:0px;
  padding:10px;
  position:relative;
  text-align:center;
  width:380px;
}
.box-506 {
  -webkit-transform:rotate(45deg);
  background-color:#F5F5F5;
  border-radius:2px;
  height:20px;
  left:324px;
  top:64px;
  transform:rotate(45deg);
  width:20px;
}
.loading_box {
  background-color:#FFFFFF;
  border-bottom-width:1px;
  border-color:#E6E6E6;
  display:none;
  float:none;
  height:150px;
  margin-left:0px;
  margin-top:20px;
  overflow:hidden;
  padding-left:54px;
  padding-right:54px;
  position:relative;
  width:calc(100% - 108px);
  width:-moz-calc(100% - 108px);
  width:-webkit-calc(100% - 108px);
}
.box-518 {
  bottom:0px;
  height:80px;
  left:0px;
  margin:auto;
  right:0px;
  top:0px;
  width:160px;
}
.svg-519 {
  float:none;
  height:50px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:160px;
}
.html {
  color:#FA690A;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:400;
  letter-spacing:1px;
  margin-left:auto;
  margin-right:auto;
  margin-top:6px;
  position:relative;
  text-align:center;
}
.box-497 {
  float:none;
  margin-top:20px;
  position:relative;
}
.html-510 {
  background-color:#FFFFFF;
  border-bottom-width:1px;
  border-color:#E6E6E6;
  border-radius:2px;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:100%;
}
.text-511 {
  bottom:32px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  width:822px;
}
.text-371 {
  float:none;
  font-size:18px;
  font-weight:400;
  margin-left:0px;
  margin-top:40px;
  position:relative;
}
.box-381 {
  background-color:#FFFFFF;
  border-bottom-width:1px;
  border-color:#E6E6E6;
  float:none;
  margin-left:0px;
  margin-top:20px;
  overflow:hidden;
  padding-bottom:40px;
  padding-left:54px;
  padding-right:54px;
  padding-top:40px;
  position:relative;
  width:calc(100% - 108px);
  width:-moz-calc(100% - 108px);
  width:-webkit-calc(100% - 108px);
}
.svg {
  bottom:0px;
  height:126px;
  left:134px;
  width:162px;
}
.text-503 {
  background-color:#F5F5F5;
  border-radius:4px;
  float:none;
  margin-left:276px;
  margin-top:0px;
  padding:10px;
  position:relative;
  text-align:center;
  width:380px;
}
.box-504 {
  -webkit-transform:rotate(45deg);
  background-color:#F5F5F5;
  border-radius:2px;
  height:20px;
  left:324px;
  top:64px;
  transform:rotate(45deg);
  width:20px;
}
.box-372 {
  background-color:#FFFFFF;
  border-bottom-width:1px;
  border-color:#E6E6E6;
  float:none;
  margin-left:0px;
  margin-top:20px;
  overflow:visible;
  padding-bottom:40px;
  padding-left:54px;
  padding-right:54px;
  padding-top:40px;
  position:relative;
  width:calc(100% - 108px);
  width:-moz-calc(100% - 108px);
  width:-webkit-calc(100% - 108px);
}
.text-373 {
  float:none;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:100%;
}
.text-374 {
  float:none;
  font-size:18px;
  font-weight:400;
  margin-left:0px;
  margin-top:40px;
  position:relative;
}
.box-379 {
  background-color:#FFFFFF;
  border-bottom-width:1px;
  border-color:#E6E6E6;
  float:none;
  margin-left:0px;
  margin-top:20px;
  overflow:hidden;
  padding-bottom:40px;
  padding-left:54px;
  padding-right:54px;
  padding-top:40px;
  position:relative;
  width:calc(100% - 108px);
  width:-moz-calc(100% - 108px);
  width:-webkit-calc(100% - 108px);
}
.svg-384 {
  bottom:0px;
  height:126px;
  left:134px;
  width:162px;
}
.text-384 {
  background-color:#F5F5F5;
  border-radius:4px;
  float:none;
  margin-left:276px;
  margin-top:0px;
  padding:10px;
  position:relative;
  text-align:center;
  width:380px;
}
.box-502 {
  -webkit-transform:rotate(45deg);
  background-color:#F5F5F5;
  border-radius:2px;
  height:20px;
  left:324px;
  top:64px;
  transform:rotate(45deg);
  width:20px;
}
.box-375 {
  background-color:#FFFFFF;
  border-bottom-width:1px;
  border-color:#E6E6E6;
  float:none;
  margin-top:20px;
  overflow:visible;
  padding-bottom:40px;
  padding-left:54px;
  padding-right:54px;
  padding-top:40px;
  position:relative;
  width:calc(100% - 108px);
  width:-moz-calc(100% - 108px);
  width:-webkit-calc(100% - 108px);
}
.text-376 {
  float:none;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:100%;
}
.footer {
  background-color:#282828;
  height:300px;
  left:0px;
  position:relative;
  top:0px;
  width:100%;
}
@media screen and (max-width:959px) {
  .iu-center-box {
    width:320px;
  }
  .header {
    min-width:320px;
  }
  .box-462 {
    height:240px;
    margin-left:auto;
    margin-right:auto;
  }
  .image {
    bottom:0px;
    margin-bottom:auto;
    margin-top:auto;
    top:0px;
  }
  .box-454 {
    bottom:0px;
    left:0px;
    margin:auto;
    right:0px;
    top:0px;
  }
  .pg-form {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
    width:300px;
  }
  .pg-select {
    font-size:14px;
    top:10px;
    width:300px;
  }
  .text-392 {
    font-size:14px;
    height:22px;
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
    top:92px;
    width:76px;
  }
  .class_title {
    font-size:28px;
    height:30px;
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
    top:126px;
  }
  .class_summary {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
    top:300px;
  }
  .section {
    padding-bottom:52px;
  }
  .box-311 {
    height:50px;
  }
  .box-362 {
    height:52px;
    margin-left:0px;
    margin-top:0px;
    padding-left:10px;
    padding-right:10px;
    width:calc(100% - 20px);
    width:-moz-calc(100% - 20px);
    width:-webkit-calc(100% - 20px);
  }
  .cell {
    height:50px;
    line-height:50px;
    margin-left:0px;
    margin-top:0px;
  }
  .cell-363 {
    height:50px;
    line-height:50px;
    margin-left:0px;
    margin-top:0px;
  }
  .box-364 {
    margin-left:0px;
    margin-top:0px;
    padding-left:10px;
    padding-right:10px;
    width:calc(100% - 20px);
    width:-moz-calc(100% - 20px);
    width:-webkit-calc(100% - 20px);
  }
  .image-367 {
    left:0px;
  }
  .image-368 {
    right:0px;
  }
  .text-369 {
    margin-left:0px;
    margin-top:28px;
  }
  .box {
    font-size:14px;
    margin-left:0px;
    margin-top:20px;
    padding:15px;
    width:calc(100% - 30px);
    width:-moz-calc(100% - 30px);
    width:-webkit-calc(100% - 30px);
  }
  .svg-504 {
    display:none;
  }
  .text-505 {
    margin-left:auto;
    margin-right:auto;
    width:250px;
  }
  .loading_box {
    font-size:14px;
    margin-left:0px;
    margin-top:20px;
    padding:15px;
    width:calc(100% - 30px);
    width:-moz-calc(100% - 30px);
    width:-webkit-calc(100% - 30px);
  }
  .box-518 {
    bottom:0px;
    left:0px;
    margin:auto;
    right:0px;
    top:0px;
  }
  .svg-519 {
    float:none;
  }
  .html {
    float:none;
    margin-left:auto;
    margin-right:auto;
  }
  .html-510 {
    margin-left:0px;
  }
  .text-511 {
    bottom:28px;
    font-size:14px;
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
    width:270px;
  }
  .text-371 {
    margin-left:0px;
    margin-top:28px;
  }
  .box-381 {
    font-size:14px;
    margin-left:0px;
    margin-top:20px;
    padding:15px;
    width:calc(100% - 30px);
    width:-moz-calc(100% - 30px);
    width:-webkit-calc(100% - 30px);
  }
  .svg {
    display:none;
  }
  .text-503 {
    margin-left:auto;
    margin-right:auto;
    width:250px;
  }
  .box-372 {
    font-size:14px;
    margin-left:0px;
    margin-top:20px;
    padding:15px;
    width:calc(100% - 30px);
    width:-moz-calc(100% - 30px);
    width:-webkit-calc(100% - 30px);
  }
  .text-373 {
    margin-left:0px;
    margin-top:0px;
  }
  .text-374 {
    margin-left:0px;
    margin-top:28px;
  }
  .box-379 {
    font-size:14px;
    margin-left:0px;
    margin-top:20px;
    padding:15px;
    width:calc(100% - 30px);
    width:-moz-calc(100% - 30px);
    width:-webkit-calc(100% - 30px);
  }
  .svg-384 {
    display:none;
  }
  .text-384 {
    margin-left:auto;
    margin-right:auto;
    margin-top:0px;
    width:250px;
  }
  .box-375 {
    font-size:14px;
    margin-left:0px;
    margin-top:20px;
    padding:15px;
    width:calc(100% - 30px);
    width:-moz-calc(100% - 30px);
    width:-webkit-calc(100% - 30px);
  }
  .text-376 {
    margin-left:0px;
    margin-top:0px;
  }
  .footer {
    height:400px;
  }

}