.iu-center-box {
  width:960px;
}
.header {
  -webkit-box-shadow:0px 2px 0px 0px #DBDBDB;
  background-color:#FFFFFF;
  box-shadow:0px 2px 0px 0px #DBDBDB;
  color:#333333;
  float:none;
  height:60px;
  left:0px;
  min-width:960px;
  overflow:visible;
  position:fixed;
  top:0px;
  width:100%;
  z-index:10;
}
.page-content {
  background-color:#FFFFFF;
  padding-top:62px;
}
.section-304 {
  background-position:center;
  background-size:cover;
  padding-bottom:80px;
  padding-top:60px;
}
.box-302 {
  background-image:url('/static/project/minecraft_1.jpg');
  background-position:center;
  background-size:cover;
  height:100%;
  left:0px;
  top:0px;
  width:100%;
}
.box {
  background-color:rgba(0,0,0,0.10);
  height:100%;
  left:0px;
  top:0px;
  width:100%;
}
.box-305 {
  background-color:#F5F5F5;
  background-size:cover;
  border-color:#E6E6E6;
  border-radius:50%;
  border-width:2px;
  float:left;
  height:176px;
  margin-left:15px;
  position:relative;
  width:176px;
}
.pg-form {
  float:none;
  height:100%;
  position:relative;
  width:100%;
}
.image-307 {
  height:100%;
  left:0px;
  top:0px;
  width:100%;
}
.html-320 {
  -webkit-transition:background-color 0.4s;
  color:transparent;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:700;
  height:100%;
  left:0px;
  text-align:center;
  top:0px;
  transition:background-color 0.4s;
  width:100%;
}
.html-320.iux-hover, .html-320.iux-active {
  background-color:rgba(109,109,109,0.50);
  color:#FFFFFF;
}
.box-309 {
  color:#323232;
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  margin-left:20px;
  margin-top:0px;
  padding-left:15px;
  position:relative;
  width:calc(100% - 245px);
  width:-moz-calc(100% - 245px);
  width:-webkit-calc(100% - 245px);
}
.box-306 {
  float:none;
  position:relative;
}
.text-309 {
  color:#FFFFFF;
  float:left;
  font-size:36px;
  font-weight:700;
  letter-spacing:1.2px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
}
.cell {
  background-color:#E6E6E6;
  border-radius:2px;
  float:left;
  font-size:13px;
  font-weight:300;
  height:20px;
  line-height:20px;
  margin-left:10px;
  margin-top:25px;
  padding-left:6px;
  padding-right:6px;
  position:relative;
  text-align:center;
}
.text-314 {
  color:#FFFFFF;
  float:none;
  font-size:14px;
  font-weight:300;
  position:relative;
}
.box-315 {
  background-color:rgba(255,255,255,0.60);
  border-radius:2px;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:300;
  margin-left:0px;
  margin-top:20px;
  overflow:visible;
  padding:15px;
  position:relative;
  width:100.00%;
  width:calc(100% - 30px);
  width:-moz-calc(100% - 30px);
  width:-webkit-calc(100% - 30px);
}
.text-316 {
  float:none;
  font-size:16px;
  margin-left:0px;
  margin-top:0px;
  padding-left:15px;
  padding-right:15px;
  position:relative;
  width:100.00%;
  width:calc(100% - 30px);
  width:-moz-calc(100% - 30px);
  width:-webkit-calc(100% - 30px);
}
.text-317 {
  color:#929292;
  float:none;
  margin-left:0px;
  margin-top:5px;
  padding-left:15px;
  padding-right:15px;
  position:relative;
  width:110px;
}
.box-304 {
  height:28px;
  left:-10px;
  top:15px;
  width:10px;
}
.box-319 {
  -webkit-transform:rotate(45deg);
  background-color:rgba(255,255,255,0.60);
  float:none;
  height:16px;
  left:4px;
  top:4px;
  transform:rotate(45deg);
  width:16px;
}
.box-310 {
  -webkit-transition:border-color 0.4s, color 0.4s;
  border-color:#FFFFFF;
  border-radius:4px;
  border-width:1px;
  color:#FFFFFF;
  height:34px;
  right:0px;
  top:10px;
  transition:border-color 0.4s, color 0.4s;
  width:138px;
}
.box-310.iux-hover, .box-310.iux-active {
  border-color:#323232;
  color:#323232;
}
.html-311 {
  float:right;
  font-size:22px;
  height:36px;
  margin-right:4px;
  margin-top:-2px;
  position:relative;
  right:0px;
  text-align:center;
  width:30px;
}
.text-312 {
  float:right;
  margin-right:0px;
  margin-top:4px;
  position:relative;
  right:0px;
}
.html-479.iux-hover, .html-479.iux-active {
  color:#323232;
}
.html-479 {
  -webkit-transition:color 0.4s;
  display:none;
  float:right;
  font-size:22px;
  height:36px;
  margin-right:4px;
  margin-top:-2px;
  position:relative;
  right:0px;
  text-align:center;
  transition:color 0.4s;
  width:30px;
}
.section-472 {
  background-color:#FA690A;
  height:60px;
}
.carousel-560 {
  display:none;
  height:100%;
  left:0px;
  top:0px;
  width:100%;
}
.carousel-560 > .iux-carousel-pager {
  visibility:hidden;
}
.carousel-560 > .iux-carousel-next {
  background-image:url('/static/project/ticker_arR.png');
  height:20px;
  right:0px;
  top:0px;
  width:20px;
}
.carousel-560 > .iux-carousel-prev,.carousel-560 > .iux-carousel-next {
  display:inherit;
}
.carousel-560 > .iux-carousel-prev {
  background-image:url('/static/project/ticker_arL.png');
  height:20px;
  left:0px;
  top:0px;
  width:20px;
}
.carousel-item-561 {
  height:100%;
  position:relative;
}
.cell-475 {
  color:#FFFFFF;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  height:60px;
  left:0px;
  text-align:center;
  top:0px;
  width:100%;
}
.cell-475 > a {
  line-height:60px;
}
.carousel-item-562 {
  height:100%;
  position:relative;
}
.cell-563 {
  color:#FFFFFF;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  height:60px;
  left:0px;
  text-align:center;
  top:0px;
  width:100%;
}
.cell-563 > a {
  line-height:60px;
}
.notice_marquee {
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  height:100%;
  padding-left:15px;
  padding-right:15px;
  right:0px;
  top:0px;
  width:calc(100% - 196px);
  width:-moz-calc(100% - 196px);
  width:-webkit-calc(100% - 196px);
}
.text-474 {
  background-color:#FFFFFF;
  border-radius:2px;
  bottom:0px;
  color:#FA690A;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:20px;
  font-weight:700;
  height:30px;
  left:15px;
  margin-bottom:auto;
  margin-top:auto;
  padding-left:15px;
  padding-right:15px;
  top:0px;
}
.section {
  background-color:#F5F5F5;
  padding-bottom:80px;
  padding-top:40px;
}
.center-box {
  color:#323232;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
}
.box-307 {
  float:none;
  height:62px;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  width:calc(100% - 30px);
  width:-moz-calc(100% - 30px);
  width:-webkit-calc(100% - 30px);
}
.collection-353 {
  border-bottom-width:1px;
  border-color:#E6E6E6;
  float:none;
  height:61px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:100%;
}
.import-354 {
  left:0px;
  position:relative;
  top:0px;
}
.import-355 {
  left:0px;
  position:relative;
  top:0px;
}
.import-356 {
  left:0px;
  position:relative;
  top:0px;
}
.box-339.iux-hover, .box-339.iux-active {
  border-color:#6D6D6D;
  color:#6D6D6D;
}
.box-339 {
  -webkit-transition:border-color 0.4s, color 0.4s;
  border-color:#B6B6B6;
  border-radius:4px;
  border-width:1px;
  color:#B6B6B6;
  height:34px;
  right:0px;
  top:10px;
  transition:border-color 0.4s, color 0.4s;
  width:138px;
}
.html-339 {
  float:right;
  font-size:22px;
  height:36px;
  margin-right:4px;
  margin-top:-2px;
  position:relative;
  right:0px;
  text-align:center;
  width:30px;
}
.text-341 {
  float:right;
  margin-right:0px;
  margin-top:4px;
  position:relative;
  right:0px;
}
.box-487.iux-hover, .box-487.iux-active {
  border-color:#323232;
  color:#323232;
}
.box-487 {
  -webkit-transition:border-color 0.4s, color 0.4s;
  display:none;
  height:100px;
  left:0px;
  top:0px;
  transition:border-color 0.4s, color 0.4s;
  width:100px;
}
.html-485 {
  display:none;
  float:none;
  font-size:22px;
  height:36px;
  position:relative;
  text-align:center;
  width:30px;
}
.box-311 {
  background-color:#FFFFFF;
  border-bottom-left-radius:2px;
  border-bottom-right-radius:2px;
  float:none;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  padding-bottom:40px;
  padding-left:15px;
  padding-right:15px;
  position:relative;
  width:calc(100% - 60px);
  width:-moz-calc(100% - 60px);
  width:-webkit-calc(100% - 60px);
}
.html-336 {
  color:#929292;
  float:left;
  font-size:10px;
  height:20px;
  margin-left:2px;
  margin-top:44px;
  position:relative;
  text-align:center;
  width:20px;
}
.text-322 {
  float:none;
  font-size:18px;
  font-weight:400;
  margin-left:30px;
  margin-top:40px;
  position:relative;
}
.collection {
  float:none;
  margin-left:0px;
  margin-top:0px;
  position:relative;
}
.import {
  left:0px;
  position:relative;
  top:0px;
  width:calc(100%);
  width:-moz-calc(100%);
  width:-webkit-calc(100%);
}
.import-348 {
  left:0px;
  position:relative;
  top:0px;
  width:calc(100%);
  width:-moz-calc(100%);
  width:-webkit-calc(100%);
}
.collection-524 {
  border-color:#E6E6E6;
  border-radius:2px;
  border-width:1px;
  float:none;
  margin-top:20px;
  position:relative;
  width:100%;
}
.import-525 {
  left:0px;
  position:relative;
  top:0px;
  width:calc(100%);
  width:-moz-calc(100%);
  width:-webkit-calc(100%);
}
.html-530 {
  color:#929292;
  float:left;
  font-size:10px;
  height:20px;
  margin-left:2px;
  margin-top:44px;
  position:relative;
  text-align:center;
  width:20px;
}
.html {
  color:#929292;
  float:left;
  font-size:10px;
  height:20px;
  margin-left:2px;
  margin-top:44px;
  position:relative;
  text-align:center;
  width:20px;
}
.text-325 {
  float:none;
  font-size:18px;
  font-weight:400;
  margin-left:30px;
  margin-top:40px;
  position:relative;
}
.collection-326 {
  border-color:#E6E6E6;
  border-radius:2px;
  border-width:1px;
  float:none;
  margin-top:20px;
  position:relative;
  width:100%;
}
.import-327 {
  left:0px;
  position:relative;
  top:0px;
  width:calc(100%);
  width:-moz-calc(100%);
  width:-webkit-calc(100%);
}
.import-329 {
  left:0px;
  position:relative;
  top:0px;
  width:calc(100%);
  width:-moz-calc(100%);
  width:-webkit-calc(100%);
}
.import-328 {
  left:0px;
  position:relative;
  top:0px;
  width:calc(100%);
  width:-moz-calc(100%);
  width:-webkit-calc(100%);
}
.footer {
  background-color:#282828;
  height:300px;
  left:0px;
  position:relative;
  top:0px;
  width:100%;
}
.popup-dimcolor {
  background-color:rgba(0,0,0,0.60);
  z-index:99;
}
.popup {
  background-color:#FFFFFF;
  border-radius:2px;
  height:300px;
  position:fixed;
  width:930px;
  z-index:100;
}
.popup > .iux-popup-close-button {
  background-image:url('/static/project/btn_close.png');
  display:inherit;
  height:30px;
  position:absolute;
  right:12px;
  top:15px;
  width:30px;
}
.import-433 {
  height:300px;
  left:0px;
  top:0px;
  width:930px;
}
@media screen and (max-width:959px) {
  .iu-center-box {
    width:320px;
  }
  .header {
    min-width:320px;
  }
  .section-304 {
    padding-bottom:40px;
    padding-top:40px;
  }
  .box {
    left:0px;
    top:0px;
  }
  .box-305 {
    height:72px;
    margin-left:10px;
    width:72px;
    z-index:1;
  }
  .box-309 {
    float:left;
    margin-left:10px;
    margin-top:-76px;
    padding-left:0px;
    width:300px;
  }
  .box-306 {
    margin-left:0px;
    margin-top:12px;
  }
  .text-309 {
    font-size:20px;
    margin-left:90px;
    margin-top:0px;
  }
  .cell {
    margin-left:10px;
    margin-top:6px;
  }
  .text-314 {
    float:left;
    margin-left:90px;
    margin-top:0px;
  }
  .box-315 {
    margin-left:0px;
    margin-top:52px;
  }
  .box-304 {
    -webkit-transform:rotate(90deg);
    left:32px;
    top:-19px;
    transform:rotate(90deg);
  }
  .box-310 {
    display:none;
  }
  .html-311 {
    margin-right:4px;
    margin-top:-2px;
    right:0px;
  }
  .text-312 {
    right:0px;
  }
  .html-479.iux-hover, .html-479.iux-active {
    color:#323232;
  }
  .html-479 {
    -webkit-transition:color 0.4s;
    display:inherit;
    margin-right:initial;
    margin-right:auto;
    margin-top:initial;
    margin-top:auto;
    position:absolute;
    right:6px;
    top:12px;
    transition:color 0.4s;
  }
  .section-472 {
    height:52px;
  }
  .carousel-560 {
    display:inherit;
    left:initial;
    left:auto;
    right:0px;
    top:0px;
    width:100.00%;
    width:calc(100% - 60px);
    width:-moz-calc(100% - 60px);
    width:-webkit-calc(100% - 60px);
  }
  .carousel-560 > .iux-carousel-pager {
    text-align:center;
    visibility:visible;
  }
  .carousel-560 > .iux-carousel-prev,.carousel-560 > .iux-carousel-next {
    display:none;
  }
  .cell-475 {
    height:52px;
  }
  .cell-475 > a {
    line-height:52px;
  }
  .cell-563 {
    height:52px;
    left:0px;
    top:0px;
  }
  .cell-563 > a {
    line-height:52px;
  }
  .notice_marquee {
    display:none;
    right:0px;
    top:0px;
    width:100%;
  }
  .text-474 {
    bottom:0px;
    font-size:16px;
    height:26px;
    left:10px;
    margin-bottom:auto;
    margin-top:auto;
    padding-left:10px;
    padding-right:10px;
    top:0px;
    width:30px;
  }
  .section {
    padding-bottom:40px;
    padding-top:40px;
  }
  .box-307 {
    height:82px;
    margin-left:auto;
    margin-right:auto;
    width:calc(100% - 20px);
    width:-moz-calc(100% - 20px);
    width:-webkit-calc(100% - 20px);
  }
  .collection-353 {
    height:81px;
  }
  .box-339 {
    display:none;
    right:0px;
    top:10px;
  }
  .html-339 {
    right:0px;
  }
  .text-341 {
    right:0px;
  }
  .box-487.iux-hover, .box-487.iux-active {
    border-color:#323232;
    color:#323232;
  }
  .box-487 {
    -webkit-transition:border-color 0.4s, color 0.4s;
    color:#929292;
    display:inherit;
    height:82px;
    left:initial;
    left:auto;
    right:0px;
    transition:border-color 0.4s, color 0.4s;
    width:75px;
  }
  .html-485 {
    display:inherit;
    float:none;
    margin-left:auto;
    margin-right:auto;
    margin-top:24px;
  }
  .box-311 {
    margin-left:auto;
    margin-right:auto;
    margin-top:0px;
    padding-bottom:20px;
    width:calc(100% - 50px);
    width:-moz-calc(100% - 50px);
    width:-webkit-calc(100% - 50px);
  }
  .html-336 {
    margin-top:24px;
  }
  .text-322 {
    margin-left:30px;
    margin-top:20px;
  }
  .collection {
    margin-left:0px;
    margin-top:0px;
  }
  .html-530 {
    margin-top:24px;
  }
  .html {
    margin-top:24px;
  }
  .text-325 {
    margin-left:30px;
    margin-top:20px;
  }
  .collection-326 {
    margin-top:16px;
  }
  .footer {
    height:400px;
  }
  .popup {
    width:300px;
  }
  .import-433 {
    width:300px;
  }

}