.iu-center-box {
  width:960px;
}
.header {
  -webkit-box-shadow:0px 2px 0px 0px #DBDBDB;
  background-color:#FFFFFF;
  box-shadow:0px 2px 0px 0px #DBDBDB;
  color:#333333;
  float:none;
  height:60px;
  left:0px;
  overflow:visible;
  position:fixed;
  top:0px;
  width:100%;
  z-index:11;
}
.page-content {
  background-color:#FFFFFF;
  padding-top:62px;
}
.section-156 {
  background-color:#FFFFFF;
  border-bottom-width:1px;
  border-color:#FA690A;
  border-style:dashed;
  padding-bottom:80px;
  padding-top:60px;
}
.myclass-322 {
  color:#FA690A;
  float:none;
  font-family:Bariol;
  font-size:36px;
  font-weight:700;
  line-height:1;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  text-align:center;
  width:930px;
}
.box-148 {
  background-color:#FFFFFF;
  border-bottom-width:2px;
  border-color:#E6E6E6;
  border-left-width:1px;
  border-radius:2px;
  border-right-width:1px;
  border-top-width:1px;
  color:#000000;
  float:left;
  height:360px;
  margin-left:15px;
  margin-top:40px;
  position:relative;
  width:298px;
}
.box-180 {
  background-image:url('/static/project/appinventor_2.jpeg');
  background-size:cover;
  float:none;
  height:50%;
  left:0px;
  top:0px;
  width:100%;
}
.box-183 {
  background-color:rgba(50,50,50,0.20);
  background-size:cover;
  float:none;
  height:50%;
  left:0px;
  top:0px;
  width:100%;
}
.box-177 {
  background-image:url('/static/project/ex_project_3.jpg');
  background-size:cover;
  border-color:#FA690A;
  border-radius:50%;
  border-width:2px;
  bottom:0px;
  float:none;
  height:150px;
  left:0px;
  margin:auto;
  right:0px;
  top:0px;
  width:150px;
}
.box-202.iux-hover, .box-202.iux-active {
  background-color:rgba(50,50,50,0.60);
  color:#FFFFFF;
}
.box-202 {
  border-radius:50%;
  bottom:0px;
  color:transparent;
  height:150px;
  left:0px;
  margin:auto;
  right:0px;
  top:0px;
  width:150px;
}
.text-203 {
  bottom:0px;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:700;
  height:24px;
  left:0px;
  margin:auto;
  right:0px;
  text-align:center;
  top:0px;
  width:100%;
}
.text-177 {
  color:#FFFFFF;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:18px;
  font-weight:700;
  left:0px;
  text-align:center;
  top:26px;
  width:100%;
}
.cell-183 {
  border-radius:2px;
  color:#FFFFFF;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:12px;
  font-weight:400;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:52px;
  width:100%;
}
.text-190 {
  color:#6D6D6D;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:300;
  left:0px;
  text-align:center;
  top:286px;
  width:100%;
}
.text-178 {
  color:#6D6D6D;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:300;
  left:0px;
  text-align:center;
  top:306px;
  width:100%;
}
.box-150 {
  background-color:#FFFFFF;
  border-bottom-width:2px;
  border-color:#E6E6E6;
  border-left-width:1px;
  border-radius:2px;
  border-right-width:1px;
  border-top-width:1px;
  float:left;
  height:360px;
  margin-left:15px;
  margin-top:40px;
  position:relative;
  width:298px;
}
.box-152 {
  background-color:#FA690A;
  float:none;
  height:80px;
  left:0px;
  top:0px;
  width:100%;
}
.text-152 {
  color:#FFFFFF;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:18px;
  font-weight:700;
  left:0%;
  text-align:center;
  top:26px;
  width:100%;
}
.box-176 {
  float:none;
  height:150px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  top:114px;
  width:240px;
}
.box-155 {
  float:left;
  height:50px;
  position:relative;
  width:60px;
}
.cell-164 {
  background-color:#FA690A;
  border-radius:50%;
  bottom:0px;
  color:#FFFFFF;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:18px;
  font-weight:700;
  height:40px;
  left:0px;
  line-height:40px;
  margin:auto;
  right:0px;
  text-align:center;
  top:0px;
  width:40px;
}
.box-154 {
  float:left;
  height:50px;
  position:relative;
  width:60px;
}
.cell-165 {
  background-color:#FA690A;
  border-radius:50%;
  bottom:0px;
  color:#FFFFFF;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:18px;
  font-weight:700;
  height:40px;
  left:0px;
  line-height:40px;
  margin:auto;
  right:0px;
  text-align:center;
  top:0px;
  width:40px;
}
.box-156 {
  float:left;
  height:50px;
  position:relative;
  width:60px;
}
.cell-166 {
  background-color:#FA690A;
  border-radius:50%;
  bottom:0px;
  color:#FFFFFF;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:18px;
  font-weight:700;
  height:40px;
  left:0px;
  line-height:40px;
  margin:auto;
  right:0px;
  text-align:center;
  top:0px;
  width:40px;
}
.box-157 {
  float:left;
  height:50px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:60px;
}
.cell-167 {
  background-color:#929292;
  border-radius:50%;
  bottom:0px;
  color:#FFFFFF;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  font-weight:700;
  height:40px;
  left:0px;
  line-height:40px;
  margin:auto;
  right:0px;
  text-align:center;
  top:0px;
  width:40px;
}
.box-158 {
  float:left;
  height:50px;
  position:relative;
  width:60px;
}
.cell-168 {
  background-color:#FA690A;
  border-radius:50%;
  bottom:0px;
  color:#FFFFFF;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:18px;
  font-weight:700;
  height:40px;
  left:0px;
  line-height:40px;
  margin:auto;
  right:0px;
  text-align:center;
  top:0px;
  width:40px;
}
.box-159 {
  float:left;
  height:50px;
  position:relative;
  width:60px;
}
.cell-169 {
  background-color:rgba(250,105,10,0.80);
  border-radius:50%;
  bottom:0px;
  color:#FFFFFF;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  font-weight:700;
  height:40px;
  left:0px;
  line-height:40px;
  margin:auto;
  right:0px;
  text-align:center;
  top:0px;
  width:40px;
}
.box-160 {
  float:left;
  height:50px;
  position:relative;
  width:60px;
}
.cell-170 {
  background-color:rgba(250,105,10,0.80);
  border-radius:50%;
  bottom:0px;
  color:#FFFFFF;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:14px;
  font-weight:700;
  height:40px;
  left:0px;
  line-height:40px;
  margin:auto;
  right:0px;
  text-align:center;
  top:0px;
  width:40px;
}
.box-161 {
  float:left;
  height:50px;
  position:relative;
  width:60px;
}
.cell-171 {
  background-color:#E6E6E6;
  border-radius:50%;
  bottom:0px;
  color:#FFFFFF;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:18px;
  font-weight:700;
  height:40px;
  left:0px;
  line-height:40px;
  margin:auto;
  right:0px;
  text-align:center;
  top:0px;
  width:40px;
}
.box-162 {
  float:left;
  height:50px;
  position:relative;
  width:60px;
}
.cell-172 {
  background-color:#E6E6E6;
  border-radius:50%;
  bottom:0px;
  color:#FFFFFF;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:18px;
  font-weight:700;
  height:40px;
  left:0px;
  line-height:40px;
  margin:auto;
  right:0px;
  text-align:center;
  top:0px;
  width:40px;
}
.box-163 {
  float:left;
  height:50px;
  position:relative;
  width:60px;
}
.cell-173 {
  background-color:#E6E6E6;
  border-radius:50%;
  bottom:0px;
  color:#FFFFFF;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:18px;
  font-weight:700;
  height:40px;
  left:0px;
  line-height:40px;
  margin:auto;
  right:0px;
  text-align:center;
  top:0px;
  width:40px;
}
.box-164 {
  float:left;
  height:50px;
  position:relative;
  width:60px;
}
.cell-174 {
  background-color:#E6E6E6;
  border-radius:50%;
  bottom:0px;
  color:#FFFFFF;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:18px;
  font-weight:700;
  height:40px;
  left:0px;
  line-height:40px;
  margin:auto;
  right:0px;
  text-align:center;
  top:0px;
  width:40px;
}
.box-165 {
  float:left;
  height:50px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:60px;
}
.cell-175 {
  background-color:#E6E6E6;
  border-radius:50%;
  bottom:0px;
  color:#FFFFFF;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:18px;
  font-weight:700;
  height:40px;
  left:0px;
  line-height:40px;
  margin:auto;
  right:0px;
  text-align:center;
  top:0px;
  width:40px;
}
.cell-185 {
  -webkit-transition:background-color 0.4s, color 0.4s;
  background-color:#FFFFFF;
  border-color:#FA690A;
  border-radius:4px;
  border-width:1px;
  color:#FA690A;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:400;
  height:30px;
  left:0px;
  line-height:30px;
  margin-left:auto;
  margin-right:auto;
  right:0px;
  text-align:center;
  top:290px;
  transition:background-color 0.4s, color 0.4s;
  width:240px;
}
.cell-185.iux-hover, .cell-185.iux-active {
  background-color:rgba(250,105,10,0.80);
  color:#FFFFFF;
}
.box-151 {
  background-color:#FFFFFF;
  border-bottom-width:2px;
  border-color:#E6E6E6;
  border-left-width:1px;
  border-radius:2px;
  border-right-width:1px;
  border-top-width:1px;
  float:left;
  height:360px;
  margin-left:15px;
  margin-top:40px;
  position:relative;
  width:298px;
}
.box-153 {
  background-color:#FA690A;
  float:none;
  height:80px;
  left:0px;
  top:0px;
  width:100%;
}
.text-153 {
  color:#FFFFFF;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:18px;
  font-weight:700;
  left:0%;
  text-align:center;
  top:26px;
  width:100%;
}
.cell-191 {
  background-color:transparent;
  border-bottom-width:1px;
  border-color:#6D6D6D;
  border-style:dashed;
  color:#FA690A;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:400;
  height:30px;
  left:0px;
  line-height:30px;
  margin-left:auto;
  margin-right:auto;
  padding-bottom:19px;
  right:0px;
  text-align:center;
  top:114px;
  width:240px;
}
.box-181 {
  float:none;
  height:156px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  overflow:scroll;
  right:0px;
  top:164px;
  width:240px;
}
.box-185.iux-hover, .box-185.iux-active {
  background-color:rgba(245,245,245,0.40);
}
.box-185 {
  background-color:#FFFFFF;
  border-bottom-width:1px;
  border-color:#E6E6E6;
  float:none;
  height:43px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:100%;
}
.svg-star-193 {
  float:none;
  height:24px;
  left:8px;
  top:10px;
  width:24px;
}
.text-192 {
  color:#323232;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:300;
  left:38px;
  top:12px;
  width:192px;
}
.box-186 {
  background-color:#FFFFFF;
  border-bottom-width:1px;
  border-color:#E6E6E6;
  float:none;
  height:43px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:100%;
}
.box-186.iux-hover, .box-186.iux-active {
  background-color:rgba(245,245,245,0.40);
}
.svg-star-194 {
  float:none;
  height:24px;
  left:8px;
  top:10px;
  width:24px;
}
.text-195 {
  color:#323232;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:300;
  left:38px;
  top:12px;
  width:192px;
}
.box-198 {
  background-color:#FFFFFF;
  border-bottom-width:1px;
  border-color:#E6E6E6;
  float:none;
  height:43px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:100%;
}
.box-198.iux-hover, .box-198.iux-active {
  background-color:rgba(245,245,245,0.40);
}
.svg-star-199 {
  float:none;
  height:24px;
  left:8px;
  top:10px;
  width:24px;
}
.text-200 {
  color:#323232;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:300;
  left:38px;
  top:12px;
  width:192px;
}
.box-192 {
  background-color:#FFFFFF;
  border-bottom-width:1px;
  border-color:#E6E6E6;
  float:none;
  height:43px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:100%;
}
.box-192.iux-hover, .box-192.iux-active {
  background-color:rgba(245,245,245,0.40);
}
.svg-star-195 {
  float:none;
  height:24px;
  left:8px;
  top:10px;
  width:24px;
}
.text-194 {
  color:#323232;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:300;
  left:38px;
  top:12px;
  width:192px;
}
.box-195.iux-hover, .box-195.iux-active {
  background-color:rgba(245,245,245,0.40);
}
.box-195 {
  background-color:#FFFFFF;
  border-bottom-width:1px;
  border-color:#E6E6E6;
  float:none;
  height:43px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
  width:100%;
}
.svg-star-196 {
  float:none;
  height:24px;
  left:8px;
  top:10px;
  width:24px;
}
.text-197 {
  color:#323232;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:300;
  left:38px;
  top:12px;
  width:192px;
}
.section {
  background-color:#F5F5F5;
  overflow:hidden;
  padding-bottom:80px;
  padding-top:60px;
}
.center-box {
  color:#000000;
  overflow:hidden;
}
.up {
  background-color:#FA690A;
  border-radius:50%;
  bottom:15px;
  display:none;
  height:50px;
  position:fixed;
  right:15px;
  width:50px;
  z-index:11;
}
.svg {
  -webkit-transform:rotate(-90deg);
  bottom:0px;
  float:none;
  height:30px;
  left:0px;
  margin:auto;
  right:0px;
  top:0px;
  transform:rotate(-90deg);
  width:30px;
}
.box-56 {
  float:none;
  height:40px;
  margin-left:0px;
  margin-top:0px;
  overflow:visible;
  position:relative;
  width:100%;
}
.box-57 {
  background-color:#FA690A;
  height:60px;
  left:24px;
  top:0px;
  width:2px;
}
.box-44 {
  float:none;
  margin-left:0px;
  margin-top:0px;
  overflow:visible;
  position:relative;
  width:100%;
}
.box-47 {
  background-color:#FA690A;
  height:100%;
  left:24px;
  top:20px;
  width:2px;
}
.box-45 {
  background-color:#FFFFFF;
  border-color:#FA690A;
  border-radius:50%;
  border-width:1px;
  height:18px;
  left:15px;
  top:14px;
  width:18px;
}
.cell-46 {
  color:#FA690A;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:24px;
  font-weight:300;
  height:40px;
  left:50px;
  letter-spacing:-0.2px;
  line-height:40px;
  text-align:left;
  top:4px;
  width:100px;
}
.box-59 {
  border-radius:2px;
  float:none;
  margin-left:190px;
  margin-top:0px;
  padding-bottom:40px;
  position:relative;
  width:755px;
}
.box-32 {
  background-color:#FFFFFF;
  border-bottom-width:1px;
  border-color:#E6E6E6;
  float:none;
  height:50px;
  margin-left:0px;
  margin-top:0px;
  overflow:visible;
  position:relative;
  width:100%;
}
.box-32.iux-hover, .box-32.iux-active {
  background-color:rgba(255,255,255,0.40);
}
.svg-video {
  height:30px;
  left:14px;
  top:10px;
  width:30px;
}
.text-40 {
  color:#323232;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  left:60px;
  top:12px;
  width:600px;
}
.text-148 {
  height:0px;
  left:700px;
  top:23px;
  width:0px;
}
.box.iux-hover, .box.iux-active {
  background-color:rgba(255,255,255,0.40);
}
.box {
  background-color:#FFFFFF;
  border-bottom-width:1px;
  border-color:#E6E6E6;
  float:none;
  height:50px;
  margin-left:0px;
  margin-top:0px;
  overflow:visible;
  position:relative;
  width:100%;
}
.svg-star {
  height:30px;
  left:14px;
  top:10px;
  width:30px;
}
.text-47 {
  color:#323232;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  left:60px;
  top:12px;
  width:600px;
}
.box-43 {
  background-color:#FFFFFF;
  border-bottom-width:1px;
  border-color:#E6E6E6;
  float:none;
  height:50px;
  margin-left:0px;
  margin-top:0px;
  overflow:visible;
  position:relative;
  width:100%;
}
.box-43.iux-hover, .box-43.iux-active {
  background-color:rgba(255,255,255,0.40);
}
.svg-notice {
  height:30px;
  left:14px;
  top:10px;
  width:30px;
}
.text-49 {
  color:#323232;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  left:60px;
  top:12px;
  width:600px;
}
.box-51 {
  float:none;
  margin-left:0px;
  margin-top:0px;
  overflow:visible;
  position:relative;
  width:100%;
}
.box-52 {
  background-color:#929292;
  height:100%;
  left:24px;
  top:20px;
  width:2px;
}
.box-53 {
  background-color:#FA690A;
  border-color:#FA690A;
  border-radius:50%;
  border-width:1px;
  height:18px;
  left:15px;
  top:14px;
  width:18px;
}
.cell-54 {
  color:#FA690A;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:24px;
  font-weight:700;
  height:40px;
  left:50px;
  letter-spacing:-0.2px;
  line-height:40px;
  text-align:left;
  top:4px;
  width:100px;
}
.box-55 {
  border-radius:2px;
  float:none;
  margin-left:190px;
  margin-top:0px;
  padding-bottom:40px;
  position:relative;
  width:755px;
}
.box-61 {
  background-color:#FFFFFF;
  border-bottom-width:1px;
  border-color:#E6E6E6;
  float:none;
  height:50px;
  margin-left:0px;
  margin-top:0px;
  overflow:visible;
  position:relative;
  width:100%;
}
.box-61.iux-hover, .box-61.iux-active {
  background-color:rgba(255,255,255,0.40);
}
.svg-star-166 {
  height:30px;
  left:14px;
  top:10px;
  width:30px;
}
.text-62 {
  color:#FA690A;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  left:60px;
  top:12px;
  width:600px;
}
.box-66 {
  float:none;
  margin-left:0px;
  margin-top:0px;
  overflow:visible;
  position:relative;
  width:100%;
}
.box-67 {
  background-color:#929292;
  height:100%;
  left:24px;
  top:20px;
  width:2px;
}
.box-68 {
  background-color:#FFFFFF;
  border-color:#929292;
  border-radius:50%;
  border-width:1px;
  height:18px;
  left:15px;
  top:14px;
  width:18px;
}
.cell-69 {
  color:#929292;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:24px;
  font-weight:300;
  height:40px;
  left:50px;
  letter-spacing:-0.2px;
  line-height:40px;
  text-align:left;
  top:4px;
  width:100px;
}
.box-70 {
  border-radius:2px;
  float:none;
  margin-left:190px;
  padding-bottom:40px;
  position:relative;
  width:755px;
}
.box-72 {
  background-color:#FFFFFF;
  border-bottom-width:1px;
  border-color:#E6E6E6;
  float:none;
  height:50px;
  margin-left:0px;
  margin-top:0px;
  overflow:visible;
  position:relative;
  width:100%;
}
.box-72.iux-hover, .box-72.iux-active {
  background-color:rgba(255,255,255,0.40);
}
.svg-download {
  height:30px;
  left:14px;
  top:10px;
  width:30px;
}
.text-74 {
  color:#323232;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  left:60px;
  top:12px;
  width:600px;
}
.box-75 {
  background-color:#FFFFFF;
  border-bottom-width:1px;
  border-color:#E6E6E6;
  float:none;
  height:50px;
  overflow:visible;
  position:relative;
  width:100%;
}
.box-75.iux-hover, .box-75.iux-active {
  background-color:rgba(255,255,255,0.40);
}
.svg-star-165 {
  height:30px;
  left:14px;
  top:10px;
  width:30px;
}
.text-77 {
  color:#323232;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  left:60px;
  top:12px;
  width:600px;
}
.box-73 {
  float:none;
  margin-left:0px;
  margin-top:0px;
  overflow:visible;
  position:relative;
  width:100%;
}
.box-74 {
  background-color:#929292;
  height:100%;
  left:24px;
  top:20px;
  width:2px;
}
.box-76 {
  background-color:#FFFFFF;
  border-color:#929292;
  border-radius:50%;
  border-width:1px;
  height:18px;
  left:15px;
  top:14px;
  width:18px;
}
.cell-75 {
  color:#929292;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:24px;
  font-weight:300;
  height:40px;
  left:50px;
  letter-spacing:-0.2px;
  line-height:40px;
  text-align:left;
  top:4px;
  width:100px;
}
.box-77 {
  border-radius:2px;
  float:none;
  margin-left:190px;
  margin-top:0px;
  padding-bottom:40px;
  position:relative;
  width:755px;
}
.box-79 {
  background-color:#FFFFFF;
  border-bottom-width:1px;
  border-color:#E6E6E6;
  float:none;
  height:50px;
  margin-left:0px;
  margin-top:0px;
  overflow:visible;
  position:relative;
  width:100%;
}
.svg-question {
  height:30px;
  left:14px;
  top:10px;
  width:30px;
}
.text-80 {
  color:#6D6D6D;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  left:60px;
  top:12px;
  width:600px;
}
.box-80 {
  float:none;
  margin-left:0px;
  margin-top:0px;
  overflow:visible;
  position:relative;
  width:100%;
}
.box-81 {
  background-color:#929292;
  height:100%;
  left:24px;
  top:20px;
  width:2px;
}
.box-82 {
  background-color:#FFFFFF;
  border-color:#929292;
  border-radius:50%;
  border-width:1px;
  height:18px;
  left:15px;
  top:14px;
  width:18px;
}
.cell-84 {
  color:#929292;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:24px;
  font-weight:300;
  height:40px;
  left:50px;
  letter-spacing:-0.2px;
  line-height:40px;
  text-align:left;
  top:4px;
  width:100px;
}
.box-83 {
  border-radius:2px;
  float:none;
  margin-left:190px;
  padding-bottom:40px;
  position:relative;
  width:755px;
}
.box-86 {
  background-color:#FFFFFF;
  border-bottom-width:1px;
  border-color:#E6E6E6;
  float:none;
  height:50px;
  margin-left:0px;
  margin-top:0px;
  overflow:visible;
  position:relative;
  width:100%;
}
.svg-question-166 {
  height:30px;
  left:14px;
  top:10px;
  width:30px;
}
.text-88 {
  color:#6D6D6D;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  left:60px;
  top:12px;
  width:600px;
}
.box-89 {
  float:none;
  margin-left:0px;
  margin-top:0px;
  overflow:visible;
  position:relative;
  width:100%;
}
.box-90 {
  background-color:#929292;
  height:100%;
  left:24px;
  top:20px;
  width:2px;
}
.box-91 {
  background-color:#FFFFFF;
  border-color:#929292;
  border-radius:50%;
  border-width:1px;
  height:18px;
  left:15px;
  top:14px;
  width:18px;
}
.cell-92 {
  color:#929292;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:24px;
  font-weight:300;
  height:40px;
  left:50px;
  letter-spacing:-0.2px;
  line-height:40px;
  text-align:left;
  top:4px;
  width:100px;
}
.box-93 {
  border-radius:2px;
  float:none;
  margin-left:190px;
  padding-bottom:40px;
  position:relative;
  width:755px;
}
.box-95 {
  background-color:#FFFFFF;
  border-bottom-width:1px;
  border-color:#E6E6E6;
  float:none;
  height:50px;
  margin-left:0px;
  margin-top:0px;
  overflow:visible;
  position:relative;
  width:100%;
}
.svg-question-167 {
  height:30px;
  left:14px;
  top:10px;
  width:30px;
}
.text-97 {
  color:#6D6D6D;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  left:60px;
  top:12px;
  width:600px;
}
.box-98 {
  float:none;
  margin-left:0px;
  margin-top:0px;
  overflow:visible;
  position:relative;
  width:100%;
}
.box-99 {
  background-color:#929292;
  height:100%;
  left:24px;
  top:20px;
  width:2px;
}
.box-100 {
  background-color:#FFFFFF;
  border-color:#929292;
  border-radius:50%;
  border-width:1px;
  height:18px;
  left:15px;
  top:14px;
  width:18px;
}
.cell-101 {
  color:#929292;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:24px;
  font-weight:300;
  height:40px;
  left:50px;
  letter-spacing:-0.2px;
  line-height:40px;
  text-align:left;
  top:4px;
  width:100px;
}
.box-102 {
  border-radius:2px;
  float:none;
  margin-left:190px;
  padding-bottom:40px;
  position:relative;
  width:755px;
}
.box-104 {
  background-color:#FFFFFF;
  border-bottom-width:1px;
  border-color:#E6E6E6;
  float:none;
  height:50px;
  margin-left:0px;
  margin-top:0px;
  overflow:visible;
  position:relative;
  width:100%;
}
.svg-question-165 {
  height:30px;
  left:14px;
  top:10px;
  width:30px;
}
.text-106 {
  color:#6D6D6D;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  left:60px;
  top:12px;
  width:600px;
}
.box-107 {
  float:none;
  margin-left:0px;
  margin-top:0px;
  overflow:visible;
  position:relative;
  width:100%;
}
.box-108 {
  background-color:#929292;
  height:100%;
  left:24px;
  top:20px;
  width:2px;
}
.box-109 {
  background-color:#FFFFFF;
  border-color:#929292;
  border-radius:50%;
  border-width:1px;
  height:18px;
  left:15px;
  top:14px;
  width:18px;
}
.cell-110 {
  color:#929292;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:24px;
  font-weight:300;
  height:40px;
  left:50px;
  letter-spacing:-0.2px;
  line-height:40px;
  text-align:left;
  top:4px;
  width:100px;
}
.box-111 {
  border-radius:2px;
  float:none;
  margin-left:190px;
  padding-bottom:40px;
  position:relative;
  width:755px;
}
.box-113 {
  background-color:#FFFFFF;
  border-bottom-width:1px;
  border-color:#E6E6E6;
  float:none;
  height:50px;
  margin-left:0px;
  margin-top:0px;
  overflow:visible;
  position:relative;
  width:100%;
}
.svg-question-168 {
  height:30px;
  left:14px;
  top:10px;
  width:30px;
}
.text-115 {
  color:#6D6D6D;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  left:60px;
  top:12px;
  width:600px;
}
.box-116 {
  float:none;
  margin-left:0px;
  margin-top:0px;
  overflow:visible;
  position:relative;
  width:100%;
}
.box-119 {
  background-color:#929292;
  height:100%;
  left:24px;
  top:20px;
  width:2px;
}
.box-117 {
  background-color:#FFFFFF;
  border-color:#929292;
  border-radius:50%;
  border-width:1px;
  height:18px;
  left:15px;
  top:14px;
  width:18px;
}
.cell-118 {
  color:#929292;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:24px;
  font-weight:300;
  height:40px;
  left:50px;
  letter-spacing:-0.2px;
  line-height:40px;
  text-align:left;
  top:4px;
  width:100px;
}
.box-120 {
  border-radius:2px;
  float:none;
  margin-left:190px;
  padding-bottom:40px;
  position:relative;
  width:755px;
}
.box-122 {
  background-color:#FFFFFF;
  border-bottom-width:1px;
  border-color:#E6E6E6;
  float:none;
  height:50px;
  margin-left:0px;
  margin-top:0px;
  overflow:visible;
  position:relative;
  width:100%;
}
.svg-question-169 {
  height:30px;
  left:14px;
  top:10px;
  width:30px;
}
.text-124 {
  color:#6D6D6D;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  left:60px;
  top:12px;
  width:600px;
}
.box-125 {
  float:none;
  margin-left:0px;
  margin-top:0px;
  overflow:visible;
  position:relative;
  width:100%;
}
.box-126 {
  background-color:#929292;
  height:100%;
  left:24px;
  top:20px;
  width:2px;
}
.box-127 {
  background-color:#FFFFFF;
  border-color:#929292;
  border-radius:50%;
  border-width:1px;
  height:18px;
  left:15px;
  top:14px;
  width:18px;
}
.cell-129 {
  color:#929292;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:24px;
  font-weight:300;
  height:40px;
  left:50px;
  letter-spacing:-0.2px;
  line-height:40px;
  text-align:left;
  top:4px;
  width:100px;
}
.box-128 {
  border-radius:2px;
  float:none;
  margin-left:190px;
  padding-bottom:40px;
  position:relative;
  width:755px;
}
.box-131 {
  background-color:#FFFFFF;
  border-bottom-width:1px;
  border-color:#E6E6E6;
  float:none;
  height:50px;
  margin-left:0px;
  margin-top:0px;
  overflow:visible;
  position:relative;
  width:100%;
}
.svg-question-170 {
  height:30px;
  left:14px;
  top:10px;
  width:30px;
}
.text-133 {
  color:#6D6D6D;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  left:60px;
  top:12px;
  width:600px;
}
.box-134 {
  float:none;
  margin-left:0px;
  margin-top:0px;
  overflow:visible;
  position:relative;
  width:100%;
}
.box-135 {
  background-color:#929292;
  height:100%;
  left:24px;
  top:20px;
  width:2px;
}
.box-137 {
  background-color:#FFFFFF;
  border-color:#929292;
  border-radius:50%;
  border-width:1px;
  height:18px;
  left:15px;
  top:14px;
  width:18px;
}
.cell-136 {
  color:#929292;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:24px;
  font-weight:300;
  height:40px;
  left:50px;
  letter-spacing:-0.2px;
  line-height:40px;
  text-align:left;
  top:4px;
  width:100px;
}
.box-138 {
  border-radius:2px;
  float:none;
  margin-left:190px;
  padding-bottom:40px;
  position:relative;
  width:755px;
}
.box-140 {
  background-color:#FFFFFF;
  border-bottom-width:1px;
  border-color:#E6E6E6;
  float:none;
  height:50px;
  margin-left:0px;
  margin-top:0px;
  overflow:visible;
  position:relative;
  width:100%;
}
.svg-question-171 {
  height:30px;
  left:14px;
  top:10px;
  width:30px;
}
.text-142 {
  color:#6D6D6D;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  left:60px;
  top:12px;
  width:600px;
}
.box-143 {
  float:none;
  margin-left:0px;
  margin-top:0px;
  overflow:hidden;
  position:relative;
  width:100%;
}
.box-147 {
  background-color:#929292;
  height:100%;
  left:24px;
  top:20px;
  width:2px;
}
.box-145 {
  background-color:#FFFFFF;
  border-color:#929292;
  border-radius:50%;
  border-width:1px;
  height:18px;
  left:15px;
  top:14px;
  width:18px;
}
.cell-144 {
  color:#929292;
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:24px;
  font-weight:300;
  height:40px;
  left:50px;
  letter-spacing:-0.2px;
  line-height:40px;
  text-align:left;
  top:4px;
  width:100px;
}
.box-146 {
  border-radius:2px;
  float:none;
  margin-left:190px;
  margin-top:0px;
  padding-bottom:40px;
  position:relative;
  width:755px;
}
.box-149 {
  background-color:#FFFFFF;
  border-bottom-width:1px;
  border-color:#E6E6E6;
  float:none;
  height:50px;
  margin-left:0px;
  margin-top:0px;
  overflow:visible;
  position:relative;
  width:100%;
}
.svg-question-172 {
  height:30px;
  left:14px;
  top:10px;
  width:30px;
}
.text-151 {
  color:#6D6D6D;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:300;
  left:60px;
  top:12px;
  width:600px;
}
.footer {
  background-color:#282828;
  height:200px;
  left:0px;
  position:relative;
  top:0px;
  width:100%;
}
.popup-dimcolor {
  background-color:rgba(0,0,0,0.60);
  z-index:99;
}
.popup {
  background-color:#FFFFFF;
  border-radius:2px;
  height:620px;
  overflow:hidden;
  position:fixed;
  width:930px;
  z-index:100;
}
.popup > .iux-popup-close-button {
  background-image:url('/static/project/btn_close.png');
  display:inherit;
  height:30px;
  position:absolute;
  right:12px;
  top:15px;
  width:30px;
}
.import {
  height:620px;
  left:0px;
  top:0px;
  width:930px;
}
@media screen and (max-width:959px) {
  .iu-center-box {
    width:320px;
  }
  .myclass-322 {
    margin-left:auto;
    margin-right:auto;
  }
  .box-177 {
    bottom:0px;
    left:0px;
    margin:auto;
    right:0px;
    top:0px;
  }
  .box-202 {
    bottom:0px;
    left:0px;
    margin:auto;
    right:0px;
    top:0px;
  }
  .text-203 {
    bottom:0px;
    left:0px;
    margin:auto;
    right:0px;
    top:0px;
  }
  .cell-183 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .box-176 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .cell-164 {
    bottom:0px;
    left:0px;
    margin:auto;
    right:0px;
    top:0px;
  }
  .cell-165 {
    bottom:0px;
    left:0px;
    margin:auto;
    right:0px;
    top:0px;
  }
  .cell-166 {
    bottom:0px;
    left:0px;
    margin:auto;
    right:0px;
    top:0px;
  }
  .cell-167 {
    bottom:0px;
    left:0px;
    margin:auto;
    right:0px;
    top:0px;
  }
  .cell-168 {
    bottom:0px;
    left:0px;
    margin:auto;
    right:0px;
    top:0px;
  }
  .cell-169 {
    bottom:0px;
    left:0px;
    margin:auto;
    right:0px;
    top:0px;
  }
  .cell-170 {
    bottom:0px;
    left:0px;
    margin:auto;
    right:0px;
    top:0px;
  }
  .cell-171 {
    bottom:0px;
    left:0px;
    margin:auto;
    right:0px;
    top:0px;
  }
  .cell-172 {
    bottom:0px;
    left:0px;
    margin:auto;
    right:0px;
    top:0px;
  }
  .cell-173 {
    bottom:0px;
    left:0px;
    margin:auto;
    right:0px;
    top:0px;
  }
  .cell-174 {
    bottom:0px;
    left:0px;
    margin:auto;
    right:0px;
    top:0px;
  }
  .cell-175 {
    bottom:0px;
    left:0px;
    margin:auto;
    right:0px;
    top:0px;
  }
  .cell-185 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .cell-191 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .box-181 {
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
  }
  .up {
    display:none;
  }
  .svg {
    bottom:0px;
    left:0px;
    margin:auto;
    right:0px;
    top:0px;
  }

}